<div class="page-layout">
  <div class='layout-header'>
    <div class="pull-left" ng-include="'views/common/title.html'"></div>
  </div>
  <div class="layout-body">
    <tabset class="box-tab">
      <tab heading="Configurations">
        <div ng-include="'views/configurations/common_configurations.html'"></div>
      </tab>
      <tab heading="BarCodeConfigurations" ng-show="show_tab('add_barcodebrandmappingmaster')">
        <div ng-include="'views/configurations/barcode_configurations.html'"></div>
      </tab>
    </tabset>
  </div>
</div>