<div class="page-layout">
  <div class="layout-body">
    <form name="form" role="form" ui-jq="validate" ui-options="showCase.validationOpt">
      <div class="panel">
        <div class="panel-body">

          <div class="row col-md-12" style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i style="line-height: 34px;" class="fa fa-th fa-15px pull-left"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Style Detail Headers</strong>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
              <select id="style_headers" class="selectpicker show-menu-arrow form-control"
                ng-model="showCase.style_headers" multiple
                ng-change="showCase.multi_select_switch('#style_headers', 28)">
                <option ng-selected="showCase.check_selected(value, 'style_headers')"
                  ng-repeat="(key, value) in showCase.model_data.style_detail_headers" value="{{value}}"> {{key}}
                </option>
              </select>
            </div>
          </div>
          <div class="row col-md-12" style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i style="line-height: 34px;" class="fa fa-th fa-15px pull-left"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Stock Display Warehouses</strong>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4 warehouses">
              <select id="warehouses" class="selectpicker show-menu-arrow form-control" ng-model="showCase.warehouses"
                multiple ng-change="showCase.multi_select_switch('#warehouses', 25)">
                <option ng-selected="showCase.check_selected(value, 'stock_display_warehouse')"
                  ng-repeat="(key, value) in showCase.model_data.all_related_warehouse" value="{{value}}"> {{key}}
                </option>
              </select>
            </div>
          </div>

          <div class="row col-md-12" style="padding-bottom: 15px" ng-repeat="config in showCase.b2b_check_box_data"
            ng-if="config.display">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa-15px pull-left" ng-class="config.class_name" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20">{{config.name}}</strong>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
              <label class="switch switch-sm square mt5">
                <div>
                  <input type="checkbox" ng-model="showCase.model_data[config.model_name]"
                    ng-change="showCase.switches(showCase.model_data[config.model_name], config.param_no)">
                  <span>
                    <i class="handle"></i>
                  </span>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>