<div class="page-layout">
  <div class="layout-body">
    <form name="form" role="form" ui-jq="validate" ui-options="showCase.validationOpt">
      <div class="panel">
        <div class="panel-body">
          <div class="row col-md-12" style="padding-bottom: 15px"
            ng-if="user.user_profile.user_type == 'marketplace_user'">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-rupee fa-15px pull-left" style="font-size: 18px;line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Seller Default Margin(%)</strong>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
              <input type="text" class="form-control" ng-model="showCase.model_data.seller_margin"
                ng-change="showCase.margin_enable_save = true" ng-keyup="showCase.margin_enable_save = true"
                percentage-field percentage-max-value="99.99" percentage-max-decimals="2"
                ng-class="service.get_decimal_perm()">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"><i ng-if="showCase.margin_enable_save"
                ng-click="showCase.margin_enable_save = false; showCase.switches(showCase.model_data.seller_margin,27)"
                class="fa fa-save" style="font-size: 25px;padding: 4px;cursor: pointer;"></i></div>
          </div>





          <div class="row col-md-12" style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i style="line-height: 34px;" class="fa fa-th fa-15px pull-left"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Stock Transfer Invoice Prefix Details </strong>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
              <select class="show-menu-arrow form-control pull-left" ng-model="showCase.marketplace_selected_st"
                ng-change="showCase.marketplaceSelectedst(showCase.marketplace_selected_st)">
                <option value="">Select</option>
                <option ng-repeat="marketplace in showCase.model_data.prefix_st_data"
                  value="{{marketplace.marketplace_name}}"> {{marketplace.marketplace_name}}</option>
              </select>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2" ng-if="!showCase.marketplace_add_show_st">
              <div class="btn-group pull-left">
                <button type="button" class="btn btn-warning"
                  ng-click="showCase.marketplace_add_show_st = true;showCase.model_data.marketplace_new = true;showCase.filterMarkeplacesSt();">
                  <span class="icon-plus"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="row col-md-12" style="padding-bottom: 15px" ng-if="showCase.marketplace_add_show_st">
            <div class="col-md-5 col-sm-8 col-xs-12">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <select class="show-menu-arrow form-control pull-left" ng-model="showCase.model_data.marketplace_name_st"
                ng-disabled="!showCase.model_data.marketplace_new">
                <option ng-repeat="marketplace in showCase.model_data.marketplaces" value="{{marketplace}}"
                  ng-selected="marketplace==showCase.model_data.marketplace_selected_st"> {{marketplace}} </option>
              </select>
              <!--<input type="text" class="form-control" ng-model="showCase.model_data.marketplace_name" placeholder="Marketplace" ng-readonly="!showCase.model_data.marketplace_new">-->
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2">
              <input type="text" class="form-control" ng-model="showCase.model_data.marketplace_prefix_st"
                placeholder="Prefix">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2">
              <input type="text" class="form-control" ng-model="showCase.model_data.marketplace_interfix_st"
                placeholder="Interfix">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <select class="show-menu-arrow form-control pull-left"
                ng-model="showCase.model_data.marketplace_date_type_st">
                <option value="">Select</option>
                <option value="financial"> Include Financial year </option>
                <option value="month_year"> Include Month and year </option>
              </select>
            </div>
          </div>

          <div class="row col-md-12" style="padding-bottom: 15px" ng-if="showCase.marketplace_add_show_st">
            <div class="col-md-5 col-sm-8 col-xs-12">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <button type="button" class="btn btn-success"
                ng-click="showCase.saveStockTransferInvoice(showCase.model_data.marketplace_name_st, showCase.model_data.marketplace_prefix_st)">Save</button>
              <button type="button" class="btn btn-danger"
                ng-click="showCase.updateMarketplaceSt(showCase.model_data.marketplace_name_st, showCase.model_data.marketplace_prefix_st, 'delete')"
                ng-if="!showCase.model_data.marketplace_new">Delete</button>
            </div>
          </div>








          <div class="row col-md-12" style="padding-bottom: 15px" ng-if="showCase.model_data.float_switch">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-server fa-15px pull-left" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Decimal Limit For Quantity</strong>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <select class="form-control" ng-model="showCase.model_data.decimal_limit"
                ng-change="showCase.decimal_limit_save = true;">
                <option ng-selected="item == showCase.model_data.decimal_limit"
                  ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11]" value="{{item}}">{{item}}</option>
              </select>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-3"><i ng-if="showCase.decimal_limit_save"
                ng-click="showCase.decimal_limit_save = false; showCase.switches(showCase.model_data.decimal_limit,18)"
                class="fa fa-save" style="font-size: 25px;padding: 4px;cursor: pointer;"></i>
            </div>
          </div>
          <div class="row col-md-12" style="padding-bottom: 15px" ng-if="showCase.model_data.float_switch">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-server fa-15px pull-left" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Decimal Limit For Price</strong>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <select class="form-control" ng-model="showCase.model_data.decimal_limit_price"
                ng-change="showCase.decimal_limit_price_save = true;">
                <option ng-selected="item == showCase.model_data.decimal_limit_price" ng-repeat="item in [1,2,3,4,5,6]"
                  value="{{item}}">{{item}}</option>
              </select>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-3"><i ng-if="showCase.decimal_limit_price_save"
                ng-click="showCase.decimal_limit_price_save = false; showCase.switches(showCase.model_data.decimal_limit_price,87)"
                class="fa fa-save" style="font-size: 25px;padding: 4px;cursor: pointer;"></i>
            </div>
          </div>
          <div class="row col-md-12" style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-envelope fa-15px pull-left" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20">Order Management</strong>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <label class="switch switch-sm square mt5">
                <div>
                  <input type="checkbox" ng-model="showCase.model_data.order_management"
                    ng-change="showCase.order_manage(showCase.model_data.order_management)">
                  <span>
                    <i class="handle"></i>
                  </span>
                </div>
              </label>
            </div>
          </div>






          <div class="row col-md-12" style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-th fa-15px pull-left" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Weight Integration Name</strong>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3">
              <input type="text" class="form-control" id="weight_integration_name" maxlength="25"
                ng-model="showCase.model_data.weight_integration_name">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"><i
                ng-click="showCase.switches(showCase.model_data.weight_integration_name, 91)" class="fa fa-save"
                style="font-size: 25px;padding: 4px;cursor: pointer;"></i></div>
          </div>

          <div class="row col-md-12" style="padding-bottom: 15px" ng-init="showCase.online_enable_save = false">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-shopping-cart fa-15px pull-left" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Online Percentage ( 0% ) </strong>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3">
              <input type="number" class="form-control online-input" id="online_percentage" maxlength="3"
                ng-model="showCase.model_data.online_percentage" ng-change="showCase.online_enable_save = true">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"><i ng-if="showCase.online_enable_save"
                ng-click="showCase.online_enable_save = false; showCase.switches(showCase.model_data.online_percentage,12)"
                class="fa fa-save" style="font-size: 25px;padding: 4px;cursor: pointer;"></i></div>
          </div>


          <div class="row col-md-12" style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-th fa-15px pull-left" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Days to Auto Expiring of Enquiry
                Orders</strong>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3">
              <input type="text" class="form-control number" id="auto_expire_enq_limit"
                ng-model="showCase.model_data.auto_expire_enq_limit">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"><i
                ng-click="showCase.switches(showCase.model_data.auto_expire_enq_limit, 62)" class="fa fa-save"
                style="font-size: 25px;padding: 4px;cursor: pointer;"></i></div>
          </div>
          <div class="row col-md-12" style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-outdent fa-15px pull-left" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> OrderID Prefix</strong>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3">
              <input type="text" class="form-control" id="order_prefix" ng-model="showCase.model_data.order_prefix">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"><i
                ng-click="showCase.switches(showCase.model_data.order_prefix, 97)" class="fa fa-save"
                style="font-size: 25px;padding: 4px;cursor: pointer;"></i></div>
          </div>










          <div class="row col-md-12" style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-step-forward fa-15px pull-left" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> Create Order Extra Fields </strong>
            </div>
            <div class="bootstrap-tagsinput col-md-6 col-sm-6 col-xs-8">
              <input class="order_fields" type="text" value="{{showCase.model_data.all_order_fields}}"
                ui-jq="tagsInput" />
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2"><i ng-click="showCase.update_extra_central_order_fields()"
                class="fa fa-save" style="font-size: 25px;padding: 4px;cursor: pointer;"></i>
            </div>
          </div>
          <div class="row col-md-12" ng-repeat="fields in showCase.model_data.all_order_fields_list track by $index "
            style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i style="line-height: 34px;" class="fa fa-th fa-15px pull-left"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> {{ fields }} </strong>
            </div>
            <div class="col-md-2">
              <div class="row mb10" ng-repeat="field in showCase.model_data.all_order_field_options[fields]">
                <div class="col-lg-8 col-md-8 col-sm-4 col-xs-4">
                  <input type="text" class="form-control" ng-model="field.field_name" placeholder="Field Name">
                </div>
                <div class="col-md-1 col-sm-1 col-xs-2">
                  <div class="btn-group pull-left">
                    <button type="button" class="btn btn-danger"
                      ng-click="showCase.remove_order_options(fields,$index);">
                      <span class="icon-minus"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2" style="position: relative">
              <div class="btn-group pull-left">
                <button type="button" class="btn btn-warning" ng-click="showCase.add_order_options(fields);">
                  <span class="icon-plus"></span>
                </button>
                <button type="button" class="btn btn-success" ng-click="showCase.save_order_options(fields)"
                  style="position: absolute; margin-left: 20px">Save</button>
              </div>
            </div>
          </div>





          <div class="row col-md-12" style="padding-bottom: 15px">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa fa-tags fa-15px pull-left" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20"> SKU Groups </strong>
            </div>
            <div class="bootstrap-tagsinput col-md-6 col-sm-6 col-xs-8">
              <input id="tags" class="sku_groups" type="text" value="{{showCase.model_data.all_groups}}"
                ui-jq="tagsInput" />
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2"><i ng-click="showCase.update_sku_groups()" class="fa fa-save"
                style="font-size: 25px;padding: 4px;cursor: pointer;"></i>
            </div>
          </div>

          <div class="row col-md-12" style="padding-bottom: 15px" ng-repeat="config in showCase.general_check_box_data"
            ng-if="config.display">
            <div class="col-md-5 col-sm-8 col-xs-12">
              <i class="fa-15px pull-left" ng-class="config.class_name" style="line-height: 34px;"></i>
              <strong style="line-height: 34px;" class="pull-left ml20">{{config.name}}</strong>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
              <label class="switch switch-sm square mt5">
                <div>
                  <input type="checkbox" ng-model="showCase.model_data[config.model_name]"
                    ng-change="showCase.switches(showCase.model_data[config.model_name], config.param_no)">
                  <span>
                    <i class="handle"></i>
                  </span>
                </div>
              </label>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
