<div class="page-layout">
    <div class="layout-body">
        <form name="form" role="form" ui-jq="validate" ui-options="showCase.validationOpt">
            <div class="panel">
                <div class="panel-body">

                    <div class="row col-md-12" ng-if="showCase.model_data['pos_switch']" style="padding-bottom: 15px">
                        <div class="col-md-5 col-sm-8 col-xs-12">
                            <i style="line-height: 34px;" class="fa fa-th fa-15px pull-left"></i>
                            <strong style="line-height: 34px;" class="pull-left ml20"> POS Extra Fields </strong>
                        </div>
                        <div class="col-md-4">
                            <div class="row mb10" ng-repeat="field in showCase.pos_extra_fields">
                                <div class="col-md-5 col-sm-4 col-xs-4">
                                    <select class="show-menu-arrow form-control pull-left" ng-model="field.input_type">
                                        <option value="">Select</option>
                                        <option ng-repeat="val in showCase.input_fields" value="{{val}}"> {{val}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-5 col-sm-4 col-xs-4">
                                    <input type="text" class="form-control" ng-model="field.field_name"
                                        placeholder="Field Name">
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-2" ng-if="!showCase.marketplace_add_show">
                                    <div class="btn-group pull-left">
                                        <button type="button" class="btn btn-danger"
                                            ng-click="showCase.remove_pos_fields($index);">
                                            <span class="icon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 col-sm-1 col-xs-2" style="position: relative">
                            <div class="btn-group pull-left">
                                <button type="button" class="btn btn-warning" ng-click="showCase.add_pos_fields();">
                                    <span class="icon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-success"
                                    ng-click="showCase.save_pos_extra_fields()"
                                    style="position: absolute; margin-left: 20px">Save</button>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-12" style="padding-bottom: 15px"
                        ng-repeat="config in showCase.pos_check_box_data" ng-if="config.display">
                        <div class="col-md-5 col-sm-8 col-xs-12">
                            <i class="fa-15px pull-left" ng-class="config.class_name" style="line-height: 34px;"></i>
                            <strong style="line-height: 34px;" class="pull-left ml20">{{config.name}}</strong>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <label class="switch switch-sm square mt5">
                                <div>
                                    <input type="checkbox" ng-model="showCase.model_data[config.model_name]"
                                        ng-change="showCase.switches(showCase.model_data[config.model_name], config.param_no)">
                                    <span>
                                        <i class="handle"></i>
                                    </span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row col-md-12" ng-if="showCase.model_data['pos_switch']" style="padding-bottom: 15px">
                        <div class="col-md-5 col-sm-8 col-xs-12">
                            <i class="fa fa-step-forward fa-15px pull-left" style="line-height: 34px;"></i>
                            <strong style="line-height: 34px;" class="pull-left ml20"> POS remarks </strong>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-8">
                            <textarea name="pos_remarks" rows="6" cols="29"
                                ng-keydown="showCase.limitLines(5, $event)"></textarea>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-2"><i
                                ng-click="showCase.update_pos_remarks(showCase.model_data.pos_remarks)"
                                class="fa fa-save" style="font-size: 25px;padding: 4px;cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>