<div ng-controller="MaterialPlanningSummaryCtrl as showCase">
  <div class="page-layout">
   <div class='layout-header'>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="pull-left" ng-include="'views/common/title.html'"></div>
        </div>
      </div>
    </div>
    <div class="layout-sub-header">
        <form name="form" role="form" class="filters">
          <div class="clearfix">

            <div class="row col-md-12">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label">Plant Code</label>
                  <input type="text" autocomplete="off" name="plant_code" class="form-control" placeholder="Search Plant Code" typeahead="address.plant_code for address in showCase.service.getSearchValues($viewValue, 'search_plants?', 'plant_code')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.filters.plant_code">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label">Plant Name</label>
                  <input type="text" autocomplete="off" name="plant_name" class="form-control" placeholder="Search Plant Name" typeahead="address.plant_name for address in showCase.service.getSearchValues($viewValue, 'search_plants?', 'STORE')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.filters.plant_name">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label">Department Type</label>
                  <select name="dept_type" class="form-control" ng-model="showCase.model_data.filters.dept_type">
                    <option value=''>Select</option>
                    <option ng-repeat="(dept_code, dept_name) in showCase.department_type_list" value="{{ dept_code }}" ng-selected="dept_code==showCase.model_data.filters.dept_type">{{ dept_name }}</option>
                  </select>

                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label">Zone Code</label>
                  <select name="zone_code" class="form-control" ng-model="showCase.model_data.filters.zone_code">
                    <option value=''>Select</option>
                    <option ng-repeat="zone in showCase.zones_list">{{ zone }}</option>
                  </select>
                </div>
              </div>


            </div>
            <div class="col-md-12">
              <div class="filter-controls" style="width: 300px;">
                <!-- <button type="button" class="btn btn-default" id="add-shippment-btn" style="margin-right: 10px" ng-click="showCase.service.reset_data(showCase.empty_data, showCase.model_data);showCase.service.generate_report(showCase.dtInstance, showCase.model_data)"> Reset </button> -->
                <button type="button" class="btn btn-default" id="add-shippment-btn" style="margin-right: 10px" ng-click="showCase.reset_filters()"> Reset </button>
                <button type="button" class="btn btn-success" id="add-shippment-btn" data-toggle="modal" data-target="#myModal" ng-click="showCase.saveFilters(showCase.model_data.filters);showCase.service.generate_report(showCase.dtInstance, showCase.model_data.filters)"> Search </button>
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="layout-body">
      <div class="panel">
        <div class="panel-header">
          <div ng-include="'views/common/excel.html'"></div>
        </div>
        <div ng-include="'views/common/datatable.html'"></div>
        <!-- <div class="panel-body" style="padding-left: 0px; padding-right: 0px">
          <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="table custom-table table-condensed datatable no_click_tb"></table>
          <div ui-view></div>
        </div> -->
      </div>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>

