<div ng-controller="ReceiveJOCtrl as showCase">
  <div class="page-layout">
    <div class='layout-header'>
      <div class="pull-left" ng-include="'views/common/title.html'"></div>
      <button type="button" class="btn btn-primary pull-right" ng-click="showCase.excel()">Download Excel</button>
    </div>
    <div class="layout-body">
      <div class="panel">
        <div class="panel-header panel-heading border">
          <div class="row">
            <div class="col-md-12">
              <div class="widget bg-white" style="margin-bottom: 0;text-align: center;">
                <div class="overflow-hidden">
                  <div class="col-md-2 col-sm-4 col-xs-6" style="height: 34px;float: right;text-align: -webkit-auto;">
                    <label class="switch switch-sm square pull-right mr30 mt5">
                    <div>
                        <input type="checkbox" ng-model="showCase.sku_view" ng-change="showCase.change_sku_view(showCase.sku_view)" class="ng-pristine ng-valid">
                        <span>
                        <i class="handle"></i>
                        </span>
                    </div>
                    </label>
                    <label style="padding: 5px;" class="control-label pull-right"><b>SKU View : </b></label>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6" style="height: 34px;float: right;text-align: -webkit-auto;">
                    <label class="switch switch-sm square pull-right mr30 mt5">
                    <div>
                        <input type="checkbox" ng-model="showCase.rwo_view" ng-change="showCase.change_rwo_view(showCase.rwo_view)" class="ng-pristine ng-valid">
                        <span>
                        <i class="handle"></i>
                        </span>
                    </div>
                    </label>
                    <label style="padding: 5px;" class="control-label pull-right"><b>RWO View : </b></label>
                  </div>
                  <span class="widget-subtitle">AGGREGATED QUANTITY</span>
                  <span class="widget-title bold ng-binding">{{ showCase.tb_data.totalReceivedQuantity }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="table custom-table table-condensed datatable"></table>
          <div ui-view></div>
          <div class="col-md-12">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
