<div id="page-pop" style="display: block;" class="modal fade process-toggle in" id="location-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
  <form name="form" role="form" id="add-customer">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content model-custom">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">Invoice</h4>
        </div>
        <div class="modal-body print print-invoice" style="overflow: hidden">

	<div class="row" ng-if="showCase.pdf_data.move_to_inv=='true'">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label"><strong>Invoice Number *</strong></label>
              <input name="invoice_number" class="form-control" type="text" ng-model="showCase.inv_number"
		     ng-init="showCase.inv_number=''" required>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label"><strong>Invoice Date *</strong></label>
              <input name="inv_date" ui-jq="datepicker" ng-model="showCase.inv_date"
	    	 class="form-control stk-readonly" type="text" id="inv_date" ng-init="showCase.inv_date=''"
	    	 data-date-today-highlight="true" data-date-autoclose="true" required>
            </div>
	  </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div>File Upload</div>
         <span class="btn btn-primary up-btn" style="position: relative;overflow: hidden;width: 250px;">Choose File
           <input style="position: absolute;
                        top: 0;
                        right: 0;
                        min-width: 100%;
                        min-height: 100%;
                        font-size: 100px;
                        text-align: right;
                        filter: alpha(opacity=0);
                        opacity: 0;
                        outline: none;
                        background: white;
                        cursor: inherit;
                        display: block;" class="btn btn-primary" type = "file" name="files" id="file-upload" ng-model="file_input" multiple/>
         </span>
        <!-- <input type="file" id="image-upload" name="files" file-upload multiple=""> -->
      </div>

	</div>

          <div class="row col-md-12">
            <h4 style="margin-bottom:2px" align="center">{{showCase.pdf_data.invoice_header}}</h4>
          </div>
          <div class="row col-md-12" style="margin-top: 0px;">
            <table class="table table-bordered bl br mb0" style="margin-bottom:0px">
              <tbody class="rm-padding">
                <tr>
                  <td style="width: 60%;text-align:left" class="align-left">
                    <div class="row">
                      <div class="col-md-12">
                        <span><b>{{showCase.pdf_data.company_name}}</b></span>
                      </div>
                      <div class="col-md-12">
                       <span>{{showCase.pdf_data.company_address}}</span>
                      </div>
                      <div class="col-md-12">
                        <span>{{showCase.pdf_data.email}}</span>
                      </div>
                      <div ng-include="'views/inbound/print/tin_common.html'"></div>
                    </div>
                  </td>
                  <td rowspan="2" style="text-align:left">
                    <strong>Invoice Number:</strong>{{showCase.pdf_data.invoice_no}}<br>
                    <strong>Invoice Date:</strong>{{showCase.pdf_data.inv_date}}<br>
                    <strong>Order Number:</strong>{{showCase.pdf_data.order_id}}<br>
                    <strong>Order Date:</strong>{{showCase.pdf_data.order_date}}<br>
                    <strong>Challan No.:</strong>{{showCase.pdf_data.challan_no}}<br>
                    <span ng-if="showCase.pdf_data.purchase_type"><strong>Purchase Type:</strong>{{showCase.pdf_data.purchase_type}}</span>
                  </td>
                </tr>
                <tr>
                  <td style="width: 60%;text-align:left">
                    <address class="no-margin">
                      <strong>
                        <span ng-if="user.userName != 'campus_sutra'">To,</span>
                        <span ng-if="user.userName == 'campus_sutra'">CONSIGNEE,</span>
                      </strong><br>
                      <div>
                        <p style="margin-bottom:0px" class="cust_details">
                           &nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.company_details.name}}</p>
                        <p style="margin-bottom:0px" class="cust_details">
                          &nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.company_details.address}}</p>
                      </div>
                    </address>
                  </td>
                </tr>
              </tbody>
            </table>
            <table ng-include="'views/inbound/print/table1.html'" ng-if="(!(showCase.pdf_data.detailed_invoice))" class="table table-bordered bl br"></table>
            <table ng-include="'views/inbound/print/table2.html'" ng-if="showCase.pdf_data.detailed_invoice" class="table table-bordered bl br"></table>
          </div>
        </div>
        <div class="row">
	  <div ng-class="(showCase.pdf_data.move_to_inv=='true')? 'col-md-offset-4 col-md-2' : 'col-md-12'">
            <button type="button" class="btn btn-danger btn-block" style="width:100px;margin: auto;margin-bottom: 10px;"
		ng-click="showCase.service.generate_pdf_file(showCase.pdf_data)">
            	<i class="ti-printer mr5"></i>Print
            </button>
	  </div>
	  <div class="col-md-2" ng-if="showCase.pdf_data.move_to_inv=='true'">
            <button type="button" class="btn btn-success btn-block"
	    	style="width:100px;margin: auto;margin-bottom: 10px;" ng-click="showCase.confirm_move_to_inv()">
            	<i class="ti-printer mr5"></i>Confirm
            </button>
	  </div>
        </div>
      </div>
    </div>
  </form>
</div>
