<div id="page-pop">
  <form name="form" role="form" ui-jq="validate" novalidate="novalidate">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Change Password</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px">
          <label class="control-label">Old Password *</label>
          <input type="password" name="old_password" class="form-control" ng-model="$ctrl.model_data.old_password" ng-required="true">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px">
          <label class="control-label">New Password *</label>
          <input type="password" name="new_password" class="form-control" ng-model="$ctrl.model_data.new_password" ng-required="true">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px">
          <label class="control-label">Retype New Password *</label>
          <input type="password" name="retype_password" class="form-control" ng-model="$ctrl.model_data.retype_password" ng-required="true">
        </div>
      </div>
      <div class="row mt20">
        <div class="col-md-12">
           <div class="alert alert-warning alert-dismissable"> After password update application will automatically redirect to sigin page. </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn pop pop-normal" ng-click="$ctrl.close()">Close</button>
      <button type="submit" class="btn pop pop-green" ng-click="$ctrl.changePassword(form)" ng-disabled="$ctrl.process">Save</button>
    </div>
  </form>
</div>

