       <div class="row">
           <p> Please tell the system the layout of your warehouse. Download the sample location master file,
           fill in your zones and locations and upload. In case of any issues, our on-boarding executive will
           help you out. Please reach out to <a href="mailto:roopal@mieone.com">roopal@mieone.com</a> incase of any issues. </p>
        </div>
        </br>
        <div class="row">
          <div class="col-md-6">
            <a class="btn st-success pull-right btn-lg" style="width: 250px" href="{{showCase.session.url+'location_form/?download-loc-file='}}">Download Sample File</a>
          </div>
          <div class="col-md-6">
            <span class="btn st-success-rev pull-left btn-lg" style="position: relative;overflow: hidden;width: 250px;">Upload File
              <input class="btn btn-primary" type = "file" file-uploadd multiple data="location_upload/" ng-disabled="(!(showCase.upload_status))"/>
            </span>
            <p class="pull-left" style="padding: 5px 10px 0px;">{{showCase.upload_file}}</p>
          </div>
        </div>
        </br>
        <div class="row">
          <div class="col-md-12">
		<p> If you want to check out the features of StockOne, it is recommended that you set-up StockOne with demo data. </p>
          </div>
        </div>
        </br>
