<div class="customer-box sku-box" style='padding-top: 10px;'>
  
  <div>
  <p style="float: left">{{$ctrl.nw_status}}</p>
  <span style="float: left;margin:5px;">Return Mode : </span>
  <md-switch class="switch"
              ng-model="$ctrl.return_switch"
              aria-label="Switch"
              style="float: left;margin: 0"
              ng-init="$ctrl.return_switch=false">
  </md-switch>
  <p style='text-align: right'>Issue Type*
  <select ng-init="$ctrl.issue_selected=$ctrl.names[0]"
        ng-model="$ctrl.issue_selected"
        ng-change="$ctrl.change_issue_type()"
        ng-options="x for x in $ctrl.names">
  </select>
  </p>
  </div>
  <div layout="column" ng-cloak>
  <md-content layout-padding layout="column">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          ng-click = "$ctrl.isCustomer()"
          ng-disabled="$ctrl.isDisabled"
          md-no-cache="$ctrl.noCache"
          md-autoselect = "true"
          md-selected-item="$ctrl.selectedItem"
          md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
          md-search-text="$ctrl.searchText"
          md-selected-item-change="$ctrl.selectedItemChange(item)"
          md-items="item in $ctrl.get_product_data($ctrl.searchText)"
          md-item-text="item.SKUCode"
          md-min-length="0"
          placeholder="Enter SKUCode/ProductName"
          ng-model="$ctrl.productName"
          md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span class="item-title">
            <span> {{item.SKUCode}} </span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              <strong>{{item.ProductDescription}}</strong>
            </span>
          </span>
        </md-item-template>
      </md-autocomplete>
    </form>
  </md-content>
  <div class="sku-details">
    <table style="width: 100%;">
      <thead ng-if="$ctrl.table_headers">
        <tr>
          <th style="padding-left: 10px;">In Stock</th>
          <th>Product Description</th>
          <th>Quantity</th>
          <th>Price</th>
      </thead>
      <tbody>
    <tr class="sku" ng-repeat = "item in $ctrl.skus">
        <td style="padding-left: 10px;">{{item.stock_quantity}} Units</td>
        <td class="alter">{{item.return_status==='true' ? '(Return) ' + item.name : item.name}}</td>
        <td class="alter">
          <p class="text-show">{{item.quantity}}</p>
          <input class="input-show" style="width: 50px;" ng-blur="$ctrl.changeQuantity(item)" type=text value="{{item.quantity}}" ng-model="item.quantity" ngMinlength=0 ng-keypress="filterValue($event)"></td>
       <td class="alter">
           <p class="text-show">{{item.price}}/-</p>
           <input class="input-show" style="width: 40px;" ng-blur="$ctrl.changePrice(item)" type=text value="{{item.price}}" ng-model="item.price" ng-pattern="" ng-keypress="filterValue($event)"></td>
    </tr>
    </tbody>
    </table>
   </div>
   <div class="line"></div>
   <div>
     <md-button class="button-color md-raised md-primary pull-right hide" ng-click="$ctrl.hold_data();" style="width:100px" ng-disabled="$ctrl.submit_enable">Hold</md-button>
     <md-button class="button-color md-raised md-primary pull-right" ng-click="$ctrl.submit_data()" style="width:100px" ng-disabled="$ctrl.submit_enable">Submit</md-button>
   </div>
</div>

