<div class="customer-box sku-box" style='padding-top: 10px;'>
  
  <div>

  <!-- <p style="float: left">{{$ctrl.nw_status}}</p> -->

  <p style="float: left">{{$ctrl.nw_status}}</p>
  <span style="float: left;margin:5px;">Return Mode : </span>
  <md-switch class="switch"
              ng-model="$ctrl.return_switch"
              aria-label="Switch"
              style="float: left;margin: 0"
              ng-init="$ctrl.return_switch=false">
  </md-switch>
  <span style="float: left;margin:5px 5px 5px 30px;">SKU qty accept zero: </span>
  <md-switch class="switch"
            ng-model="$ctrl.qty_switch"
            aria-label="Switch"
            style="float: left;margin: 0"
            ng-init="$ctrl.qty_switch=false">
  </md-switch>

  <span style="float: left;margin:5px 5px 5px 30px;">Inclusive Of Tax: </span>
  <md-switch class="switch"
            ng-model="$ctrl.tax_inclusive"
            aria-label="Switch"
            style="float: left;margin: 0"
            ng-init="$ctrl.tax_inclusive=false"
            ng-change="$ctrl.change_config($ctrl.tax_inclusive, 'tax_inclusive')">
  </md-switch>

  <p style='text-align: right'>Issue Type*
  <select ng-init="$ctrl.issue_selected=$ctrl.names[0]"
        ng-model="$ctrl.issue_selected"
        ng-change="$ctrl.change_issue_type($ctrl.issue_selected)"
        ng-options="x for x in $ctrl.names">
  </select>
  </p>
  </div>
  <div layout="column" style="display:block;" ng-cloak>
  <div class="row">
    <div class="col-md-10">
      <md-content layout-padding layout="column">
        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
              ng-click = "$ctrl.isCustomer()"
              ng-disabled="$ctrl.isDisabled"
              md-no-cache="$ctrl.noCache"
              md-autoselect = "true"
              md-selected-item="$ctrl.selectedItem"
              md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
              md-search-text="$ctrl.searchText"
              md-selected-item-change="$ctrl.selectedItemChange(item)"
              md-items="item in $ctrl.get_product_data($ctrl.searchText)"
              md-item-text="item.SKUCode"
              md-min-length="0"
              placeholder="Enter SKUCode/ProductName"
              ng-model="$ctrl.productName"
              md-menu-class="autocomplete-custom-template">
            <md-item-template>
              <span class="item-title">
                <span> {{item.SKUCode}} </span>
              </span>
              <span class="item-metadata">
                <span class="item-metastat">
                  <strong>{{item.ProductDescription}}</strong>
                </span>
              </span>
            </md-item-template>
          </md-autocomplete>
        </form>
      </md-content>
    </div>
    <div class="col-md-2" style="padding:6px">
      <div class="btn btn-danger"
           style="width: 90%;padding: 6px;font-size:12px;"
           ng-click="$ctrl.all_skus_popup()">MULTI SELECT
      </div>
    </div>
  </div>
  <div class="sku-details">
    <table style="width: 100%;">
      <thead ng-if="$ctrl.table_headers">
        <tr>
          <th style="padding-left: 10px;">In Stock</th>
          <th>Product Description</th>
          <th>Quantity</th>
          <th>Price</th>
      </thead>
      <tbody>
    <tr class="sku" ng-repeat = "item in $ctrl.skus">
        <td style="padding-left: 10px;">{{item.stock_quantity}} Units</td>
        <td class="alter">{{item.return_status==='true' ? '(Return) ' + item.name : item.name}}</td>
        <td class="alter">
          <p class="text-show">{{item.quantity}}</p>
          <input class="input-show" style="width: 50px;" ng-blur="$ctrl.changeQuantity(item)" type=text value="{{item.quantity}}" ng-model="item.quantity" ngMinlength=0 ng-keypress="filterValue($event)"></td>
       <td class="alter">
           <p class="text-show">{{item.price}}/-</p>
           <input class="input-show" style="width: 40px;" ng-blur="$ctrl.changePrice(item, current_val)" type=text value="{{item.price}}"
                  ng-model="item.price" ng-pattern="" ng-keypress="filterValue($event)"
                  ng-click="current_val=item.price"></td>
    </tr>
    </tbody>
    </table>
   </div>
   <div class="line"></div>
   <div>
     <md-button class="button-color md-raised md-primary pull-right" ng-click="$ctrl.hold_data();" style="width:100px" ng-disabled="$ctrl.submit_enable">Hold</md-button>
     <md-button class="button-color md-raised md-primary pull-right" ng-click="$ctrl.submit_data()" style="width:100px" ng-disabled="$ctrl.submit_enable">Submit</md-button>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="skuModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">SKU LIST</h4>
                <div class="row sku_filter">
                </div>
            </div>
            <div class="modal-body" style="height: 320px;overflow-y: scroll;">
                <div class="row">
                    <table style="width: 95%; margin:auto" >
                        <thead ng-show="$ctrl.sku_data.length">
                            <tr>
                                <!--<th style="padding-left: 10px;"></th>-->
                                <th>select</th>
                                <th style="width: 5px;">SKU Code</th>
                                <th>Description</th>
                                <th>Stock</th>
								<th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sku" ng-repeat = "item in $ctrl.sku_data_filtered"
                                ng-click="$ctrl.check_sku(item.SKUCode)">
                                <!--<td><input type="checkbox" style="width:17px;height:17px;margin:8px"
                                           name="selected_sku" value="{{item.SKUCode}}"
                                           ng-checked="item.checked"
                                           ng-model="item.checked"
                                           ng-click="$ctrl.checkbox_click($event,item.SKUCode,$index)"></td>-->
                                           <td><input type="checkbox" style="width:17px;height:17px;margin:8px"
                                           name="selected_sku" value="{{item.SKUCode}}"
                                           ng-checked="{{item.checked}}"
                                           ng-click="$ctrl.checkbox_click($event,item.SKUCode)"></td>
                                <td style="">{{item.SKUCode| limitTo : 15 : 0}}</td>
                                <td class="">{{item.ProductDescription| limitTo : 15 : 0}}</td>
								<td class="">{{item.stock_quantity}}</td>
                                <td class="">{{item.price}} /-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <div type="button" class="btn btn-danger"
                        ng-click=$ctrl.sku_pagination("prev")>Prev</div>
                <div type="button" class="btn btn-danger"
                        ng-click=$ctrl.sku_pagination("next")>Next</div>
            </div>
		</div>
	</div>
</div><!--modal-->

