<div class="customer-box sku-box" style='padding-top: 10px;'>
  <!-- {{$ctrl.urlService.returnsView}} -->
  <div ng-if="!$ctrl.urlService.returnsView">
  <!-- <p style="float: left">{{$ctrl.nw_status}}</p> -->
  <p style="float: left">{{$ctrl.nw_status}}</p>
  <span style="float: left;margin:5px;">Return Mode : </span>
  <md-switch class="switch"
              ng-model="$ctrl.return_switch"
              aria-label="Switch"
              style="float: left;margin: 0"
              ng-init="$ctrl.return_switch=false">
  </md-switch>
  <span style="float: left;margin:5px 5px 5px 10px;">SKU qty accept zero: </span>
  <md-switch class="switch"
            ng-model="$ctrl.qty_switch"
            aria-label="Switch"
            style="float: left;margin: 0"
            ng-init="$ctrl.qty_switch=false">
  </md-switch>

  <span style="float: left;margin:5px 5px 5px 10px;">Inclusive Of Tax: </span>
  <md-switch class="switch"
            ng-model="$ctrl.tax_inclusive"
            aria-label="Switch"
            style="float: left;margin: 0;margin-right: 10px;"
            ng-init="$ctrl.tax_inclusive=true"
            ng-change="$ctrl.change_config($ctrl.tax_inclusive, 'tax_inclusive')">
  </md-switch>
  <span style="float: left;margin:5px 5px 5px 10px;">Generate E-Bill: </span>
  <md-switch class="switch"
            ng-model="$ctrl.send_email"
            aria-label="Switch"
            style="float: left;margin: 0;margin-right: 10px;"
            ng-init="$ctrl.send_email=false"
            >
  </md-switch>

  <span style="float: left;margin:5px 5px 5px 10px;">Style search: </span>
  <md-switch class="switch"
            ng-model="$ctrl.style_switch"
            aria-label="Switch"
            style="float: left;margin: 0;margin-right: 10px;"
            ng-init="$ctrl.stype_switch=false"
            ng-change="$ctrl.change_style_switch($ctrl.style_switch)">
  </md-switch>
  <span style="float: left;margin:5px 5px 5px 10px;">Discount on MRP: </span>
  <md-switch class="switch"
            ng-model="$ctrl.mrp_discount"
            aria-label="Switch"
            style="float: left;margin: 0"
            ng-init="$ctrl.mrp_discount=true"
            ng-change="$ctrl.change_mrp_discount($ctrl.mrp_discount, 'mrp_discount')">
  </md-switch>
   <!-- <p style="text-align: left;"> -->
    <span style="float: left;margin:5px 5px 5px 10px;">Issue Type: </span>
      <!-- <h5> Issue Type* </h5> -->
      <select ng-init="$ctrl.issue_selected=$ctrl.names[0]"
        ng-model="$ctrl.issue_selected"
        ng-change="$ctrl.change_issue_type($ctrl.issue_selected)"
        ng-options="x for x in $ctrl.names"
        style="width: 25%;margin: 5px;">
      </select>
  <!-- </p> -->

  </div>

  <div layout="column" style="display:block;" ng-cloak>
  <div class="row">
    <div class="col-md-10">
      <md-content layout-padding layout="column">
        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
              ng-click = "$ctrl.isCustomer()"
              ng-disabled="$ctrl.isDisabled"
              md-no-cache="$ctrl.noCache"
              md-autoselect = "true"
              md-selected-item="$ctrl.selectedItem"
              md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
              md-search-text="$ctrl.searchText"
              md-selected-item-change="$ctrl.selectedItemChange(item)"
              md-items="item in $ctrl.get_product_data($ctrl.searchText, $ctrl.style_switch)"
              md-item-text="item.SKUCode"
              md-min-length="0"
              placeholder="Enter SKUCode/ProductName"
              ng-model="$ctrl.productName"
              ng-model-options='{ debounce: 300 }'
              md-menu-class="autocomplete-custom-template">
            <md-item-template>
              <span class="item-title">
                <span> {{item.SKUCode}} </span>
              </span>
              <span class="item-metadata">
                <span class="item-metastat">
                  <strong>{{item.ProductDescription}}</strong>
                </span>
              </span>
            </md-item-template>
          </md-autocomplete>
        </form>
      </md-content>
    </div>
    <!-- <div class="col-md-2" style="padding:6px">
      <div class="btn btn-danger"
           style="width: 90%;padding: 6px;font-size:12px;"
           ng-click="$ctrl.all_skus_popup()">MULTI SELECT
      </div>
    </div> -->
  </div>
  <div class="sku-details">
    <div class="col" align="center" ng-if="$ctrl.urlService.data_loader">
      <h3 style="font-family: auto; color: #b1b1b1;">loading ..</h3>
    </div>
    <table style="width: 100%;">
      <thead ng-if="$ctrl.table_headers">
        <tr>
          <th style="padding-left: 10px;">In Stock</th>
          <th>Product Description</th>
          <th>Quantity</th>
          <th>Price</th>
      </thead>
      <tbody>
        <tr class="sku" ng-repeat = "item in $ctrl.skus">
          <td style="padding-left: 10px;">{{item.stock_quantity}} Units</td>
          <td class="alter">{{item.return_status==='true' ? '(Return) ' + item.name : item.name}}</td>
          <td class="alter">
          <p class="text-show">{{item.quantity}}</p>
          <input class="input-show" style="width: 50px;" ng-blur="$ctrl.changeQuantity(item)" type=text value="{{item.quantity}}" ng-model="item.quantity" ngMinlength=0></td>
          <td class="alter">
            <p class="text-show">{{item.price}}/-</p>
            <input class="input-show" style="width: 40px;" ng-blur="$ctrl.changePrice(item, current_val)" type=text value="{{item.price}}"
                  ng-model="item.price" ng-pattern="" ng-keypress="filterValue($event)"
                  ng-click="current_val=item.price"></td>
        </tr>
      </tbody>
    </table>
   </div>
   <div class="line"></div>
   <div>
    <md-button ng-if="$ctrl.urlService.returnsView" class="button-color md-raised md-primary pull-right" ng-click="$ctrl.submit_data()" style="width:100px" g-disabled="$ctrl.submit_enable">Confirm</md-button>
     <md-button ng-if="!$ctrl.urlService.returnsView" class="button-color md-raised md-primary pull-right" ng-click="$ctrl.hold_data();" style="width:100px" ng-disabled="$ctrl.submit_enable">Hold</md-button>
     <md-button ng-if="!$ctrl.urlService.returnsView" class="button-color md-raised md-primary pull-right" ng-click="$ctrl.submit_data()" style="width:100px" ng-disabled="$ctrl.submit_enable">Submit</md-button>
   </div>
</div>
<div ng-if="$ctrl.urlService.returns_load">
  <div ng-init="$ctrl.on_data_change('add')"></div>
</div>
<div ng-if="!$ctrl.urlService.returns_load">
  <div ng-init="$ctrl.on_data_change('remove')"></div>
</div>
<div ng-if="$ctrl.urlService.returnsView">
  <div ng-init="$ctrl.on_data_change('remove')"></div>
</div>
</div>
<!-- Multi select Modal -->
<div class="modal fade" id="skuModal" role="dialog">
    <div class="modal-dialog" style="width: 80%">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">SKU LIST</h4>
                <div class="row sku_filter">
                </div>
            </div>
            <div class="modal-body" style="height: 320px;overflow-y: scroll;">
                <div class="row">
                    <table style="width: 95%; margin:auto" >
                        <thead ng-show="$ctrl.sku_data.length">
                            <tr>
                                <!--<th style="padding-left: 10px;"></th>-->
                                <th>select</th>
                                <!-- <th style="width: 5px;">SKU Code</th> -->
                                <th>SKU Code</th>
                                <th>Description</th>
                                <th>Stock</th>
								                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sku" ng-repeat = "item in $ctrl.sku_data_filtered"
                                ng-click="$ctrl.check_sku(item.SKUCode)">
                                <!--<td><input type="checkbox" style="width:17px;height:17px;margin:8px"
                                           name="selected_sku" value="{{item.SKUCode}}"
                                           ng-checked="item.checked"
                                           ng-model="item.checked"
                                           ng-click="$ctrl.checkbox_click($event,item.SKUCode,$index)"></td>-->
                                           <td><input type="checkbox" style="width:17px;height:17px;margin:8px"
                                           name="selected_sku" value="{{item.SKUCode}}"
                                           ng-checked="{{item.checked}}"
                                           ng-click="$ctrl.checkbox_click($event,item.SKUCode)"></td>
                                <td style="">{{item.SKUCode}}</td>
                                <!--<td class="">{{item.ProductDescription| limitTo : 15 : 0}}</td>-->
                                <td class="">{{item.ProductDescription}}</td>
								<td class="">{{item.stock_quantity}}</td>
                                <td class="">{{item.price}} /-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <div type="button" class="btn btn-danger"
                        ng-click=$ctrl.sku_pagination("prev")>Prev</div>
                <div type="button" class="btn btn-danger"
                        ng-click=$ctrl.sku_pagination("next")>Next</div>
            </div>
		</div>
	</div>
</div><!--modal-->

<!-- Style based Modal -->
<div class="modal fade" id="styleModal" role="dialog">
    <div class="" style="width: 75%; margin: 10% auto;">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">SKU LIST</h4>
                <div class="row sku_filter">
                </div>
            </div>
            <div class="modal-body" style="">
                <div class="row">
                    <h4 style="text-align:center" ng-hide="$ctrl.style_based_sku_data.length">No SKUs to show !!</h4>
                    <table style="width: 95%; margin:auto" ng-show="$ctrl.style_based_sku_data.length">
                        <thead>
                            <tr>
                                <!--<th style="padding-left: 10px;"></th>-->
                                <th style="text-align: center">STYLE NO.</th>
                                <th ng-repeat = "item in $ctrl.style_based_sku_data" style="text-align: center">
                                    {{item.sku_size}}</th>
                                <th style="text-align: center;padding: 0 10px;">QTY</th>
                                <th style="text-align: center;padding: 0 10px;">AMT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sku" ng-click="">
                                <td style="padding: 0 10px;">{{$ctrl.style_based_sku_data[0].style_name}}</td>
                                <td ng-repeat = "item in $ctrl.style_based_sku_data">
                                    <input type="text" ng-init="$ctrl.style_qtys[item.sku_size]=0" style="width: 100%;"
                                        ng-model="$ctrl.style_qtys[item.sku_size]"
                                        ng-blur="$ctrl.change_style_qty(item.SKUCode, $ctrl.style_qtys[item.sku_size])">
                                </td>
                                <td>{{$ctrl.tot_style_qty}}</td>
                                <td>{{$ctrl.tot_style_amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <div type="button" class="btn btn-danger"
                        ng-click=$ctrl.style_confirm()>Confirm</div>
            </div>
		</div>
	</div>
 </div><!-- style sku modal-->
