<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Sales Person Login</h2>
        <label for="username" class="sr-only">UserName</label>
        <input type="text" id="username" ng-model="$ctrl.username" class="form-control" placeholder="User ID" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="text" id="password" ng-model="$ctrl.password" class="form-control" placeholder="User Name" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="$ctrl.login($ctrl.username, $ctrl.password)" >Login</button>
      </form>

</div>
