*.swp
*.swo
*.swn
*.swm
*.pyc
*.pyo
API_WMS/miebach/miebach_admin/migrations/*
API_WMS/miebach/setup/MIEBACH/*
API_WMS/miebach/*.xls
API_WMS/miebach/*.csv
API_WMS/miebach/*.xlsx
API_WMS/miebach/*.pdf
API_WMS/miebach/*.html
API_WMS/miebach/logs/*
API_WMS/miebach/static/admin/*
API_WMS/miebach/static/excel_files/*
API_WMS/miebach/static/images/*
API_WMS/miebach/static/img/*
API_WMS/miebach/static/grappelli/*
API_WMS/miebach/static/text_files/*
API_WMS/miebach/static/temp_files/*
API_WMS/miebach/static/pdf_files/*
API_WMS/miebach/static/mysql_files/*
API_WMS/miebach/static/order_files/*
API_WMS/miebach/rest_api/migrations/*
ANGULAR_WMS/bower_components/*
ANGULAR_WMS/dist/*
ANGULAR_WMS/node_modules/*
ANGULAR_WMS/storage/*
ANGULAR_WMS/app/data/*
ANGULAR_WMS/app/temp/*
ANGULAR_WMS/app/vendor/*
ANGULAR_WMS/.tmp/*
.idea/*
