<div id="popup" class="page-layout">
  <form id="order-create" name="form" role="form" ui-jq="validate" ui-options="validationOpt" novalidate="novalidate" class="container-fluid">
  <div class="row">
    <div class="container-fluid">
      <div class="left">
        <h4>
          <span class="go-back" ng-click="showCase.back_button()">
          <i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i>
	      View Orders</span>
          <span> / </span>
          <span>Order Details</span>
	      <span><b>&nbsp;#{{showCase.order_id}}</b></span>
          <span class="pull-right" ng-if="showCase.model_data.sor_id">SOR ID: {{showCase.model_data.sor_id}}</span>
        </h4>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <h5><b>DESTINATION WAREHOUS DETAILS</b></h5>
      <div class="col-md-5">
        <div class="row">
          <div class="col-xs-3">
            <b>NAME:</b>
          </div>
          <div class="col-xs-9">
            <p>{{showCase.customer_name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <b>CITY:</b>
          </div>
          <div class="col-xs-9">
            <p>{{showCase.city}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <b>CREATION DATE:</b>
          </div>
          <div class="col-xs-7">
            <p>{{showCase.shipment_date}}</p>
          </div>
        </div>

      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-xs-3">
            <b>ADDRESS:</b>
          </div>
          <div class="col-xs-9">
            <p>{{showCase.address}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <b>STATE:</b>
          </div>
          <div class="col-xs-9">
            <p>{{showCase.state}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <b>PIN:</b>
          </div>
          <div class="col-xs-9">
            <p>{{showCase.pin}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="showCase.model_data.seller_data.seller_id"><hr></div>
    <div class="row"><hr></div>
    <div class="row mt15">
      <form name="form" role="form" class="filters">
        <div class="clearfix">
          <div class="row col-md-12">
            
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"><b>From Date *</b></label>
                <input name="from_date" ui-jq="datepicker" ng-init="showCase.model_data.filters.from_date = showCase.date" ng-model="showCase.model_data.filters.from_date" class="form-control stk-readonly" type="text" id="from_date" data-date-today-highlight="true" data-date-autoclose="true" required>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"><b>To Date</b></label>
                <input name="to_date" ui-jq="datepicker" ng-model="showCase.model_data.filters.to_date" class="form-control stk-readonly" type="text" id="to_date" ng-change="showCase.checkDateValidation()" data-date-today-highlight="true" data-date-autoclose="true">
                <input name="datatable" class="form-control" ng-init="showCase.model_data.filters.datatable = 'AltStockTransferOrders'" type="hidden" ng-model="showCase.model_data.filters.datatable" value="AltStockTransferOrders">
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="filter-controls">
              <button type="button" class="btn btn-default" id="add-shippment-btn" style="margin-right: 10px" ng-click="showCase.model_data.filters.to_date='';showCase.model_data.filters.from_date = showCase.date"> Reset </button>
              <button type="button" class="btn btn-success" id="add-shippment-btn" data-toggle="modal" data-target="#myModal" ng-click="showCase.saveFilters(showCase.model_data.filters);showCase.service.generate_report(showCase.dtInstance, showCase.model_data.filters)" ng-disabled="!showCase.model_data.filters.from_date"> Search </button>
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="row"><hr></div>
    <div class="row" ng-if="showCase.show_client_details"><hr></div>
    <div class="row over-x form-group">
      <table class="table mw75">
        <thead>
          <tr>
            <th>ITEM CODE</th>
            <th>PRODUCT TITLE</th>
            <th>OPENING STOCK</th>
            <th>RECEIVED</th>
            <th>TOTAL STOCK</th>
            <th>CONSUMED</th>
            <th>CLOSING</th>
            <th>QUANTITY</th>
            <th>UNIT PRICE</th>
            <th>INVOICE AMT (&#8377;)</th>
            <th ng-if="!showCase.input_status" class="plus"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in showCase.model_data.data" ng-if="data.sku_status">
            <td>
	          <input type="text" autocomplete="off" placeholder="Search WMS Code" 
	          typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')"
	          typeahead-loading="loadingLocations" class="form-control" name="item_code" ng-model="data.item_code" 
	          typeahead-on-select="showCase.get_sku_data(data, $item)" ng-readonly="data.default_status">
              <!-- <img ng-src="{{data.image_url}}" style="padding-top: 10px;width: 120px;"></img> -->
	        </td>
            <td>
              <input type="text" class="form-control" name="product_title" ng-model="data.product_title" ng-readonly="data.default_status">
            </td>
            <td>
              <input type="text" class="form-control" name="opening_stock" ng-model="data.opening_stock" ng-readonly="data.default_status">
            </td>
            <td>
              <input type="text" class="form-control" name="received" ng-model="data.received" ng-readonly="data.default_status">
            </td>
            <td>
              <input type="text" class="form-control" name="total_stock" ng-model="data.total_stock" ng-readonly="data.default_status">
            </td>
            <td>
              <input type="text" class="form-control" name="consumed" ng-model="data.consumed" ng-readonly="data.default_status">
            </td>
            <td>
              <input type="text" class="form-control" name="closing" ng-model="data.closing" ng-readonly="data.default_status">
            </td>
            <td>
              <input type="text" class="form-control" name="quantity" ng-model="data.quantity" ng-change="showCase.changeInvoiceAmt(data)" ng-readonly="showCase.input_status">
            </td>
            <td>
              <input type="text" class="form-control" name="unit_price" ng-model="data.unit_price" ng-change="showCase.changeInvoiceAmt(data, true)" ng-class="service.get_decimal_perm()" ng-readonly="showCase.input_status">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="data.invoice_amount" disabled="disabled">
              <input type="hidden" class="form-control" name="invoice_amount" value="{{data.quantity * data.unit_price}}">
            </td>
	        <td ng-if="!showCase.input_status"><i style="font-size: 20px;padding-top: 7px;cursor: pointer;margin-left: -15px;"
	        ng-click="showCase.update_order_details($index, data, false)" class="fa fa-minus-square-o"></i></td>
          </tr>
        </tbody>
      </table>

      <center ng-if="!showCase.input_status">
        <button type="button" class="btn btn-default" style="margin-top:10px" ng-click="showCase.update_order_details(0, {}, true)">Add New WMS Code</button>
      </center>
    </div>
    <div class="row mr10 ml10 mr10" ng-show="(permissions.user_type == 'distributor' || permissions.user_type == 'warehouse')">
        <div class="col-md-12">
          <a href="javascript:;" class="btn btn-success btn-xs" ng-click="showCase.order_charges.push({charge_id: '', charge_name: '', charge_amount: ''});showCase.default_charge()">Add Other Charges(+)</a>
        </div>

        <div class="col-md-12" ng-if="showCase.flag">
          <div class="row mt20" ng-repeat="charge in showCase.order_charges">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <input type="text" class="form-control" placeholder="Enter Charge Name" ng-model="charge.charge_name" name="charge_name" required>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <input type="text" class="form-control" placeholder="Enter Amount" ng-model="charge.charge_amount"  decimal-number name="charge_amount" required>
              <input type="hidden" class="form-control" ng-model="charge.charge_id" name="charge_id">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2">
              <i style="font-size: 20px;padding-top: 7px;cursor: pointer;" class="fa fa-minus-square-o" ng-click="showCase.order_charges.splice($index, 1);showCase.delete_charge(charge.id);"></i>
            </div>
          </div>
        </div>
        <div class="col-md-12" ng-if="showCase.order_charges && !showCase.flag">
          <div class="row mt20" ng-repeat="charge in showCase.order_charges">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <input type="text" class="form-control" placeholder="Enter Charge Name" ng-model="charge.charge_name" name="charge_name" value="{{charge.charge_name}}" required>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <input type="text" class="form-control" placeholder="Enter Amount" ng-model="charge.charge_amount"  decimal-number name="charge_amount" value="{{charge.charge_amount}}" required>
              <input type="hidden" class="form-control" ng-model="charge.charge_id" name="charge_id" value="{{charge.id}}">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2">
              <i style="font-size: 20px;padding-top: 7px;cursor: pointer;" class="fa fa-minus-square-o" ng-click="showCase.order_charges.splice($index, 1);showCase.delete_charge(charge.id);"></i>
            </div>
          </div>

        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 mb10 mt20">
              <button type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.save_order_charges(showCase.order_id, $event)">Save Other Charges</button>
            </div>
      </div>
    <div class="row"><hr></div>
    <div class="row">
      <div class="col-md-9">
      </div>
    </div>
    <div class="row" style="padding-bottom:2%;">
      <div class="col-md-6">
        <input type="hidden" class="form-control" name="tax_type" value="{{showCase.model_data.tax_type}}" disabled>
        <button type="button" class="btn btn-primary" ng-if="!showCase.input_status" style="margin: auto;display: block;" 
        ng-click="showCase.send_order_data(form)">Update </button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-danger" ng-if="!showCase.input_status" style="margin: auto;display: block;"
        ng-click="showCase.delete_order_data(showCase.order_id)">Delete Order </button>
      </div>
    </div>
  </div>
</div>
</form>
</div>
