<div id="page-pop">
  <div ng-if="order.loading" id="wrapper" style="background-color: black;width: 100%;height: 100%;z-index: 2;position: absolute;opacity: 0.8;">
    <img src="images/sm_loader_popup.png" style="position: absolute;z-index: 3;top: 40%;right: 45%;width: 100px;">
  </div>
  <div class="model-custom" ng-init="order.approve = true">
    <div ng-include="'views/common/loader.html'"></div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="order.ok()"><span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title" id="myLargeModalLabel">Custom Order Details</h4>
    </div>
    <div class="modal-body">
      <div ng-include="'views/outbound/app/create_orders/manual_enquiry_order_details.html'"></div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn pop pop-normal" ng-click="order.sendRemarks()">Send Remarks</button>
      <button type="button" class="btn pop pop-green col-md-3 col-sm-3 col-xs-12 pull-right" ng-disabled="order.disable_btn" ng-click="order.approved()">Approve</button>
    </div>
  </div>
</div>
