<div id="page-pop">
  <form name="barcodes" role="form" ui-jq="validate" ui-options="validationOpt">
    <div class="model-custom">
      <div class="mw60">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="pop.ok()"><span aria-hidden="true">&times;</span> </button>
          <h4 class="modal-title">Barcodes</h4>
        </div>
        <!-- body-->
        <div class="modal-body">
          <div class="form-group col-md-4">
            <label class="control-label"> PDF Format</label>
            <select class="form-control col-md-3" name="pdf_format">
              <option ng-repeat="format in pop.model_data.format_types" value="{{format}}">{{format}}</option>
            </select>
            <input type="hidden" name="order_id" value="{{pop.model_data.po_id}}">
          </div>
          <div class="form-group col-md-5"></div>
          <div class="form-group col-md-3" ng-if="pop.model_data.custom_confg_flag">
            <div>
              <label class="control-label"> Custom Configuration</label>
            </div>
            <label class="switch switch-sm square mt5">
              <div>
                <input type="checkbox" ng-model="pop.model_data.custom_config" ng-change="pop.changeQty(pop.model_data.barcodes,pop.model_data.custom_config)">
                <span>
                  <i class="handle"></i>
                </span>
              </div>
            </label>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th ng-if="pop.model_data.barcodes[0].label">Label Code</th>
                    <th ng-if="!pop.model_data.barcodes[0].label">SKU Code</th>
                    <th>Quantity </th>
                    <th ng-if="pop.model_data.custom_config">Serial Number</th>
                    <th class="plus"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="barcode in pop.model_data.barcodes">
                    <td ng-if="barcode.label">
                      <input type="hidden" name="wms_code" class="form-control" value="{{barcode.wms_code}}">
                      <input type="text" name="label" class="form-control" ng-model="barcode.label" ng-required="true">
                    </td>
                    <td ng-if="!barcode.label">
                      <input type="text" name="wms_code" class="form-control" ng-model="barcode.wms_code">
                    </td>
                    <td>
                      <input type="text" name="quantity" class="form-control" ng-init="barcode.quantity = (pop.model_data.custom_config) ? '0' : barcode.quantity" ng-model="barcode.quantity">
                      <input type="hidden" name="mrp" value="{{barcode.mrp}}">
                      <input type="hidden" name="price" value="{{barcode.price}}">
                      <input type="hidden" name="tax_percent" value="{{barcode.tax_percent}}">
                      <input type="hidden" name="unit" value="{{barcode.unit}}">
                      <input type="hidden" name="weight" value="{{barcode.weight}}">
                      <input type="hidden" name="cess_percent" value="{{barcode.cess_percent}}">
                      <input type="hidden" name="exp_date" value="{{barcode.exp_date}}">
                      <input type="hidden" name="buy_price" value="{{barcode.buy_price}}">
                      <input type="hidden" name="batch_no" value="{{barcode.batch_no}}">
                      <input type="hidden" name="mfg_date" value="{{barcode.mfg_date}}">
                    </td>
                    <td ng-if="pop.model_data.custom_config">
                      <input type="text" name="imei" id="imei" attr-name="{{'imei_'+barcode.wms_code}}" ng-model="barcode.imei_number" class="form-control detectTab" ng-keydown="pop.check_imei_exists($event, barcode)">
                    </td>
                    <td>
                      <i title="Remove Field" class="fa fa-minus-square-o" style="padding-left: 15px;"
                         ng-click="pop.model_data.barcodes.splice($index,1)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12 col-sm-6 col-xs-4" ng-if="pop.model_data.barcodes[0].label">
                <span class="plus pull-right">
                  <i class="fa fa-plus-circle" style="font-size: 45px;margin-top: -10px;"
                     ng-click="pop.model_data.barcodes.push({'label_code':'', 'quantity':''})"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group" style="margin-bottom:0px;">
            <button type="button" class="btn pop pop-green" ng-disabled="pop.model_data.barcodes.length == 0" ng-click="pop.generate_barcodes(barcodes)">Generate Barcodes
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
