<div id="page-pop">
  <form name="form" role="form" ui-jq="validate">
    <div class="model-custom">
      <div class="mw30">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="pop.ok()"><span aria-hidden="true">&times;</span> </button>
          <h4 class="modal-title">Cancel Central Orders</h4> </div>
        <!-- body-->
        <div class="modal-body">
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th> Order ID</th>
                  <th> Remarks </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in pop.state_data.data">
                  <input type="hidden" value="{{ product['data_id'] }}" name="interm_id" class="form-control">
                  <td><input type="text" ng-model="product['Order ID']" name="order_id" class="form-control" readonly></td>
                  <td><input type="text" ng-model="product.remarks" name="remarks" class="form-control"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row insert-status">
            <h4 align="center">{{pop.message}}</h4>
          </div>
        </div>
      <!-- body end-->
        <div class="modal-footer">
          <button ng-if="!pop.print_enable" type="submit" class="btn pop pop-green" ng-disabled="pop.confirm_disable" ng-click="pop.delete_central_order(form)"> Confirm</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </form>
  <!-- /.modal-dialog -->
</div>
