<style type="text/css">
  .modal-lg {
    width: 1000px;
  }
</style>
<div id="page-pop">
  <!-- Modal -->
  <form name="form" role="form" ui-jq="validate" ui-options="pop.validationOpt">
      <div class="model-custom">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="pop.ok()"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">Picklist</h4>
        </div>
        <div class="modal-body">
          <div class="row" ng-hide="pop.permissions.user_type == 'warehouse' || pop.permissions.user_type == 'distributor'">
			<div class="col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 10px;">
            <div class="col-md-6 col-sm-6 col-xs-5">
              <p align="right">Display Order ID in Print View</p>
            </div>
            <div>
              <label class="switch switch-sm square">
                <div>
                  <input type="hidden" value="{{pop.display_order_id}}">
                  <input type="checkbox" ng-model="pop.display_order_id">
                  <span>
                    <i class="handle"></i>
                  </span>
                </div>
              </label>
            </div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 10px;">
            <div class="col-md-6 col-sm-6 col-xs-5">
              <p align="right">Merged Invoice</p>
            </div>
            <div>
              <label class="switch switch-sm square">
                <div>
                  <input type="hidden" value="{{pop.merge_invoice}}" name="merge_invoice">
                  <input type="checkbox" ng-model="pop.merge_invoice">
                  <span>
                    <i class="handle"></i>
                  </span>
                </div>
              </label>
            </div>
			</div>


          </div>
          <!--<div class="row" ng-if="pop.state_data.page == 'ViewOrders'">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <h5>Picklist ID: <b>{{pop.model_data.picklist_id}}</b></h5>
              <input type="hidden" value="{{pop.model_data.single_order}}" name="single_order">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-if="pop.permissions.scan_picklist_option == 'scan_label'">
              <div class="form-group">
                <label class="control-label">Scan Label</label>
                <textarea rows="2" class="form-control" cols="27" ng-model="pop.model_data.scan_label" ng-keydown="pop.label_scan($event, pop.model_data.scan_label)"></textarea>
              </div>
            </div>
          </div>-->
          <div class="row"><!-- ng-if="pop.state_data.page == 'PullConfirmation'">-->
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label">Picklist ID</label>
                <input class="form-control" type="text" value="{{pop.model_data.picklist_id}}" disabled>
                <input type="hidden" value="{{pop.model_data.single_order}}" name="single_order">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-show="pop.model_data.single_order!='' &&
              pop.model_data.data && pop.model_data.data[0].original_order_id">
              <div class="form-group">
                <label class="control-label">Order ID</label>
                <input class="form-control" type="text" ng-model="pop.model_data.data[0].original_order_id" disabled>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-show="pop.model_data.single_order!='' &&
              pop.model_data.data && pop.model_data.data[0].customer_name">
              <div class="form-group">
                <label class="control-label">Customer Name</label>
                <input class="form-control" type="text" ng-model="pop.model_data.data[0].customer_name" disabled>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-if="pop.model_data.single_order!='' &&
              pop.model_data.data && pop.model_data.data[0].customer_address && pop.permissions.picklist_display_address">
              <div class="form-group">
                <label class="control-label">Customer Address</label>
                <textarea rows="4" class="form-control" cols="27" ng-model="pop.model_data.data[0].customer_address" disabled></textarea>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-if="pop.permissions.scan_picklist_option == 'scan_sku'">
              <div class="form-group">
                <label class="control-label">Scan SKU</label>
                <textarea rows="2" class="form-control" cols="27" ng-model="pop.model_data.scan_sku" ng-keydown="pop.sku_scan($event, pop.model_data.scan_sku)" attr-name="sku"></textarea>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-if="pop.permissions.scan_picklist_option == 'scan_sku_location'">
              <div class="form-group">
                <label class="control-label">Scan Location</label>
                <textarea rows="2" class="form-control" cols="27" ng-model="pop.model_data.scan_location" ng-keydown="pop.check_location($event, pop.model_data.scan_location)" attr-name="location"></textarea>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-if="pop.permissions.scan_picklist_option == 'scan_sku_location'">
              <div class="form-group">
                <label class="control-label">Scan SKU</label>
                <textarea rows="2" class="form-control" cols="27" ng-model="pop.model_data.scan_sku" ng-keydown="pop.check_sku($event, pop.model_data.scan_sku)" attr-name="sku"></textarea>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-if="pop.permissions.scan_picklist_option == 'scan_sku_location'">
              <p ng-if="pop.sug_sku">Suggested SKU: {{pop.sug_sku}}</p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6" ng-if="pop.permissions.scan_picklist_option == 'scan_label'">
              <div class="form-group">
                <label class="control-label">Scan Label</label>
                <textarea rows="2" class="form-control" cols="27" ng-model="pop.model_data.scan_label" ng-keydown="pop.label_scan($event, pop.model_data.scan_label)"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row over-x">
            <table class="table mw85">
              <thead>
                <tr>
                  <th ng-if="pop.permissions.show_image" style="width: 50px;"> Image </th>
                  <th ng-if="pop.model_data.order_status == 'open'">Order ID</th>
                  <th ng-if="pop.model_data.data[0].is_combo_picklist && pop.model_data.order_status == 'open'">Combo SKU</th>
                  <th> WMS Code </th>
                  <th> Title </th>
                  <th>Channel</th>
                  <!--<th> Zone </th>-->
                  <th class="w12"> Location </th>
                  <th ng-if ="pop.industry_type=='FMCG'">Batch No</th>
                  <th ng-if ="pop.industry_type=='FMCG'">MRP</th>
                  <th class="w10" ng-if="pop.permissions.pallet_switch"> Pallet Code </th>
                  <th class="w10"> Reserved Quantity </th>
                  <th class="w10"> Picked Quantity </th>
                  <th ng-if="pop.permissions.scan_picklist_option == 'scan_serial'"> Serial Number </th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="data in pop.model_data.data">
                <tr class="field" ng-repeat="record in data.sub_data">
                  <input ng-if="pop.model_data.order_status == 'batch_open'" type="hidden" name="order_id_{{data.id}}" value="">
                  <input ng-if="pop.model_data.order_status == 'open'" type="hidden" name="order_id_{{data.id}}" value="">
                  <input type="hidden" name="stock_id_{{data.id}}" value="{{data.stock_id}}">
                  <input type="hidden" name="orig_loc_{{data.id}}" value="{{record.orig_location}}">
                  <input type="hidden" name="orig_wms_{{data.id}}" value="{{data.wms_code}}">
                  <input type="hidden" name="picklist_number" value="{{data.picklist_number}}">
                  <input type="hidden" name="labels_{{data.id}}" value="{{record.labels.join(',')}}">
                  <input type="hidden" name="picklist_status_{{data.id}}" value="{{pop.model_data.order_status}}">
                  <input type="hidden" name="wms_code" value="{{pop.model_data.order_status}}">
                  <td ng-if="pop.permissions.show_image"><img ng-src="{{pop.service.check_image_url(data.image)}}" style="width: 30px;height: 50px;"></td>
                  <td ng-if="pop.model_data.order_status == 'open'"><input ng-model="data.order_no"  class="form-control" type="text" readonly></td>
                  <td ng-if="pop.model_data.data[0].is_combo_picklist && pop.model_data.order_status == 'open'"><input name="combo_sku_{{data.id}}" ng-init="data.combo_sku = data.parent_sku_code" ng-model="data.combo_sku"  class="form-control" type="text" value="{{data.combo_sku}}" title="{{data.combo_sku}}" size="35" readonly></td>
                  <td><input name="wms_code_{{data.id}}" ng-model="data.wms_code" ng-init="record.wms_code = data.wms_code;record.parent_sku_code=data.parent_sku_code" class="form-control" type="text" title="data.wms_code" size="35" readonly></td>
                  <td><input name="title_{{data.id}}" ng-model="data.title" class="form-control" title="{{data.title}}" type="text" readonly></td>
                  <td><input ng-model="data.marketplace" class="form-control" type="text" readonly></td>
                  <!--<td><input name="zone_{{data.id}}" ng-model="record.zone" class="form-control" type="text"></td>-->
                  <td><input name="location_{{data.id}}" ng-model="record.location" class="form-control" type="text" ng-blur="pop.checkCapacity($index, data, 'location', $event);"></td>
                  <td ng-if="pop.industry_type=='FMCG'"><input ng-model="data.batchno" class="form-control" type="text" readonly></td>
                  <td ng-if="pop.industry_type=='FMCG'"><input ng-model="data.mrp" class="form-control" type="text" readonly></td>
                  <td ng-if="pop.permissions.pallet_switch"><input ng-if="data.load_unit_handle == 'pallet'" ng-model="record.pallet_code" class="form-control" type="text" ng-blur="pop.checkCapacity($index, data, 'pallet_code', $event);"></td>
                  <td><input name="reserved_quantity_{{data.id}}" ng-model="data.reserved_quantity" class="form-control" type="text" readonly></td>
                  <td><input name="picked_quantity_{{data.id}}" ng-model="record.picked_quantity" class="form-control" type="text" ng-change="pop.count_sku_quantity();pop.cal_quantity(record, data)" ng-class="service.get_decimal_perm()" ng-readonly = "pop.permissions.scan_picklist_option != 'scan_sku_location' && pop.permissions.scan_picklist_option != 'scan_sku' && pop.permissions.scan_picklist_option != 'scan_none'" ng-style="(pop.validate_skus[data.order_id][data.wms_code] == data.wms_code) ? pop.qty_validation : ''"></td>
                  <td ng-if="pop.permissions.scan_picklist_option == 'scan_serial'"><textarea class="form-control" name="imei_{{data.id}}" rows="1" ng-model="record.scan" ng-keydown="pop.serial_scan($event,record.scan, data, record)"></textarea></td>
                  <td style="width: 20px;padding-left: 10px;padding-top: 15px;"><i ng-click="pop.update_data($index, data, $last)" ng-class="pop.service.isLast($last)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--<div class="row" ng-if="pop.state_data.page != 'PullConfirmation'">
            <div class="col-md-12">
              <button type="button" class="btn btn-success pull-right" ng-click="pop.print_barcodes(pop.model_data.picklist_id)">Print Barcodes</button>
            </div>
          </div>-->
          <div class="row" ng-hide="pop.permissions.user_type == 'warehouse' || pop.permissions.user_type == 'distributor'"><!-- ng-if="pop.state_data.page == 'PullConfirmation'">-->
            <div class="col-md-12">
              <button type="button" class="btn btn-danger pull-right" ng-click="pop.cancel_picklist(pop.model_data.picklist_id)">Cancel Picklist</button>
              <button type="button" class="btn btn-success pull-right mr10" ng-click="pop.update_picklist(pop.model_data.picklist_id)">Update Picklist</button>
              <button type="button" class="btn btn-success pull-right mr10" ng-click="pop.print_barcodes(pop.model_data.picklist_id)">Print Barcodes</button>
            </div>
          </div>
          <div class="row insert-status"><h4 align="center">{{pop.message}}</h4></div>
        </div>
        <div class="modal-footer">
          <div class="">
            <button type="button" class="btn pop pop-green pull-left col-md-3 col-sm-4 col-xs-12" ng-click="pop.print_excel(pop.model_data.picklist_id)">Print to Excel</button>
            <div class="col-md-3 col-sm-1 col-xs-0"></div>
            <button type="button" class="btn pop pop-normal col-md-3 col-sm-4 col-xs-12" ng-click="pop.print_pdf(pop.model_data.picklist_id)">Print Picklist</button>
            <button type="button" class="btn pop pop-green col-md-3 col-sm-3 col-xs-12" style="margin-left:0px;" ng-click="pop.picklist_confirmation()">Confirm</button>
          </div>
        </div>
      </div>
  </form>
</div>
