<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <form name="custom_form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate" id="create_form">
  <div class="modal-dialog model-custom modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">CREATE CUSTOM SKU</h4>
      </div>
      <!-- body-->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label"> Template * </label>
              <input type="text" autocomplete="off" ng-model="showCase.pop_data.name" name="template" placeholder="Search Template" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_template_names?')" typeahead-loading="loadingLocations" class="form-control" typeahead-on-select="showCase.getTemplateData(showCase.pop_data, $item);" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label"> Brands </label>
              <select class="form-control" ng-model="showCase.pop_data.brand" name="brand" ng-change="showCase.getCategoriesList(showCase.pop_data.name, showCase.pop_data.brand)">
                <option value="ALL">All</option>
                <option ng-repeat="type in showCase.pop_data.brands" value="{{type}}">{{type}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label"> Select Size Name * </label>
              <select class="form-control" ng-model="showCase.pop_data.size_name" name="size_name" ng-change="showCase.changeSizes(showCase.pop_data.size_name)">
                <option ng-repeat="name in showCase.pop_data.size_names" ng-select="showCase.pop_data.size_name == name" value="{{name}}">{{name}}</option>
              </select>
            </div>
          </div>
	    </div>
        <div class="row" ng-if="showCase.custom_data.cats.length > 0"><hr></div>

        <div class="tag-display row mt10" ng-if="showCase.custom_data.cats.length > 0">
          <div class="col-md-1 col-sm-1 col-xs-12">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-12">
            <a ng-repeat="cate in showCase.custom_data.cats" class="cat-tags" ng-class="(showCase.selectedCat == $index)? 'style_name': '';" ng-click="showCase.getCustomStyles(cate, $index);" href="">{{cate}}</a>
          </div>
        </div>
        <div class="row" style="padding: 0px 30px;">
          <div ng-if="showCase.pop_data.style_data.length > 0">
            <slick lazy-load='ondemand' slides-to-show=4 slides-to-scroll=4 class="slider lazy" infinite="false">
              <div ng-repeat="item in showCase.pop_data.style_data" style="padding:5px" ng-click="showCase.addSKU(item)">
                <div class="image" style="width:100%;margin-right:0px;cursor: pointer">
                  <img data-lazy="{{showCase.service.check_image_url(item.image_url)}}" style="width:100%"/>
                  <div style="text-align: center;">
                    <span class="style_name" title="jean101">{{item.sku_class}}</span><br>
                    <span class="style_name" style="font-size: 14px">{{ showCase.service.price_format(item.variants[0].price)}}</span>
                    <p class="style_name" style="font-size: 12px;" title="jean101">{{ item.variants[0].style_name }}</p>
                    <span style="font-size: 14px; padding:2px 15px; font-weight: 500; background: #ccc;">Stock: {{ item.style_quantity }}</span><br>
                    <span style="font-size: 20px;">&#8377; {{ item.variants[0].mrp }}</span><br>
                  </div>
                </div>
              </div>
            </slick>
          </div>
          <div ng-if="showCase.custom_styles_loading">
            <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
          </div>
        </div>
        <div class="row"><hr></div>
        <div class="row" ng-if="showCase.pop_data.sizes.length > 0">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Style</th>
                  <th ng-repeat="hd in showCase.pop_data.sizes">{{hd}}</th>
                  <th>Total</th>
                  <th>Remarks</th>
                  <th class="plus"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="sku in showCase.custom_data.sku_data">
                  <td>{{sku.name}}</td>
                  <td ng-repeat="size in sku.sizes">
                    <input ng-if="sku.av_sizes.indexOf(size.name) != -1" type="text" class="form-control" ng-class="service.get_decimal_perm()" ng-model="size.value" ng-change="showCase.calTotal(sku, size.value)">
                  </td>
                  <td><input type="text" readonly class="form-control" ng-class="service.get_decimal_perm()" value="{{sku.total}}"></td>
                  <td><input type="text" class="form-control" ng-model="sku.remarks"></td>
                  <td><i style="font-size: 20px;cursor: pointer;margin-left: -15px;" ng-click="showCase.removeSKU($index)" class="fa fa-minus-square-o"></i></td>
                </tr>
              </tbody>
            </table>
            <input type="hidden" name="style_data" value="{{ showCase.custom_data.sku_data}}">
          </div>
        </div>
        <div class="row"><hr></div>
     	<div class="row">
           <div class="col-md-8">
             <h4>Specifications:</h4>
      	     <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="attr in showCase.pop_data.attributes">
               <div class="form-group">
                 <input type="hidden" name="field_name" value="{{attr.attribute_name}}">
                 <label class="control-label">{{attr.attribute_name}}</label>
                 <input type="text" name="field_value" class="form-control">
               </div>
             </div>
             <div class="col-md-12 col-sm-12 col-xs-12">
               <hr>
               <h4>Images Upload:</h4>
               <div class="col-md-6 col-sm-6 col-xs-12">
                 <div class="form-group">
                   <input type="file" id="image-upload" name="files" image-upload multiple="">
                 </div>
               </div>
             </div>
             <!--<div class="col-md-12 col-sm-12 col-xs-12" ng-show="showCase.pop_data.size_name">
               <hr>
               <h4>Sizes:</h4>
               <table class="table table-stk">
                 <thead>
                   <tr>
                     <th>Size</th>
                     <th>Quantity</th>
                   <tr>
                 </thead>
                 <tbody>
                   <tr ng-repeat="size in showCase.pop_data.list">
                     <td>{{size.name}}
                       <input type="hidden" name="sku_size" value="{{size.name}}">
                     </td><td><input type="text" integer-number  class="form-control" ng-change="showCase.check_quantity(showCase.pop_data.list)" name="quantity" ng-model="size.quantity"></td>
                   </tr>
                 </tbody>
               </table>
             </div>-->
           </div>
           <div class="col-md-4">
             <img style="width: 100%;border-radius: 5px;box-shadow: 0px 0px 11px 1px grey;margin-bottom: 10px" ng-src="{{showCase.service.check_image_url(showCase.image)}}" ng-show="showCase.image"></img>
             <div class="form-group">
               <label class="control-label">Unit Price(INR):</label>
               <input type="text" name="unit_price" class="form-control" decimal-number placeholder="Enter Unit Price" ng-model="showCase.pop_data.unit_price" required>
             </div>
             <div class="form-group">
               <div class="checkbox">
                 <label>
                   <input type="checkbox" ng-model="showCase.pop_data.printing"> Printing
                 </label>
               </div>
             </div>
             <div class="form-group" ng-if="showCase.pop_data.printing">
               <label class="control-label"> Printing Vendors </label>
               <select class="form-control" ng-model="showCase.pop_data.printing_vendor" name="printing_vendor">
                 <option value="">None</option>
                 <option ng-repeat="(id, vendor) in showCase.vendors" value="{{id}}">{{vendor}}</option>
               </select>
             </div>
             <div class="form-group">
               <div class="checkbox">
                 <label>
                   <input type="checkbox" ng-model="showCase.pop_data.embroid"> Embroidery
                 </label>
               </div>
             </div>
             <div class="form-group" ng-if="showCase.pop_data.embroid">
               <label class="control-label"> Embroidery Vendors </label>
               <select class="form-control" ng-model="showCase.pop_data.embroidery_name" name="embroidery_name">
                 <option value="">None</option>
                 <option ng-repeat="(id, vendor) in showCase.vendors" value="{{id}}">{{vendor}}</option>
               </select>
             </div>
             <div class="form-group">
               <div class="checkbox">
                 <label>
                   <input type="checkbox" ng-model="showCase.pop_data.product_unit_display" ng-init="showCase.pop_data.product_unit_display = true"> Production Unit
                 </label>
               </div>
             </div>
             <div class="form-group" ng-if="showCase.pop_data.product_unit_display">
               <label class="control-label"> Production Unit Vendor </label>
               <select class="form-control" ng-model="showCase.pop_data.product_unit" name="product_unit">
                 <option value="">None</option>
                 <option ng-repeat="(id, vendor) in showCase.vendors" value="{{id}}">{{vendor}}</option>
               </select>
             </div>
           </div>
         </div>
        <div ng-include="'views/common/msg.html'"></div>
      </div>
      <!-- body end-->
      <div class="modal-footer">
        <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
        <button type="submit" ng-disabled="showCase.pop_btn" class="btn pop pop-green" ng-click="showCase.add_custom_sku(custom_form)">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  </form>
  <!-- /.modal-dialog -->
</div>

