<style type="text/css">
  .modal-content {
    width: 1100px;
  }
  .re-textbox-width{
    width: 60px
  }
</style>
<div id="page-pop">
  <form name="form" role="form" ui-jq="validate" ui-options="pop.validationOpt">
    <!-- <div class="model-custom" style="width:1100px"> -->
    <!-- <div class="modal-dialog model-custom modal-lgi modal-size" ng-style="pop.extra_width"> -->
    <div class="model-custom">
      <div ng-include="'views/common/loader.html'"></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="pop.ok()"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myLargeModalLabel">Edit Invoice</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="order_id" ng-model="pop.model_data.order_id" value="{{pop.model_data.order_id}}">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label"> Order Reference </label>
              <input name="order_reference" ng-model="pop.model_data.order_reference"  class="form-control" type="text">
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label">Order Reference Date</label>
              <input name="order_reference_date" ui-jq="datepicker" ng-model="pop.model_data.order_reference_date_field" class="form-control stk-readonly" type="text" data-date-today-highlight="true" data-date-autoclose="true" readonly>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label">Invoice Date</label>
              <input name="invoice_date" ui-jq="datepicker" ng-model="pop.model_data.inv_date" class="form-control stk-readonly" type="text" data-date-today-highlight="true" data-date-autoclose="true" readonly>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="form-group" ng-if="pop.permissions.increment_invoice && pop.model_data.temp_sequence_number">
              <label class="control-label">Invoice Number</label>
              <input name="invoice_number" ng-model="pop.model_data.sequence_number" ng-if="pop.permissions.multi_warehouse" class="form-control" type="text" ng-required="true" decimal-number>
              <input name="invoice_number" ng-model="pop.model_data.sequence_number" ng-if="!pop.permissions.multi_warehouse" class="form-control" type="text" ng-required="true" decimal-number readonly>
              <input name="marketplace" ng-model="pop.model_data.marketplace" value="{{pop.model_data.marketplace}}" class="form-control" type="hidden">
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label">Ship To Address</label>
              <textarea rows="4" class="form-control" cols="27" name="ship_to" ng-model="pop.model_data.consignee"></textarea>
            </div>
          </div>
          </hr>
        </div>
<div class="row no-margin">
  <hr>
  <table class="table table-bordered bl br cal-table">
    <thead>
      <!-- <tr class="rm-padding"> -->
        <th><center>SKU Code</center></th>
        <th><center>HSN</center></th>
        <th><center>Description</center></th>
        <th><center>Unit Rate</center></th>
        <!--<th ng-if="permissions.show_mrp">MRP</center></th>-->
        <th><center>Qty</center></th>
        <th><center>Base Price</center></th>
        <th><center>Disc</center></th>
        <th><center>Taxable Value</center></th>
        <th><center>CGST</center></th>
        <th><center>SGST</center></th>
        <th><center>IGST</center></th>
        <th><center>Total</center></th>
        <th  class="plus"></th>
      <!-- </tr> -->
    </thead>
    <tbody>
      <tr class="rm-padding rm-brdr text-right" ng-repeat="record in pop.model_data.data">
        <td style="text-align: left;">
            <input type="text" autocomplete="off" name="sku_id" ng-if="pop.parent_user" class="form-control" placeholder="Search WMS Code"
            typeahead="address.wms_code+' : '+address.sku_desc for address in pop.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="record.sku_code" typeahead-on-select="pop.get_sku_data(record, $item, $index)">
            <input type="text" autocomplete="off" name="sku_id" ng-if="!pop.parent_user" readonly class="form-control" placeholder="Search WMS Code"
            typeahead="address.wms_code+' : '+address.sku_desc for address in pop.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="record.sku_code" typeahead-on-select="pop.get_sku_data(record, $item, $index)">
            <!--{{record.sku_code}}--></td>
        <td style="text-align: left;">{{record.hsn_code}}</td>
        <td style="text-align: left;">
            <input type="text" class="form-control" ng-if="pop.parent_user"  ng-model="record.title" name="title">
            <input type="text" class="form-control" ng-if="!pop.parent_user" readonly ng-model="record.title" name="title">

        </td>
        <td>
          <input type="hidden" name="id" value="{{record.id}}">
          <input type="text" name="unit_price" ng-if="pop.parent_user" ng-readonly="pop.priceband_sync" class="form-control" ng-model="record.unit_price" style="padding: 5px 5px;height: 34px;width: 60px" ng-change="pop.changeUnitPrice(record)" decimal-number required>
          <input type="text" name="unit_price" ng-if="!pop.parent_user"  ng-readonly="pop.priceband_sync || show_tab('multi_warehouse') == False" class="form-control" ng-model="record.unit_price" style="padding: 5px 5px;height: 34px;width: 60px" ng-change="pop.changeUnitPrice(record)" decimal-number required>

        </td>
        <td>
            <input type="text" name="quantity" class="form-control" ng-if="pop.parent_user"  ng-model="record.quantity" ng-class="pop.service.get_decimal_perm()"
            ng-change="pop.change_quantity(record)" style="width: 50px" ng-readonly="pop.model_data.blind_order && pop.permissions.use_imei">

            <input type="text" name="quantity" class="form-control"  ng-if = "!pop.parent_user"  ng-model="record.quantity" ng-class="pop.service.get_decimal_perm()"
            ng-change="pop.change_quantity(record)" style="width: 50px" ng-readonly="(pop.model_data.blind_order && pop.permissions.use_imei) || !pop.parent_user ">
        </td>
        <td>{{record.base_price | number:2}}</td>
        <td class="text-right">{{record.discount | number:2}}<br><span class="tax-percentage">@{{record.discount_percentage}}%</span></td>
        <td> {{record.amt | number:2}} </td>
        <td class="text-right">
          <input type="text" name="cgst_tax" ng-if="pop.parent_user" ng-model="record.taxes.cgst_tax" value="{{record.taxes.cgst_tax}}" ng-blur="pop.gst_calculate(record)" class="form-control re-textbox-width">
          <input type="text" name="cgst_tax"  ng-if="!pop.parent_user" readonly ng-model="record.taxes.cgst_tax" value="{{record.taxes.cgst_tax}}" ng-blur="pop.gst_calculate(record)" class="form-control re-textbox-width">

          <!-- {{record.taxes.cgst_amt | number:2}} --><br><span class="tax-percentage">{{record.taxes.cgst_tax}}%</span></td>
        <td class="text-right">
          <input type="text" name="sgst_tax" ng-if="pop.parent_user"  ng-model="record.taxes.sgst_tax" value="{{record.taxes.sgst_tax}}" ng-blur="pop.gst_calculate(record)" class="form-control re-textbox-width">
          <input type="text" name="sgst_tax" ng-if="!pop.parent_user" readonly ng-model="record.taxes.sgst_tax" value="{{record.taxes.sgst_tax}}" ng-blur="pop.gst_calculate(record)" class="form-control re-textbox-width">

          <!-- {{record.taxes.sgst_amt | number:2}} --><br><span class="tax-percentage">{{record.taxes.sgst_tax}}%</span></td>
        <td class="text-right">
          <input type="text" name="igst_tax"  ng-if="pop.parent_user" ng-model="record.taxes.igst_tax" value="{{record.taxes.igst_tax}}" ng-blur="pop.gst_calculate(record)" class="form-control re-textbox-width">
          <input type="text" name="igst_tax" ng-if="!pop.parent_user" readonly ng-model="record.taxes.igst_tax" value="{{record.taxes.igst_tax}}" ng-blur="pop.gst_calculate(record)" class="form-control re-textbox-width">

          <!-- {{record.taxes.igst_amt | number:2}} --><br><span class="tax-percentage">{{record.taxes.igst_tax}}%</span></td>
        <!-- <td ng-init="pop.gst_calculate(record)"> -->
        <td>
          {{record.invoice_amount | number:2}}
          <input type="hidden" name="invoice_amount" value="{{record.invoice_amount | number:2}}" class="form-control">
        </td>
        <td ng-if ="pop.parent_user"><i style="font-size: 20px;padding-top: 7px;cursor: pointer;"
            ng-click="pop.update_data($index, record, $last)" ng-class="pop.isLast($last)"></i>
        </td>
        <input name="customer_id" value="{{pop.model_data.customer_id}}" ng-model="pop.model_data.customer_id" class="form-control" type="hidden">
      </tr>
    </tbody>
  </table>
</div>

  <div class="row mr10 ml10 mr10">
    <div class="col-md-12">
      <a href="javascript:;" class="btn btn-success btn-xs" ng-click="pop.model_data.order_charges.push({charge_id: '', charge_name: '', charge_amount: '',tax_percent:'',charge_tax_value:'',}); pop.model_data.default_charge()">Add Other Charges(+)</a>
    </div>

    <div class="col-md-12" ng-if="pop.model_data.flag">
      <div class="row mt20" ng-repeat="charge in pop.model_data.order_charges">
        <div class="col-md-3 col-sm-4 col-xs-6">
          Tax Name:
          <input type="text" class="form-control" placeholder="Enter Charge Name" ng-model="charge.charge_name" name="charge_name" required>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3">
          Amount :
          <input type="text" class="form-control" placeholder="Enter Amount" ng-model="charge.charge_amount"  decimal-number name="charge_amount" required>
          <input type="hidden" class="form-control" ng-model="charge.charge_id" name="charge_id">
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3">
          Tax Value:
          <input type="text" class="form-control" placeholder="Tax Value" ng-model="charge.charge_tax_value"  decimal-number name="charge_tax_value">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2">
          <i style="font-size: 20px;padding-top: 7px;cursor: pointer;" class="fa fa-minus-square-o" ng-click="pop.model_data.order_charges.splice($index, 1)"></i>
        </div>

      </div>
    </div>

    <div class="col-md-12" ng-if="pop.model_data.order_charges && !pop.model_data.flag">
      <div class="row mt20" ng-repeat="charge in pop.model_data.order_charges">
        <div class="col-md-3 col-sm-4 col-xs-6">
          Tax Name:
          <input type="text" class="form-control" placeholder="Enter Charge Name" ng-model="charge.charge_name" name="charge_name" value="{{charge.charge_name}}" required>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3">
          Amount:
          <input type="text" class="form-control" placeholder="Enter Amount" ng-model="charge.charge_amount"  decimal-number name="charge_amount" value="{{charge.charge_amount}}" required>
          <input type="hidden" class="form-control" ng-model="charge.charge_id" name="charge_id" value="{{charge.id}}">
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3">
          Tax Value:
          <input type="text" class="form-control" placeholder="Tax Value" ng-model="charge.charge_tax_value"  decimal-number name="charge_tax_value">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2">
          <i style="font-size: 20px;padding-top: 7px;cursor: pointer;" class="fa fa-minus-square-o" ng-click="pop.model_data.order_charges.splice($index, 1);pop.delete_charge(charge.id);"></i>
        </div>
      </div>
    </div>

  </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn pop pop-green pull-right" style="margin-left:0px;" ng-disabled="pop.process" ng-click="pop.save(form)">Save</button>
      </div>
    </div>
  </form>
</div>
