  <div class="panel">
    <div class="panel-header">
      <div ng-include="'views/common/excel.html'"></div>
    </div>
    <div class="panel-body">
      <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="table custom-table table-condensed datatable no_click_tb"></table>
      <div ui-view></div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-danger pull-right" ng-click="showCase.generate_cycle()">Generate Cycle Count</button>
    </div>
  </div>
