  <div class="panel">
    <div class="panel-header">
      <button type="button" class="btn btn-primary pull-right" ng-click="showCase.service.download_excel(showCase.dtColumns,showCase.dtInstance.DataTable.context[0].ajax.data)" ng-disabled="showCase.service.print_enable">Download Excel</button>
      </div>
    <div class="panel-body">
      <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="table custom-table table-condensed datatable no_click_tb"></table>
      <div ui-view></div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-danger pull-right" ng-click="showCase.generate_cycle()" ng-disabled="showCase.bt_disable">Generate Cycle Count</button>
    </div>
  </div>
