@-webkit-keyframes scaleUp {
  80% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
}
@-moz-keyframes scaleUp {
  80% {
    opacity: 0;
    -moz-transform: scale(2);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(2);
  }
}
@keyframes scaleUp {
  80% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
.creative-button {
  /* General button style (reset) */
}
.creative-button.cbtn {
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 80px;
  display: inline-block;
  margin: 12px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  /* Button 7b */
}
.creative-button.cbtn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.creative-button.cbtn.btn-7 {
  background: #529ecc;
  color: #fff;
  border-radius: 2px;
  /*box-shadow: 0 5px #dc7801;*/
}
.creative-button.cbtn .btn-7b {
  overflow: hidden;
}
.creative-button.cbtn .btn-7b:before {
  position: absolute;
  left: 0;
  width: 40%;
  font-size: 160%;
  line-height: 0.8;
  color: #0a833d;
}
.creative-button.cbtn .btn-7b.btn-activated:before {
  -webkit-animation: scaleUp 0.5s;
  -moz-animation: scaleUp 0.5s;
  animation: scaleUp 0.5s;
}
div.form-container {
  z-index: 4;
  zoom: 1;
  width: 300px;
  height: 180px;
  left: 50%;
  top: 50%;
  margin-left: -128px;
  margin-top: -120px;
  position: absolute;
  filter: alpha(opacity=100);
  opacity: 1;
}
div.form-container.out {
  filter: alpha(opacity=0);
  opacity: 0;
}
div.form-container div.form-group {
  margin-bottom: 0px;
}
div.form-container div.form-group input {
  height: 44px;
  display: block;
  border-radius: 4px;
}
div.form-container div.title-container {
  text-align: center;
  color: white;
  margin-bottom: 16px;
}
div.form-container div.title-container h3 {
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  color: #f29e0d;
  text-shadow: 0px 2px #603500;
}
div.form-container div.title-container p {
  margin: 10px 0px 0px 0px;
  font-size: 16px;
}
div.form-container div.title-container img.logo {
  width: 100%;
}
div.form-container form.login-form [type="submit"] {
  width: 100%;
}
div.form-container form.login-form .form-control {
  font-size: 16px;
}
footer {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  background-image: -webkit-linear-gradient(top, transparent 0%, #000000 100%);
  background-image: -o-linear-gradient(top, transparent 0%, #000000 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #000000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff000000', GradientType=0);
  z-index: 999999;
}
footer span {
  color: white;
}
footer ul {
  width: 100%;
}
footer ul > li a {
  color: white !important;
  font-weight: bold;
  background-color: transparent !important;
}
footer > ul.navbar-nav > li > a:hover {
  background-color: transparent;
  color: white;
}
div.bg-cover {
  z-index: 3;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.1;
}
div.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
