.tt-dropdown-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 2px;
        padding: 2px 0;
        width: 120%;
}

.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 50px;
}
.typeahead, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-hint {
	color: #999999;
        visibility:hidden;
}
.tt-suggestion {
	font-size: 15px;
	line-height: 20px;
	padding: 3px 12px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

#cycleCount {

  border-bottom: 1px solid black;
}

.rm-blur:focus ,rm-blur:active{

  outline:0px !important;
}

.rm-blur {

  height: 30px;
}

table.dataTable thead th {

    padding: 5px 18px
}

input[type='number']{width:100px;}

@media print {
    #page_break {page-break-after: always;}
    tbody { font-size : 9px !important; }
}

tbody{font-size:9px !important;}

.label-info {
    background-color: #0072bc;
}

.back-order-jo-confirm, .back-order-rwo-confirm{
margin-right: 13px;
}

#stock-detail #sortingTable tr td{
    cursor: default;
}

.table td,.table th{
    text-align: center;
}

#border-div {
    border:1px solid grey; padding:50px;
}

.padding-none {
    padding: 0px;
}

.table-padding th, .table-padding td{
  padding-left: 25px;
}

.back-order-rm-btn {
  margin-top:20px
}

#print-excel {
    width: 6%;
    position: absolute;
    margin-left: 49%;
    z-index: 10;
}

#picklist #print-excel {
    margin-left: 0% !important;
    z-index: 10;

}

.table-align-center {
    text-align: center;
}

.back-order-btn{
    margin-left:1% !important;
}

.save-percentage, .save-prefix, .save-mail-alerts, .save-group {
    width: 23px !important;
    height: 22px !important;
}
.save-prefix {
    margin-left: 50px;
}


.online-input {
    width: 88% !important;
    height: 23px !important;
}

.invoice-prefix {
    width: 214% !important;
    height: 23px !important;
}

.fa-user {
    color: #fff;
}

.fa-group {
    color: #fff;
}

.btn-group > .btn:first-child {
  margin-left: 10px;
}


#scan_imei,#scan_sku,#scan_return_id,#scan_order, #scan-qc, #return_sku_code{
    height: 30px !important;
}

.select2{
        width: 100% !important;
    }

table.dataTable thead th, table.dataTable thead td {
   white-space: nowrap;
}

#reporttoggle .dataTables_filter {
display: none;
}

.sortBar{
    text-transform: uppercase;
    background-color: #eee;
    padding: 0 25px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
.filterBar{
    margin: 20px 0;
}

.filterBar input[type="text"]{
    margin: 0;
}

.block{float:left;line-height: 40px;}
.block.sku{width:10%;}
.block.quantity{width:20%;}
.block.price{width:45%}
.block.updated{width:20%;}
.block.status{width:10%;}
.block.save{width:10%;}

.sortBar .block.price{text-align: center;}

.block.catalog_image{width:10%;}
.block.catalog_sku{width:20%;}
.block.catalog_category{width:30%;}
.block.catalog_title{width:30%;}
.block.catalog_image img{width:90%;}


.block.order_id{width:15%;}
.block.order_sku{width:10%;}
.block.order_marketplace{width:10%;}
.block.order_quantity{width:10%;}
.block.order_name{width:30%;}
.block.order_date{width:20%;}

.block.price label{display: inline-block;margin-right: 10px;width: 165px;}

.block input[type='number']{width:100px;}
.sortBar{background-color: #eee; font-size: 14px;}


ul.productsList{list-style: none;margin: 0;}
ul.productsList > li{padding: 5px 25px;border-bottom: 1px solid #eee;font-size: 13px;}
ul.productsList > li:nth-child(even){background-color:#f9f9f9;}

.flipkart_more_link{
    margin: 0 8px;
}
.flipkart_more_section{
    display: none;
    margin: 0 0 0 20px;
    padding-left: 10px;
    border-left: 1px solid #aaa;
}
.flipkart_more_section input[type='number']{width:70px;}

.LoadingResults{
    padding: 36px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #999;
    font-weight: 700
}

.NoResults{
    padding: 36px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #999;
    font-weight: 700;
    display: none;
}


.moreInfo{
    display: none;
}
.moreInfo > div{
    border-top: 1px solid #eee;
    padding: 28px 0;
}
.moreInfo .pics{width: 40%;float:left;}
.moreInfo .data{width: 60%;float:left;}
.moreInfo .data .dataItem {margin:10px 0;}
.moreInfo .data .dataItem label{width: 20%; float: left;}
.moreInfo .data .dataItem span{width: 80%; float: left;}

.moreInfo .pics ul{padding:0 25px;}
.moreInfo .pics ul.imageList li {float:left;margin: 10px;list-style: none;}
.moreInfo .pics ul.imageList li img{width: 60px;border:1px solid #999;}


a.sortLink:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin: 0;
    height: 0;
    width: 0;
    content: " ";
    margin-left: 10px;
    margin-top: -10px;
    display: none;
}

a.sortLink.desc:after{
    display: inline-block;
    border-top: 5px solid #777;
}

a.sortLink.asc:after{
    display: inline-block;
    border-bottom: 5px solid #777;
}

li {
    list-style-type: None;
}

.sidebar ul ul li.active a{
    background-color: inherit !important;
    color: #08c;
}

.panel {
  border-radius: 3px;
  background-color: #fff;
  padding: 30px;
  border: 1px solid #d6d6d6;
  margin-bottom: 25px;
  border-top: 0px;
}

.panel-body {
  padding: 15px;
}

.control-label {
  padding-right: 5px;
}
ul.links-section {
  padding-left: 0px;
}

label {
  font-weight: inherit;
}

.form-horizontal .control-label {
  padding-top: 3px;
}

body {
  font-size: 12px;
}

.form-control {
  height: 28px;
}

.form-group .col-lg-11 {
  width: 94%;
}

.table {
  font-family: "Source Sans Pro", sans-serif;
  color: #656565;
}

button[type="get_input"] {
  width: 56px;
  padding: 12px;
  background-color: rgb(244, 67, 54);
  height: 56px;
  margin-top: 10px;
}

div.button_column {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

button[type="add_location"],
button[type="add_zone"],
button[type="get_input"] {
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  -o-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  position: relative;
}
button[type="add_location"] {
  width: 52px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(127, 0, 255);
  height: 52px;
  margin-top: 10px;
  opacity: 0;
}

button[type="get_input"] {
  width: 56px;
  padding: 12px;
  background-color: rgb(244, 67, 54);
  height: 56px;
  margin-top: 10px;
}

button[type="add_zone"] {
  width: 48px;
  border-radius: 50%;
  padding: 7px;
  background-color: rgb(255, 140, 0);
  height: 48px;
  opacity: 0;
}

button[type="get_input"] div.svg svg, button[type="add_loc"] div.svg svg, button[type="add_rack"] div.svg svg{
  max-width: 100%;
  max-height: 100%;
}

.modal-body {
  position: relative;
  padding: 31px;
  padding-bottom: 3em;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-bottom: 3px;
}

.insert-status {
  text-align: center;
  color: red;
}

.panel {
    border: 1px solid #cfcfcf;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 14px 10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

  padding-right: 3px;
}

label {
  padding-top: 6px;
}

.fa-pencil, .fa-pencil-square-o, .fa-plus {
  color: #fff;
}

#accordion .panel {
 padding: 0px;
}

div .fileupload {
  padding-top: 2em;
}

body a.close {
  color: black !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.top-padding {
  padding-top: 15px;
}

#menu-toggle {
  cursor: pointer;
  padding-left: 8px;
}

.right-float {
  float: right;
}

div [data-toggle=collapse], tr.locations, table.dataTable tbody tr {
  cursor: pointer;
}

.smallbox {
  width: 50px;
}

.mediumbox {
  width: 70px;
}

.panel#pull-confirmation, .panel#raise-po, .panel#received-items {
  border-top: 0px;
}

.progress {
  height: 15px;
  margin-bottom: 14px;
}

.display-none {
    display: none;
}

#up-resp {
    margin-top: 10px;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

td table {
  border: 1px solid #cfcfcf;
}

.dataTable {
  word-break: break-all;
}

.loading {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5)url("/static/img/loading1.gif") 50% 50% no-repeat;
z-index: 2000;
text-align: center;
color: white;
font-size: 22px;
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
}

#cycleCount_filter
    {
    margin-top: 30px;
    margin-right: -140px;
}

.space-adjust {
    padding-right:  10px;
}

#error_block {
    margin-top:11%;
    margin-left:30%;
}

#expression {
    position:relative;
    left:17%;
}

#msg2 {
    position:relative;
    left:3%;
}

.picklist-table > thead > tr > th, .picklist-table > tbody > tr > th, .picklist-table > tfoot > tr > th, .picklist-table > thead > tr > td, .picklist-table > tbody > tr > td, .picklist-table > tfoot > tr > td {
    padding: 1px;
}

.market-button > button {
    font-size: 11px !important;
}

.Enlarge {
position:relative;
}
.Enlarge span {
position:absolute;
left: -9999px;
    visibility: hidden;
    opacity: 0;-webkit-transition: opacity 0.5s ease;
-moz-transition: opacity 0.5s ease;
-ms-transition: opacity 0.5s ease;
-o-transition: opacity 0.5s ease;
transition: opacity 0.5s ease;
}
.Enlarge span img {
margin-bottom:5px;
}
div.Enlarge:hover{
z-index: 999;
cursor:pointer;
}
div.Enlarge:hover span{
    visibility: visible;
    opacity: 1;
position:absolute;
top: -80px;
left: 120px;
z-index: 999;
width:408px;
height:604px;
padding: 1px;
background:#eae9d4;
-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
box-shadow: 0 0 20px rgba(0,0,0, .75);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
}

border-radius.Enlarge {
position:fixed;
}

.fa-15px {
    font-size: 15px;
}

.padding-none {
    padding: 0px;
}

.online-input, .alerts-input, .invoice-prefix {
    width: 88%;
    height: 23px;
}

.save-prefix {
    margin-left: 50px;
}

.invoice-prefix {
    width: 214% !important;
    height: 23px !important;
}

#reporttoggle .form-control[readonly] {
  background-color: #fff;
}
.table td, .table th {
    text-align: center;
}

.info-header {
  margin-bottom: 0;
  background-color: #f6f6f6!important;
  min-height: 70px !important;
}

.select2 {
        width: 100% !important;
}

.info-body {
    border-top: 0;
}

.common-data {
      color: #555!important;
      width: 20%;
      padding: 10px;
      float: left;
}

.text-highlight {
    color: #0066c0;
}

.bootstrap-tagsinput {
  line-height: 18px;
}

.img-resize {
  width: 10%;
}

.image-align {
    padding-left: 25px;
    padding-top: 10px;
}

#mail_alerts {
    height: 26px;
}

.process-toggle{
  overflow: auto !important;
}

.price-color {
  color: #b12704!important;
}

.prod-timline .glyphicon {
  font-size: 16px;
}
.track-orders .block-container{
  border-radius: 0px;
}

.links-section li a{
  text-decoration: none;
}


#dashboard ul li a:hover{
  color: #0072BC !important;
}

#image-uploads ul li{
    list-style-type: disc !important;
}

#create-order .lcs_wrap{
    float: right;
}

.img-selected {
  opacity: 0.5;
}

#create-orders .lcs_wrap{
  margin-top: 5px;
}

.modal-body select {
  height: 31px;
}
.modal-body #grn-table textarea{
  height: 30px;
}

