<div class="page-layout" ng-controller="Notifications as notify">

  <div class='layout-header'>
    <div class="pull-left" ng-include="'views/common/title.html'"></div>
  </div>

  <div class="container notif_container">
    <div class="row mark_all">
      <div class="col-md-12">
        <div type="button" class="btn btn-success" ng-click="notify.mark_as_read('', true)">Mark All As Read</div>
      </div>
    </div>
    <div class="row" ng-repeat="notification in notify.notifications">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div ng-class="{'alert-common alert-unread': notification.is_read==0, 'alert-common alert-read': notification.is_read!=0,
                        'first_alert': $index==0}">
          <div class= "row">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class ="pull-left">
            <span class="nt-head">{{notification.message}}</span>
            <p>{{notification.creation_date}}</p>
          </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class ="pull-right">
                 <div  class="fa fa-check fa-2x"
                   ng-if="notification.is_read==0"
                   title="Mark As Read"
                   ng-click="notify.mark_as_read(notification.id, '')">
                 </div>
                 <div  class="fa fa-trash fa-2x"
                    ng-click="notify.delete_notification(notification.id)"
                    title="Delete">
                </div>
             </div>
          </div><!--col-->
        </div>
        </div>
      </div><!--col-->
    </div>
  </div>

</div>

<style>
  .container.notif_container {
    margin-bottom: 20px;
  }
  .alert-unread {
    background: #edf2fa;
  }
  .alert-read {
  }
  .btn{
    height:22px;
  	width:110px;
    padding-bottom: 20px;
  }
  .btn-success
  {
    height:22px;
    width:130px;
    padding-bottom: 25px;
  }
  .fa-check{
    padding-right: 10px;
  }
  .alert-common {
    min-height: 75px;
    padding: 16px 16px 16px 12px;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    font-size: 14px;
    line-height: 20px;
    color: #1d2129;
  }
  .first_alert {
    border-top: 1px solid #cfcfcf;
  }
  .nt-head {
    color: #1d2129;
    font-size: 15px;
  }
  .mark_all {
    margin: 20px 10px;
  }
  .mark_all .btn {
    float: right;
  }
</style>
