<div class="page-layout">
  <div class='layout-header'>
    <div class="pull-left" ng-include="'views/common/title.html'"></div>
  </div>
  <div class="layout-body">
    <tabset class="box-tab">
      <tab heading="Generate Cycle Count" ng-controller="CycleCountCtrl as showCase">
        <div class="panel">
          <div class="panel-header">
            <button type="button" class="btn btn-primary pull-right" ng-click="showCase.service.download_excel(showCase.dtColumns,showCase.dtInstance.DataTable.context[0].ajax.data)" ng-disabled="showCase.service.print_enable">Download Excel</button>
          </div>
          <div class="panel-body">
            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="table custom-table table-condensed datatable"></table>

            <div ui-view></div>
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-danger pull-right" ng-click="showCase.generate_cycle()" ng-disabled="showCase.bt_disable">Generate Cycle Count</button>
          </div>
        </div>
      </tab>
      <tab heading="Confirm Cycle Count" ng-controller="ConfirmCycleCountCtrl as showCase">
        <div class="panel">
          <div class="panel-header">
            <button type="button" class="btn btn-primary pull-right" ng-click="showCase.service.download_excel(showCase.dtColumns,showCase.dtInstance.DataTable.context[0].ajax.data)" ng-disabled="showCase.service.print_enable">Download Excel</button>
          </div>
          <div class="panel-body">
            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="table custom-table table-condensed datatable"></table>

            <div ui-view></div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

