<div ng-controller="StockSummaryCtrl as showCase">
  <div class="page-layout">
    <div class='layout-header' style="overflow: visible">
      <div class="pull-left" ng-include="'views/common/title.html'"></div>
      <div class="btn-group mr15 pull-right" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>Download
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="javascript:;" ng-click="showCase.excel()">General Format</a>
          </li>
          <li>
            <a href="javascript:;" ng-click="showCase.easyops_excel()">Custom Format-1</a>
          </li>
        </ul>
      </div> 
      <button type="button" class="btn btn-primary pull-right hide" ng-click="showCase.excel()">Download Excel</button>
    </div>
    <div class="layout-body">
      <div class="panel">
        <div class="panel-header">
          <p align="center" class="mt10 hide">Total Quantity: <span style="font-size: 18px">{{showCase.tb_data.totalQuantity}}</span></p>
        </div>
        <div class="panel-body" style="padding-left: 0px; padding-right: 0px">
        <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="table custom-table table-condensed datatable"></table>
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
