<div class="page-layout">
  <div class='layout-header'>
    <div class="pull-left" ng-include="'views/common/title.html'"></div>
  </div>
  <div class="layout-body">
    <tabset class="box-tab">
      <tab heading="Stock Summary">
        <div ng-include="'views/stockLocator/stock_summary/stock_summary.html'"></div>
      </tab>
      <tab heading="Plant SKU Summary">
        <div ng-include="'views/stockLocator/stock_summary/stock_summary_plant_sku.html'"></div>
      </tab>
      <tab heading="Plant Summary">
        <div ng-include="'views/stockLocator/stock_summary_plant.html'"></div>
      </tab>
    </tabset>
  </div>
</div>
