<div class="center-wrapper" data-ng-controller="forgotPasswordCtrl">
  <div class="center-content" style="background: url('images/2016-09-20.png') no-repeat center center fixed;background-repeat: no-repeat;background-size: cover;">
    <div class="row no-margin">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form class="form-layout" role="form">
          <div class="text-center mb15">
            <img ng-src="images/stockone_logo_white.png" style="width: 100%;">
          </div>
          <p class="text-center mb25" style="color:white;">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
          <div class="form-inputs"> <input autofocus class="form-control input-lg" placeholder="Email address" type="email"> </div>
          <button class="btn btn-success btn-lg btn-block" data-ng-click="forgot_password()" type="submit">Send Password Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>