<div class="eq-col">
  <div class="relative full-height">
    <div class="display-row">
      <div class="center-wrapper text-center">
        <div class="center-content">
          <div class="error-number">
            <i class="fa fa-warning show"></i>
          </div>
          <div class="mb15 mt15 bold">Permission Denied</div>
            <p class="small">You don't have permission to see this page.
              <br>Please Contact Admin
              <a href="mailto:support@stockone.in">support@stockone.in</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
