<div class="panel" ng-if="ViewShipmentCtrl" ng-controller="ViewShipmentCtrl as vm">
  <div class="panel-header" ng-if='vm.awb_ship_type' style="overflow: visible;">
    <div class="layout-sub-header">
	  <form name="form" role="form" ui-jq="validate" ui-options="vm.validationOpt" class="filters">
	    <div class="clearfix">
	      <div class="row">

	        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="form-group">
                <label class="control-label">Market Place</label>
                <select name="marketplace" ng-model="vm.market_place" class="form-control" ng-change="vm.get_courier_for_marketplace(vm.market_place)">
                  <option value="">All</option>
                  <option ng-repeat="market in vm.model_data.market_list" value="{{market}}" ng-selected="market == ''">{{market}}</option>
                </select>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="form-group">
                <label class="control-label">Courier Name</label>
                <select name="courier" ng-model="vm.courier_name" class="form-control">
                  <option value="">All</option>
                  <option ng-repeat="market in vm.model_data.courier_name" value="{{market}}" ng-selected="market == ''">{{market}}</option>
                </select>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label">Scan AWB</label>
                <input id='awb_no' type="text" autocomplete="off" name="awb_no" class="form-control" ng-model="vm.awb_no" ng-keydown="vm.scanAwb($event, vm.awb_no)" auto-focus placeholder="Scan AWB" required/>
              </div>
            </div>
	      </div>
	    </div>
	  </form>
	</div>
  </div>
  <div class="panel-body">
    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="table custom-table table-condensed datatable"></table>
    <div ui-view></div>
  </div>
  <div class="panel-footer hide">
    <button type="submit" class="btn btn-danger pull-right" ng-disabled="vm.bt_disable" ng-click="vm.confirm_shipment()">Confirm Shipment</button>
  </div>
</div>
