<div class="panel" ng-controller="CustomerInvoicesTabCtrl as showCase">
	<div class="panel-body">
		<div ng-if="showCase.display">
	  	<table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table custom-table table-condensed datatable no_click_tb" dt-instance="showCase.dtInstance"></table>
	  	<div ui-view></div>
	  </div>
	</div>
	<div class="panel-footer">
		<button type="button" class="btn btn-primary pull-left" ng-click="showCase.excel()" ng-disabled="showCase.apply_filters.download_load"><i class="fa fa-download"></i>  Download Excel</button>
		<button type="button" ng-if="showCase.user_type != 'distributor'" class="btn btn-primary pull-right" ng-disabled="showCase.bt_disable" ng-click="showCase.move_to('cancel_inv')">Cancel Invoice</button>
		<button type="button" ng-if="showCase.user_type != 'distributor'" class="btn btn-primary pull-right mr20" ng-disabled="showCase.bt_disable" ng-click="showCase.generate_invoice('edit')">Edit Invoice</button>
		<button type="button" ng-if="showCase.user_type != 'distributor'" class="btn btn-primary pull-right mr20" ng-disabled="showCase.bt_disable" ng-click="showCase.generate_invoice('generate')">Generate Invoice</button>
	</div>
</div>
