<link rel="stylesheet" href="styles/App/app.css">
<div class="app-body">
  <p class="hide">{{showCase.details}}</p>
  <div class="page-layout no-scroll create_red app_scroll" ng-controller="appCreateOrders as showCase">
    <div ng-if="showCase.pdfDownloading" style="position: fixed;z-index: 101;width: 100%;height: 100%;top: 0px;background: rgba(0, 0, 0, 0.5);padding-top: 125px;">
      <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
    </div>
    <div>
      <div class="layout-header" ng-if="$state.current.name != 'user.App.Products'" style="min-height: 19px;padding: 0px;position:relative">
        <div class="row">
        <div class="col-md-4 col-sm-4" style="margin-top:5px; color: #ed1c24">
          <div ng-if="!showCase.is_portal_lite">
            <span style="margin-top: 10px" ng-if="($state.current.name != 'user.App.Brands')">
              <a href="" ng-if="!(showCase.disable_brands)" ng-click="$state.go('user.App.Brands')"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
              <a href="" ng-if="!showCase.disable_categories && showCase.disable_brands" ng-click="$state.go('user.App.Categories')"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
            </span>
          </div>
          <div ng-if="showCase.is_portal_lite">
            <span style="margin-top: 10px" ng-if="($state.current.name != 'user.App.newStyle')">
              <a href="" ng-if="!(showCase.disable_brands)" ng-click="$state.go('user.App.newStyle')"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
              <a href="" ng-if="!showCase.disable_categories && showCase.disable_brands" ng-click="$state.go('user.App.newStyle')"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
            </span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6" ng-if="($state.current.name != 'user.App.Categories') && ($state.current.name != 'user.App.BrandCategorization') ">
          <div ng-include="'views/App/create_orders/company_name.html'"></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6" ng-if="!(showCase.is_portal_lite)">
          <span ng-if="$state.current.name == 'user.App.Brands' && permissions.user_type == 'customer'" style="float: right;font-style: italic;font-weight: 700;font-size: 22px;line-height: 39px;color: blue;opacity: 0;animation: blinking 1s linear infinite;margin-right:20px;cursor: pointer;font-family:Kaushan Script" ng-click="showCase.get_hot_release();">Hot Releases</span>
        </div>
        </div>
      </div>
      <div class="layout-body" style="background-color: white;">
        <div>
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>
