<div id="page-pop" style="display: block;" class="modal fade process-toggle in" id="location-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
  <form name="form" role="form" id="add-customer">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content model-custom">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">Invoice</h4>
        </div>
        <div class="modal-body print print-invoice" style="over-flow: hidden">

<div class="row col-md-12 hide">
  <h4 style="margin-bottom:2px" align="center">Tax Invoice</h4>
</div>
<div class="row col-md-12" style="margin-top: 0px;">
  <table class="table table-bordered bl br mb0" style="margin-bottom:0px">
    <tbody class="rm-padding">
      <tr>
        <td style="width: 60%;text-align:left" class="align-left">
          <div class="row">
            <div class="col-md-12">
              <span><b>{{showCase.pdf_data.company_name}}</b></span>
            </div>
            <div class="col-md-12">
              <span>{{showCase.pdf_data.company_address}}</span>
            </div>
            <div class="col-md-12">
              <span>{{showCase.pdf_data.email}}</span>
            </div>
            <div class="col-md-12">
              <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'adam_clothing'">
                <strong>VAT TIN NO:</strong>27621087850-V<br>
              </address>
              <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'adam_clothing'">
                <strong>CST TIN NO:</strong>27621087850-C<br>
              </address>
            </div> 
          </div>
        </td>
        <td rowspan="2" style="text-align:left">
          <strong>Invoice Number:</strong>{{showCase.pdf_data.invoice_no}}<br>
          <strong>Invoice Date:</strong>{{showCase.pdf_data.invoice_date}}<br>
          <strong>Order Number:</strong>{{showCase.pdf_data.order_id}}<br>
          <strong>Order Date:</strong>{{showCase.pdf_data.order_date}}<br>
        </td>
      </tr>
      <tr>
        <td style="width: 60%;text-align:left">
          <address class="no-margin">
                    <strong>To,</strong><br>
            <div ng-if = "showCase.pdf_data.marketplace == 'Offline'">
            <p style="margin-bottom:0px" ng-if= "showCase.pdf_data.customer_details[0].name == ''">{{showCase.pdf_data.marketplace}}</p>
            <p style="margin-bottom:0px" class="cust_details" ng-if="showCase.pdf_data.customer_details[0].name">
                &nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].name}}</p>
            <p style="margin-bottom:0px" class="cust_details" ng-if="showCase.pdf_data.customer_details[0].address">
                &nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].address}}</p>
            <p style="margin-bottom:0px" class="cust_details" ng-if="showCase.pdf_data.customer_details[0].tin_number">
                &nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].tin_number}}</p>
            <p style="margin-bottom:0px" class="cust_details" ng-if="showCase.pdf_data.customer_details[0].customer_id">
                &nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].customer_id}}</p>
            <p style="margin-bottom:0px" class="cust_details" ng-if="showCase.pdf_data.customer_details[0].email_id">
                &nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].email_id}}</p>
            </div>
            <div ng-if = "showCase.pdf_data.marketplace != 'Offline'">
                        {{showCase.pdf_data.marketplace}}<br>
            </div>
                </address>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered bl br" style="margin-bottom: 5px;">
    <thead>
      <tr class="rm-padding">
        <th><center>SKU Code</center></th>
        <th><center>Description</center></th>
        <th><center>Qty</center></th>
        <th ng-if="permissions.show_mrp">MRP(&#8377;)</center></th>
        <th><center>Rate</center></th>
        <th><center>Disc(&#8377;)</center></th>
        <th><center>VAT(%)</center></th>
        <th><center>Tax(&#8377;)</center></th>
        <th><center>Total(&#8377;)</center></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="record in showCase.pdf_data.data" class="rm-brdr">
        <td style="text-align: left;">
          {{record.sku_code}}
        </td>
        <td style="text-align: left;">
          {{record.title}}
        </td>
        <td>
          {{record.quantity}}
        </td>
        <td ng-if="permissions.show_mrp">{{record.mrp_price}}</td>
        <td>
          {{record.unit_price}}
        </td>
        <td>{{record.discount}}</td>
        <td>{{record.vat}}</td>
        <td>
          {{record.tax}}
        </td>
        <td>
          {{record.invoice_amount}}
        </td>
      </tr>
      <tr style="border-top: 1px solid rgba(128, 128, 128, 0.14)" class="rm-padding">
       <td colspan="2" style="text-align:left"><b>Total: &#8377;</b></td>
       <td>{{showCase.pdf_data.total_quantity}}</td>
       <td ng-if="permissions.show_mrp"></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td>{{showCase.pdf_data.total_invoice}}</td>
      </tr>
      <tr class="rm-padding" ng-if="showCase.pdf_data.order_charges">
        <td colspan='{{(permissions.show_mrp)?9: 8;}}' style="text-align:left;">
          <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6 text-right fs12">
              <address class="no-margin" style="margin:0px;padding:0px" ng-repeat="charge in showCase.pdf_data.order_charges">
                <strong>{{charge.charge_name}} :</strong> {{charge.charge_amount}}<br>
              </address>
              <address class="no-margin" style="margin:0px;padding:0px">
                <strong>Total Amount :</strong> {{showCase.pdf_data.total_invoice_amount}}<br>
              </address>
            </div>
          </div>
        </td>
      </tr>
      <tr class="rm-padding">
        <td colspan='{{(permissions.show_mrp)?9: 8;}}' style="text-align:left;">
          <b>Amount in words: &nbsp;&nbsp;&nbsp;&nbsp;<span style="text-transform:uppercase"> {{showCase.pdf_data.price_in_words}}</span></b>
        </td>
      </tr>
      <tr class="rm-padding">
        <td colspan='{{(permissions.show_mrp)?9: 8;}}' style="text-align:left;">
          <div class="row">
            <div class="col-xs-6 fs12">
              <b>Dispatched Via:</b>
            </div>
            <div class="col-xs-6 text-right fs12" style="padding-right: 15px;">
              <b>{{showCase.pdf_data.company_name}}</b>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 fs12">
              <span>DECLARATION:</span><br>
              <span>We declare that this invoice hows actual price of the goods described inclusive of taxes and that all particulars are true and correct.</span>
            </div>
          </div>
        </td>
      </tr>
      <tr class="rm-padding" ng-if="user.userName == 'sagar_fab' || user.userName == 'adam_clothing'">
        <td colspan='{{(permissions.show_mrp)?9: 8;}}' style="text-align:left;">
          <div class="row">
            <div class="col-xs-6 fs12">
              <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'sagar_fab'">
                <strong>Company's VAT TIN:</strong>29640707663<br>
              </address>
              <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'sagar_fab'">
                <strong>Buyer's VAT TIN:</strong>{{showCase.pdf_data.customer_details[0].tin_number}}<br>
              </address>
              <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'sagar_fab'">
                <strong>Company's PAN:</strong>ABEFS4899J<br>
              </address>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-danger btn-block" style="width:100px;margin: auto;margin-bottom: 10px;" ng-click="showCase.service.generate_pdf_file(showCase.pdf_data)">
          <i class="ti-printer mr5"></i>Print
        </button>
    </div>

  </form>
</div>
