<div id="page-pop" style="display: block;" class="modal fade process-toggle in" id="location-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
  <form name="form" role="form" id="add-customer">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content model-custom">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">Invoice</h4>
        </div>
        <div class="modal-body print print-invoice">

<div class"row mb15">
  <h4 align="center">{{showCase.pdf_data.company_name}}</h4>
</div>

<hr>
  <p align="center">{{showCase.pdf_data.company_address}}</p>
  <p align="center">{{showCase.pdf_data.email}}</p>
 <!-- <p align="center">VAT TIN NO: 27621087850-V CST TIN NO: 27621087850-C</p>-->
<hr>
<div class"row mb15">
  <h4 align="center" style="text-decoration: underline;">Tax Invoice</h4>
</div>

<div class="row mb15" style="padding: 0px 18px;">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4">
        <address class="no-margin">
                    <strong>To,</strong><br>
		    <div ng-if = "showCase.pdf_data.marketplace == 'Offline'">
			<p ng-if= "showCase.pdf_data.customer_details[0].name == ''">{{showCase.pdf_data.marketplace}}</p>
			<p class="cust_details" ng-if="showCase.pdf_data.customer_details[0].name">
				&nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].name}}</p>
			<p class="cust_details" ng-if="showCase.pdf_data.customer_details[0].address">
				&nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].address}}</p>
			<p class="cust_details" ng-if="showCase.pdf_data.customer_details[0].tin_number">
				&nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].tin_number}}</p>
			<p class="cust_details" ng-if="showCase.pdf_data.customer_details[0].customer_id">
				&nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].customer_id}}</p>
			<p class="cust_details" ng-if="showCase.pdf_data.customer_details[0].email_id">
				&nbsp;&nbsp;&nbsp;&nbsp;{{showCase.pdf_data.customer_details[0].email_id}}</p>
		    </div>
		    <div ng-if = "showCase.pdf_data.marketplace != 'Offline'">
                        {{showCase.pdf_data.marketplace}}<br>
		    </div>
                </address>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-6 text-right">
        <address class="no-margin" style="margin:0px;padding:0px" ng-if="showCase.pdf_data.invoice_no">
                    <strong>Invoice Number:</strong>{{showCase.pdf_data.invoice_no}}<br>
                </address>
        <address class="no-margin" style="margin:0px;padding:0px" ng-if="showCase.pdf_data.invoice_date">
                    <strong>Invoice Date:</strong>{{showCase.pdf_data.invoice_date}}<br>
                </address>
        <address class="no-margin" style="margin:0px;padding:0px">
                    <strong>Order Number:</strong>{{showCase.pdf_data.order_id}}<br>
                </address>
         <address class="no-margin" style="margin:0px;padding:0px">
                    <strong>Order Date:</strong>{{showCase.pdf_data.order_date}}<br>
                </address>
      </div>
    </div>
  </div>
</div>

<div class="row col-md-12">
  <table class="table table-bordered bl br">
    <thead>
      <tr class="text-center">
        <th><center>SKU Code</center></th>
        <th><center>Description</center></th>
        <th><center>Qty</center></th>
        <th ng-if="permissions.show_mrp">MRP</center><center>(&#8377;)</center></th>
        <th><center>Unit Price</center></th>
        <th><center>Discount</center><center>(&#8377;)</center></th>
        <th><center>VAT</center><center>(%)</center></th>
        <th><center>Tax</center><center>(&#8377;)</center></th>
        <th><center>Total</center><center>(&#8377;)</center></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="record in showCase.pdf_data.data">
        <td>
          {{record.sku_code}}
        </td>
        <td>
          {{record.title}}
        </td>
        <td>
          {{record.quantity}}
        </td>
        <td ng-if="permissions.show_mrp">{{record.mrp_price}}</td>
        <td>
          {{record.unit_price}}
        </td>
        <td>{{record.discount}}</td>
        <td>{{record.vat}}</td>
        <td>
          {{record.tax}}
        </td>
        <td>
          {{record.invoice_amount}}
        </td>
      </tr>
      <tr>
       <td colspan="2" style="text-align:left"><b>Total: &#8377;</b></td>
       <td>{{showCase.pdf_data.total_quantity}}</td>
       <td ng-if="permissions.show_mrp"></td>
       <td></td>
       <td></td>
       <td></td>
       <td>{{showCase.pdf_data.total_tax}}</td>
       <td>{{showCase.pdf_data.total_invoice}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!--<div class="row mb15" style="padding: 0px 18px;">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
      </div>
      <div class="col-xs-6 text-right">
        <address class="no-margin" style="margin:0px;padding:0px">
          <strong>Total Quantity:</strong>{{showCase.pdf_data.total_quantity}}<br>
        </address>
        <address class="no-margin" style="margin:0px;padding:0px">
          <strong>Total Tax:</strong>{{showCase.pdf_data.total_tax}}<br>
        </address>
        <address class="no-margin" style="margin:0px;padding:0px">
          <strong>Total Amount:</strong>{{showCase.pdf_data.total_invoice}}<br>
        </address>
      </div>
    </div>
  </div>
</div>
<hr>-->
<div class="row" style="padding: 0px 18px;">
  <div class="col-xs-12">
    <b>Amount in words: &nbsp;&nbsp;&nbsp;&nbsp;<span style="text-transform:uppercase"> {{showCase.pdf_data.price_in_words}}</span></b>
  </div>
</div>
<hr>
<div class="row mb15" style="padding: 0px 18px;">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
       <b>Dispatched Via:</b>
      </div>
      <div class="col-xs-6 text-right">
        <b>{{showCase.pdf_data.company_name}}</b>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <p>DECLARATION:</p>
    <span>We declare that this invoice hows actual price of the goods described inclusive of taxes and that all particulars are true and correct.</span>
  </div>
</div>

<hr>
<div class="row mb15" style="padding: 0px 18px;">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'sagar_fab'">
          <strong>Company's VAT TIN:</strong>29640707663<br>
        </address>
        <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'sagar_fab'">
          <strong>Buyer's VAT TIN:</strong>{{showCase.pdf_data.customer_details[0].tin_number}}<br>
        </address>
        <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'sagar_fab'">
          <strong>Company's PAN:</strong>ABEFS4899J<br>i
        </address>
        <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'adam_clothing'">
          <strong>VAT TIN NO:</strong>27621087850-V<br>
        </address>
        <address class="no-margin" style="margin:0px;padding:0px" ng-if="user.userName == 'adam_clothing'">
          <strong>CST TIN NO:</strong>27621087850-C<br>
        </address>
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="row">
        <button type="button" class="btn btn-danger btn-block" style="width:100px;margin: auto;margin-bottom: 10px;" ng-click="showCase.service.print_data($('.print'), 'invoice')">
          <i class="ti-printer mr5"></i>Print
        </button>
    </div>

  </form>
</div>
