<!doctype html>
<link rel="stylesheet" href="http://anant.mieone.com:9001/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://anant.mieone.com:9001/styles/urban.css">
    <link rel="stylesheet" href="http://anant.mieone.com:9001/styles/urban.skins.css">
<html>
<head>
  <link rel="stylesheet" href="http://anant.mieone.com:9001/vendor/bootstrap/dist/css/bootstrap.min.css">
</head>
<style>
  .no_margin{
    margin:0px !important;
  }
</style>
<body>
  <div class="container">
    <div class="row">
      <h2 align="center">TAX INVOICE</h2>
    </div>
    <div class="row">
      <div class="col-md-9">
        <p class="pull-left no_margin">INVOICE FOR REMOVAL OF EXCISABLE GOODS FROM FACTORY OR WAREHOUSE ON PAYMENT OF DUTY (RULE 11)</p>
      </div>
      <div class="col-md-3">
        <h3 class="pull-right no_margin">ORIGINAL FOR BUYER</h3>
      </div>
    </div>
    <table class="table table-bordered no_margin">
      <tbody>
        <tr class="row">
          <td class="col-md-10">
            <table style="width: 100%;">
              <tbody>
                <tr class="row">
                  <td class="col-md-4 col-sm-4">
                    Entremonde Polycoasters Ltd
                  </td>
                  <td class="col-md-4 col-sm-4">
                    Name and Address License:
                  </td>
                  <td class="col-md-4 col-sm-4">
                    Registered Office:
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="col-md-2">
            <span> Invoice No: <h3 class="pull-right no_margin">136</h3></span></br></br>
            <span> Date: <h3 class="pull-right no_margin">29/04/2017</h3></span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered no_margin">
      <tbody>
        <tr class="row">
          <td class="col-md-9">
            <table style="width: 100%;">
              <tbody>
                <tr class="row">
                  <td class="col-md-6 col-sm-6">
                    <div class="row">
                      <div class="col-md-3 col-sm-4"> P.O.NO </div>
                      <div class="col-md-9 col-sm-8"> : PB </div>
                    </div>
                  </td>
                  <td class="col-md-6 col-sm-6">
                    <div class="row">
                      <div class="col-md-3 col-sm-4"> P.O.NO </div>
                      <div class="col-md-9 col-sm-8"> : PB </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="col-md-3">
            <span> Invoice No: <p class="pull-right no_margin">136</p></span></br></br>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered no_margin">
      <tbody>
        <tr class="row">
          <td class="col-md-4 col-sm-4">
            Name of Excisable Goods: </br></br>
            <span>TEXTILE FAB</span>
          </td>
          <td class="col-md-4 col-sm-4">
            Chapter No./Tariff Sub-jeading No: </br></br>
            <span>5909.90.90</span>
          </td>
          <td class="col-md-4 col-sm-4">
            <p align="center">No. & Date of Notification</p>
            <p align="center"> 30/2004 DATED 09/07/2004 </p>
          </td>
        </tr>

        <tr class="row">
          <td class="col-md-4 col-sm-4">
            NAME AND ADDRESS OF CONSIGNEE: </br></br>
            <span>TRANS HOME LINEN</span>
          </td>
          <td class="col-md-4 col-sm-4">
            NAME AND ADDRESS OF BUYER: </br></br>
            <span>TRANS HOME LINEN</span>
          </td>
          <td class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-md-5 col-sm-5"> P.O.NO</div>
              <div class="col-md-7 col-sm-7"> : PB </div>
            </div>
          </td>
        </tr>

        <tr class="row">
          <td class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-md-5 col-sm-5"> P.O.NO</div>
              <div class="col-md-7 col-sm-7"> : PB </div>
            </div> 
          </td>
          <td class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-md-5 col-sm-5"> P.O.NO</div>
              <div class="col-md-7 col-sm-7"> : PB </div>
            </div>
          </td>
          <td class="col-md-4 col-sm-4">
            <p>INSURED GOODS The Marine STOP Policy No.121200/21/2017/82</p>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered no_margin">
      <thead>
        <tr class="row">
          <td class="col-md-3">Description of Goods</td>
          <td colspan="2" class="col-md-2">
            <center>PACKING</center>
            <table>
              <tr>
                <td>kanna</td><td>prasad</td>
              </tr>
            </table>
          </td>
          <td class="col-md-1">Total </br> Quantity</td>
          <td class="col-md-1">Rate</br>Rs.</td>
          <td class="col-md-1">Total</br>Accessable</br>Value</td>
          <td colspan="2" class="col-md-2">Excise Duty Payable</td>
          <td class="col-md-2">Amount</td>
        <tr>
      </thead>
      <tbody>
        <tr class="row">
          <td class="col-md-3">ABCDEF</td>
          <td class="col-md-1">15ROLL</td>
          <td class="col-md-1">0ROLL</td>
          <td class="col-md-1">1021.000</td>
          <td class="col-md-1">225.40</td>
          <td class="col-md-1">230133.40</td>
          <td class="col-md-1">0.0</td>
          <td class="col-md-1">0.0</td>
          <td class="col-md-2">230133.40</td>
        </tr>
        <tr class="row">
          <td class="col-md-3">ABCDEF</td>
          <td class="col-md-1">15ROLL</td>
          <td class="col-md-1">0ROLL</td>
          <td class="col-md-1">1021.000</td>
          <td class="col-md-1">225.40</td>
          <td class="col-md-1">230133.40</td>
          <td class="col-md-1">0.0</td>
          <td class="col-md-1">0.0</td>
          <td class="col-md-2">230133.40</td>
        </tr>

        <tr class="row">
          <td class="col-md-3"><strong>TOTAL</strong> = 15 ROLL</td>
          <td class="col-md-1"></td>
          <td class="col-md-1"></td>
          <td class="col-md-1"></td>
          <td class="col-md-1"></td>
          <td class="col-md-1">230133.40</td>
          <td class="col-md-1">0.0</td>
          <td class="col-md-1">0.0</td>
          <td class="col-md-2">230133.40</td>
       </tr>

       <tr class="row">
          <td colspan="6"><strong>TOTAL</strong> = 15 ROLL</td>
          <td colspan="3">
            <table class="table table-bordered no_margin">
              <tbody>
                <tr class="row">
                  <td class="col-md-6 col-sm-6 col-xs-6">Freight</td>
                  <td class="col-md-6 col-sm-6 col-xs-6">0.00</td>
                </tr>
                <tr class="row">
                  <td class="col-md-6 col-sm-6 col-xs-6">Freight</td>
                  <td class="col-md-6 col-sm-6 col-xs-6">0.00</td>
                </tr>
              </tbody>
            </table>
          </td>
       </tr>
       <tr class="row">
         <td colspan="6">
           <table style="width:100%">
             <tr class="row">
               <td class="col-md-1"> Duty Debit</td>
               <td class="col-md-5">
                 <span> PLA Sr.No: 123456</span></br></br>
               </td>
               <td class="col-md-6">
                 <span> Date: 19/2/2017</span></br></br>
               </td>
             <tr>
           </table>
         </td>
         <td colspan="2">INVOICE VALUE</td>
         <td> 230133.40</td>
       </tr>

       <tr class="row">
         <td colspan="9">
           <table style="width:100%">
             <tr class="row">
               <td class="col-md-4">
                 <span> Date of Preparation of Invoice: 19/2/2017</span></br></br>
                 <span> Date of Removal of Goods: 19/2/2017</span>
               </td>
               <td class="col-md-4">
                 <span> Time of Preparation of Invoice: 1pm</span></br></br>
                 <span> Time of Removal of Goods: 1pm</span>
               </td>
               <td class="col-md-4">
                 <span> In Words :</span></br></br>
                 <span> In Words :</span>
               </td>
             <tr>
           </table>
         </td>
       </tr>
       <tr class="row">
         <td colspan="6">
           <p> <strong> Declaration: </strong> Certify that the particulars given above are true and correct and the amount indicated represents the price actually charged and that there is no flow of addictional consideration directly or indirectly. </br>Subject to Banglore Jurisdication.</p>
         </td>
         <td colspan="3">
           <p> from TRANCE HOME LINEN </br></br></br></br>
           <p align="center">Authorised Signatory</p>
         </td>
       </tr>
      </tbody>
    </table> kanna
  </div>
</body>
</html>
