                      <div class="col-md-12" ng-if="user.userName == 'adam_clothing1'">
                        <address class="no-margin" style="margin:0px;padding:0px">
                          <strong>VAT TIN NO:</strong>27621087850-V<br>
                        </address>
                        <address class="no-margin" style="margin:0px;padding:0px">
                          <strong>CST TIN NO:</strong>27621087850-C<br>
                        </address>
                      </div>
                      <div class="col-md-12" ng-if="user.userName == 'dazzle_export'">
                        <address class="no-margin" style="margin:0px;padding:0px">
                          <strong>VAT TIN NO:</strong>27751166009-V<br>
                        </address>
                        <address class="no-margin" style="margin:0px;padding:0px">
                          <strong>CST TIN NO:</strong>27751166009-C<br>
                        </address>
                      </div>
