<div class="summary pending">
  <h5>Completed Orders</h5>
  <div class="summary-row" style="padding: 10px;">
    <label> Order Number :
      <input class="given" ng-model="$ctrl.order_number" place-holder="Order Number">
    </label>
      <button class="md-raised md-button md-ink-ripple" type="button" ng-click="$ctrl.print_order($ctrl.order_number)" style="display: block;margin: auto;"><span class="ng-scope">REPRINT</span><div class="md-ripple-container"></div></button>
    </div>
  </div>
</div>

