<div id="page-pop" class="modal fade process-toggle in" id="cycle-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="display: block; padding-right: 15px;">
  <form id="cycle-po">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">Cycle Count</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Cycle Count ID: <b>{{showCase.model_data.cycle_id}}</b></h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
         <div class="row over-x">
           <div class="col-md-12">
             <table class="table mw55">
                <thead>
                  <tr>
                    <td> SKU Code </td>
                    <td> Zone </td>
                    <td> Location </td>
                    <td> Quantity </td>
                    <td> Seen Quantity </td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="data in showCase.model_data.data">
                    <input type="hidden" name="id" class="form-control" value="{{data.id}}">
                    <td>
                      <input type="text" name="wms_code" class="form-control" ng-model="data.wms_code" ng-readonly="showCase.update">
                    </td>
                    <td>
                      <input type="text" name="zone" class="form-control" ng-model="data.zone" ng-readonly="showCase.update">
                    </td>
                    <td>
                      <input type="text" name="location" class="form-control" ng-model="data.location" ng-readonly="showCase.update">
                    </td>
                    <td>
                      <input type="text" name="quantity" class="form-control" ng-model="data.quantity" ng-readonly="showCase.update">
                    </td>
                    <td>
                      <input type="text" name="seen_quantity" class="form-control" ng-class="service.get_decimal_perm()" ng-model="data.seen_quantity">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row hide insert-status"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn pop pop-normal" ng-click="showCase.print()">Print</button>
          <button type="submit" class="btn pop pop-green" ng-click="showCase.confirm_cycle()" ng-disabled="showCase.confirm_disable">Confirm</button>
        </div>
      </div>
    </div>
  </form>
  <div id="print" class="hide">
    <div ng-include="'views/stockLocator/print/cycle_print.html'">
  </div>
</div>
