<div id="page-pop" class="modal fade in" id="sku-toggle" tabindex="-1" role="dialog" style="display: block;">
  <!-- Modal -->
  <form name="form" role="form" ui-jq="validate">
      <div class="modal-dialog modal-lg model-custom">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myLargeModalLabel">Location Wise Quantity</h4>
          </div>           
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <span><b>WMS Code :</b> {{showCase.wms_code}}</span>
                  <hr>
                </div>
                <div class="col-md-12 over-x">
                  <table class="table table-condensed mw45" ng-if="showCase.service.dict_length(showCase.model_data.zones_data)">
                    <thead>
                      <tr>
                        <th>Zone</th>
                        <th>Location</th>
                        <th ng-if="showCase.permissions.pallet_switch && showCase.model_data.load_unit_handle == 'pallet'">Pallet Number</th>
                        <th>Total Quantity</th>
                        <th>Reserved Quantity</th>
                        <th ng-if="showCase.industry_type == 'FMCG'">Batch</th>
                        <th ng-if="showCase.industry_type == 'FMCG'">MRP</th>
                        <th ng-if="showCase.industry_type == 'FMCG'">EAN</th>
                        <th ng-if="showCase.industry_type == 'FMCG'">Weight</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="data in showCase.model_data.zones_data">
                      <tr>
                        <td>{{data.zone}}</td>
                        <td>{{data.location}}</td>
                        <th ng-if="showCase.permissions.pallet_switch && showCase.model_data.load_unit_handle == 'pallet'">{{data.pallet_number}}</td>
                        <td>{{data.total_quantity}}</td>
                        <td>{{data.reserved_quantity}}</td>
                        <td ng-if="showCase.industry_type == 'FMCG'">{{data.batch}}</td>
                        <td ng-if="showCase.industry_type == 'FMCG'">{{data.mrp}}</td>
                        <td ng-if="showCase.industry_type == 'FMCG'">{{data.ean}}</td>
                        <td ng-if="showCase.industry_type == 'FMCG'">{{data.weight}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row" ng-if="showCase.model_data.production_stages">
                <div class="col-md-12">
                  <span><b>Production Stages :</b></span>
                  <hr>
                </div>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th> Job Order ID </th>
                      <th> Stage Name </th>
                      <th> Quantity </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="stage in showCase.model_data.production_stages">
                      <td>{{stage.job_code}}</td>
                      <td>{{stage.stage_name}}</td>
                      <td>{{stage.stage_quantity}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
          </div>
        </div>
      </div>
  </form>
</div>
