<div id="page-pop" class="modal fade in" id="sku-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="overflow: hidden; display: block;">
  <!-- Modal -->
  <form name="form" role="form" ui-jq="validate">
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="display: block;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div ng-include="'views/common/loader.html'"></div>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myLargeModalLabel">Add Inventory Adjustment</h4>
          </div>           
           <div class="modal-body">

            <div class="row">
              <div class="col-md-11 col-sm-11 col-xs-10">
                <p align="right">Inventory Shrinkage</p>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-2">
                <label class="switch switch-sm square">
                  <div>
                    <input type="checkbox" ng-model="showCase.model_data.inv_shrinkage" ng-change="showCase.getReasons(showCase.model_data.inv_shrinkage)">
                    <span>
                      <i class="handle"></i>
                    </span>
                    <input type="hidden" name="inv_shrinkage" class="form-control" ng-model="showCase.model_data.inv_shrinkage" value="{{showCase.model_data.inv_shrinkage}}">
                  </div>
                </label>
              </div>
            </div>
           <div class="row mt15">

            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.user_type == 'marketplace_user'">
              <div class="form-group">
                <label class="control-label">Seller ID *</label>
                <input type="text" autocomplete="off" name="seller_id" class="form-control" placeholder="Search Seller ID/Name/Number" typeahead="address.seller_id+' : '+address.name+' : '+address.phone_number for address in showCase.service.getSearchValues($viewValue, 'search_seller_data?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.seller_id" typeahead-on-select="showCase.model_data.seller_id=$item.seller_id" required>
              </div>
            </div>

             <div class="col-md-4 col-sm-4 col-xs-6">
               <div class="form-group">
                 <label cla4ss= control-label"> WMS Code * </label>
                 <input type="text" autocomplete="off" name="wms_code" class="form-control" placeholder="Search WMS Code" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_wms_codes?')" typeahead-loading="WMSCodesLoading" ng-model="showCase.model_data.wms_code" ng-blur="showCase.service.checkSearchValue(showCase.model_data.wms_code ,'search_wms_codes?', $event, '', 'WMS Code'); showCase.get_sku_batches(showCase.model_data.wms_code)" required>
               </div>
             </div>
              <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.industry_type == 'FMCG'">
                <div class="form-group">
                  <label class="control-label"> Batch Number</label>
                  <select class="form-control" name="batch_number" ng-model="showCase.model_data.batch_number">
                    <option value="">Select Batch Number</option>
                    <option ng-repeat="batch_no in showCase.batch_nos" value="{{batch_no}}">{{batch_no}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.industry_type == 'FMCG'">
                <div class="form-group">
                  <label class="control-label"> MRP</label>
                  <select class="form-control" name="mrp" ng-model="showCase.model_data.mrp" ng-readonly="">
                    <option value="">Select MRP</option>
                    <option ng-repeat="mrp in showCase.batches[showCase.model_data.batch_number]" value="{{mrp}}">{{mrp}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.industry_type == 'FMCG'">
                <div class="form-group">
                  <label class="control-label"> Weight</label>
                  <select class="form-control" name="weight" ng-model="showCase.model_data.weight" ng-readonly="">
                    <option value="">Select Weight</option>
                    <option ng-repeat="weight in showCase.weights[showCase.model_data.batch_number]" value="{{weight}}">{{weight}}</option>
                  </select>
                </div>
              </div>

             <div class="col-md-4 col-sm-4 col-xs-6">
               <div class="form-group">
                 <label class="control-label"> Location * </label>
                 <input type="text" name="location" class="form-control" ng-model="showCase.model_data.location" required>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label"> Physical Quantity * </label>
                  <input type="text" name="quantity"class="form-control" ng-model="showCase.model_data.quantity" ng-class="service.get_decimal_perm()" required>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label"> Reason </label>
                  <input type="text" ng-if="!(showCase.model_data.inv_shrinkage)" name="reason" class="form-control" ng-model="showCase.model_data.reason" value="">
                  <select class="form-control" ng-if="showCase.model_data.inv_shrinkage" name="reason" ng-model="showCase.model_data.reason">
                    <option value="">Select Reason </option>
                    <option ng-repeat="reason in showCase.reasons" value="{{reason}}">{{reason}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.pallet_switch">
                <div class="form-group">
                  <label class="control-label"> Pallet Code </label>
                  <input type="text" name="pallet" class="form-control" ng-model="showCase.model_data.pallet" value="">
                </div>
              </div>
            </div>
            <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
            <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
