<style type="text/css">
  .form-control{
    padding: 4px 4px;
   }
   .table > tbody > tr > td{
      padding: 6px 4px;
   }
   .table > thead > tr> td{
      padding: 6px 4px;
   }
   .sidebar-panel{
      z-index: 1000;
   }
   .bootstrap-timepicker-widget.dropdown-menu.open {
      z-index: 2050;
    }
</style>
<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="overflow: hidden; display: block;">
  <!-- Modal -->
  <form name="form" role="form" ui-jq="validate">
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="overflow: auto;display: block;">
      <div class="modal-dialog modal-lg" style="width: 1300px;">
        <div class="modal-content">
          <div ng-include="'views/common/loader.html'"></div>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myLargeModalLabel">Add Inventory Adjustment</h4>
          </div>           
           <div class="modal-body">

            <div class="row hide">
              <div class="col-md-11 col-sm-11 col-xs-10">
                <p align="right">Make Batch Mandatory</p>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-2">
                <label class="switch switch-sm square">
                  <div>
                    <input type="checkbox" ng-model="showCase.batch_mandatory">
                    <span>
                      <i class="handle"></i>
                    </span>
                    <input type="hidden" name="batch_mandatory" class="form-control" ng-model="showCase.batch_mandatory" value="{{showCase.batch_mandatory}}">
                  </div>
                </label>
              </div>
            </div>
           <div class="row mt15">

            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.user_type == 'marketplace_user'">
              <div class="form-group">
                <label class="control-label">Seller ID *</label>
                <input type="text" autocomplete="off" name="seller_id" class="form-control" placeholder="Search Seller ID/Name/Number" typeahead="address.seller_id+' : '+address.name+' : '+address.phone_number for address in showCase.service.getSearchValues($viewValue, 'search_seller_data?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.seller_id" typeahead-on-select="showCase.model_data.seller_id=$item.seller_id" required>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label">Adjustment For *</label>
                <select class="show-menu-arrow form-control" ng-model="showCase.wh_type">
                  <option ng-repeat="opt in showCase.wh_type_list" ng-selected="opt==showCase.wh_type">{{opt}}</option>
                </select>
                <input type="hidden" name="data_id" ng-model="showCase.model_data.data_id" value="{{showCase.model_data.data_id}}">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.wh_type=='Store'">
              <div class="form-group">
                <label class="control-label"> Store *</label>
                <select class="show-menu-arrow form-control" ng-model="showCase.model_data.warehouse" name="warehouse" required>
                  <option ng-repeat="wh in showCase.warehouse_dict" value="{{wh.username}}">{{wh.first_name}}:{{wh.userprofile__stockone_code}}</option>
                </select>
              </div>
            </div>
            <div ng-if="showCase.wh_type=='Department'">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label"> Store *</label>
                  <select class="show-menu-arrow form-control" ng-model="showCase.model_data.plant" ng-change="showCase.get_warehouse_department_list()" ng-if="!showCase.update" required>
                    <option ng-repeat="wh in showCase.warehouse_dict" value="{{wh.username}}">{{wh.first_name}}:{{wh.userprofile__stockone_code}}</option>
                  </select>
                  <input type="text" class="form-control" ng-model="showCase.model_data.plant_name" ng-if="showCase.update" readonly>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label"> Department *</label>
                  <select class="show-menu-arrow form-control" ng-model="showCase.model_data.warehouse" name="warehouse" ng-change="showCase.update_sku_data()" ng-if="!showCase.update" required>
                    <option ng-repeat="dept in showCase.department_list" value="{{dept.username}}">{{dept.name}}</option>
                  </select>
                  <input type="text" class="form-control" ng-model="showCase.model_data.warehouse_name" ng-if="showCase.update" readonly>
                  <input type="hidden" ng-model="showCase.model_data.warehouse" name="warehouse" ng-if="showCase.update" value="{{showCase.model_data.warehouse}}">
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Reason *</label>
                <select class="show-menu-arrow form-control" ng-model="showCase.model_data.reason" name="reason" ng-change="showCase.update_sku_data()" required>
                  <option ng-repeat="reason in showCase.reasons_list" value="{{reason}}" ng-selected="reason==showCase.model_data.reason">{{reason}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.model_data.reason=='Breakdown'">
              <div class="form-group">
                <label class="control-label"> Machine Code *</label>
                <input type="text" autocomplete="off" name="machine" class="form-control" placeholder="Search Machine Code"
                typeahead="address.code+' : '+ address.name for address in showCase.service.getSearchValues($viewValue, 'search_machine_code_name_brand?', 'Machine')" typeahead-on-select="showCase.get_machine_details(showCase.model_data, $item)" ng-model="showCase.model_data.machine" required>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.model_data.reason=='Breakdown'">
              <div class="form-group">
                <label class="control-label"> Machine Brand *</label>
                <input type="text" class="form-control" ng-model="showCase.model_data.machine_brand" name="machine_brand" readonly>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" ng-if="showCase.model_data.reason=='Breakdown'">
              <div class="form-group">
                <label class="control-label">Date</label>
                <input ui-jq="datepicker" type="text" class="form-control" ng-init="showCase.model_data.machine_date = showCase.date" ng-model="showCase.model_data.machine_date" name="machine_date" data-date-today-highlight="true" data-date-autoclose="true" style="background-color: white;">
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" ng-if="showCase.model_data.reason=='Breakdown'">
              <div class="form-group input-group">
                <label class="control-label">Time</label>
                <input type="text" class="form-control time-picker" ng-model="showCase.model_data.machine_time" name="machine_time" ui-jq="timepicker" />
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table mw45">
                  <thead>
                    <tr>
                      <th>SKU Code</th>
                      <th>SKU Description</th>
                      <th>UOM</th>
                      <th>Available Stock</th>
                      <th>Workload</th>
                      <th>Workload From</th>
                      <th>Workload To</th>
                      <th class="hide">Batch No.</th>
                      <th class="hide">Manufactured Date</th>
                      <th class="hide">Expiry Date</th>
                      <th>Quantity</th>
                      <th>Final Stock</th>
                      <th ng-if="showCase.model_data.reason=='Pooling'">Price *</th>
                      <th>remarks</th>
                      <th class="plus"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="data in showCase.model_data.data">
                      <td>
                        <input type="text" autocomplete="off" name="wms_code" size="30" class="form-control detectTab" placeholder="Search SKU Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" ng-model="data.wms_code" title="{{ data.wms_code }}" typeahead-on-select="showCase.get_sku_details(data, $item)">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="data.description" title="{{data.description}}" size="45" name="description" readonly>
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="data.uom" name="uom" readonly>
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="data.available_stock" name="available_stock" readonly>
                      </td>
                      <td class="hide">
                        <input type="text" autocomplete="off" name="batch_no" class="form-control detectTab" placeholder="Search Batch No" typeahead="address.batch_no for address in showCase.service.getSearchValues($viewValue, 'search_batch_data?wms_code='+data.wms_code+'&warehouse='+showCase.model_data.warehouse)" ng-model="data.batch_no" title="{{ data.batch_no }}" typeahead-on-select="showCase.get_batch_details(data, $item)" ng-blur="showCase.check_selected_batch(data)" ng-readonly="!showCase.batch_mandatory" ng-required="showCase.batch_mandatory" ng-change="showCase.update_final_stock(data)">
                      </td>
                      <td class="hide">
                        <input ui-jq="datepicker" type="text" class="form-control" ng-model="data.manufactured_date" name="manufactured_date" ng-if="!data.mfg_readonly" style="background-color: white;" readonly>
                        <input type="text" class="form-control" ng-model="data.manufactured_date" name="manufactured_date" ng-if="data.mfg_readonly" readonly>
                      </td>
                      <td class="hide">
                        <input ui-jq="datepicker" type="text" class="form-control" ng-model="data.expiry_date" name="expiry_date" ng-if="!data.mfg_readonly" style="background-color: white;" readonly>
                        <input type="text" class="form-control" ng-model="data.expiry_date" name="expiry_date" ng-if="data.mfg_readonly" readonly>
                      </td>
                      <td>
                        <input type="text" ng-init="data.workload=0" class="form-control decimal" ng-model="data.workload" name="workload">
                      </td>
                      <td>
                        <input ui-jq="datepicker" type="text" class="form-control" ng-model="data.workload_from" name="workload_from" data-date-today-highlight="true" data-date-autoclose="true" style="background-color: white;">
                      </td>
                      <td>
                        <input ui-jq="datepicker" type="text" class="form-control" ng-model="data.workload_to" name="workload_to" data-date-today-highlight="true" data-date-autoclose="true" style="background-color: white;">
                      </td>
                      <td>
                        <input type="text" class="form-control decimal" ng-model="data.quantity" name="quantity" autocomplete="off" ng-change="[showCase.check_quantity(data), showCase.update_final_stock(data)]">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="data.final_stock" name="final_stock" ng-blur="showCase.update_final_stock(data, 'final_stock')" readonly>
                      </td>
                      <td ng-if="showCase.model_data.reason=='Pooling'">
                        <input type="text" class="form-control decimal" ng-model="data.price" ng-init="data.price=''" name="price" required>
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="data.remarks" title="{{data.remarks}}" size="30" name="remarks">
                      </td>
                      <td>
                        <i style="font-size: 20px;padding-top: 7px;cursor: pointer;" class="fa fa-minus-square-o" ng-click="showCase.model_data.data.splice($index, 1);" ng-if="!$first"></i>
                      </td>
                      <td>
                        <i style="font-size: 20px;padding-top: 7px;cursor: pointer;" class="fa fa-plus-square-o" ng-click="showCase.add_new_row(data);" ng-if="$last"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
            <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="showCase.bt_disable">Confirm</button>
            <!-- <button type="submit" class="btn pop pop-green" ng-click="showCase.send_for_approval(form)" style="background: green;color: white;" ng-if="showCase.wh_type=='Department' && !showCase.permissions.approve_inventory_adjustment && !showCase.model_data.action_buttons">Send For Approval</button> -->
            <button type="button" class="btn pop pop-normal pull-left ng-click-active" ng-click="showCase.reject_adjustment(form)" style="background: red;color: white;" ng-if="showCase.update && !showCase.model_data.action_buttons">Reject</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
