<div id="page-pop" class="modal fade in" id="move-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="overflow: hidden; display: block;">
  <!-- Modal -->
  <form name="myForm" role="form" ui-jq="validate" ui-options="validationOpt">
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="display: block;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div ng-include="'views/common/loader.html'"></div>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myLargeModalLabel">Add Move Inventory</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6" ng-if="user.user_profile['user_type'] == 'marketplace_user'">
                <div class="form-group">
                  <label class="control-label">Seller ID *</label>
                  <input type="text" autocomplete="off" name="seller_id" class="form-control" placeholder="Search Seller ID/Name/Number" typeahead="address.seller_id+' : '+address.name+' : '+address.phone_number for address in showCase.service.getSearchValues($viewValue, 'search_seller_data?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.seller_id" typeahead-on-select="showCase.model_data.seller_id=$item.seller_id" required>
                </div>
              </div> 
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label"> WMS Code * </label>
                  <input type="text" autocomplete="off" name="wms_code" class="form-control" placeholder="Search WMS Code" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_wms_codes?')" typeahead-loading="WMSCodesLoading" ng-model="showCase.model_data.wms_code" ng-blur="showCase.service.checkSearchValue(showCase.model_data.wms_code ,'search_wms_codes?', $event, '', 'WMS Code'); showCase.get_sku_batches(showCase.model_data.wms_code)" required>
               </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.industry_type == 'FMCG'">
                <div class="form-group">
                  <label class="control-label"> Batch Number</label>
                  <select class="form-control" name="batch_number" ng-model="showCase.model_data.batch_number">
                    <option value="">Select Batch Number</option>
                    <option ng-repeat="batch_no in showCase.batch_nos" value="{{batch_no}}">{{batch_no}}</option>
                  </select>
                  <!--<input type="text" autocomplete="off" name="batch_number" class="form-control" placeholder="Search Batch Number" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_batch_number?')" typeahead-loading="BatchNumberLoading" ng-model="showCase.model_data.batch_number" ng-change="showCase.checkSearchValue(showCase.model_data.batch_number)">-->
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.industry_type == 'FMCG'">
                <div class="form-group">
                  <label class="control-label"> MRP</label>
                  <select class="form-control" name="mrp" ng-model="showCase.model_data.mrp" ng-readonly="showCase.batches['showCase.model_data.batch_number']">
                    <option value="">Select MRP</option>
                    <option ng-repeat="mrp in showCase.batches[showCase.model_data.batch_number]" value="{{mrp}}">{{mrp}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.industry_type == 'FMCG'">
                <div class="form-group">
                  <label class="control-label"> Weight</label>
                  <select class="form-control" name="weight" ng-model="showCase.model_data.weight" ng-readonly="showCase.weights['showCase.model_data.batch_number']">
                    <option value="">Select Weight</option>
                    <option ng-repeat="weight in showCase.weights[showCase.model_data.batch_number]" value="{{weight}}">{{weight}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label"> Reason</label>
                  <select class="form-control" ng-if = "showCase.reasons_available" name="reason" ng-model="showCase.model_data.reason">
                    <option value="">Select Reason</option>
                    <option ng-repeat="reason in showCase.move_inventory_reasons" value="{{reason}}">{{reason}}</option>
                  </select>
                  <input ng-model="showCase.model_data.reason" ng-if = "!showCase.reasons_available" type="text" name="reason" class="form-control">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class=control-label"> Source Location * </label>
                  <input ng-model="showCase.model_data.source_loc" type="text" name="source_loc" class="form-control" required>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label"> Destination Location * </label>
                  <input ng-model="showCase.model_data.dest_loc" type="text" name="dest_loc" class="form-control" required>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class=control-label"> Price </label>
                  <input type="text"  name="price" class="form-control">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label"> Quantity * </label>
                  <input ng-model="showCase.model_data.quantity" type="text" name="quantity" class="form-control" ng-class="service.get_decimal_perm()" required>
                </div>
              </div>
            </div>
            <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn pop pop-normal" ng-click="showCase.close()">Close</button>
            <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(myForm)">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
