<style type="text/css">
  .modal-lg{
    width: 1200px
  }
  .rotate{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
</style>

<div id="page-pop" style="overflow-y: visible;">
  <form name="myForm" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine" novalidate="novalidate">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title" id="modal-title">ADD SKU Substitute</h4>
    </div>

    <div class="modal-body lebel-error-hide" id="modal-body">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6" style="margin: 10px" ng-if="$ctrl.user_type == 'marketplace_user'">
            <label class="control-label">Sellar ID</label>
            <input type="text" autocomplete="off" name="seller_id" class="form-control" placeholder="Search Seller ID/Name/Number" typeahead="address.seller_id+' : '+address.name+' : '+address.phone_number for address in $ctrl.service.getSearchValues($viewValue, 'search_seller_data?')" typeahead-loading="loadingLocations" ng-model="$ctrl.model_data.seller_id" typeahead-on-select="$ctrl.model_data.seller_id=$item.seller_id" required>
        </div>
      </div>
      <hr ng-if="$ctrl.user_type == 'marketplace_user'">
      <div class="row" style="margin-top:10px">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-5 col-xs-12">
                <label class="control-label">Source SKU Code</label>
                <input type="text" autocomplete="off" name="src_sku_code" class="form-control" placeholder="Search SKU Code &sol; Desc" typeahead="address.wms_code+' : '+address.sku_desc for address in $ctrl.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" typeahead-on-select="$ctrl.model_data.src_sku_code = $item.wms_code; $ctrl.check_sku_code($item, $ctrl.model_data.src_location, 'src_sku')" ng-model="$ctrl.model_data.src_sku_code"  ng-blur="$ctrl.empty_sku(); $ctrl.get_sku_batches($ctrl.model_data.src_sku_code)">
            </div>

            <div class="col-md-6 col-sm-5 col-xs-12" ng-if="$ctrl.industry_type == 'FMCG'">
                <label class="control-label"> Batch Number</label>
                <select class="form-control" name="src_batch_number" ng-model="$ctrl.model_data.batch_number">
                  <option value="">Select Batch Number</option>
                  <option ng-repeat="batch_no in $ctrl.batch_nos" value="{{batch_no}}">{{batch_no}}</option>
                </select>
            </div>

            <div class="col-md-6 col-sm-5 col-xs-12" ng-if="$ctrl.industry_type == 'FMCG'" style="margin-top: 10px">
                <label class="control-label"> MRP</label>
                <select class="form-control" name="src_mrp" ng-model="$ctrl.model_data.mrp" ng-readonly="$ctrl.batches['$ctrl.model_data.batch_number']" ng-change="$ctrl.update_exp_dates($ctrl.batches, $ctrl.model_data.mrp, $ctrl.model_data.batch_number)">
                  <option value="">Select MRP</option>
                  <option ng-repeat="mrp in $ctrl.batches[$ctrl.model_data.batch_number]" value="{{mrp}}">{{mrp}}</option>
                </select>
                <input type="hidden" name="mfg_date" value="{{$ctrl.model_data.mfg_date}}" >
                <input type="hidden" name="exp_date" value="{{$ctrl.model_data.exp_date}}" >
                <input type="hidden" name="exp_date" value="{{$ctrl.model_data.tax_percent}}" >
            </div>

            <div class="col-md-6 col-sm-5 col-xs-12" style="margin-top: 10px">
                <label class="control-label">Source Location</label>
                <input type="text" name="src_location" class="form-control" ng-model="$ctrl.model_data.src_location" ng-disabled="!$ctrl.model_data.src_sku_code" ng-change="$ctrl.check_loc_wise_qty($ctrl.model_data.src_sku_code, $ctrl.model_data.src_location, 'src_sku')" ng-debounce>
            </div>

            <div class="col-md-6 col-sm-5 col-xs-12">
                <label class="control-label">Quantity</label>
                <input type="text" name="src_quantity" class="form-control" decimal-number ng-model="$ctrl.model_data.src_quantity"  ng-disabled="$ctrl.model_data.src_available_quantity == 0" ng-change="$ctrl.check_validation()">
            </div>

            <div class="col-md-6 col-sm-5 col-xs-12" style="margin-top: 10px; text-align: center">
                <label class="control-label">Available Quantity</label>
                <div>

                  <span style="font-style: italic;font-size: 15px;line-height: 30px;font-weight: 600;" class="ng-binding">
                    <i ng-if="!$ctrl.data_available" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    <div ng-if="$ctrl.data_available">{{$ctrl.model_data.src_available_quantity}}</div>
                  </span>
                </div>
            </div>

        </div>

        <div class="col-md-1 col-sm-2 col-xs-2">
          <div style="margin: auto; width:24px; padding: 24px 0">
            <span class="hidden-xs hidden-sm"><i class="fa fa-exchange fa-2x" aria-hidden="true"></i></span>
            <span class="visible-xs visible-sm"><i class="fa fa-exchange fa-2x fa-rotate-90" aria-hidden="true"></i></span>
          </div>
        </div>

        <div class="col-md-7 col-sm-10 col-xs-12" style="float: right;" ng-repeat="data in $ctrl.model_data.dest_info">
            <div class="col-md-{{$ctrl.cols}} col-sm-{{$ctrl.cols}} col-xs-12" style="margin-top: 10px">
                <label class="control-label">Dest SKU Code</label>
                <input type="text" autocomplete="off" name="dest_sku_code" class="form-control" placeholder="Search SKU Code  &sol; Desc" typeahead="address.wms_code+' : '+address.sku_desc for address in $ctrl.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" typeahead-on-select="data.dest_sku_code=$item.wms_code" ng-model="data.dest_sku_code" ng-disabled="$ctrl.model_data.src_quantity == 0">
            </div>

            <div class="col-md-{{$ctrl.cols}} col-sm-{{$ctrl.cols}} col-xs-12" style="margin-top: 10px" ng-if="$ctrl.industry_type == 'FMCG'">
                <label class="control-label"> Batch Number</label>
                <input type="text" name="dest_batch_number" class="form-control" ng-model="data.batch_number" ng-disabled="!$ctrl.model_data.src_sku_code" ng-debounce>
            </div>

            <div class="col-md-{{$ctrl.cols}} col-sm-{{$ctrl.cols}} col-xs-12" style="margin-top: 10px" ng-if="$ctrl.industry_type == 'FMCG'">
                <label class="control-label"> MRP</label>
                <input type="text" name="dest_mrp" class="form-control" ng-model="data.mrp" ng-disabled="!$ctrl.model_data.src_sku_code" ng-debounce>
            </div>

            <div class="col-md-{{$ctrl.cols}} col-sm-{{$ctrl.cols}} col-xs-12" style="margin-top: 10px">
                <label class="control-label">Dest Location</label>
                <input type="text" name="dest_location" class="form-control" ng-model="data.dest_location" ng-disabled="$ctrl.model_data.src_quantity == 0">
            </div>

            <div class="col-md-{{$ctrl.cols}} col-sm-{{$ctrl.cols}} col-xs-12" style="margin-top: 10px">
                <label class="control-label">Quantity</label>
                <input type="text" name="dest_quantity" class="form-control" decimal-number ng-model="data.dest_quantity" ng-disabled="$ctrl.model_data.src_quantity == 0">
            </div>

            <div class="col-md-{{$ctrl.cols}} col-sm-{{$ctrl.cols}} col-xs-12" style="margin-top: 10px">
                <i style="font-size: 20px;cursor: pointer;margin-top: 33px;" ng-click="$ctrl.update_dest_info($index, data, $last)" ng-class="$ctrl.isLast($last)"></i>
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 15px; text-align: center">
          <span>{{$ctrl.api_message}}</span>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn pop pop-normal" ng-click="$ctrl.close()">Close</button>
      <button class="btn pop pop-green" value="Print Barcodes" type="button" ng-disabled="showCase.bt_disable" ng-click="$ctrl.print_barcodes(form)">Print Barcodes</button>
      <button type="button" class="btn pop pop-green" ng-click="$ctrl.submit(myForm)" ng-disabled="myForm.$invalid; $ctrl.disabled_button">Save
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="$ctrl.success_resp"></span>
      </button>
    </div>

  </form>

</div>

