<div>
  <div style="float: left;">
    {% if not data.vendor_name %}
    <p style="font-weight: bold;">To: </p>
    {% else %}
    <p style="font-weight: bold;">Shipped From: </p>
    {% endif %}
    <p>{{ data.name }}</p>
       {{ data.address|linebreaks }}
    <p><b>Telephone:</b> {{ data.telephone }}</p>
    {% if gstin_no %}
      <p><b>GSTIN No:</b> {{ gstin_no }}</p>
    {% endif %}
    {% if data.vendor_name %}
    <p style="font-weight: bold;">Shipped To: </p>
    <p>{{ data.vendor_name }}</p>
      {{ data.vendor_address|linebreaks }}
    <p><b>Telephone:</b> {{ data.vendor_telephone }}</p>
      {% endif %}
  </div>
  <div style="float: right;">
    <!-- <p><b>Customer Name:</b> {{ data.customer_name }}</p> -->
    <p><b>Order ID:</b> {{ data.order_id }}</p>
    <p><b>PO Reference:</b> {{ data.po_reference }}</p>
    <p><b>Date:</b> {{ data.order_date }}</p>
    <p><b>Executive Name:</b> {{ data.executive_name }}</p>
  </div>
  <br/> <br/>
</div>
<div style="clear:both;">
  <table class="table bordered">
    <thead>
      <tr class="rm-padding">
        {% for table_header in data.table_headers %}
        <th>{{ table_header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for dat in data.data %}
      <tr class="rm-padding">
        {% for d in dat %}
        <td>{{ d }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      <tr class="rm-padding">
        <td colspan="12">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6 pull-right">
              Total Amount : <b>{{ data.total }}</b>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 pull-right">
              Total Order Quantity : <b>{{ data.total_qty }}</b>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  {% if data.terms_condition %}
    <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <b>Terms and Condition :</b>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p>{{ data.terms_condition|safe }}</p>
      </div>
    </div>
  {% endif %}
</div>