<div class="summary">
  
  <div style="margin-top:10px">
    <label>Order Taken By : </label>
    <select ng-model="$ctrl.staff_member" ng-init="$ctrl.staff_members[0]" ng-options="c as c for c in $ctrl.staff_members" style="padding: 5px;margin-left: 11px;width: 55%;" ng-change="$ctrl.staff_member_value($ctrl.staff_member)">
    </select>
  </div>
  <h5>Order Summary</h5>
  <div class="summary-row" ng-if="$ctrl.user.admin.username != 'gomechanic_admin'">
    <div class="pull-left">
      <p>Total Quantity</p>
    </div>
    <div class="pull-right">
      <b ng-if="$ctrl.order.total_quantity > 0">{{$ctrl.order.total_quantity}}</b>
    </div>
  </div>
  <div class="summary-row" ng-if="$ctrl.user.admin.username != 'gomechanic_admin'">
    <div class="pull-left">
      <p>Subtotal</p>
    </div>
    <div class="pull-right">
      <b>{{$ctrl.order.unit_price | number:2}}</b>
    </div>
  </div>
  <div class="summary-row" ng-if="$ctrl.user.admin.username != 'gomechanic_admin'">
    <div class="pull-left">
      <p>CGST</p>
    </div>
    <div class="pull-right">
      <b>{{$ctrl.order.cgst | number:2}}</b>
    </div>
  </div>
  <div class="summary-row" ng-if="$ctrl.user.admin.username != 'gomechanic_admin'">
    <div class="pull-left">
      <p>SGST</p>
    </div>
    <div class="pull-right">
      <b>{{$ctrl.order.sgst | number:2}}</b>
    </div>
  </div>
  <div class="summary-row" ng-if="$ctrl.user.admin.username != 'gomechanic_admin'">
    <div class="pull-left">
      <p>IGST</p>
    </div>
    <div class="pull-right">
      <b>{{$ctrl.order.igst}}</b>
    </div>
  </div>
  <div class="summary-row" ng-if="$ctrl.user.admin.username != 'gomechanic_admin'">
    <div class="pull-left">
      <p>UTGST</p>
    </div>
    <div class="pull-right">
      <b>{{$ctrl.order.utgst}}</b>
    </div>
  </div>
  <!--<div class="summary-row">
    <div class="pull-left">
      <p>Total Discount</p>
    </div>
    <div class="pull-right">
      <b ng-if="$ctrl.order.total_discount > 0">{{$ctrl.order.total_discount | number:2}}</b>
    </div>
  </div>-->
  <div class="summary-row" ng-if="$ctrl.user.admin.username != 'gomechanic_admin'">
    <div class="pull-left">
      <p>Total Returned</p>
    </div>
    <div class="pull-right">
      <b ng-if="$ctrl.order.total_returned > 0">{{-$ctrl.order.total_returned | number:2}}</b>
    </div>
  </div>

  <div class="summary-row total-cost">
    <div class="pull-left">
      <p>AMOUNT</p>
    </div>
    <div class="pull-right">
      {{ $ctrl.order.total_amount | number:2}}/-
    </div>
  </div>
  <div class="summary-row total-cost">
    <div class="pull-left">
      <p><b>DISCOUNT</b></p>
    </div>
    <div class="pull-right">
      <b>{{$ctrl.order.total_discount | number:2}}/-</b>
    </div>
  </div>
  <div class="summary-row total-cost">
    <div class="pull-left">
      <p><b>TOTAL COST</b></p>
    </div>
    <div class="pull-right" >
      <b>{{ $ctrl.order.subtotal - $ctrl.order.total_discount | number:2 }}/-</b>
    </div>
  </div>
  <div class="summary-row total-cost" ng-if="$ctrl.urlService.returnsView">
    <div class="pull-left" ng-init="$ctrl.order_summary_refresh()">
      <p><b>TOTAL PAID</b></p>
    </div>
    <div class="pull-right" >
      <b>{{ $ctrl.order.total_paid | number:2 }}/-</b>
    </div>
  </div>
  <div class="summary-row total-cost" ng-if="$ctrl.urlService.returnsView">
    <div class="pull-left">
      <p><b>RECEIVE (+)</b></p>
    </div>
    <div class="pull-right" >
      <b>{{ $ctrl.order.pay | number:2 }}/-</b>
    </div>
  </div>
  <div class="summary-row total-cost" ng-if="$ctrl.urlService.returnsView">
    <div class="pull-left">
      <p><b>RETURN (-)</b></p>
    </div>
    <div class="pull-right" >
      <b>{{ $ctrl.order.return | number:2 }}/-</b>
    </div>
  </div>
  <div class="summary-row discount">
    <div class="btn btn-default" ng-click="$ctrl.discount_modal()">Discount</div>
  </div>
  <div ng-if="$ctrl.urlService.returns_load">
    <div ng-init="$ctrl.on_data_change('add')"></div>
  </div>
  <div ng-if="!$ctrl.urlService.returns_load">
    <div ng-init="$ctrl.on_data_change('remove')"></div>
  </div>
  <div ng-if="$ctrl.urlService.load_summary_data">
    <div ng-init="$ctrl.load_summary()"></div>
  </div>
</div>


<!-- Discount Modal -->
<div class="modal fade" id="discountModal" role="dialog">
    <div class="" style="width: 30%; margin: 10% auto;">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DISCOUNT</h4>
                <div class="row">
                </div>
            </div>
            <div class="modal-body" style="">
                <div class="row">
				  	<div class="col-md-4"><p>On </p></div>
					<div class="col-md-6"><p><input type="text" value="{{$ctrl.order.subtotal | number:2}}"
													readonly></p></div>
					<div class="col-md-4"><p>Disc Amt </p></div>
					<div class="col-md-6"><p><input type="text" ng-model="$ctrl.discount" ng-init="$ctrl.discount=0"
													ng-change="$ctrl.change_disc($ctrl.discount)"></p></div>
					<div class="col-md-4"><p>Disc % </p></div>
					<div class="col-md-6"><p><input type="text" ng-model="$ctrl.disc_percent"
											 		 ng-init="$ctrl.disc_percent=0"
													 ng-change="$ctrl.change_disc_perc($ctrl.disc_percent)"></p></div>
				  	<div class="col-md-4"><p>Tot Cost </p></div>
					<div class="col-md-6"><p><input type="text" ng-model="$ctrl.total_amount | number:2"
													ng-init="$ctrl.total_amount=0" readonly></p></div>
                </div>
            </div>

            <div class="modal-footer">
                <div type="button" class="btn btn-danger"
                        ng-click=$ctrl.discount_confirm()>Confirm</div>
            </div>
        </div>
    </div>
</div><!-- style sku modal-->

