.print-invoice {
  padding: 1px 1px !important;
}
.print-invoice td table {
  border: 1px solid #cfcfcf;
}
.print-invoice .dataTable {
  word-break: break-all;
}
.print-invoice .fa-15px {
  font-size: 15px;
}
.print-invoice .padding-none {
  padding: 0px;
}
.print-invoice .rm-brdr td {
  border-top: 0px !important;
  border-bottom: 0px !important;
  padding: 5px 5px !important;
  font-size: 10px !important;
}
.print-invoice .fs12 {
  font-size: 12px !important;
}
.print-invoice .fs10 {
  font-size: 10px !important;
}
.print-invoice .fs14 {
  font-size: 14px !important;
}
.print-invoice .fs22 {
  font-size: 22px !important;
}
.print-invoice .rm-padding th {
  font-size: 11px !important;
  padding: 4px 2px !important;
}
.print-invoice .rm-padding td {
  font-size: 11px !important;
  padding: 4px 2px !important;
}
.print-invoice .detail_invoice .w50 {
  width: 50px;
}
.print-invoice .detail_invoice .company_details {
  padding-right: 5px;
}
.print-invoice .detail_invoice .company_details pre {
  border: 0px;
  background: #fff;
  padding: 0px 5px;
  white-space: pre-line;
  margin-bottom: 0px;
  font-size: 11px !important;
  font-family: "Source Sans Pro", sans-serif;
}
.print-invoice .detail_invoice pre {
  border: 0px;
  background: #fff;
  padding: 0px 5px;
  white-space: pre-line;
  margin-bottom: 0px;
  font-size: 11px !important;
  font-family: "Source Sans Pro", sans-serif;
}
.print-invoice .table-bordered > thead > tr > th:last-child {
  border-right: 1 !important;
}
.print-invoice .no-margin {
  margin-bottom: 0px !important;
}
.print-invoice .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.print-invoice .tax-percentage {
  font-size: 9px;
  font-weight: 100;
}
.print-invoice .table-bordered > tbody > tr > td:last-child {
  border-right: 1px;
}
.print-invoice .table-dark {
  border-color: black;
}
.print-invoice .table-dark tbody > tr > td,
.print-invoice .table-dark th {
  border-color: black !important;
  padding: 5px 5px !important;
}
.pre-custom {
  border: 0px;
  background: #fff;
  padding: 0px 5px;
  white-space: pre-line;
  margin-bottom: 0px;
  font-family: "Source Sans Pro", sans-serif;
}
