<div class="menu" ng-controller="posController">
	<preloader class="preloader ng-scope ng-hide"></preloader>
        <div class="container">
          <div class="home pull-left"> <h3>POS</h3> </div>
          <div class="pull-right logout">
            <div id="fat-menu" class="dropdown user"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <a id="drop3" href="/home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{user_data.user_name}} <span class="caret"></span> </a>
              <ul class="dropdown-menu" aria-labelledby="drop3"> <li><a href="#">Logout</a></li> </ul>
            </div>
          </div>

          <div class="pull-right sync">
            <div class="button sync_btn" data-toggle="popover" title="Synchronize DB" ng-click="sync()" ng-disabled={{is_disable}}>
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </div>
          </div>


        </div>
      </div>

<div class="container" style="background: #fff;">
  <customer></customer>
<div class="right-side">
      <!-- Customer Details box -->
   <summary></summary>
   <money></money>
   <order></order>
   <pending></pending>
</div>
<sku></sku>
</div>
