{% extends 'base.html' %}

{% block header %} Back Orders {% endblock %}
{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>


<div class="content-wrapper">


    <!-- Table Body  -->
    <div class="panel tab-content" id="back_orders_rm">

        <table class="display" id="sortingTable">

            <thead>
            <tr>
                <th><input type='checkbox' id='check-back-orders'></th>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>

        </table>

        <div class="clearfix top-padding">
            <button type="submit" class="btn btn-danger right-float back-order-confirm" disabled>Raise PO</button>
            <button type="submit" class="btn btn-danger right-float back-order-rwo-confirm" disabled>Raise RWO</button>
        </div>
    </div>

    <div class="modal fade process-toggle" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>
</div>


{% endblock %}
