<!DOCTYPE html>

<html class="">

{% load staticfiles %}
{% load tag_extras %}

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miebach</title>


    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/css_002.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar_toggle.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2-bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfect-scrollbar.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}"/>

    <script type="text/javascript" src="{% static 'js/jstz.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr-2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/typeahead.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/masters.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inbound.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stock_locator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/outbound.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uploads.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reports.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/manage_users.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/production.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highcharts-more.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/solid-gauge.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'js/jquery.multi-select.js' %}" type="text/javascript"></script>

    {% block head %}
    {% endblock %}

</head>

<body>

<div class="sidebar" id="wrapper">

    <div id="sidebar-wrapper">
        <div class="logo-section">
            <a href="/">
                <img class="logo" src={% static "img/logo_miebach.png" %}>
            </a>
        </div>

        <ul class="links-section">

            <li class="{% block dashboard %}  {% endblock %}">
                <a href="/"><i class="fa fa-dashboard fa-fw"></i>

                    <div>Dashboard</div>
                </a>
            </li>

            <li class="{% block masters %}  {% endblock %}">
                <a href="#"><i class="fa fa-cubes fa-fw"></i>

                    <div>Masters</div>
                </a>
            </li>

            <ul class="" style="display: {% block masters_style %}none{% endblock %}">
                <li class="{% block sku_master %}  {% endblock %}">
                    <a href="/sku_master/">
                        <div>SKU Master</div>
                    </a>
                </li>
                <li class="{% block location_master %}  {% endblock %}">
                    <a href="/location_master/">
                        <div>Location Master</div>
                    </a>
                </li>
                <li class="{% block supplier_master %}  {% endblock %}">
                    <a href="/supplier_master/">
                        <div>Supplier Master</div>
                    </a>
                </li>
                <li class="{% block supplier_sku_mapping %}  {% endblock %}">
                    <a href="/supplier_sku_master/">
                        <div>Supplier-SKU Mapping</div>
                    </a>
                </li>
                <li class="{% block customer_master %}  {% endblock %}">
                    <a href="/customer_master/">
                        <div>Customer Master</div>
                    </a>
                </li>
                <li class="{% block customer_sku_mapping %}  {% endblock %}">
                    <a href="/customer_sku_mapping/">
                        <div>Customer-SKU Mapping</div>
                    </a>
                </li>
                {% if user|is_production %}
                <li class="{% block bom_master %}  {% endblock %}">
                    <a href="/bom_master/">
                        <div>BOM Master</div>
                    </a>
                </li>
                <li class="{% block vendor_master %}  {% endblock %}">
                    <a href="/vendor_master/">
                        <div>Vendor Master</div>
                    </a>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                <li class="{% block warehouse_master %}  {% endblock %}">
                    <a href="/warehouse_master/">
                        <div>Warehouse Master</div>
                    </a>
                </li>
                {% endif %}
                <li class="{% block discount_master %}  {% endblock %}">
                  <a href="/discount_master/">
                      <div>Discount Master</div>
                  </a>
                </li>
            </ul>
            {% if user.is_superuser or user|is_inbound or user.is_staff %}
            <li class="{% block inbound %}  {% endblock %}">
                <a href="#"><i class="fa fa-dropbox fa-fw"></i>

                    <div>Inbound</div>
                </a>
            </li>

            <ul class="" style="display: {% block inbound_style %}none{% endblock %}">
                {% if user.is_superuser or user|is_open_po or user.is_staff %}
                <li class="{% block raise_po %}  {% endblock %}">
                    <a href="/raise_po/">
                        <div>Raise PO</div>
                    </a>
                </li>
                {% endif %}
                {% if user.is_superuser or user|is_purchase_order or user.is_staff %}
                <li class="{% block receive_po %}  {% endblock %}">
                    <a href="/receive_po/">
                        <div>Receive PO</div>
                    </a>
                </li>
                {% endif %}
                {% if user|is_quality_check %}
                <li class="{% block quality_check %}  {% endblock %}">
                    <a href="/quality_check/">
                        <div>Quality Check</div>
                    </a>
                </li>
                {% endif %}
                {% if user.is_superuser or user|is_po_location or user.is_staff %}
                <li class="{% block putaway_confirmation %}  {% endblock %}">
                    <a href="/putaway_confirmation/">
                        <div>Put away Confirmation</div>
                    </a>
                </li>
                {% endif %}
                {% if user.is_superuser or user|is_sales_returns or user.is_staff %}
                <li class="{% block sales_returns %}  {% endblock %}">
                    <a href="/sales_returns/">
                        <div>Sales Returns</div>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            {% if user|is_production or is_config %}
            <li class="{% block production %}  {% endblock %}" style="{{ display_none }}">
                <a href="#"><i class="fa fa-simplybuilt fa-fw"></i>

                    <div>Production</div>
                </a>
            </li>

            <ul class="production" style="display: {% block production_style %}none{% endblock %}">
                <li class="{% block raise_jo %}  {% endblock %}">
                    <a href="/raise_jo/">
                        <div>Raise JO</div>
                    </a>
                </li>
                <li class="{% block rm_picklist %}  {% endblock %}">
                    <a href="/rm_picklist/">
                        <div>RM Picklist</div>
                    </a>
                </li>

                <li class="{% block receive_jo %}  {% endblock %}">
                    <a href="/receive_jo/">
                        <div>Receive JO</div>
                    </a>
                </li>
                <li class="{% block jo_putaway %}  {% endblock %}">
                    <a href="/jo_putaway_confirmation/">
                        <div>Job Order Putaway</div>
                    </a>
                </li>
            </ul>
            {% endif %}

            <li class="{% block locator %}  {% endblock %}">
                <a href="#"><i class="fa fa-list fa-fw"></i>

                    <div>Stock Locator</div>
                </a>
            </li>

            <ul class="" style="display: {% block locator_style %}none{% endblock %}">
                {% if user.is_superuser or user|is_stock_detail or user.is_staff %}
                <li class="{% block stock_summary %}  {% endblock %}">
                    <a href="/stock_summary/">
                        <div>Stock Summary</div>
                    </a>
                </li>
                {% endif %}
                {% if user.is_superuser or user|is_stock_detail or user.is_staff %}
                <li class="{% block stock_detail %}  {% endblock %}">
                    <a href="/stock_detail/">
                        <div>Stock Detail</div>
                    </a>
                </li>
                {% endif %}
                {% if user.is_superuser or user|is_cycle_count or user.is_staff %}
                <li class="{% block cycle_count %}  {% endblock %}">
                    <a href="/cycle_count/">
                        <div>Cycle Count</div>
                    </a>
                </li>
                {% endif %}
                <li class="{% block move_inventory %}  {% endblock %}">
                    <a href="/move_inventory/">
                        <div>Move Inventory</div>
                    </a>
                </li>
                {% if user.is_superuser or user|is_inventory or user.is_staff %}
                <li class="{% block inventory_adjustment %}  {% endblock %}">
                    <a href="/inventory_adjustment/">
                        <div>Inventory Adjustment</div>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_superuser or user|is_outbound or user.is_staff %}
            <li class="{% block outbound %}  {% endblock %}">
                <a href="#"><i class="fa fa-truck fa-fw"></i>

                    <div>Outbound</div>
                </a>
            </li>

            <ul class="" style="display: {% block outbound_style %}none{% endblock %}">
                {% if user.is_superuser or user.is_staff or user|is_orderdetail %}
                <li class="{% block create_orders %}  {% endblock %}">
                    <a href="/create_orders/">
                        <div>Create Orders</div>
                    </a>
                </li>
                {% endif %}
                {% if user.is_superuser or user|is_orderdetail or user.is_staff %}
                <li class="{% block view_manifest %}  {% endblock %}">
                    <a href="/view_manifest/">
                        <div>View Orders</div>
                    </a>
                </li>
                {% endif %}
                {% if user.is_superuser or user|is_picklist or user.is_staff %}
                <li class="{% block pull_confirmation %}  {% endblock %}">
                    <a href="/pull_confirmation/">
                        <div>Pull Confirmation</div>
                    </a>
                </li>
                {% endif %}
                {% if user|is_shipment_info %}
                <li class="{% block shipment_info %}  {% endblock %}">
                    <a href="/shipment_info/">
                        <div>Shipment Info</div>
                    </a>
                </li>
                {% endif %}
                {% if user|is_pullto_locate %}
                <li class="{% block pullto_locate %}  {% endblock %}">
                    <a href="/pullto_locate/">
                        <div>Pull to Locate</div>
                    </a>
                </li>
                {% endif %}

            </ul>
            {% endif %}
            <li class="{% block uploads %}  {% endblock %}">
                <a href="/uploads/"><i class="fa fa-cloud-upload fa-fw"></i>

                    <div>Uploads</div>
                </a>
            </li>
            <li class="{% block reports %}  {% endblock %}">
                <a href="#"><i class="fa fa-file-text fa-fw"></i>

                    <div>Reports</div>
                </a>
            </li>

            <ul class="" style="display: {% block reports_style %}none{% endblock %}">
                <li class="{% block sku-list %}  {% endblock %}">
                    <a href="/sku_list_report/">
                        <div>SKU List</div>
                    </a>
                </li>
                <li class="{% block location-wise %}  {% endblock %}">
                    <a href="/location_wise_filter/">
                        <div>Location Wise Filter</div>
                    </a>
                </li>
                <li class="{% block receipt-note %}  {% endblock %}">
                    <a href="/goods_receipt_note/">
                        <div>Goods Receipt Note</div>
                    </a>
                </li>
                <li class="{% block receipt_summary_report %}  {% endblock %}">
                    <a href="/receipt_summary_report/">
                        <div>Receipt Summary</div>
                    </a>
                </li>
                <li class="{% block dispatch_summary_report %}  {% endblock %}">
                    <a href="/dispatch_summary_report/">
                        <div>Dispatch Summary Report</div>
                    </a>
                </li>
                <li class="{% block sku_wise_stock %}  {% endblock %}">
                    <a href="/sku_wise_stock/">
                        <div>SKU Wise Stock</div>
                    </a>
                </li>
                <li class="{% block sku_wise_purchases %}  {% endblock %}">
                    <a href="/sku_wise_purchases/">
                        <div>SKU Wise Purchase Orders</div>
                    </a>
                </li>
                <li class="{% block supplier_wise_pos %}  {% endblock %}">
                    <a href="/supplier_wise_pos/">
                        <div>Supplier Wise PO's</div>
                    </a>
                </li>
                {% if user.is_superuser or user|is_shipment_info or user.is_staff %}
                <li class="{% block sales_return_report %}  {% endblock %}">
                    <a href="/sales_return_report/">
                      <div>Sales Return Report</div>
                    </a>
                </li>
                {% endif %}
                <li class="{% block inventory_adjust_report %}  {% endblock %}">
                    <a href="/inventory_adjust_report/">
                        <div>Inventory Adjustment Report</div>
                    </a>
                </li>
                <li class="{% block inventory_aging_report %}  {% endblock %}">
                    <a href="/inventory_aging_report/">
                        <div>Inventory Aging Report</div>
                    </a>
                </li>

            </ul>
            </li>
            {% if user.is_superuser or user.is_staff %}
             <li class="{% block configurations %}  {% endblock %}">
                <a href="/configurations/"><i class="fa fa-cogs fa-fw"></i>
                    <div>Configurations</div>
                </a>
            </li>
            {% endif %}
            {% if user.is_superuser or user.is_staff %}
             <li class="{% block manage_users %}  {% endblock %}">
                <a href="/manage_users/"><i class="fa fa-group fa-fw"></i>
                    <div>Manage Users</div>
                </a>
            </li>
            {% endif %}

            {% if user|is_pos or is_config %}
            <li class="{% block pos %}  {% endblock %}" style="{{ display_pos }}">
                <a href="http://pos.mieone.com/#/home?user_id={{ user.id }}&user_name={{ user.username }}" target="_blank"><i class="fa fa-dashboard"></i>

                    <div>POS</div>
                </a>
            </li>
            {% endif %}

        </ul>

        <div class="user-section">
            <ul id="UserMenu">
                <li>
                    <a href="#"><i class="fa fa-user"></i>Profile</a>
                </li>
                <li>
                    <a class="logout"><i class="fa fa-sign-out "></i>Logout</a>
                </li>
            </ul>

            <div>
                <div class="usernameBlock">
                    <a href="" class="clearfix">
                        <img src={% static "img/user.png" %} class="UserImage">
                        <span class="Username">{{ user }}</span>
                    </a>
                </div>
                <div class="settingsBlock">
                    <a href="#settings"><i class="fa fa-cog"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="toaster">
    <div class="textContainer"></div>
</div>

<div class="content">
    <div>
        <div class="headerBar clearfix">
            <h3 class="pageheader pull-left"><i class="fa fa-align-justify" id="menu-toggle"></i>{% block header %}
                {%endblock %}</h3>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-dialog.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/bootstrap-dialog.min.js' %}"></script>

</body>
</html>
