{% extends 'base.html' %}
{% block header %} Configurations {% endblock %}
{% block configurations %} active {% endblock %}
{% block configurations_style %} block {% endblock %}

{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>

<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/orders.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<script type="text/javascript" src="{% static 'js/configurations.js' %}"></script>

<div class="content-wrapper">
    <div class="panel tab-content" id="configurations">
            <div class='notifications top-right'></div>

             <div class="row" style="padding-bottom: 15px">
                 <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-th fa-15px"></i></a></div>
                 <div class="col-md-3"> <strong> Inbound/ Outbound mail Notifications</strong></div>
             <div class="col-md-2">
               <select class="mailpicker mail-button" multiple data-selected-text-format="count>3" style="margin-left:0px;">
                 {% for key,value in mail_options.iteritems %}
                     {% if value in mail_inputs %}
                         <option selected>{{ key }}</option>
                     {% else %}
                         <option>{{ key }}</option>
                     {% endif %}
                 {% endfor %}
               </select>
              </div>
            </div>

            <div class="row" style="padding-bottom: 15px">
                <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-envelope-o fa-15px"></i></a></div>
                <div class="col-md-3"><strong> Send [PO] Messages and Email</strong></div>
                <div class="col-md-2">
                    {%if send_message == 'true'%}
                    <input type="checkbox" name='send-message' data-on-text="Yes" data-off-text="No" id='message-switch' checked />
                    {% else %}
                     <input type="checkbox" name='send-message' data-on-text="Yes" data-off-text="No" id='message-switch' />
                     {% endif %}
                </div>
             </div>

             <div class="row" style="padding-bottom: 15px">
                 <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-th fa-15px"></i></a></div>
                 <div class="col-md-3"> <strong> Batch Processing Required </strong></div>
             <div class="col-md-2">
                 {%if batch_switch == "true"%}
                <input type="checkbox" data-on-text="Yes" data-off-text="No" id='batch-conf-switch' checked />
                {% else %}
                 <input type="checkbox" data-on-text="Yes" data-off-text="No" id='batch-conf-switch' />
                 {% endif %}
              </div>
            </div>

            <div class="row" style="padding-bottom: 15px">
              <div class="col-md-1" style="width: 3%;"><a><i class="glyphicon glyphicon-sort fa-15px"></i></a></div>
              <div class="col-md-3"><strong> First In First Out Required </strong> </div>
             <div class="col-md-2">
                 {%if fifo_switch == "true"%}
                <input type="checkbox"  data-on-text = "Yes" data-off-text="No" id='fifo-conf-switch' checked />
                {% else %}
                 <input type="checkbox" data-on-text="Yes" data-off-text="No" id='fifo-conf-switch' />
                {% endif %}
            </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
            <div class="col-md-1" style="width: 3%;"><a><i class="glyphicon glyphicon-sort fa-15px"></i></a></div>
            <div class="col-md-3"><strong> Location Serial Mapping </strong> </div>
           <div class="col-md-2">
               {%if loc_serial_mapping_switch == "true"%}
              <input type="checkbox"  data-on-text = "Yes" data-off-text="No" id='loc-serial-mapping-switch' checked />
              {% else %}
               <input type="checkbox" data-on-text="Yes" data-off-text="No" id='loc-serial-mapping-switch' />
              {% endif %}
          </div>
        </div>

          <div class="row" style="padding-bottom: 15px">
             <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-file-image-o fa-15px"></i></a></div>
             <div class="col-md-3">
                 <strong> Show Images in Picklist </strong>
             </div>
             <div class="col-md-2">
                 {%if show_image == "true" %}
                <input type="checkbox"  data-on-text = "Yes" data-off-text="No" id='show-image-switch' checked />
                {% else %}
                 <input type="checkbox" data-on-text="Yes" data-off-text="No" id='show-image-switch' />
                {% endif %}
             </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
             <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-exchange fa-15px"></i></a></div>
             <div class="col-md-3">
                 <strong> Enable/Disable Cross Stock</strong>
             </div>
             <div class="col-md-2">
                 {%if back_order == "true" %}
                <input type="checkbox"  data-on-text = "Yes" data-off-text="No" id='show-backorder-switch' checked />
                {% else %}
                 <input type="checkbox" data-on-text="Yes" data-off-text="No" id='show-backorder-switch' />
                {% endif %}
             </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
             <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-list-ol fa-15px"></i></a></div>
             <div class="col-md-3">
                 <strong> Use Serial Numbers for SKUs</strong>
             </div>
             <div class="col-md-2">
                 {%if use_imei == "true" %}
                <input type="checkbox"  data-on-text = "Yes" data-off-text="No" id='use-imei-switch' checked />
                {% else %}
                 <input type="checkbox" data-on-text="Yes" data-off-text="No" id='use-imei-switch' />
                {% endif %}
             </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
             <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-archive fa-15px"></i></a></div>
             <div class="col-md-3">
                 <strong> Pallet Enable/Disable</strong>
             </div>
             <div class="col-md-2">
                 {%if pallet_switch == "true" %}
                <input type="checkbox"  data-on-text = "Yes" data-off-text="No" id='pallet-switch' checked />
                {% else %}
                 <input type="checkbox" data-on-text="Yes" data-off-text="No" id='pallet-switch' />
                {% endif %}
             </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
             <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-server fa-15px"></i></a></div>
             <div class="col-md-3">
                 <strong> Production Enable/Disable</strong>
             </div>
             <div class="col-md-2">
                 {%if production_switch == "true" %}
                <input type="checkbox"  data-on-text = "Yes" data-off-text="No" id='production-switch' checked />
                {% else %}
                 <input type="checkbox" data-on-text="Yes" data-off-text="No" id='production-switch' />
                {% endif %}
             </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
             <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-server fa-15px"></i></a></div>
             <div class="col-md-3">
                 <strong> POS Enable/Disable</strong>
             </div>
             <div class="col-md-2">
                 {%if pos_switch == "true" %}
                <input type="checkbox"  data-on-text = "Yes" data-off-text="No" id='pos-switch' checked />
                {% else %}
                 <input type="checkbox" data-on-text="Yes" data-off-text="No" id='pos-switch' />
                {% endif %}
             </div>
          </div>


          <div class="row" style="padding-bottom: 15px">
              <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-shopping-cart fa-15px"></i></a></div>
              <div class="col-md-3 online-percentage">
                <strong> Online Percentage ( {{ online_percentage }}% ) </strong>
              </div>
              <div class="col-md-2">
                <div class="col-md-4 padding-none numvalid">
                    <input type="text" class="form-control online-input" id="online_percentage" value="{{ online_percentage }}" maxlength="3">
                </div>
                <div class="col-md-3" style="padding: 0 0 0 7px;"><img class="save-percentage display-none" title="Click to Save" src="/static/img/save-icon.png"></div>
              </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
              <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-tags fa-15px"></i></a></div>
              <div class="col-md-3 sku-groups">
                <strong> SKU Groups </strong>
              </div>
              <div class="col-md-8">
                    <input type="text" id="group_input" value="{{ all_groups }}" data-role="tagsinput">
                    <img class="save-group display-none" title="Click to Save" src="/static/img/save-icon.png">
              </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
              <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-envelope fa-15px"></i></a></div>
              <div class="col-md-3 mail-alerts">
                <strong> Alerts for Unprocessed PO's/Orders</strong>
              </div>
              <div class="col-md-2">
                <div class="col-md-4 padding-none numvalid">
                    <input type="text" class="form-control alerts-input" id="mail_alerts" value="{{ mail_alerts }}" maxlength="3">
                </div>
                <div class="col-md-1" style="padding:0 0 0 6px"><b>Days</b></div>
                <div class="col-md-1" style="padding: 0 0 0 35px;"><img class="save-mail-alerts display-none" title="Click to Save" src="/static/img/save-icon.png"></div>
              </div>
          </div>

          <div class="row" style="padding-bottom: 15px">
              <div class="col-md-1" style="width: 3%;"><a><i class="fa fa-outdent fa-15px"></i></a></div>
              <div class="col-md-3 po-prefix">
                <strong> PO Prefix </strong>
              </div>
              <div class="col-md-2">
                <div class="col-md-4 padding-none"><input type="text" class="form-control invoice-prefix" id="invoice_prefix"
                  value="{{ prefix }}"></div>
                <div class="col-md-3"><img class="save-prefix display-none" title="Click to Save" src="/static/img/save-icon.png"></div>
              </div>
          </div>



<div>
  <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Configure Mail Reports
  </a>
</div>


<div class="collapse" id="collapseExample">
  <div class="well">

  <link href="{% static 'css/multi-select.css' %}" media="screen" rel="stylesheet" type="text/css">

  <body>

    <h4>Add Mail Reports: </h4><br/>
    <select multiple="multiple" id="my-select" name="my-select[]">

    {% for key, value in mail_reports.items %}
         {{ key }}
         {{ reports_data }}
         {% if key in reports_data %}
           <option value='{{ key }}' selected> {{  value.0 }}</option>
         {% else %}
           <option value='{{ key }}'> {{  value.0 }}</option>
         {% endif %}
    {% endfor %}
    </select>

    <br /><br />


    <b>Mail To:  </b> <input type="text" id="email_input" value="{{email}}" data-role="tagsinput"><br /><br />
    <h4>Frequency: </h4><br/>

    <div style='padding-bottom: 25px;'>
    Once Every: <input type="text" class="" id="days_range" style="width: 100px;height:21px;" value="{{ report_freq }}">

    <select class="time_data">
      <option>Hours</option>
      <option selected>Days</option>
    </select>
    </div>
      <div style='padding-bottom: 25px;'>
      Since: <input type="text" readonly="readonly" id="datepicker11" value="" name="from_date">
      </div>


        <div>
            <button id="mail-now" class="btn btn-primary">Mail Now</button>
        </div>

        <div style="padding: 0 30%;">
            <button id="config-save" class="btn btn-primary">Save</button>
        </div>

  </div>
</div>



    </div>
</div>


{% endblock %}
