{% extends 'base.html' %}
{% block header %} Create Orders {% endblock %}
{% block outbound %} active{% endblock %}
{% block outbound_style %} block {% endblock %}
{% block create_orders %} active {% endblock %}
{% block content %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/liquidcarousel.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lc_switch.css' %}"/>
<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lc_switch.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scrolling.js' %}"></script>
<script type="text/javascript" src="https://rvera.github.io/image-picker/image-picker/image-picker.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.liquidcarousel.pack.js' %}"></script>

<div class="content-wrapper">
  <ul class="nav nav-tabs {{ is_display }}" role="tablist" id="myTab" style="border: none">
    <li role="presentation" class="active"><a href="#create-order" aria-controls="home" role="tab"
                                             data-toggle="tab">Create Order</a></li>
    <li role="receipt"><a href="#create-st-order" aria-controls="home" role="tab" data-toggle="tab">Create Stock Transfer
                                                </a></li>
  </ul>
  <div class="panel tab-content" id="create-orders" style='padding-bottom:0px;'>
    <div class='notifications top-right'></div>
    <div class="panel-body tab-pane active" role="tabpanel" id="create-order">
    <h4>Create Order</h4>
    <hr>
      <input type="checkbox" class="switch_view_order" style="float:right">
      <label style="float: right;margin-right:5px;font-size: 13px">Alternative View</label>
      <form id="order-create">
        <div class="form-group clearfix">
          {% for create_order in create_order_fields %}
            <div class="row col-md-12">
              {% for order in create_order %}
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-md-5 control-label">{{ order.0 }}</label>
                    <div class="col-md-7">
                      {% if order.1 == "shipment_date" %}
                        <input name="{{ order.1 }}" class="form-control" type="text" id="shipment_date">
                      {% elif order.1 == "address" %}
                        <textarea rows="4" class="form-control" cols="27" name="{{ order.1 }}"></textarea> 
                      {% else %}
                        <input name="{{ order.1 }}" class="form-control" type="text">
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

        <div class="form-group clearfix">
          <hr>
          <div class="form-group">
            <div class="row col-md-12">
              {% for key,value in create_order_fields1.iteritems %}
                <div class="col-md-4">
                  <label class="control-label"> {{ key }} </label>
                </div>
              {% endfor %}
            </div>
          <div class="row col-md-12">
            <div class="form-group">
              {% for key,value in create_order_fields1.iteritems %}
                {% if value == 'invoice_amount' %}
                  <div class="col-md-3">
                    <input type="text" name="{{ value }}" class="form-control numvalid" value="">
                  </div>
                  <div class="col-md-1">
                    <img src="/static/img/details_open.png" class="plus1">
                  </div>
                {% else %}
                  <div class="col-md-4">
                    <input type="text" name="{{ value }}" class="form-control " value="">
                  </div>

                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

      </form>
      <div class="col-md-12" style='padding-bottom:0px;'>
        <hr>
        <button type="submit" class="btn btn-primary pull-right" id='add-order-btn'>Create Order
        </button>
      </div>
    </div>
        <div class="grid-sku display-none">
            <div class="row" style="padding-bottom: 25px">
                  <div class="col-md-2"><label>SKU Category</label></div>
                <div class="col-md-2">
                    <select class="form-control" name="category">
                        <option></option>
                        {% for cat in categories %}
                            <option>{{ cat }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2"><label>Search SKU Code/Title</label></div>
                <div class="col-md-3"><input type="text" name="search-name" class="form-control"></div>
            </div>
            <div class="append-data1"></div>
            <div class="append-data"></div>
            <input type="hidden" name="index" value="0:20">
        </div>
    </div>
    <div class="panel-body tab-pane" role="tabpanel" id="create-st-order" style="padding:2px;">
        <h4>Create Stock Transfer Order</h4>
        <hr>
      <form id="add_st">
        <div class="form-group clearfix">

          {% for supplier_fields in st_fields %}
            <div class="row col-md-12">
              {% for supplier_field in supplier_fields %}
                <div class="col-md-6">

                  <div class="form-group">
                    <label class="col-md-5 control-label"> {{ supplier_field.0 }} </label>
                    <div class="col-md-7">
                      <select name="{{ supplier_field.1 }}" class="form-control" value=""
                                                 maxlength="{{ supplier_field.2 }}">
                        {% for users in user_list %}
                          <option>{{ users }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              {% endfor %}

            </div>
          {% endfor %}
        </div>
        <hr>
        <div class="form-group clearfix">
          <div class="form-group">
            <div class="row col-md-12">

              {% for key,value in st_fields1.iteritems %}
                <div class="col-md-4">
                  <label class="col-md-12 control-label"> {{ key }} </label>
                </div>
              {% endfor %}
            </div>
            <div class="row col-md-12">
              <div class="form-group">
                {% for key,value in st_fields1.iteritems %}
                  {% if value == 'price' %}
                    <div class="col-md-3">
                      <input type="text" name="{{ value }}" class="form-control pricevalid" value="">
                    </div>
                    <div class="col-md-1">
                      <img src="/static/img/details_open.png" class="plus1">
                      <input type="hidden" name="id" value="">
                    </div>
                  {% elif value == 'order_quantity' %}
                    <div class="col-md-4">
                      <input id="quant1" type="text" name="{{ value }}" class="form-control numvalid"
                                               value="">
                    </div>

                  {% elif value == 'wms_code' %}
                    <div class="col-md-4">
                      <input id="wms1" type="text" name="{{ value }}" class="form-control"
                                               value="">
                    </div>

                  {% else %}
                    <div class="col-md-4">
                      <input id="wms1" type="text" name="{{ value }}" class="form-control " value="">
                    </div>

                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-md-12 form-group clearfix" style='padding-bottom:0px;'>
          <button type="button" class="btn btn-primary" id="st-create-order" name="st-create-order" style="float:right;">Create Transfer Order
          </button>
        </div>
      </form>
    </div>

  <center><img src="/static/img/scroll-load.gif" style="width:50px" id="img-load" class="display-none"></center>
  <div class="modal fade process-toggle" id="location-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true">
  </div>
</div>

<div class="button_column place-order display-none">
    <button type="get_input" class="btn" data-toggle="modal" data-placement="top" title="Place Order"
            data-original-title="Click to Submit" data-target="#myModal">

        <div class="svg">
            <!--?xml version="1.0" encoding="utf-8"?-->
            <!-- License Agreement at http://iconmonstr.com/license/ -->
            <i class="fa fa-plus fa-3x"></i>
        </div>
</div>
</button>

<script>
  $('.switch_view_order').lc_switch();
  $('.switch_view_order').lcs_off();
</script>


{% endblock %}

