{% load tag_extras %}
<style>
  {% include 'toggle/bootstrap.min.css' %}
  {% include 'toggle/page.css' %}
  /*html { zoom: 0.79; /*workaround for phantomJS2 rendering pages too large }*/
  .print-invoice .cal-table .rm-padding td,th {
        font-size: 8px !important;
          padding: 4px 2px !important;
  }
  .print-invoice .cal-table .rm-padding th {
        font-size: 8px !important;
          padding: 4px 2px !important;
  }
  .print-invoice .tax-percentage {
        font-size:7px;
  }
</style>

<div class='row'>
  <div class="print-invoice">
    <div class="row col-md-12 no-padding" style="background-color: #ed1c24 !important;color: white;">
        <h4 style="margin-bottom:10px;color:white !important;" align="center"><b style="color:white !important;">{{ user }}</b></h4>
      <span class="pull-right" style="position: absolute;top: 10px;right: 20px;font-size:12px">Date&Time: {{date}}</span>
    </div>
{% for obj in data %}
{% if forloop.first %}
<div class='row'>
{% elif forloop.counter|get_page_break %}
<div class='row' style="page-break-after: always;">
{% elif not forloop.counter|divisibleby:2 %}
<div class='row'>
{% endif %}
<div class="col-md-6 col-sm-6 col-xs-6" style="border-top: 1px solid #f0f0f0;padding-top:10px;padding-bottom:10px">
  <div class='row'>
    <div class="col-md-4 col-sm-4 col-xs-4" style="padding:0px 0px;">
      <img style="border:0px !important;width: 100%;padding: 0px 0px 2px 0px;" class="img-thumbnail" src="{{  obj.image_url| get_image_code }}">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8" style="padding:0px 0px;">
      <div>
        <img style="border:0px !important;width: 100%;padding: 0px;" class="img-thumbnail hide" src="{{  obj.image_url| get_image_code }}">
        <div>
            <span class="style_name" style="font-size: 12px" title="{{ obj.sku_class }}"><b>Style: {{ obj.sku_class }}</b></span><br>
          <span class="style_name" style="font-size: 12px" >{{ obj.variants.0.price| get_price_code }}</span><br>
          <span class="style_name" style="font-size: 12px" ><b>Style Name:</b>{{ obj.variants.0.style_name }}</span><br>
          <span class="style_name" style="font-size: 12px" title="{{ obj.sku_class }}"><b>Brand:</b> {{ obj.variants.0.sku_brand }}</span><br>
          <span class="style_name" style="font-size: 12px" title="{{ obj.sku_class }}"><b>Category:</b> {{ obj.variants.0.sku_category }}</span><br>
          {% if display_stock == 'true' %}
          <span style="font-size: 12px;" class="ng-binding"><b>Stock: </b>{{ obj.variants| get_size_wise_stock }}</span><br>
          <span style="font-size: 12px;color: #ed1c24 !important;"><b style="color: #ed1c24 !important;">Quantity: &#8377;{{obj.variants.0.style_quantity| floatformat:0}}</b></span><br>
          {% endif %}
          <span style="font-size: 12px;"><b>MRP:</b> &#8377;{{ obj.variants.0.mrp| floatformat:0 }}&nbsp;&nbsp;</span>
          <span style="font-size: 12px;color: #ed1c24 !important;"><b style="color: #ed1c24 !important;">Your Price: &#8377;{{ obj.variants.0.your_price| floatformat:0 }}</b></span>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
{% if forloop.counter|divisibleby:2 %}
</div>
{% endif %}
{% endfor %}
</div>
<p style="margin-top: 20px;width:100%;margin-left:20" class="pre-custom"><b>Note:</b>{{remarks}}</b></p>
</div>
