{% extends 'base.html' %}
{% block header %} Customer-SKU Mapping {% endblock %}
{% block masters %} active {% endblock %}
{% block masters_style %} block {% endblock %}
{% block customer_sku_mapping %} active {% endblock %}


{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<div class="content-wrapper">

    {% include 'toggle/customer_mapping.html' %}

    <!-- Table Body  -->
    <div class="panel tab-content add-excel" id="customer-sku" value="customer_sku_mapping">

        <table class="display customer_sku_mapping" id="sortingTable">

            <thead>
            <tr>
                <th>Customer ID </th>
                <th>Customer Name</th>
                <th>SKU Code</th>
                <th>Price</th>
            </tr>
            </thead>

        </table>
    </div>
    <div class="modal fade" id="customer-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>
</div>


<!-- Triggering Modal -->
<div class="button_column">
    <button type="get_input" class="btn" data-toggle="modal" data-placement="top" title=""
            data-original-title="Click to Submit" data-target="#myModal">

        <div class="svg">
            <i class="fa fa-plus fa-3x"></i>
        </div>
</div>
</button>

{% endblock %}
