{% extends 'base.html' %}
{% block header %} Cycle Count {% endblock %}
{% block locator %} active{% endblock %}
{% block locator_style %} block {% endblock %}
{% block cycle_count %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/dataTables.tableTools.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.tableTools.css' %}"/>
<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>

<section>
    <div class="content-wrapper">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#cycle-count" aria-controls="home" role="tab"
                                                      data-toggle="tab">Generate Cycle Count</a></li>
            <li role="receipt"><a href="#confirm-cycle" aria-controls="home" role="tab" data-toggle="tab">Confirm Cycle
                Count</a></li>
        </ul>


        <div class="panel tab-content add-excel" id="pull-confirmation" value="cycle_count">
            <div class="panel-body tab-pane active" role="tabpanel" id="cycle-count">

                <table class="display cycle_count" id="cycleCount" cellspacing="0" width="100%">

                    <thead>
                    <tr>
                        <th>SKU Code</th>
                        <th>Zone</th>
                        <th>Location</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>

                </table>

                <div class="clearfix top-padding">
                    <button type="submit" class="btn btn-danger right-float" id='cycle'>Generate Cycle Count</button>
                </div>

            </div>


            <div class="panel-body tab-pane" role="tabpanel" id="confirm-cycle">

                <table class="display" id="cyc-confirm">
                    <thead>
                    <tr>
                        <th>Cycle Count ID</th>
                        <th>Date</th>
                    </tr>
                    </thead>

                </table>
            </div>
            <div class="modal fade process-toggle" id="modal-confirmation" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
            </div>

        </div>

        <div class="modal fade process-toggle" id="cycle-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
        </div>

</section>

{% endblock %}
