<html><head></head><body style="font-family:arial; font-size:100%;">
Dear {{ customer_name }},<br>

<p>
    We thank you for your valuable order. This is to confirm that the order is packed and ready to be collected/shipped.
</p>

<!--<p>Item(s) details:</p>
<table border="1" bordercolor="#D2D9E7" cellpadding="2" cellspacing="2" style="border-collapse:collapse; font-size:13px; border:1px solid #D2D9E7">
    <tbody>
    <tr style="background-color:#00648B; color:#FFFFFF;">

        {% for header in headers %}
        <td> {{ header }} </td>
        {% endfor %}

    </tr>
        {% for items in all_items %}
            <tr>
                {% for item in items %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tr>
    </tbody>
</table>
-->
<p>Please find the invoice attached with this email.</p>
For any queries contact : {{ query_contact }}<br>
<br>Thanks<br>
{{company_name}}
</body></html>
