{% extends 'base.html' %}
{% block header %} Generate GRN {% endblock %}
{% block inbound %} active{% endblock %}
{% block inbound_style %} block {% endblock %}
{% block generate_gnr %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<div class="content-wrapper">

    <!-- Table Body  -->
    <div class="panel tab-content" id="generate-grn">

        <table class="display" id="gnr-report">

            <thead>
            <tr>
                <th></th>
                <th>Supplier ID</th>
                <th>Supplier Name</th>
            </tr>
            </thead>

        </table>
    </div>

    <div class="modal fade" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>
</div>

{% endblock %}
