{% extends 'base.html' %}

{% block dashboard %} active {% endblock %}
{% block header %} Dashboard  {% endblock %}
{% block content %}
{% load staticfiles %}

<div style="display: block;" id="dashboard">
  <div class="row-fluid" style="width: 103%">
    <h4 style="margin-left:33%">Daily Tracker</h4>
    <div class="span5 block-container numbersBlock" style ="width :400px ;margin-left: 0px;height: 368px;"  >
        <div id="db-track-order" style="min-width: 380px; height: 300px; max-width: 600px; margin: 0 auto;float:left"></div>
    </div>
    <div class="span5 block-container numbersBlock" style ="width :400px ;margin-left: 0px;height: 368px;">
        <div id="db-track-po" style="min-width: 380px; height: 300px; max-width: 600px;float: left">
          <table class="table display-none" style="table-layout: fixed;">

            <thead>
              <tr>
            <th width="20%">Activity</th>
            <th class="centerCell" width="20%">Executed</th>
            <th class="centerCell" width="25%">In-Progress</th>
            <th class="centerCell" width="25%">Pending</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Picking</td>
            <td>{{pie_picking.executed}}</td>
            <td>{{pie_picking.inprogress}}</td>
            <td>{{pie_picking.pending}}</td>
          </tr>
          <tr>
            <td>Put-away</td>
            <td>{{pie_putaway.executed}}</td>
            <td>{{pie_putaway.inprogress}}</td>
            <td>{{pie_putaway.pending}}</td>
          </tr>
        </tbody>
      </table>

        </div>
    </div>
      <div class="span3 block-container numbersBlock alertBlock" style="float: left; margin-left: 10px;width: 200px;height: 368px;">
      <h4 style="margin-bottom:15px">Alerts</h4>
      <div class="alertText" style="margin: 10px 0px 0px 0px; font-size: 14px;">
        <i class="fa fa-exclamation-triangle fa-2x" style="margin-bottom: 10px"></i>
        <a href="/view_manifest/" style="color: #666;text-decoration: none;">
          You have <span class="pendingOrders">{{ pending_orders }}</span> unprocessed orders 
        </a>
      </div>
      <div class="alertText" style="margin: 30px 0px 0px 0px; font-size: 14px;">
        <i class="fa fa-codepen fa-2x" style="margin-bottom: 10px"></i>
        <a href="/sku_master/" style="color: #666;text-decoration: none;">
          You have <span class="pendingOrders">{{ wms_count }}</span> SKU codes with empty put zone
        </a>
      </div>

    </div>
  </div>


  <div class="row-fluid" style="width: 103%">
    <h4 style="margin-left:33%">Warehouse Cockpit</h4>
    <div class="span4 block-container numbersBlock" id="zone-util" style="display: none;">
      <h4>Space Utilization Summary</h4>
      <table class="table" style="table-layout: fixed;">
        <thead>
          <tr>
            <th width="40%">Zone</th>
            <th class="centerCell" width="30%">Utilized</th>
            <th class="centerCell" width="30%">Free</th>
          </tr>
        </thead>

        <tbody>
          {% for key, value in locations_count.items %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value.0 }}</td>
            <td>{{ value.1 }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

    <div class="span4 block-container numbersBlock" style ="width :400px ;margin-left: 0px;">
      <div id="zone-utilization" class="span12" style="height: 310px; margin: 0 auto"></div>
    </div>

    <div class="span4 block-container numbersBlock" id="dtr-report" style="display: none;">
      <h4>Daily Transaction Report</h4>
      <table class="table" style="table-layout: fixed;">
        <thead>
          <tr>
            <th width="25%">Date</th>
            <th class="centerCell" width="20%">Orders</th>
            <th class="centerCell" width="25%">Picked Orders</th>
            <th class="centerCell" width="30%">Dispatched Orders</th>
          </tr>
        </thead>
        <tbody>
            {%for daily_tr in weekly_tr %} 
            <tr>
            <td>{{daily_tr.Day}}</td>
            <td>{{daily_tr.orders}}</td>
            <td>{{daily_tr.picked}}</td>
            <td>{{daily_tr.dispatched}}</td>

            {%endfor%}
        <!-- live data -->
        </tbody>
      </table>
    </div>

    <div class="span4 block-container numbersBlock" style="width: 400px ;margin-left: 0px;">
      <div id="dtr" class="span12" style="height: 310px; margin: 0 auto">
      </div>
    </div>

    <div class="span3 block-container numbersBlock alertBlock" style="float: left; margin-left: 10px;width: 200px;height: 333px;" id="myAccordian">
      <h4 style="color:#333333;font-size:18px;fill:#333333;margin-bottom: 10px;">Search Orders</h4>
      <button type="button" class="btn btn-danger" data-target="#po-search" data-toggle="collapse" style="width: 111px;">Search PO</button>
      <form name="po-search" id="po-search" class="collapse" aria-expanded="false" style="padding-top: 10px;" method="GET"
             action="/track_orders/">
        <input type="hidden" name="db" value="true">
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-3" style="color:#333333;fill:#333333;">PO</div>
            <div class="col-md-7"><input type="text" name="po_order_id" value="" style="width: 100%;height: 2.5em;" class="form-control"></div>
        </div>
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-3" style="color:#333333;fill:#333333;">SKU</div>
          <div class="col-md-7"><input type="text" name="po_sku_code" value="" style="width: 100%;height: 2.5em;" class="form-control"></div>
        </div>
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-3" style="color:#333333;fill:#333333;">Supplier</div>
          <div class="col-md-7">
            <select name="supplier" class="form-control">
              <option></option>
              {% for sup in suppliers %}
                  <option>{{ sup }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div style="text-align:right;"><button type="submit" class="btn btn-default">Search</button></div>
      </form>
      <button type="button" class="btn btn-danger" data-target="#order-search" data-toggle="collapse" style="margin-top:20px; width: 111px;">
        Search Order
      </button>
      <form name="order-search" id="order-search" class="collapse" aria-expanded="false" style="padding-top: 10px" method="GET"
             action="/track_orders/">
        <input type="hidden" name="db" value="true">
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-3" style="color:#333333;fill:#333333;">Order</div>
            <div class="col-md-7"><input type="text" name="order_id" value="" style="width: 100%;height: 2.5em;" class="form-control"></div>
        </div>
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-3" style="color:#333333;fill:#333333;">SKU</div>
          <div class="col-md-7"><input type="text" name="order_sku_code" value="" style="width: 100%;height: 2.5em;" class="form-control"></div>
        </div>
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-3" style="color:#333333;fill:#333333;">Market Place</div>
          <div class="col-md-7">
            <select name="marketplace" class="form-control">
              <option></option>
              {% for market in marketplaces %}
                <option>{{ market }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div style="text-align:right;"><button type="submit" class="btn btn-default">Search</button></div> 
      </form>

    </div>
  </div>

  <!--<div class="row-fluid">
    <div class="span4 block-container numbersBlock" id="inventory-aging" style="display: none;">
      <h4>Inventory Aging</h4>
      <table class="table" style="table-layout: fixed;">

        <thead>
          <tr>
            <th width="50%">Aging Group</th>
            <th class="centerCell" width="50%">Quantity Held</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>3 months old</th>
            <td>{{ aging_count.0 }}</th>
          </tr>
          <tr>
            <td>3-6 months old</th>
            <td>{{ aging_count.1 }}</th>
          </tr>
          <tr>
            <td>Older than 6 months</th>
            <td>{{ aging_count.2 }}</th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span5 block-container numbersBlock" style="width: 600px;margin-left: 0px;">
      <div id="aging" class="span12" style="height: 310px; margin: 0 auto"></div>
    </div>
  </div>-->

 <div class="row-fluid" style="width: 103%">
    <div class="span4 block-container numbersBlock" id="putaway-report" style="display: none;">
      <h4>Pick & Putaway</h4>
      <table class="table" style="table-layout: fixed;">

        <thead>
          <tr>
            <th width="20%">Activity</th>
            <th class="centerCell" width="20%">Executed</th>
            <th class="centerCell" width="25%">In-Progress</th>
            <th class="centerCell" width="25%">Pending</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Picking</td>
            <td>{{picking.executed}}</td>
            <td>{{picking.inprogress}}</td>
            <td>{{picking.pending}}</td>
          </tr>
          <tr>
            <td>Put-away</td>
            <td>{{putaway.executed}}</td>
            <td>{{putaway.inprogress}}</td>
            <td>{{putaway.pending}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span4 block-container numbersBlock" style="width: 400px;margin-left: 0px;height: 360px">
      <div id="pick-putaway" class="span12" style="height: 310px; margin: 0 auto"></div>
    </div>

    <div class="span4 block-container numbersBlock" style="width: 400px;margin-left: 0px;height: 360px">
        <div class="db-total-orders"> 
          <input type="hidden" name="db-pending-order" min="{{ orders_count }}" max="{{ max_order }}">
          <div id="container-rpm" style="width: 300px; height: 170px; float: left"></div>
        </div>
        <div class="db-total-pos">
          <input type="hidden" name="db-pending-purchases" min="{{ purchase_count }}" max="{{ max_purchase }}">
          <div id="container-pos" style="width: 300px; height: 170px; float: left"></div>
        </div>
    </div>
      <div class="span3 block-container numbersBlock alertBlock" style="float: left; margin-left: 10px;width: 20%;height: 360px;">
        <h4 style="margin-bottom:15px">Quick Links</h4>
        <ul style="text-align:left;padding-left:15px;line-height:2em">
          <li><a href="/raise_po/" style="color: grey; font-size: 15px;text-decoration: none;">Raise PO</a></li>
          <li><a href="/view_manifest/" style="color: grey; font-size: 15px;text-decoration: none;">View Orders</a></li>
          <li><a href="/back_orders/" style="color: grey; font-size: 15px;text-decoration: none;">View Back Orders</a></li>
        </ul>
        <hr>
        <ul style="text-align:left;padding-left:15px;line-height:2em">
          <li><a href="/issues/" style="color: grey; font-size: 15px;text-decoration: none;">Report Issues</a></li>
          <li><a href="/stock_detail/" style="color: grey; font-size: 15px;text-decoration: none;">Stock Detail</a></li>
          <li><a href="/daily_stock_report/" style="color: grey; font-size: 15px;text-decoration: none;">Daily Stock Report</a></li>
          <li>
            <a id="month_dispatch" style="color: grey; font-size: 15px;text-decoration: none;cursor: pointer;">
              Monthly Dispatch Summary
            </a></li>
        </ul>
      </div>
  </div>
  <div class="row-fluid">
    <div class="span4 block-container numbersBlock" style ="width :400px ;margin-left: 0px;height: 320px;"  >
      <div id="db-top-selling" style="min-width: 380px; height: 300px; max-width: 600px; margin: 0 auto;float:left">
        <table class="table display-none" style="table-layout: fixed;">

          <tbody>
            {% for top in top_selling %}
              <tr>
                  <td>{{ top.sku__sku_code }}</td>
                  <td>{{ top.invoice_amount__sum }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
    <div class="span4 block-container numbersBlock" style ="width :400px ;margin-left: 0px;height: 320px;"  >
      <div id="db-top-skus" style="min-width: 380px; height: 300px; max-width: 600px; margin: 0 auto;float:left">
        <table class="table display-none" style="table-layout: fixed;">

          <tbody>
            {% for top in top_skus %}
              <tr>
                {% for key, value in top.iteritems %}
                  <td>{{ value }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table id="trellis" style="width :380px ;height: 300px;">
          <tr>
            <td class="first"></td>
          </tr>
        </table>

      </div>
    </div>
  </div>

</div>

{% endblock %}
