{% extends 'base.html' %}
{% block header %} Image Upload {% endblock %}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/image-upload.js' %}"></script>
<div class="content-wrapper">
  <div class="panel tab-content" id="image-uploads" style='padding-bottom:0px;'>
    <span class="btn btn-success input-file" style="position: relative;margin-bottom: 20px;">
    <i class="glyphicon glyphicon-plus"></i>
    Add Files <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <button type="button" name="upload-all" id="upload-all" class="btn btn-primary" style="position: relative;margin-bottom: 20px;margin-left: 15px"><i class="glyphicon glyphicon-upload"></i>Upload All Files </button>
      <!-- The container for the uploaded files -->
    <div id="files" class="files">
      <table class="table table-striped file-wrapper" role="presentation"><tbody class="files">
      </tbody></table>
    </div>

    <div class="panel panel-default" style="padding:0px">
        <div class="panel-heading">
            <h3 class="panel-title">Instructions to upload the images</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Rename the image with the sku code like sku.jpg</li>
                <li>Upload multiple images for single sku. Rename the sku __ and add some number like sku__1.jpg</li>
            </ul>
        </div>
    </div>
   
  </div>
</div>


{% endblock %}
