{% extends 'base.html' %}
{% block header %} Inventory Adjustment {% endblock %}
{% block locator %} active {% endblock %}
{% block locator_style %} block {% endblock %}
{% block inventory_adjustment %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>

<div class="content-wrapper">

    <!-- Table Body  -->
    <div class="panel tab-content" id="generate-adjustment">

        <table class="display" id="sortingTable">

            <thead>
            <tr>
                <th></th>
                <th>Location</th>
                <th>WMS Code</th>
                <th>Description</th>
                <th>Total Quantity</th>
                <th>Physical Quantity</th>
                <th>Reason</th>
            </tr>
            </thead>

        </table>
        <div class="clearfix top-padding">
            <button type="submit" class="btn btn-danger right-float confirm-adjustment" disabled>Confirm Adjustment
            </button>
            <button type="submit" class="btn btn-danger right-float delete-inventory" style="margin-right: 10px"
                    disabled>Delete
            </button>
        </div>
    </div>
    <div class="modal fade" id="sku-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>
</div>

<div class="panel" ng-controller="CustomOrders as showCase">
  <div class="panel-header">
    <button type="button" class="btn btn-primary pull-right" ng-click="showCase.excel()">Download Excel</button>
    <select class="hide form-control pull-right mr10" style="width: 155px;" ng-model="showCase.g_data.view" ng-change="showCase.change_datatable()">
      <option ng-repeat="view in showCase.g_data.views" value="{{view}}" ng-selected="view == showCase.g_data.view"> {{view}}</option>
    </select>
  </div>
  <div ng-include="'views/common/datatable.html'"></div>
  <div class="panel-footer">
    <div class="row" ng-hide="showCase.permissions.user_type == 'warehouse' || showCase.permissions.user_type == 'distributor'">
      <div class="col-md-2 col-sm-4 col-xs-6 mb10">
        <button type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.backorder_po()" ng-disabled="showCase.bt_disable">Raise PO</button>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb10">
        <button type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.raise_jo()" ng-disabled="showCase.bt_disable">Raise JO</button>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb10">
        <button type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.raise_stock_transfer()" ng-disabled="showCase.bt_disable">Raise Stock Transfer</button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right" ng-disabled="showCase.bt_disable" ng-click="showCase.generate_picklist()">Generate Picklist</button>
  </div>
</div>

<div class="button_column">
    <button type="get_input" class="btn" id="add-inventory-adjust" data-toggle="modal" data-placement="top"
            title="Add Inventory Adjustment" data-original-title="Click to Submit" data-target="#MyModal">

        <div class="svg">
            <!--?xml version="1.0" encoding="utf-8"?-->
            <!-- License Agreement at http://iconmonstr.com/license/ -->
            <i class="fa fa-plus fa-3x"></i>
        </div>
</div>
</button>
{% endblock %}
