{% extends 'base.html' %}
{% block header %} Put away Confirmation {% endblock %}
{% block production %} active{% endblock %}
{% block production_style %} block {% endblock %}
{% block jo_putaway %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>
<section>
    <div class="content-wrapper">
        <div class='notifications top-right'></div>

        <div class="panel tab-content" id="jo-putaway">
            <table class="display" id="sortingTable">

                <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
            </table>
        </div>

    </div>
    <div class="modal fade" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" style="overflow:auto;">
    </div>

</section>


{% endblock %}
