{% extends 'base.html' %}
{% block header %} Location Master {% endblock %}
{% block masters %} active{% endblock %}
{% block masters_style %} block {% endblock %}
{% block location_master %} active {% endblock %}

{% block content %}

<div class="content-wrapper">

    <!-- Table Body  -->
    <div class="panel tab-content">
        {% include 'toggle/add_zone.html' %}


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for zone, loc in loc_ids %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ zone.zone }}" data-id="{{ zone.zone }}"
                     data-toggle="collapse" data-parent="#accordion" href="#collapse{{ zone.zone }}"
                     aria-expanded="false" aria-controls="collapse{{ zone.zone }}">
                    <h4 class="panel-title">
                        <a class="collapsed">
                            {{ zone.zone }}
                        </a>
                    </h4>
                </div>

                <div id="collapse{{ zone.zone }}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading{{ zone.zone }}">
                    <div class="panel-body">
                        <!-- Body goes Here  -->

                        <table class="table">
                            <tr class="active">
                                <th>Location</th>
                                <th>Capacity</th>
                                <th>Put Sequence</th>
                                <th>Get Sequence</th>
                                <th>Status</th>
                            </tr>

                            {% for l in loc %}
                            {% if l.location != "" %}
                            <tr class="locations" id="{{ l.location }}">
                                <td>{{ l.location }}</td>
                                <td>{{ l.max_capacity }}</td>
                                <td>{{ l.fill_sequence }}</td>
                                <td>{{ l.pick_sequence }}</td>
                                {% if l.status == 1 %}
                                <td>Active</td>
                                {% else %}
                                <td>Inactive</td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>

        <div class="modal fade" id="location-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
        </div>


        <div class="button_column">
            <!-- Triggering Modal -->
            <button type="add_zone" title="Add Zone" class="btn" id="add_loc" data-toggle="modal" data-placement="top"
                    data-original-title="Click to Submit" data-target="#zoneModal">

                <div class="svg">
                    <!--?xml version="1.0" encoding="utf-8"?-->
                    <!-- License Agreement at http://iconmonstr.com/license/ -->
                    <i class="fa fa-pencil-square-o fa-3x"></i>
                </div>
            </button>

            <!-- Triggering Modal -->
            <button type="add_location" title="Add Location" class="btn" id="add_rack" data-toggle="modal"
                    data-placement="top" data-original-title="Click to Submit" data-target="#locationModal">

                <div class="svg">
                    <!--?xml version="1.0" encoding="utf-8"?-->
                    <!-- License Agreement at http://iconmonstr.com/license/ -->
                    <i class="fa fa-pencil fa-2x"></i>
                </div>
            </button>

            <!-- Triggering Modal -->
            <button type="get_input" id="get_input" class="btn" data-toggle="modal" data-placement="top"
                    data-original-title="Click to Submit" data-target="#myModal">

                <div class="svg">
                    <!--?xml version="1.0" encoding="utf-8"?-->
                    <!-- License Agreement at http://iconmonstr.com/license/ -->
                    <i class="fa fa-plus fa-3x"></i>
                </div>
            </button>
        </div>
    </div>

    {% endblock %}
