{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>MIEBACH</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald">
</head>

<body>
<div class="bg"></div>
<div class="bg-cover"></div>
<div class="content-container">
    <div id="form-container" class="form-container out">
        <div class="title-container">
            <img src="{% static "img/miebach.jpg" %}" alt="MIEBACH" class="logo">
        </div>

        <form id="login-form" action="/wms_login/" method="POST" class="login-form">
            <div class="form-group">
                <input type="text" placeholder="Username" name="login_id" style="border-radius: 2px 2px 0px 0px;"
                       class="form-control">
            </div>

            <div class="form-group">
                <input type="password" placeholder="Password" name="password" style="border-radius: 0px 0px 2px 2px;"
                       class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" class="creative-button cbtn btn-7 btn-7b">Login</button>
            </div>

            <input type="hidden" name="next" value="/"><input type="hidden" name="csrfmiddlewaretoken"
                                                              value="AXkykJDtPldNzaOMMVunQiX7WvhSrKeA">
        </form>
    </div>
</div>

<footer>
    <ul class="nav navbar-nav">
        <li>
            <a href="mailto:vimal.nair@miebach.com">Contact Us</a>
        </li>

        <li class="pull-right">
            <a href="#">&copy MIEBACH</a>
        </li>
    </ul>
</footer>

<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">!(function () {
      "use strict";
      var MIEBACH = window.MIEBACH = window.MIEBACH || {};
      MIEBACH.login_bg = "{% static "img/dummy.jpg" %}";
      }());

</script>
<script src="/static/js/login.js"></script>
</body>
</html>
