{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}" />
         <div class='content' id='error_block'>
             <h3 style="">You have been successfully logged out..</h3>
             <p style="position:relative;left:14%;"><a href='/home/'>Click here</a> to logon to WMS</p>
         </div>
