{% extends 'base.html' %}
{% block header %} Report Mail Configurations {% endblock %}
{% block configurations %} active {% endblock %}
{% block configurations_style %} block {% endblock %}

{% block content %}
{% load staticfiles %}

<div class="content-wrapper">
    <div class="panel tab-content" id="report_configurations">



  <link href="{% static 'css/multi-select.css' %}" media="screen" rel="stylesheet" type="text/css">

  <body>

    <h4>Add Mail Reports: </h4><br/>
    <select multiple="multiple" id="my-select" name="my-select[]">

    {% for key, value in mail_reports.items %}
         {{ key }}
         {{ reports_data }}
         {% if key in reports_data %}
           <option value='{{ key }}' selected> {{  value.0 }}</option>
         {% else %}
           <option value='{{ key }}'> {{  value.0 }}</option>
         {% endif %}
    {% endfor %}
    </select>

    <br /><br />


    <b>Mail To:  </b> <input type="text" id="email_input" value="{{email}}" data-role="tagsinput"><br /><br />
    <h4>Frequency: </h4><br/>

    <div style='padding-bottom: 60px;'>
    Once Every: <input type="text" class="" id="days_range" style="width: 100px;height:21px;" value="{{ report_freq }}">

    <select class="time_data">
      <option></option>
      <option>Hours</option>
      <option selected>Days</option>
    </select>


    </div>

	<div class="modal-footer" style="padding-top: 10px;">
	    <button id="config-save" class="btn btn-primary">Save</button>
	</div>

  </div>
</div>

{% endblock %}
