{% extends 'base.html' %}
{% block header %} Manage Users {% endblock %}
{% block manage_users %} active {% endblock %}
{% block manage_users_style %} block {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>

<div class="content-wrapper">


    <!-- Table Body  -->
    <div class="panel tab-content" id="manage-users">

        <table class="display" id="sortingTable">

            <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>

        </table>
    </div>
    <div class="modal fade" id="user-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>
</div>

<!-- Triggering Modal -->
        <div class="button_column">
            <!-- Triggering Modal -->
            <button type="add_zone" title="Add Group" class="btn" id="add_group" data-toggle="modal" data-placement="top"
                    data-original-title="Click to Submit" data-target="#zoneModal">

                <div class="svg">
                    <!--?xml version="1.0" encoding="utf-8"?-->
                    <!-- License Agreement at http://iconmonstr.com/license/ -->
                    <i class="fa fa-group fa-2x"></i>
                </div>
            </button>

            <!-- Triggering Modal -->
            <button type="add_location" title="Add User" class="btn" id="add_user" data-toggle="modal"
                    data-placement="top" data-original-title="Click to Submit" data-target="#locationModal">

                <div class="svg">
                    <!--?xml version="1.0" encoding="utf-8"?-->
                    <!-- License Agreement at http://iconmonstr.com/license/ -->
                    <i class="fa fa-user fa-2x"></i>
                </div>
            </button>

            <!-- Triggering Modal -->
            <button type="get_input" id="get_input" class="btn" data-toggle="modal" data-placement="top"
                    data-original-title="Click to Submit" data-target="#myModal">

                <div class="svg">
                    <!--?xml version="1.0" encoding="utf-8"?-->
                    <!-- License Agreement at http://iconmonstr.com/license/ -->
                    <i class="fa fa-plus fa-3x"></i>
                </div>
            </button>
        </div>

{% endblock %}
