{% extends 'base.html' %}
{% block header %} Online Percentage {% endblock %}
{% block locator %} active{% endblock %}
{% block locator_style %} block {% endblock %}
{% block online_stock_management %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>

<div class="content-wrapper">

    <!-- Table Body  -->
    <div class="panel tab-content" id="online-percentage">
        <div class='notifications top-right'></div>
        <table class="display" id="online-stock">

            <thead>
            <tr>
                <th>SKU Code</th>
                <th>Total Quantity</th>
                <th>Suggested Online Quantity</th>
                <th>Current Online Quantity</th>
                <th>Offline Quantity</th>
            </tr>
            </thead>

        </table>
        <input type="hidden" name="count" value="{{ count }}">
         <div class="clearfix top-padding">
            <button type="submit" class="btn btn-danger right-float online-percent-stock" disabled>Update</button>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        </div>
    </div>
</div>

{% endblock %}
