<html><head></head><body style="font-family:arial; font-size:100%;">
Dear {{ customer_name }},<br>

<p>
Thank you for your order. Your order ID is: {{ order_id }} {% if client_name %} and <strong>Client Name is {{ client_name }} </strong>{% endif %}.
</p>

<p>
We have received your order and will process in shortly. For your reference, here are the details of your order:
</p>

<p>Item(s) details:</p>
<table border="1" bordercolor="#D2D9E7" cellpadding="2" cellspacing="2" style="border-collapse:collapse; font-size:13px; border:1px solid #D2D9E7">
    <tbody>
    <tr style="background-color:#00648B; color:#FFFFFF;">

        {% for header in headers %}
        <td> {{ header }} </td>
        {% endfor %}

    </tr>
    {% for item in items %}
    <tr>
        {% for i in item %}
            {% if forloop.counter0 == 3 %}
                <td><img src="http://{{ i }}" style="display: block;" width="100" height="50"></td>
            {% else %}
               <td>{{ i }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<br>
Thanks
<br>
{{company_name}}
<br><br>
{% if user.username == 'sagar_fab' %}
<b>Bank details :</b><br>
Account Name - Sagarfab International<br>
Account Number - 9111442006<br>
Bank Name - Kotak Mahindra Bank<br>
Branch - Malleshwaram<br>
RTGS IFSC CODE - KKBK0000418<br>
{% endif %}
<!--<br>The shipment will be sent to:
{{ address }}
<br>Phone: {{ phone_number }}<br>-->
</body></html>
