{% extends 'base.html' %}
{% block header %} Sales Returns {% endblock %}
{% block inbound %} active {% endblock %}
{% block inbound_style %} block {% endblock %}
{% block sales_returns %} active {% endblock %}
{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>

<div class="content-wrapper">

    <!-- Table Body  -->
    <div class="panel tab-content" id="order-returns">

        <table class="display" id="sortingTable">

            <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>

        </table>
        <div class="clearfix top-padding">
            <button type="submit" class="btn btn-danger right-float scan-returns">Scan Returns</button>
        </div>

    </div>
    <div class="modal fade" id="sales-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>
</div>



{% endblock %}
