{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}" />
         <div class='content' id='error_block'>
          <h1 id='expression'><i class='fa fa-frown-o fa-4x'></h1></i><h1 id='msg1' style='margin-left:90px;'> Access Denied</h1>
                   <h5 id='msg2'> <p> User does not have the permissions to access this page <a href="/home/"><i class="fa fa-home fa-2x"></i></a></p></h5>
         </div>
