{% extends 'base.html' %}
{% block header %} Pull to Locate {% endblock %}
{% block outbound %} active {% endblock %}
{% block outbound_style %} block {% endblock %}
{% block pullto_locate %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>

<div class='notifications top-right'></div>

<section>
    <div class="content-wrapper">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="receipt" class="active"><a href="#cancel-orders" aria-controls="home" role="tab" data-toggle="tab">Cancelled
                Orders</a></li>
            <li role="presentation"><a href="#return-orders" aria-controls="home" role="tab" data-toggle="tab">Returned Orders</a></li>
        </ul>


        <div class="panel tab-content" id="pullto-locate">
            <div class="panel-body tab-pane active" role="tabpanel" id="cancel-orders">
                <table class="display" id="cancelled">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Order ID</th>
                        <th>SKU Code</th>
                        <th>Customer ID</th>
                        <th>Return Quantity</th>
                        <th> Damaged Quantity</th>

                    </tr>
                    </thead>

                </table>
            <div class="clearfix top-padding">
                <button type="submit" class="btn btn-danger right-float confirm-cancel-orders">Confirm</button>
            </div>
        </div>
            <div class="panel-body tab-pane" role="tabpanel" id="return-orders">
                <table class="display" id="returned">

                    <thead>
                    <tr>
                        <th></th>
                        <th>Order ID</th>
                        <th>SKU Code</th>
                        <th>Customer ID</th>
                        <th>Return Quantity</th>
                        <th>Damaged Quantity</th>
                    </tr>
                    </thead>

                </table>
                <div class="clearfix top-padding">
                    <button type="submit" class="btn btn-danger right-float confirm-return-orders">Confirm</button>
                </div>

            </div>
            <div class="modal fade" id="modal-confirmation" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
            </div>
        </div>

</section>

{% endblock %}
