{% extends 'base.html' %}
{% block header %} Pull Confirmation {% endblock %}
{% block outbound %} active {% endblock %}
{% block outbound_style %} block {% endblock %}
{% block pull_confirmation %} active {% endblock %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>


<section>
    <div class="content-wrapper">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#open-orders" aria-controls="home" role="tab"
                                                      data-toggle="tab">Open Orders</a></li>
            <li role="receipt"><a href="#picked-orders" aria-controls="home" role="tab" data-toggle="tab">Picked
                Orders</a></li>
            <li role="receipt"><a href="#batch-picked-orders" aria-controls="home" role="tab" data-toggle="tab">Batch Picked</a></li>
    </ul>


        <div class="panel tab-content" id="pull-confirmation">
            <div class="panel-body tab-pane active" role="tabpanel" id="open-orders">
                <table class="display" id="pull-open">

                    <thead>
                    <tr>
                        <th>Picklist ID</th>
                        <th>Picklist Note</th>
                        <th>Date</th>
                    </tr>
                    </thead>

                </table>
            </div>

            <div class="panel-body tab-pane" role="tabpanel" id="picked-orders">

                <table class="display" id="picked">
                    <thead>
                    <tr>
                        <th>Picklist ID </th>
                        <th>Picklist Note</th>
                        <th>Date</th>
                    </tr>
                    </thead>

                </table>
            </div>

            <div class="panel-body tab-pane" role="tabpanel" id="batch-picked-orders">

                <table class="display" id="batch-picked">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Picklist ID  </th>
                        <th>Picklist Note</th>
                        <th>Date</th>
                    </tr>
                    </thead>

                </table>
                <div class="clearfix top-padding">
                    <button type="submit" class="btn btn-danger right-float marketplace-segregation" disabled>Print Segregation
                    </button>
                </div>
            </div>

            <div class="modal fade process-toggle" id="modal-confirmation" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
            </div>


        </div>

</section>

{% endblock %}
