{% extends 'base.html' %}
{% block header %} Put away Confirmation {% endblock %}
{% block inbound %} active{% endblock %}
{% block inbound_style %} block {% endblock %}
{% block putaway_confirmation %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>
<section>
    <div class="content-wrapper">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#po-orders" aria-controls="home" role="tab"
                                                      data-toggle="tab">PO Putaway <span class="badge">{{ po_count }}</span></a></li>
            <li role="receipt"><a href="#return-orders" aria-controls="home" role="tab" data-toggle="tab">Returns Putaway 
                                                      <span class="badge">{{ returns_count }}</span></a></li>
    </ul>
    <div class="panel tab-content" id="received-items">
        <div class='notifications top-right'></div>

        <div class="panel-body tab-pane active" role="tabpanel" id="po-orders">
            <table class="display" id="receive-items">

                <thead>
                <tr>
                    <th> PO Number</th>
                    <th>Order Date</th>
                    <th>Supplier ID</th>
                    <th>Supplier Name</th>
                    <th>Order Type</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="panel-body tab-pane" role="tabpanel" id="return-orders">

            <table class="display" id="returns-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Return ID</th>
                    <th>Return Date</th>
                    <th>WMS Code</th>
                    <th>Product Description</th>
                    <th> Zone</th>
                    <th>Location</th>
                    <th>Quantity</th>
                </tr>
                </thead>

            </table>
        <div class="clearfix top-padding">
            <button type="submit" class="btn btn-danger right-float confirm-returns-putaway">Confirm Putaway</button>
        </div>

        </div>
    </div>
    <div class="modal fade process-toggle" id="sku-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
    </div>
    </div>
</section>


{% endblock %}
