{% extends 'base.html' %}
{% block header %} Quality Check {% endblock %}
{% block inbound %} active{% endblock %}
{% block inbound_style %} block {% endblock %}
{% block quality_check %} active {% endblock %}
{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>

<div class='notifications top-right'></div>

 <div class="content-wrapper">
  <!-- Table Body  -->
   <div class="panel tab-content" id="quality-checking">

       <!--<label><b>Scan WMS Code</b></label><input type="text" id="scan_qc">-->
       <table class="display" id="quality-check">
         <thead>
         <tr>
             <th>Purchase Order ID</th>
             <th>Supplier ID</th>
             <th>Supplier Name</th>
             <th>Order Type</th>
             <th>Total Quantity</th>
          </tr>
         </thead>
      </table>
        <div class="modal fade process-toggle" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        </div>
        <div class="modal fade process-toggle" id="po-modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"></div>

       </div>
      </div>
{% endblock %}
