{% load tag_extras %}
<form id="confirm_quality_check">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Confirm Quality Check</h4>
            </div>
            <div class="modal-body" style="border:none;">

                <div class="row"><div class="col-md-6"><h5>Purchase Order ID: <b>{{ po_reference }}</b></h5></div>
                <div class="col-md-6"><label><b>Scan WMS Code:&nbsp;&nbsp;</b></label><input type="text" id="scan_qc"></div></div>
                <table class="table">
                    <tbody>
                        <tr class="active">
                            {% for header in headers %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>

                        {% for id, record in data.items %}
                            <tr id="{{ id }}">
                                <td>
                                    <input type="hidden" name="id" value="{{ record.id }}">
                                    {{ record.wms_code }}
                                </td>
                                <td>{{ record.location }}</td>
                                <td>{{ record.quantity }}</td>
                                <td>
                                    <input type="text" name="accepted_quantity" value="{{ record.accepted_quantity }}"
                                      class="smallbox numvalid">
                                </td>
                                <td>
                                    <input type="text" name="rejected_quantity" value="{{ record.rejected_quantity }}"
                                       class="smallbox numvalid">
                                </td>
                                <td>
                                    <input type="text" name="reason">
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none"></div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary inb-putaway display-none" type="button" id="{{ order_id }}">Proceed to Next Step</button>
                <button type="button" class="btn btn-default qc-modal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary right-float confirm-quality">Confirm</button>
            </div>
        </div>
    </div>
</form>

