{% extends 'base_issues.html' %}
{% block raise_issue %} active {% endblock %}
{% block header %} Add new Issue  {% endblock %}
{% block content %}
{% load staticfiles %}
<div class='notifications top-right'></div>
<form id="raise_issue">
    <div class="content-wrapper">
        <div class="panel tab-content">
            <h4>Add new Issue</h4>
            <hr>
            <div class="form-group clearfix">

                {% for issue_field in issue_fields %}
                <div class="row col-md-12">
                    <div class="col-md-3">
                        <label class="col-md-5 control-label">{{ issue_field.0 }}</label>
                    </div>
                    <div class="col-md-6">
                        {% if issue_field.1 == "priority" %}
                        <select class="form-control" name="{{ issue_field.1 }}" value="">
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                        </select>
                        {% elif issue_field.1 == "issue_description" %}
                        <textarea class="form-control" rows="6" cols="59" name="{{ issue_field.1 }}"></textarea>
                        {% else %}
                        <input type="text" name="{{ issue_field.1 }}" class="form-control" value="">
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="row col-md-12 insert-status"></div>
            </div>
            <hr>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" style="margin-right:26%;">Save</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
