{% extends 'base.html' %}
{% block header %} Raise PO {% endblock %}
{% block inbound %} active{% endblock %}
{% block inbound_style %} block {% endblock %}
{% block raise_po %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>

<div class="content-wrapper">

    <ul class="nav nav-tabs {{ is_display }}" role="tablist" id="myTab" style="border:0">
        <li role="presentation" class="active"><a href="#generated-po" aria-controls="home" role="tab"
                                                  data-toggle="tab">Raise Purchase Order</a></li>
        <li role="receipt"><a href="#raise-st" aria-controls="home" role="tab" data-toggle="tab">Raise Stock Transfer
                                                  </a></li>
    </ul>
    <!-- Table Body  -->
    <div class="panel tab-content" id="raise-purchase">
      <div class="panel-body tab-pane active" role="tabpanel" id="generated-po">

        <table class="display raisepoTable" id="sortingTable">

          <thead>
            <tr>
              <th></th>
              <th> Supplier ID</th>
              <th>Supplier Name</th>
              <th>Total Quantity</th>
            </tr>
          </thead>

        </table>

        <div class="clearfix top-padding">
          <button type="submit" class="btn btn-danger right-float confirm-po" disabled>Confirm PO</button>
          <button type="submit" class="btn btn-danger right-float delete-po" style="margin-right: 10px" disabled>
              Delete PO
          </button>
        </div>
      </div>
      <div class="panel-body tab-pane" role="tabpanel" id="raise-st">
      
        <table class="display raisestTable" id="raised-st">

          <thead>
            <tr>
              {% for header in headers %}
                  <th>{{ header }}</th>
              {% endfor %}
            </tr>
          </thead>

        </table>

      </div>

    </div>

    <div class="modal fade process-toggle" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade process-toggle" id="po-modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true"></div>
    </div>

</div>

<!-- Triggering Modal -->
<div class="button_column">
    <button type="get_input" id="raise-po" class="btn" data-toggle="modal" data-placement="top" title=""
            data-original-title="Click to Submit">

        <div class="svg">
            <!--?xml version="1.0" encoding="utf-8"?-->
            <!-- License Agreement at http://iconmonstr.com/license/ -->
            <i class="fa fa-plus fa-3x"></i>
        </div>
    </button>
</div>

{% endblock %}
