{% extends 'base.html' %}
{% block header %} Receive JO {% endblock %}
{% block production %} active{% endblock %}
{% block production_style %} block {% endblock %}
{% block receive_jo %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>

<div class='notifications top-right'></div>

<div class="content-wrapper">

    <!-- Table Body  -->
    <div class="panel tab-content" id="receive-jo">

        <table class="display" id="sortingTable">

            <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
        </table>

    </div>

    <div class="modal fade" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" style="overflow:auto;">
    </div>
    <div class="loading display-none">
        <div></div>
    </div>
</div>

{% endblock %}
