{% extends 'base.html' %}
{% block header %} Receive PO {% endblock %}
{% block inbound %} active{% endblock %}
{% block inbound_style %} block {% endblock %}
{% block receive_po %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>

<div class='notifications top-right'></div>

<div class="content-wrapper">

    <!-- Table Body  -->
    <div class="panel tab-content" id="confirmed-po">

        <table class="display receivepoTable" id="confirmed">

            <thead>
            <tr>
                <th>PO Number</th>
                <th>Order Date</th>
                <th>Supplier ID</th>
                <th>Supplier Name</th>
                <th>Order Type</th>
                <th>Receive Status</th>
            </tr>
            </thead>
        </table>

    </div>

    <div class="modal fade process-toggle" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>

    <div class="modal fade process-toggle" id="po-modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true"></div>
    </div>


</div>

{% endblock %}
