{% extends 'base.html' %}

{% block header %} Reports  {% endblock %}
{% block reports %} active {% endblock %}
{% block reports_style %} active {% endblock %}


{% block sku-list %}
  {% if report == "sku_list" %}
      active
  {% endif %}
{% endblock %}

{% block location-wise %}
  {% if report == "location_wise" %}
      active
  {% endif %}
{% endblock %}

{% block receipt-note %}
    {% if report == "goods_receipt" %}
        active
    {% endif %}
{% endblock %}


{% block receipt_summary_report %}
    {% if report == "receipt_summary" %}
      active
    {% endif %}
{% endblock %}

{% block dispatch_summary_report %}
    {% if report == "dispatch_summary" %}
      active
    {% endif %}
{% endblock %}

{% block sku_wise_purchases %}
    {% if report == "sku_wise_purchases" %}
      active
    {% endif %}

{% endblock %}

{% block supplier_wise_pos %}
    {% if report == "supplier_wise" %}
      active
    {% endif %}
{% endblock %}

{% block sales_return_report %}
    {% if report == "sales_report" %}
      active
    {% endif %}
{% endblock %}

{% block sku_wise_stock %}
    {% if report == "sku_stock" %}
      active
    {% endif %}
{% endblock %}

{% block inventory_adjust_report %}
    {% if report == "inventory_adjust_report" %}
      active
    {% endif %}
{% endblock %}

{% block inventory_aging_report %}
    {% if report == "inventory_aging_report" %}
      active
    {% endif %}
{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="content-wrapper">

    <div id="reporttoggle">
        {% for key,data in reports_data.iteritems %}
        <div class="{{ key.3 }} data-reports">
            <form id="{{ key.0 }}">
                <div class="panel tab-content clearfix">
                    <h4>{{ key.2 }}</h4>
                    <hr>
                    <div class="form-group clearfix">
                        {% for reports in data.1 %}
                        <div class="row col-md-12">
                            {% for l in reports %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-5 control-label">{{ l.0 }}</label>

                                    <div class="col-md-7">
                                        {% if l.1 == "from_date" %}
                                        <input type="text" name="{{ l.1 }}" class="form-control date-readonly" value=""
                                               id="datepicker{{ key.4 }}" readonly>
                                        {% elif l.1 == "to_date" %}
                                        <input type="text" name="{{ l.1 }}" class="form-control" value=""
                                               id="datepicker{{ key.5 }}" readonly>
                                        {% elif l.1 == "supplier"%}
                                        <select type='select' name="{{ l.1 }}" class='form-control'>
                                                <option value=""></option>
                                            {% for supplier in suppliers %}
                                                <option value="{{ supplier.id }}">{{supplier.id}}:{{supplier.name}}</option>
                                            {% endfor %}
                                        </select>
                                        {% elif l.1 == "sku_category" %}
                                        <select type='select' name="{{ l.1 }}" class='form-control'>
                                                <option value=""></option>
                                            {% for sku_cat in categories %}
                                                <option value="{{ sku_cat }}">{{ sku_cat }}</option>
                                            {% endfor %}
                                        </select>
                                        {% else %}
                                        <input type="text" name="{{ l.1 }}" class="form-control" value="">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="pull-right">
                        <button value="Reset" class="btn btn-default" type="reset" style="margin-right:12px">Reset</button>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>

            <div class="panel tab-content" value="{{ report }}">
                <table class="display" id="{{ key.1 }}">

                    <thead>
                    <tr>
                        {% for header in data.0 %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                </table>
                <div class="clearfix top-padding">
                    {% if key.6 != 'po-report' %}
                    <button type="submit" class="btn btn-danger right-float {{ key.6 }}">Print Report</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
    <div class="modal fade process-toggle" id="reports-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>

</div>
{% endblock %}
