{% extends 'base.html' %}
{% block header %} Raw Material Picklist {% endblock %}
{% block production %} active{% endblock %}
{% block production_style %} block {% endblock %}
{% block rm_picklist %} active {% endblock %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>

<div class='notifications top-right'></div>

<div class="content-wrapper">
    <ul class="nav nav-tabs" role="tablist" id="myTab" style="border:none">
        <li role="presentation" class="active"><a href="#picklist-orders" aria-controls="home" role="tab"
                                                  data-toggle="tab">Confirmed Orders<span class="badge">{{ po_count }}</span></a></li>
        <li role="receipt"><a href="#raw-picklist" aria-controls="home" role="tab" data-toggle="tab">Picklist Generated
                                                  <span class="badge">{{ returns_count }}</span></a></li>
    </ul>

    <div class="panel tab-content">
        <div class="panel-body tab-pane active" role="tabpanel" id="picklist-orders">
                <a class="btn btn-danger pull-right" href="/back_orders_rm/" style="margin-bottom: 10px">Back Orders</a>
            <table class="display" id="sortingTable">
                <thead>
                    <tr>
                        <th>Job Code  </th>
                        <th>Creation Date</th>
                        <th>Order Type</th>
                    </tr>
                </thead>

            </table>

        </div>

        <div class="panel-body tab-pane" role="tabpanel" id="raw-picklist">
            <table class="display" id="rm-picklist">

                <thead>
                <tr>
                    {% for header in headers%}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
            </table>

        </div>

    </div>


    <div class="modal fade process-toggle" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" style="overflow:auto;">
    </div>
    <div class="loading display-none">
        <div></div>
    </div>
</div>

{% endblock %}
