{% extends 'base.html' %}
{% block header %} Sales Returns {% endblock %}
{% block inbound %} active{% endblock %}
{% block inbound_style %} block {% endblock %}
{% block sales_returns %} active {% endblock %}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>
<div class="content-wrapper">
    <div class="panel tab-content" id="sales" style='padding-bottom:0px;'><h4>Sales Returns</h4>
        <div class='notifications top-right'></div>
        <form id="sales-returns">
            <div class="form-group clearfix">
                <hr>
                {% for sales_field in sales_return_fields %}
                <div class="row col-md-12">
                    {% for field in sales_field %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5 control-label">{{ field.0 }}</label>
                            {% if field.1 == 'ordered_date' %}
                                <div class="col-md-7">
                                    <input name="{{ field.1 }}" class="form-control" id='ordered_date' type="text">
                                </div>
                            {% else %}
                                <div class="col-md-7">
                                    <input name="{{ field.1 }}" class="form-control" type="text">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
        </form>
        <div class="col-md-12" style='padding-bottom:0px;'>
            <hr>
            <button type="submit" class="btn btn-primary pull-right" id='add-sales-return'>Search
            </button>
        </div>
    </div>
    </div>
    <div class="panel tab-content display-none" id="sales-orders" style="padding-bottom:0px;">
        <form id="return-sales-form">
        <table class="table">
            <tbody>
                <tr class="active">
                    {% for header in sales_return_headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                <tr class="returns-data display-none" >
                    {% for field in return_data_fields %}
                    <td>
                        {% if field == 'sales-check' %}
                            <input type="checkbox" id="{{ field }}">
                        {% elif field == 'order_id' or field == 'sku_code' %}
                            <input type="text" name="{{ field }}">
                        {% elif field == 'delete-sales' %}
                            <img src="/static/img/details_close.png" id="delete-sales">
                        {% else %}
                            <input type="text" name="{{ field }}" class="smallbox">
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <div class="row" style="height:82px">
            <hr>
            <button type="submit" class="btn btn-primary pull-right" id="confirm-sales-return">Confirm</button>
        </div>
        </form>
    </ div>
</div>
<div class="modal fade" id="location-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
</div>

{% endblock %}

