{% extends 'base.html' %}
{% block header %} Stock Summary {% endblock %}
{% block locator %} active{% endblock %}
{% block locator_style %} block {% endblock %}
{% block stock_summary %} active {% endblock %}


{% block content %}

<div class="content-wrapper">

    <!-- Table Body  -->
    <div class="panel tab-content add-excel" id="stock_summary" value="stock_summary">

        <table class="display stocksummaryTable" id="stock-summary">

            <thead>
            <tr>
                <th></th>
                {% for header in headers %}
                  <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>

        </table>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        </div>
    </div>
</div>

{% endblock %}
