{% extends 'base.html' %}
{% block header %} Stock Detail {% endblock %}
{% block locator %} active {% endblock %}
{% block locator_style %} block {% endblock %}
{% block stock_detail %} active {% endblock %}

{% block content %}

{% load tag_extras %}

<div class="content-wrapper">

    <!-- Table Body  -->
    <div class="panel tab-content add-excel" id="stock-detail" value="stock_detail">

        <table class="display stock_detail" id="sortingTable">

            <thead>
            <tr>
                <th>Receipt ID</th>
                <th>Receipt Date</th>
                <th>WMS Code</th>
                <th>Product Description</th>
                <th>Zone</th>
                <th>Location</th>
                <th>Quantity</th>
                {% if user|is_pallet_detail %}
                  <th>Pallet Code</th>
                {% endif %}
                <th>Receipt Type</th>
            </tr>
            </thead>

        </table>
    </div>
</div>

{% endblock %}
