{% extends 'base.html' %}

{% block header %} Orders {% endblock %}
{% block content %}
{% load staticfiles %}


<div class="content-wrapper">

  <div style="float:right;">
    <input type="text" class="form-control" name="search-track-order" placeholder="Search Purchase Order ID/Order ID" style="width:240px">
  </div>
  <br>
  <div class="all-orders">
  <ul class="nav nav-tabs" role="tablist" id="myTab" style="border:0;">
      <li role="orders" class="active"><a href="#orders" aria-controls="home" role="tab"
                                                    data-toggle="tab">Orders</a></li>
      <li role="purchase-orders"><a href="#purchase-orders" aria-controls="home" role="tab" data-toggle="tab">Purchase Orders</a></li>
  </ul>

  <div class="panel tab-content container" style="width:100%;">

    {% for k,data in orders_data.items %}
      {% if forloop.first %}
        <div class="panel-body tab-pane active track-orders" role="{{ k }}" id="{{ k }}" style="min-height: 90px;">
      {% else %}
        <div class="panel-body tab-pane track-orders" role="{{ k }}" id="{{ k }}" style="min-height: 90px;">
      {% endif %}
      {% for key, value in data.items %}
        <div style="padding-bottom: 10px;" id="{{ k }}:{{ value.index }}" class="order_index">
          <div class="span9 block-container numbersBlock info-header" data-toggle="collapse" data-target=".panel #demo-{{ k }}{{value.order_data.0.order}}" style="float: none;width:100%;margin-left: 0px;">
            <div class="common-data">
              {% if k == 'purchase-orders' %}
                <div>Order Placed</div>
              {% else %}
                <div>Order Received</div>
              {% endif %}
              <div>{{ value.order_data.0.order_date }}</div>
            </div>

            <div class="common-data">
              <div>Total</div>
              <div>{{ key.1 }}</div>
            </div>

            <div class="common-data">
              {% if k == 'purchase-orders' %}
                <div>Supplier</div>
              {% else %}
                <div>Customer</div>
              {% endif %}
              <div class="text-highlight">{{ value.order_data.0.name }}</div>
            </div>

            <div class="common-data" style="float: right;">
             <div>ORDER # {{ value.order_data.0.order }}</div>
            </div>

          </div>

          {% if k == 'orders' %}
            <div class="span9 block-container numbersBlock info-body collapse in" id="demo-{{ k }}{{ value.order_data.0.order }}" style="float: none;width:100%;margin-left: 0px;">
          {% else %}
            <div class="span9 block-container numbersBlock info-body collapse" id="demo-{{ k }}{{ value.order_data.0.order }}" style="float: none;width:100%;margin-left: 0px;">
          {% endif %}
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-md-9">
                {% for item in value.order_data %}

                  <div style="height:120px;" class="row">
                    <div class="col-md-3">
                      {% if item.image_url != '' %}
                        <img src="{{ item.image_url }}" class="img-rounded" alt="{{ item.sku_desc }}" width="100" height="100">
                      {% else %}
                        <img src="/static/img/default-image.jpg" class="img-rounded" alt="{{ item.sku_desc }}" width="100" height="100">
                      {% endif %}
                    </div>
                    <div class="col-md-7" style="padding-top: 14px;">
                      <div>Product title:<span>  {{ item.sku_desc }}</span></div>
                      <div>SKU Code: {{ item.sku_code }}</div>
                      <div>Quantity: {{ item.quantity }}</div>
                      <div>Price:<span class="price-color">{{ item.price }}</span></div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="stage col-md-2" id="{{ value.stage }}" style="margin-right:30px;float:right;"></div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  <center><img src="/static/img/scroll-load.gif" style="width:50px" id="img-load" class="display-none"></center>
  </div>
 </div>
 <div class="panel searched-order display-none" style="margin-top:25px;"></div>
</div>

<script type="text/javascript" src="{% static 'js/stage-tracking.js' %}"></script>
<script type="text/javascript" src="{% static 'js/track-order.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/stage-tracking.css' %}"/>

{% endblock %}
