{% extends 'base.html' %}

{% block uploads %} active {% endblock %}
{% block header %} Uploads  {% endblock %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>

<div class='notifications top-right'></div>

<div class="progress display-none">
    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100"
         aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete (success)</span>
    </div>
</div>
<div style="display: block;" id="dashboard">

    <div class="row-fluid">
        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Orders Download/ Upload</h4>

            <form method="get" action="/order_form/">
                <button type="submit" class="btn btn-danger" id="download-order-form"  style="width:45%;">Download Order Form</button>
                <input class="display-none" type="text" name="download-order-form" id="order-error"
                       value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file"  style="width:45%;"> Upload Order Form
          <input id="order-upload" type="file" name="files" data-url="/order_upload/" multiple>
        </span>
            </div>
        </div>

        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>SKU Download/ Upload</h4>

            <form method="get" action="/sku_form/">
                <button type="submit" class="btn btn-danger" id="upload-sku" style="width:45%;">Download SKU Form</button>
                <input class="display-none" type="text" name="download-sku-file" id="sku-error" value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file" style="width:45%;"> Upload SKU Form
          <input id="sku-file" type="file" name="files" data-url="/sku_upload/" multiple>
        </span>
            </div>
        </div>

    </div>

    <div class="row-fluid">
        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Stock Download/ Upload</h4>

            <form method="get" action="/inventory_form/">
                <button type="submit" class="btn btn-danger" id="upload-inventory"  style="width:45%;">Download Stock Form</button>
                <input class="display-none" type="text" name="download-file" id="error-file" value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file" style="width:45%;"> Upload Stock Form
          <input id="fileupload" type="file" name="files" data-url="/inventory_upload/" multiple>
        </span>
            </div>
        </div>

        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Supplier Download/ Upload</h4>

            <form method="get" action="/supplier_form/">
                <button type="submit" class="btn btn-danger" id="download-supplier" style="width:45%;">Download Supplier Form</button>
                <input class="display-none" type="text" name="download-supplier-file" id="supplier-error" value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file"style="width:45%;"> Upload Supplier Form
          <input id="supplier-upload" type="file" name="files" data-url="/supplier_upload/" multiple>
        </span>
            </div>
        </div>

    </div>

    <div class="row-fluid">
        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Supplier-SKU Download/ Upload</h4>

            <form method="get" action="/supplier_sku_form/">
                <button type="submit" class="btn btn-danger" id="download-supplier-sku"  style="width:45%;">Download Supplier Form</button>
                <input class="display-none" type="text" name="download-supplier-sku-file" id="supplier-sku-error"
                       value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file"  style="width:45%;"> Upload Supplier Form
          <input id="supplier-sku-upload" type="file" name="files" data-url="/supplier_sku_upload/" multiple>
        </span>
            </div>
        </div>

        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Location Download/ Upload</h4>

            <form method="get" action="/location_form/">
                <button type="submit" class="btn btn-danger" id="download-location" style='width:45%;'>Download Location Form</button>
                <input class="display-none" type="text" name="download-loc-file" id="location-error" value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file" style="width:45%;"> Upload Location Form
          <input id="location_upload" type="file" name="files" data-url="/location_upload/" multiple>
        </span>
            </div>
        </div>

    </div>

    <div class="row-fluid">
        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Purchase Orders Download/ Upload</h4>

            <form method="get" action="/purchase_order_form/">
                <button type="submit" class="btn btn-danger" id="download-purchase-order-form"  style="width:45%;">Download Purchase Order Form</button>
                <input class="display-none" type="text" name="download-purchase-order-form" id="purchase-order-error"
                       value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file"  style="width:45%;"> Upload Purchase Order Form
          <input id="purchase-order-upload" type="file" name="files" data-url="/purchase_order_upload/" multiple>
        </span>
            </div>
        </div>

        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Move Inventory Download/ Upload</h4>

            <form method="get" action="/move_inventory_form/">
                <button type="submit" class="btn btn-danger" id="move-inventory-location" style='width:45%;'>Download Move Inventory Form</button>
                <input class="display-none" type="text" name="download-move-inventory-file" id="move-inventory-error" value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file" style="width:45%;"> Upload Move Inventory Form
          <input id="move-inventory-upload" type="file" name="files" data-url="/move_inventory_upload/" multiple>
        </span>
            </div>
        </div>

    </div>


    <div class="row-fluid">
        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Market Place - SKU Download/ Upload</h4>

            <form method="get" action="/marketplace_sku_form/">
                <button type="submit" class="btn btn-danger" id="download-marketplace-sku"  style="width:45%;">Download Market SKU Form</button>
                <input class="display-none" type="text" name="download-marketplace-sku-file" id="marketplace-sku-error"
                       value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file"  style="width:45%;"> Upload Market SKU Form
          <input id="marketplace-sku-upload" type="file" name="files" data-url="/marketplace_sku_upload/" multiple>
        </span>
            </div>
        </div>

        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>BOM - SKU Download/ Upload</h4>

            <form method="get" action="/bom_form/">
                <button type="submit" class="btn btn-danger" id="download-bom"  style="width:45%;">Download BOM Form</button>
                <input class="display-none" type="text" name="download-bom-file" id="bom-error"
                       value=''/>
            </form>

            <div class="top-padding">
        <span class="btn btn-danger btn-default btn-file"  style="width:45%;"> Upload BOM Form
          <input id="bom-upload" type="file" name="files" data-url="/bom_upload/" multiple>
        </span>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Combo SKU Download/ Upload</h4>

            <form method="get" action="/combo_sku_form/">
                <button type="submit" class="btn btn-danger" id="download-combo-sku"  style="width:45%;">Download Combo SKU Form</button>
                <input class="display-none" type="text" name="download-combo-sku-file" id="combo-sku-error"
                       value=''/>
            </form>

            <div class="top-padding">
                <span class="btn btn-danger btn-default btn-file"  style="width:45%;"> Upload Combo SKU Form
                    <input id="combo-sku-upload" type="file" name="files" data-url="/combo_sku_upload/" multiple>
                </span>
            </div>
        </div>
        <div class="span6 block-container numbersBlock alertBlock-upload">
            <h4>Inventory Adjustment Download/ Upload</h4>

            <form method="get" action="/inventory_adjust_form/">
                <button type="submit" class="btn btn-danger" id="download-inventory-adjust"  style="width:45%;">Download Adjustment Form</button>
                <input class="display-none" type="text" name="download-inventory-adjust-file" id="inventory-adjust-error"
                       value=''/>
            </form>

            <div class="top-padding">
                <span class="btn btn-danger btn-default btn-file"  style="width:45%;"> Upload Adjustment Form
                    <input id="inventory-adjust-upload" type="file" name="files" data-url="/inventory_adjust_upload/" multiple>
                </span>
            </div>
        </div>
    </div>
    <div class="loading display-none"></div>
</div>
    <script type="text/javascript" src="{% static 'js/notify.js' %}"></script>

    {% endblock %}
