{% extends 'base_issues.html' %}
{% block header %} View Issues {% endblock %}
{% block view_issues %} active {% endblock %}
{% block outbound_style %} block {% endblock %}

{% block content %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<section>
    <div class="content-wrapper">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#open_issue" aria-controls="home" role="tab"
                                                      data-toggle="tab">Open Issues</a></li>
            <li role="receipt"><a href="#resolved-issues" aria-controls="home" role="tab" data-toggle="tab">Resolved
                Issues</a></li>
        </ul>


        <div class="panel tab-content" id="pull-confirmation">
            <div class="panel-body tab-pane active" role="tabpanel" id="open_issue">
                <table class="display" id="open-issues">

                    <thead>
                    <tr>
                        <th>Issue ID</th>
                        <th>Issue Title</th>
                        <th>Priority</th>
                        <th>Creation Date</th>
                    </tr>
                    </thead>

                </table>
            </div>

            <div class="panel-body tab-pane" role="tabpanel" id="resolved-issues">

                <table class="display" id="resolved">
                    <thead>
                    <tr>
                        <th>Issue ID</th>
                        <th>Issue Title</th>
                        <th>Priority</th>
                        <th>Creation Date</th>
                    </tr>
                    </thead>

                </table>
            </div>
            <div class="modal fade" id="modal-confirmation" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
            </div>
        </div>

</section>

{% endblock %}
