{% extends 'base.html' %}
{% block header %} View Orders {% endblock %}
{% block outbound %} active {% endblock %}
{% block outbound_style %} block {% endblock %}
{% block view_manifest %} active {% endblock %}

{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/orders.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fnReloadAjax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/notify.css' %}"/>


<div class="content-wrapper">
  <ul class="nav nav-tabs {{ is_display }}" role="tablist" id="myTab" style="border:0">
    <li role="presentation" class="active"><a href="#picklist" aria-controls="home" role="tab" data-toggle="tab">Orders</a></li>
    <li role="receipt"><a href="#st-orders" aria-controls="home" role="tab" data-toggle="tab">Stock Transfer Orders</a></li>
  </ul>

  <!-- Table Body  -->
  <div class="panel tab-content" id="manifest-orders">
    <div class='notifications top-right'></div>
    <div class="panel-body tab-pane active add-excel" role="tabpanel" id="picklist" value="view_orders">
      <div class="row" style="padding-bottom:20px">
        <div class="col-md-3"><a class="btn btn-primary back-order-btn" href="/back_orders/">Back Orders</a></div>

        <div class="col-md-5">
          <select class="selectpicker pull-right space-adjust market-button" multiple data-selected-text-format="count>3">
           {% for place in marketplace %}
              <option>{{ place.marketplace }}</option>
           {% endfor %}
          </select>
          <label class="pull-right space-adjust"><b>Marketplace Filter</b></label></div>

          <label class="pull-right"><b>FIFO</b>
            {% if fifo_switch == "true" %}
              <input type="checkbox" name="fifo-switch" checked data-size="mini" data-off-color="warning">
            {% else %}
              <input type="checkbox" name="fifo-switch" data-size="mini" data-off-color="warning">
            {% endif %}
          </label>
          <label class="pull-right space-adjust"><b>Batch Processing</b>
            {% if batch_switch == "true" %}
              <input type="checkbox" name="batch-process" checked data-size="mini" data-off-color="warning">
            {% else %}
              <input type="checkbox" name="batch-process" data-size="mini" data-off-color="warning">
            {% endif %}
          </label>

        </div>

      <div id="picklist1" style="display: {{ tb1_class }};">
        <table class="display orderTable" id="view-manifest-orders">

          <thead>
            <tr>
              <th><input type="checkbox" id="checkall" title="Select all"/></th>
              <th>Order ID</th>
              <th>SKU Code</th>
              <th>Title</th>
              <th>Product Quantity</th>
              <th>Shipment Date</th>
              <th>Marketplace</th>
            </tr>
          </thead>

        </table>
        <div class="clearfix top-padding">
          <button type="submit" class="btn btn-primary right-float gnr-picklist" disabled>Generate Picklist
          </button>
          <button type="submit" class="btn btn-primary right-float transfer-order-btn" style="margin-right:10px;" disabled>
          Transfer Order
          </button>
          <input type="text" name="ship_reference" class="right-float" style="margin-right: 10px">
          <label class="right-float" style="margin-right:10px;font-weight:bold">Shipment Reference: </label>
        </div>

      </div>
      <div id="picklist2" style="display: {{ tb2_class }};">
        <table id="batch-table" class="display batchorderTable">
          <thead>
            <tr>
              <th><input type="checkbox" id="checkall_batch" title="Select all"/></th>
              <th> SKU Code</th>
              <th>Title</th>
              <th>Total Quantity</th>
            </tr>
          </thead>
        </table>
        <div class="clearfix top-padding">
          <button type="submit" class="btn btn-primary right-float gnr-picklist1" disabled>Generate Picklist
          </button>
          <button type="submit" class="btn btn-primary right-float transfer-order-btn1 {{ is_display }}" style="margin-right:10px;" disabled>
          Transfer Order
          </button>
          <input type="text" name="batch_ship_reference" class="right-float" style="margin-right: 10px">
          <label class="right-float" style="margin-right:10px;font-weight:bold">Shipment Reference: </label>
        </div>

      </div>
    </div>
    <div class="panel-body tab-pane" role="tabpanel" id="st-orders">
        <table class="display" id="stock-transfer">
          <thead>
            <tr>
              <th><input type="checkbox" id="checkall_stock" title="Select all"/></th>
              {% for header in st_headers %}
                  <th>{{ header }}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <div class="clearfix top-padding">
          <button type="submit" id="st-generate-picklist" class="btn btn-primary right-float" disabled>Generate Picklist
          </button>
        </div>

      </div>

    <div class="modal fade process-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
         id="processing-confirmation">
    </div>
    </div>
  </div>
</div>

{% endblock %}
