
/*angular materal design*/
.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }
/*----finished----*/

dy {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);"
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.new-arrivals-w3agile{
 padding: 4em 0;
}
.arrivals-grids{
margin-top: 3em;
}
.arrival-grid,.cap-left {
    float: left;
    width: 27%;
}
.arrival-grid:nth-child(3),.arrival-grid:nth-child(4) {
    margin-top: 2em;
}
.grid-arr {
    border: 1px solid #E2E2E2;
    border: 5px solid #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 0em;
}
.grid-arr .grid-arrival figure {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 0 20px 0;
  width: 100%;
}
.grid-arr .grid-arrival figure:hover .grid-img + .grid-img{
  right: 100%;
  right: 100%;
}
.grid-arr .grid-arrival figure > a {
  display: block;
  float: left;
  width: 100%;
  z-index: 1;
}
.grid-arr .grid-arrival figure > a .grid-img {
  width: 100%;
  line-height: 0;
  will-change: right;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.grid-arr .grid-arrival figure > a .grid-img img {
  width: 100%;
}
.grid-arr .grid-arrival figure > a .grid-img + .grid-img {
  position: absolute;
  top: 0;
  right: 0;
  -moz-transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
  -o-transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
  -webkit-transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
  transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
}
.grid-arr .grid-arrival figure > a .grid-img + .grid-img img {
  max-width: none;
}
.new-grid h5 {
    font-size: 1.7em;
    color: #222;
}
.new-grid h6 {
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: 600;
}
.new-grid span {
    font-size: 1em;
    color: #777;
    line-height: 2em;
}

.product_desc span {
    font-size: 1em;
    color: #000;
    margin: 1em 0;
    display: block;
}
span.size {
    color: #000000;
    font-weight: 600;
}
.product_desc p {
    font-size: 0.965em;
}
em.item_price {
    font-style: normal;
    color: #000;
    font-weight: 600;
}
a.my-cart-b {
    text-decoration: none;
}
.my-cart-b {
    background: none;
    text-decoration: none;
    color: #1565C0;
    font-size: 1em;
    border: 2px solid #F19E1F;
    padding: 0.5em 1em;
    outline: none;
}
/* Sweep To Bottom */
.my-cart-b{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.my-cart-b:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1565C0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border-radius: 50px;
	border: 2px solid #1565C0;
}
.my-cart-b:hover, .my-cart-b:focus, .my-cart-b:active {
	color: white;
    background: none;
    border: 2px solid #1565C0;
    outline: none !important;
}
.my-cart-b:hover:before, .my-cart-b:focus:before, .my-cart-b:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
a.item_add1 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  /* border-bottom-right-radius: 50%; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 15px;
  background: url(0) #f54d56;
}
a.item_add1:hover{
	background:rgb(3, 193, 167);
	text-decoration:none;
	color:#fff;
}body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);"
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.new-arrivals-w3agile{
 padding: 4em 0;
}
.arrivals-grids{
margin-top: 3em;
}
.arrival-grid,.cap-left {
    float: left;
    width: 27%;
}
.arrival-grid:nth-child(3),.arrival-grid:nth-child(4) {
    margin-top: 2em;
}
.grid-arr {
    border: 1px solid #E2E2E2;
    border: 5px solid #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 0em;
}
.grid-arr .grid-arrival figure {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 0 20px 0;
  width: 100%;
}
.grid-arr .grid-arrival figure:hover .grid-img + .grid-img{
  right: 100%;
  right: 100%;
}
.grid-arr .grid-arrival figure > a {
  display: block;
  float: left;
  width: 100%;
  z-index: 1;
}
.grid-arr .grid-arrival figure > a .grid-img {
  width: 100%;
  line-height: 0;
  will-change: right;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.grid-arr .grid-arrival figure > a .grid-img img {
  width: 100%;
}
.grid-arr .grid-arrival figure > a .grid-img + .grid-img {
  position: absolute;
  top: 0;
  right: 0;
  -moz-transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
  -o-transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
  -webkit-transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
  transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
}
.grid-arr .grid-arrival figure > a .grid-img + .grid-img img {
  max-width: none;
}
.new-grid h5 {
    font-size: 1.7em;
    color: #222;
}
.new-grid h6 {
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: 600;
}
.new-grid span {
    font-size: 1em;
    color: #777;
    line-height: 2em;
}

.product_desc span {
    font-size: 1em;
    color: #000;
    margin: 1em 0;
    display: block;
}
span.size {
    color: #000000;
    font-weight: 600;
}
.product_desc p {
    font-size: 0.965em;
}
em.item_price {
    font-style: normal;
    color: #000;
    font-weight: 600;
}
a.my-cart-b {
    text-decoration: none;
}
.my-cart-b {
    background: none;
    text-decoration: none;
    color: #1565C0;
    font-size: 1em;
    border: 2px solid #F19E1F;
    padding: 0.5em 1em;
    outline: none;
}
/* Sweep To Bottom */
.my-cart-b{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.my-cart-b:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1565C0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border-radius: 50px;
	border: 2px solid #1565C0;
}
.my-cart-b:hover, .my-cart-b:focus, .my-cart-b:active {
	color: white;
    background: none;
    border: 2px solid #1565C0;
    outline: none !important;
}
.my-cart-b:hover:before, .my-cart-b:focus:before, .my-cart-b:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
a.item_add1 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  /* border-bottom-right-radius: 50%; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 15px;
  background: url(0) #f54d56;
}
a.item_add1:hover{
	background:rgb(3, 193, 167);
	text-decoration:none;
	color:#fff;
}
