<form name="form" role="form">
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Download PDF</h4>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4 control-label">Display Stock</label>
        <div class="col-sm-6">
          <input type="checkbox" ng-model="$ctrl.pdfData.display_stock" style="height: 18px;width: 18px;margin-top: 8px;">
        </div>
      </div>
    </div>
    <div class="form-horizontal" ng-if="$ctrl.user_type!='customer'">
      <div class="form-group">
        <label class="col-sm-4 control-label">Display Total Amount</label>
        <div class="col-sm-6">
          <input type="checkbox" ng-model="$ctrl.pdfData.display_total_amount" style="height: 18px;width: 18px;margin-top: 8px;">
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4 control-label">Remarks</label>
        <div class="col-sm-6">
          <textarea rows="2" class="form-control" name="customer_pdf_remarks" ng-model="$ctrl.pdfData.remarks"></textarea>
        </div>
      </div>
    </div>
    <table class="table mw40" ng-if="$ctrl.user_type!='customer'">
      <thead>
        <tr>
          <th><b> Style Name </b></th>
          <th><b> MSP </b></th>
          <th><b> Stock </b></th>
          <th><b> Quantity </b></th>
          <th class="plus"></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat= "item in $ctrl.pdfData.checked_items">
          <td>{{item.sku_desc}}</td>
          <td>{{item.sequence}}</td>
          <td>{{item.style_quantity}}</td>
          <td><input type="text" name="quantity" class="form-control" ng-model="$ctrl.pdfData.required_quantity[item.sku_desc]"></td>
          <td class="plus"><i class="fa fa-minus-square minus" style="cursor: pointer;" ng-click="$ctrl.remove_item(item.sku_desc)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button ng-if="$ctrl.user_type!='customer'" class="btn btn-warning pull-left" type="button" ng-click="$ctrl.clear_quantities()">Clear Quantities</button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Close</button>
  <button class="btn btn-primary" type="submit" ng-click="$ctrl.downloadPDF(form)" ng-disabled="$ctrl.pdfDownloading">{{($ctrl.pdfDownloading)? 'Downloading': 'Download';}}</button>
</div>
</form>
