<style>
  .filter-box{
    cursor: pointer;
  }
</style>
  <div class="toggle-filter" ng-if="showCase.showFilter" style="width:400px">
    <div class="toggle-header" style="width:400px">
      <span><b>Filters</b></span>
      <span class="pull-right" ng-click="showCase.showFilter = false" style="cursor: pointer"> <b>X</b> </span>
    </div>
    <div class="toggle-body">
      <div class="filter-box" ng-if="permissions.user_type == 'customer'">
        <div class="box-header">
          <span>
            <input type="checkbox" ng-model="showCase.filterData.hotRelease">
            <b class="mrl10">Hot Release </b>
          </span>
          <span class="ml10 mr20">
          </span>
        </div>
      </div>
      <div class="filter-box">
        <div class="box-header" ng-click="showCase.brand_open = (showCase.brand_open)? false: true;">
          <span><b>Brands: </b>
            <i class="fa fa-angle-down pull-right mr10" style="font-size: 20px;font-weight: 900" ng-class="(showCase.brand_open)? 'fa-angle-up': 'fa-angle-down'"></i>
          </span>
        </div>
        <div class="box-body" ng-if="showCase.brand_open">
            <span ng-repeat="brand in showCase.filterData.brands" ng-hide="!showCase.filterData.brandShow && $index > 5"><input type="checkbox" ng-model="showCase.filterData.selectedBrands[brand]" ng-change="showCase.checkFilterBrands(brand, showCase.filterData.selectedBrands)">{{brand}}</br></span>
            <a href="" ng-click="showCase.filterData.brandShow = true" ng-if="showCase.filterData.brands.length > 5" ng-hide="showCase.filterData.brandShow" style="text-decoration: underline;">Show More...</a>
        </div>
      </div>

      <div class="filter-box">
        <div class="box-header" ng-click="showCase.category_open = (showCase.category_open)? false: true;">
          <span><b>Categories: </b></span>
          <i class="fa fa-angle-down pull-right mr10" style="font-size: 20px;font-weight: 900;" ng-class="(showCase.category_open)? 'fa-angle-up': 'fa-angle-down'"></i>
        </div>
        <div class="box-body" ng-if="showCase.category_open">

          <div ng-repeat="(key, value_list) in showCase.filterData.primary_details.data">

            <span>
              <input type="checkbox" ng-model="showCase.filterData.selectedCats[key]" ng-change="showCase.checkPrimaryFilter(key)"> {{key}}</br>
            </span>
            <div class="filter-box ml10" ng-if="value_list.length > 0 && showCase.filterData.selectedCats[key]">
              <div class="box-header"></div>
              <div class="box-body">
                <div>
                  <input type="checkbox" ng-model="showCase.filterData.subCats[key]['All']" ng-change="showCase.checkFilters('All', showCase.filterData.subCats[key], key)">
                  All</br>
                </div>
                <div ng-repeat="value in value_list">
                  <span>
                  <input type="checkbox" ng-model="showCase.filterData.subCats[key][value]" ng-change="showCase.checkSubcategoryFilter(key, value)">
                  {{value}}</br>
                  </span>

                  <div class="filter-box ml10" ng-if="showCase.filterData.primary_details.sub_category_list[value].length > 0 && showCase.filterData.subCats[key][value]">
                    <div class="box-header"></div>
                    <div class="box-body">
                      <span ng-repeat="lastCat in showCase.filterData.primary_details.sub_category_list[value]">
                        <input type="checkbox" ng-model="showCase.filterData.leastCats[key][lastCat]">
                        {{lastCat}}</br>
                      </span>
                    </div>
                  </div>
                </div>

                <!-- <div class="filter-box ml10" ng-if="showCase.filterData.primary_details.sub_category_list[value].length > 0 && showCase.filterData.selectedCats[key][value]">
                  <div class="box-header"></div>
                  <div class="box-body">
                    <span ng-repeat="lastCat in showCase.filterData.primary_details.sub_category_list[value]">
                      <input type="checkbox" ng-model="showCase.filterData.subCats[key][value][lastCat]" ng-change="showCase.checkFilters(lastCat, showCase.filterData.subCats[key][value], key)">
                      {{lastCat}}</br>
                    </span>
                  </div>
                </div> -->
              </div>
          </div>
          <!--<a href="" ng-click="showCase.filterData.catShow = true" ng-if="showCase.filterData.categories.length > 5" ng-hide="showCase.filterData.catShow" style="text-decoration: underline;">Show More...</a>-->
        </div>
        <!--<div class="box-body">
            <span ng-repeat="cate in showCase.filterData.categories" ng-hide="!showCase.filterData.catShow && $index > 5"><input type="checkbox" ng-model="showCase.filterData.selectedCats[cate]" ng-click="showCase.checkFilters(cate, showCase.filterData.selectedCats)">{{cate}}</br></span>
            <a href="" ng-click="showCase.filterData.catShow = true" ng-if="showCase.filterData.categories.length > 5" ng-hide="showCase.filterData.catShow" style="text-decoration: underline;">Show More...</a>
        </div>-->
      </div>

      <div class="filter-box">
        <div class="box-header" ng-click="showCase.color_open = (showCase.color_open)? false: true;">
          <span><b>Colours: </b></span>
          <i class="fa fa-angle-down pull-right mr10" style="font-size: 20px;font-weight: 900;" ng-class="(showCase.color_open)? 'fa-angle-up': 'fa-angle-down'"></i>
        </div>
        <div class="box-body" ng-if="showCase.color_open">
            <span ng-repeat="color in showCase.filterData.colors"  ng-hide="!showCase.filterData.colorShow && $index > 5"><input type="checkbox" ng-model="showCase.filterData.selectedColors[color]" ng-click="showCase.checkFilters(color, showCase.filterData.selectedColors)">{{color}}</br></span>
            <a href="" ng-click="showCase.filterData.colorShow = true" ng-if="showCase.filterData.colors.length > 5" ng-hide="showCase.filterData.colorShow" style="text-decoration: underline;">Show More...</a>
        </div>
      </div>

      <div class="filter-box">
        <div class="box-header" ng-click="showCase.price_open = (showCase.price_open)? false: true;">
          <span ng-if="showCase.priceband_sync"><b>MSP Ranges: </b></span>
          <span ng-if="!showCase.priceband_sync"><b>Price Ranges: </b></span>
          <i class="fa fa-angle-down pull-right mr10" style="font-size: 20px;font-weight: 900;cursor:pointer" ng-class="(showCase.price_open)? 'fa-angle-up': 'fa-angle-down'"></i>
        </div>
        <div class="box-body mt10" style="overflow: auto;" ng-if="showCase.price_open">
          <input type="number" class="form-control pull-left" style="width:70px" ng-model="showCase.filterData.fromPrice">
          <span class="pull-left mt5 ml5 mr5"> To </span>
          <input type="number" class="form-control pull-left" style="width:70px" ng-model="showCase.filterData.toPrice">
        </div>
      </div>

      <div class="filter-box">
        <div class="box-header" ng-click="showCase.quantity_open = (showCase.quantity_open)? false: true;">
          <span><b>Quantity: </b></span>
          <i class="fa fa-angle-down pull-right mr10" style="font-size: 20px;font-weight: 900;" ng-class="(showCase.quantity_open)? 'fa-angle-up': 'fa-angle-down'"></i>
        </div>
        <div class="box-body mt10" style="overflow: auto;" ng-if="showCase.quantity_open">
          <input type="number" class="form-control pull-left" style="width:70px" ng-model="showCase.filterData.quantity">
        </div>
      </div>

      <div class="filter-box">
        <div class="box-header" ng-click="showCase.d_date = (showCase.d_date)? false: true;">
          <span><b>Delivery Date: </b></span>
          <i class="fa fa-angle-down pull-right mr10" style="font-size: 20px;font-weight: 900" ng-class="(showCase.d_date)? 'fa-angle-up': 'fa-angle-down'"></i>
        </div>
        <div class="box-body mt10 filter_date" style="overflow: auto;" ng-if="showCase.d_date">
          <input type="text" ui-jq="datepicker" class="form-control stk-readonly pull-left" name="delivery_date" ng-model="showCase.filterData.delivery_date" id="delivery_date" ng-change="showCase.date_changed()" required data-date-today-highlight="true" data-date-autoclose="true" placeholder="Delivery Date" data-date-start-date="{{showCase.date}}">
        </div>
      </div>

      <div class="filter-box" ng-if="showCase.filterData.brand_size_data.length > 0">
        <div class="box-header" ng-click="showCase.size_open = (showCase.size_open)? false: true;">
          <span><b>Sizes: </b></span>
          <i class="fa fa-angle-down pull-right mr10" style="font-size: 20px;font-weight: 900" ng-class="(showCase.size_open)? 'fa-angle-up': 'fa-angle-down'"></i>
        </div>
        <div class="box-body mt10" style="overflow: auto;" ng-if="showCase.size_open">
          <table class="table table-bordered filter-table">
            <thead>
              <tr>
                <th>Size</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sizewise in showCase.filterData.brand_size_data">
                <td style="text-align:center">{{sizewise}}</td>
                <td style="text-align:center"><input name="{{sizewise}}" class="form-control number" type="string" placeholder="Stock Quantity" ng-model="showCase.filterData.size_filter[sizewise]"/></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-danger pull-right" ng-click="showCase.applyFilters();">Apply</button>
        <button type="button" class="btn btn-default pull-right mr10" ng-click="showCase.clearFilters();">Clear</button>
      </div>
    </div>
  </div>
