<style>
	.card {
		transform: translate3d(0px, 0px, 0px);
    transition-duration: 0.25s;
    transition-property: transform, opacity, margin-top;
    transition-timing-function: ease-in-out;
    background-color: #fff;
    border-radius: 3px;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);*/
    box-shadow: none;
	}

	.card > .item {
		padding: 10px;
		border-bottom: 2px solid #f0f0f0;
	}
	.sku_name {
		color: #333;
    font-size: 16px;
    font-weight: 400;
	}
	.sku_name span {
		font-size: 14px;
	}
	.sku_values {
		color: #333;
    font-size: 14px;
    font-weight: bold;
	}
	.modify-qty i {
		display: inline-block;
	}
	.modify-qty input {
		display: inline-block;
		width: 40px;
		height: 20px
	}
	
	ul {list-style: none;padding: 0px;margin: 0px;}
	ul li {display: block;position: relative;float: left}
	li ul {display: none;}
	ul li a {display: block;padding: 10px 30px 10px 30px;text-decoration: none; white-space: nowrap;color: #616161;cursor: pointer;}
	/*ul li a:hover {background: #ed1c24;}*/
	ul li a:hover {background: #ed1c24;color: #fff}
	li:hover ul {display: block; position: absolute;z-index: 1000}
	li:hover li {float: none;z-index: 1000}
	li:hover a {background: #ed1c24;z-index: 1}
	/*li:hover li a:hover {background: #ed1c24;z-index: 1}*/
	li:hover li a:hover {background: #ed1c24;z-index: 1;color: #fff;cursor: pointer;}
	#drop-nav li ul li {border-top: 0px;}
</style>

<!-- <div class="clearfix" ng-controller="AppNewStyle as Style" style="background: #f0f0f0;"> -->
	<div class="clearfix" ng-controller="AppNewStyle as Style" style="background: #f0f0f0;">
	<!-- Loading -->
	<div ng-if="Style.place_order_loading" style="position: fixed;z-index: 2001;width: 100%;height: 100%;top: 0px;background: rgba(0, 0, 0, 0.5);padding-top: 125px;">
    <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
  </div>

  <div class="row style-menu" style="line-height: 40px;">
  	<div class="col-md-10 col-sm-10 col-xs-2">
      <!-- <div class="menu-left">
        <ul id="drop-nav">
			<li ng-repeat="list in Style.main_menus"><a href="#">{{list}}</a> -->
				<!-- <ul ng-if="Style.sub_menus">
			      <li ng-repeat="sub_list in Style.sub_menus"><a href="#">{{sub_list}}</a></li>
			    </ul> -->
		  	<!-- </li>
		</ul>
      </div> -->
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <a class="fa fa-power-off pull-right fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" ng-click="showCase.logout()"></a>
    </div>
  </div>

  <!-- Search box div -->
  <div class="row search-items pt15 search-box" style="background: #fff">
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-12"></div>
      <div ng-class="showCase.search_box_cls">
        <div class="input-group mb10">
          <span class="input-group-addon" style="background: #ed1c24;color: white;"><i style="background: #ed1c24;width: 15px;font-size: 15px;" class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search for Products" ng-model="showCase.style" ng-change="showCase.catlog_data.index='';showCase.get_category(true, true);" ng-debounce>
        </div>
      </div>
      <div ng-class="showCase.buttons_cls" ng-style="showCase.margin_style" style="text-align: center;">
        <div class="hidden-xs" style="left: 25px;"></div>
        <div class="text-center">
          <button class="btn btn-icon-icon" style="background: white;float:left;">
            <i class="fa fa-filter" style="font-size: 15px;border-radius: 18px;color:white" title="Show Filters" ng-click="showCase.showFilters()"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  	<div class="col-md-10 col-sm-10 col-xs-2">
      <div class="menu-left">
        <ul id="drop-nav">
			<li ng-repeat="list in Style.main_menus"><a>{{ list }}</a>
				<!-- <ul ng-if="Style.sub_menus">
			      <li ng-repeat="sub_list in Style.sub_menus"><a href="#">{{sub_list}}</a></li>
			    </ul> -->
		  	</li>
		</ul>
      </div>
    </div>
  </div>

  <div class="row catalog-div mt5">
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mt10">

			<div class="card">
				
				<!-- <div class="item" ng-repeat="sku_variants in Style.gotData.data"> -->
					<div class="item" ng-repeat="style in Style.filteredStyles">
					
					<!-- <div ng-repeat="style in sku_variants.variants"> -->
						
						<div class="row mb10 mt10">
				
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="">
								<img ng-src="{{ Style.service.check_image_url(style.image_url) }}" style="width: 120px; height: 95px">
							</div>
				
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
				
								<div class="row mb15">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sku_name"><strong>{{ style.style_name }}</strong>, &nbsp;&nbsp;<span>{{style.sku_desc}}&nbsp;&nbsp;({{ style.sku_size }})</span></div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
										<button class="btn btn-sm btn-danger" ng-click="Style.add_to_cart(style)">Add to cart</button>
									</div>
								</div>
				
								<div class="row">
								
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Price: 
										<span class="sku_values">{{ style.price }}</span>
									</div>
								
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Style:
										<span class="sku_values">{{ Style.service.price_format(style.price) }}</span>
									</div>
								
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Stock: 
										<span class="sku_values">{{ style.physical_stock }}</span>
									</div>
								
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 modify-qty">
										<i class="fa fa-minus" align="center" ng-click="Style.change_cart_quantity(style, false)"></i>
	                  <input class="form-control ng-pristine ng-valid valid" name="quantity" ng-model="style.quantity" ng-blur="Style.change_amount(style)" aria-invalid="false">
	                  <i class="fa fa-plus" ng-click="Style.change_cart_quantity(style, true)"></i>
									</div>
								</div>
							</div>
						</div>
					<!-- </div> -->
				</div>
			</div>

			<div class="row col-md-12 Style.final_data.amount | number : 2col-sm-12 col-xs-12" ng-if="Style.data_loading" style="background: #000;opacity: 0.3;filter: alpha(opacity=100);">
	      <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
	    </div>
			<div class="row" ng-if="!Style.data_loading">
		  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="right">

		  		<ul ng-if="Style.pager.pages.length" class="pagination" style="margin-right: -15px">
              <li ng-class="{disabled:Style.pager.currentPage === 1}">
                  <a ng-click="Style.setPage(1)">First</a>
              </li>
              <li ng-class="{disabled:Style.pager.currentPage === 1}">
                  <a ng-click="Style.setPage(Style.pager.currentPage - 1)">Previous</a>
              </li>
              <li ng-repeat="page in Style.pager.pages" ng-class="{active:Style.pager.currentPage === page}">
                  <a ng-click="Style.setPage(page)">{{page}}</a>
              </li>                
              <li ng-class="{disabled:Style.pager.currentPage === Style.pager.totalPages}">
                  <a ng-click="Style.setPage(Style.pager.currentPage + 1)">Next</a>
              </li>
              <li ng-class="{disabled:Style.pager.currentPage === Style.pager.totalPages}">
                  <a ng-click="Style.setPage(Style.pager.totalPages)">Last</a>
              </li>
          </ul>

		  		<!-- <pagination ng-model="Style.currentPage" total-items="Style.pagenation_data.length" max-size="Style.maxSize" boundary-links="true"></pagination> -->
		  		<!-- <ul class="pagination">
					  <li class="active"><a href="#">1</a></li>
					  <li><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li><a href="#">4</a></li>
					  <li><a href="#">5</a></li>
					</ul> -->
		  	</div>
		  </div>
		</div>
		<div class="col-lg-3 col-md-3 visible-md visible-lg mt10">
			<div class="card" style="padding: 10px">
				<h5><b>Price Details</b></h5>
				<div class="list-group">
					<div class="list-group-item">
						Sub Total ({{ Style.final_data.total_quantity }} Qty)<span class="badge">Rs {{ Style.final_data.amount | number : 2 }}</span>
					</div>
					<div class="list-group-item">
						Tax Amount <span class="badge">Rs {{ Style.final_data.tax_amount | number : 2 }}</span>
					</div>
					<div class="list-group-item">
						Total Amount <span class="badge">Rs {{ Style.final_data.total_amount | number : 2 }}</span>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>