<div ng-controller="AppNotifications as notify">

  <div class="row style-menu" style="line-height: 35px;">
    <div class="col-md-4 col-sm-5 col-xs-8">
      <div class="online-toggle ml10">
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-5 hidden-xs">
      <h4 align="center">NOTIFICATIONS</h4>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-4">
      <div class="btn-group pull-right" role="group">
        <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a ng-click="$state.go('user.App.MyOrders');">Your Orders</a></li>
          <li><a ng-click="$state.go('user.App.Profile')">Profile</a></li>
          <li><a ng-if="showCase.user_type=='reseller'" ng-click="$state.go('user.App.ManualEnquiry');">Create Custom Order</a></li>
          <li ng-if="showCase.permissions.display_sku_cust_mapping"><a ng-click="$state.go('user.App.PendingOrder');">Pending Order</a></li>
          <li><a ng-click="showCase.logout()">Logout</a></li>
        </ul>
      </div>
      <a class="fa fa-user pull-right hide fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" ng-click="showCase.logout()"></a>
      <a href="" class="hide pull-right" ng-click="$state.go('user.App.Cart')">
          <i class="fa fa-cart-plus fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" title="Go To Cart Page"></i>
      </a>
    </div>
  </div>


  <div class="container-fluid notif_container">
    <div class="row mark_all">
      <div class="col-md-offset-2 col-md-8">
        <div type="button" class="btn btn-success" ng-click="notify.mark_as_read('', true)">Mark All As Read</div>
      </div>
    </div>
    <div class="row" ng-repeat="notification in notify.notifications">
      <div class="col-md-offset-2 col-md-8">
        <div ng-class="{'alert-common alert-unread': notification.is_read==0, 'alert-common alert-read': notification.is_read!=0,
                        'first_alert': $index==0}">
            <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class ="pull-left">
            <span class="nt-head">{{notification.message}}</span>
            <p>{{notification.creation_date}}</p>
          </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class ="pull-right">
            <div type="button" class="fa fa-check fa-2x"
                 ng-if="notification.is_read==0"
                 ng-click="notify.mark_as_read(notification.id, '')">
               </div>
                 <div  class="fa fa-trash fa-2x"
                      ng-click="notify.delete_notification(notification.id)"
                      title="Delete"></div>
                    </div>
          </div><!--col-->
        </div>
        </div>
      </div><!--col-->
    </div>
  </div>

</div>

<style>
  .container.notif_container {
    margin-bottom: 20px;
  }
  .alert-unread {
    background: #edf2fa;
  }
  .alert-read {
  }
  .alert-common {
    min-height: 80px;
    padding: 16px 16px 16px 12px;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    font-size: 14px;
    line-height: 20px;
    color: #1d2129;
  }
  .btn-success
  {
    height:22px;
    width:130px;
    padding-bottom: 25px;
  }
  .fa{
    padding-right: 20px;
  }
  .first_alert {
    border-top: 1px solid #cfcfcf;
  }
  .nt-head {
    color: #1d2129;
    font-size: 15px;
  }
  .mark_all {
    margin: 20px 10px;
  }
  .mark_all .btn {
    float: right;
  }
</style>
