<style>
input[type="date"]::before {
    color: #999999;
    content: attr(placeholder);
}
input[type="date"] {
    color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
    color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "" !important;
}
</style>
        <div class="order-list">
          <div class="order-item" ng-class="(!($last))? 'border-grey': ''" ng-repeat="order in orders.order_data.data" ng-click="orders.open_details({orderId: order.order_id, state: orders.status, customerId: order.customer_id, intermediate_order: order.intermediate_order})"
          style="cursor: pointer">
            <div class="row" ng-if="orders.your_orders=='orders'">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="order-id">
                  <span class="order-label">Order on:</span>
                  <span class="order-date">{{order.date}}</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <span class="label pull-right text-uppercase"
                ng-class="(orders.getStatus(order.total_quantity, order.picked_quantity, order.status) == 'Open')? 'label-danger':
                          (orders.getStatus(order.total_quantity, order.picked_quantity, order.status) == 'Dispatched')? 'label-success':
                          'label-danger';" style="font-size: 12px;">
                {{orders.getStatus(order.total_quantity, order.picked_quantity, order.status)}}</span>
              </div>
            </div>
            <div class="row" ng-if="orders.your_orders=='orders'">
              <section class="widget text-center no-margin">
                <div class="widget-details col-xs-3 text-left">
                  <small class="order-label" ng-if="permissions.user_type == 'distributor'">Reseller Order ID</small>
                  <small class="order-label" ng-if="permissions.user_type != 'distributor'">Order ID</small>
                  <h2 class="no-margin order-bold">{{order.order_id}}
                    <span ng-if="order.intermediateorders__interm_order_id">({{order.intermediateorders__interm_order_id}})</span>
                  </h2></div>
                <div class="widget-details col-xs-2 text-center">
                  <small class="order-label">Ordered Qty</small>
                  <h2 class="no-margin order-bold">{{order.total_quantity}}</h2>
                </div>
                <div class="widget-details col-xs-2 text-center">
                  <small class="order-label">Delivered Qty</small>
                  <h2 class="no-margin order-bold">{{order.picked_quantity}}</h2>
                </div>
                <div class="widget-details col-xs-2 text-center">
                  <small class="order-label">Pending Qty</small>
                  <h2 class="no-margin order-bold">{{order.total_quantity - order.picked_quantity}}</h2>
                </div>
                <div class="widget-details col-xs-3 text-right">
                  <small class="order-label">Order Value</small>
                  <h2 class="no-margin order-bold">Rs. {{order.total_inv_amt}}</h2>
                </div>
              </section>
              <div class="row no-margin" ng-if="permissions.user_type == 'distributor'">
                <div class="col-xs-6">Order ID's: {{order.order_detail_ids.join(",")}}</div>
                <div class="col-xs-6 text-right">Seller Name: {{order.reseller_name}}</div>
              </div>
              <div class="row">
                <div class="widget-details col-xs-8">
                  <div class="alert alert-info" ng-if="order.freight_charges" style="margin-top: 7px; margin-bottom: 0px">
                    <strong>Note:</strong> Freight as applicable will be charged extra.
                  </div>
                </div>

                <!-- <div class="widget-details col-xs-4 text-right">
                  <button ng-if="(permissions.user_type == 'reseller' || permissions.user_type == 'distributor' || permissions.user_type == 'dist_customer') && (orders.getStatus(order.total_quantity, order.picked_quantity) == 'Open') && user.user_profile['user_type'] != 'warehouse_user'" type="button" class="btn btn-warning mt20 pull-right ng-binding ng-click-active" style="min-width: 75px;height: 26px;padding: 2px 5px;" ng-click="orders.order_cancel(order, $index, $event)">Cancel</button>
                </div> -->

                <div class="widget-details col-xs-4 text-right">
                  <button ng-if="(permissions.user_type == 'customer' && permissions.central_order_mgmt) && (orders.getStatus(order.total_quantity, order.picked_quantity) == 'Open')" type="button" class="btn btn-warning mt20 pull-right ng-binding ng-click-active" style="min-width: 75px;height: 26px;padding: 2px 5px;" ng-click="orders.order_cancel(order, $index, $event)">Cancel</button>
                </div>

              </div>
            </div>
            <div class="row" ng-if="orders.your_orders=='enquiry'">
              <section class="widget text-center no-margin">
                <div class="widget-details col-xs-2 text-left">
                  <small class="order-label">Enquiry ID</small>
                  <h2 class="no-margin order-bold">{{order.order_id}}</h2></div>
                <div class="widget-details col-xs-3 text-left">
                  <small class="order-label">Date</small>
                  <h2 class="no-margin order-bold">{{order.date}}</h2></div>
                <div class="widget-details col-xs-2 text-center">
                  <small class="order-label">Quantity</small>
                  <h2 class="no-margin order-bold">{{order.total_quantity}}</h2>
                </div>
                <div class="widget-details col-xs-3 text-right">
                  <small class="order-label">Amount</small>
                  <h2 class="no-margin order-bold">Rs. {{order.total_inv_amt}}</h2>
                </div>
                <div class="widget-details col-xs-2 text-center">
                    <small class="order-label">Days Left</small>
                    <h2 class="no-margin order-bold" ng-if="order.extend_status!='pending'">{{order.days_left}}</h2>
                  <div ng-if="order.extend_status=='pending'">
                    <span style="color: #33cc66;">Pending...</span>
                  </div>
                </div>
              </section>
            </div>
            <div class="row m10" ng-if="orders.your_orders=='enquiry'">
              <div class="widget-details col-xs-5 text-left no-padding">
                <span class="pull-left ml10"><b>Corp. Name:</b> {{order.corporate_name}}</span>
              </div>
              <div class="widget-details col-xs-5 mt10 text-right no-padding" ng-if="!order.show_extend_date && order.extend_status!='pending'">
                <a href="" ng-click="orders.extend_order_date(order); $event.stopPropagation()" style="text-decoration: underline; color: #33cc66;">Extend Date</a>
              </div>
              <form  ng-if="order.show_extend_date" id="order-create" name="form" role="form" ui-jq="validate">
                <div class="widget-details col-xs-3">
                  <input name="extended_date" ui-jq="datepicker" ng-click="$event.stopPropagation()" ng-model="order.extended_date" placeholder="Select Date" class="form-control stk-readonly" type="text" id="extended_date" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{orders.date}}" readonly="true" style="height: 26px">
                  <input type="hidden" name="order_id" value="{{order.order_id}}">
                </div>

                <div class="widget-details col-xs-2">
                  <button type='button' class="btn btn-primary" style="min-width: 75px;height: 26px;padding: 2px 5px;" ng-click="orders.confirm_to_extend(order, form); $event.stopPropagation()">Save</button>
                </div>
              </form>
              <div class="widget-details col-xs-2 pull-right">
                <small class="order-label"> </small>
                <button type='button' class="btn btn-warning pull-right" style="min-width: 75px;height: 26px;padding: 2px 5px;" ng-click="orders.moveToCart(order, $index, $event)" ng-disabled="orders.moving">{{(orders.moving)? 'Moving': 'Move to Cart';}}</button>
              </div>
            </div>

            <div class="row" ng-if="orders.your_orders=='manual_enquiry'">
              <section class="widget text-center no-margin">
                <div class="widget-details col-xs-2 text-left">
                  <small class="order-label">Enquiry ID</small>
                  <h2 class="no-margin order-bold">{{order.order_id}}</h2></div>
                <div class="widget-details col-xs-2 text-left">
                  <small class="order-label">Enquiry Date</small>
                  <h2 class="no-margin order-bold">{{order.date}}</h2></div>
                <div class="widget-details col-xs-3 text-center">
                  <small class="order-label">Customer Name</small>
                  <h2 class="no-margin order-bold">{{order.customer_name}}</h2>
                </div>
                <div class="widget-details col-xs-3 text-right">
                  <small class="order-label">Style Name</small>
                  <h2 class="no-margin order-bold">{{order.style_name}}</h2>
                </div>
                <div class="widget-details col-xs-2 text-right">
                  <small class="order-label">Status</small>
                  <h2 class="no-margin order-bold">Pending from sm</h2>
                </div>
              </section>
            </div>
          </div>
          <div class="order-item" ng-if="orders.order_data.data.length == 0 && (!orders.orders_loading)">
            <div class="row">
              <section class="widget text-center no-margin">
                <div class="widget-details col-xs-12 text-center">
                  <h3>{{(orders.your_orders)? 'No Orders Found': 'No Enquiry Orders Found';}}</h3>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="order-list" ng-if="orders.orders_loading">
          <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12" ng-if="orders.show_no_data" style="color:Red;text-align:center;">
          <h5>------ END OF DATA ------</h5>
        </div>
