<div class="order_details">
  <div class="row style-menu" style="line-height: 40px;">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="menu-left">
        <span ng-click="showCase.you_order_display = true;showCase.order_detail_display = false;"><i class="fa fa-arrow-left" style="color:#fff;" title="Go Back"></i></span>
        <span ng-click="showCase.you_order_display = true;showCase.order_detail_display = false;" title="Go to Brand Page">Back</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs">
      <h4 align="center">ORDER DETAILS</h4>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a class="fa fa-power-off pull-right fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" ng-click="showCase.logout()"></a>
      <a href="" class="pull-right" ng-click="showCase.order_detail_display = false;showCase.cart_display = true;">
          <i class="fa fa-cart-plus fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" title="Go To Cart Page"></i>
      </a>
    </div>
  </div>

  <div class="clearfix app_body" style="padding-top: 40px; padding-bottom:20px;">
    <div class="row">
      <div class="col-md-3 col-sm-2 col-xs-hidden">
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="detail-list">
          <div class="detail-item border-grey detail-bg-grey">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-9">
                <h4 class="detail-black"><b>Order ID: {{showCase.order_details.order.order_id}}</b></h4>
                <div class="row border-grey">
                  <div class="col-md-4 col-sm-6 col-xs-6 no-padding">
                    <span>Order Quantity</span>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-6 detail-black">
                    <span>: {{showCase.order_details.order.total_quantity}}</span>
                  </div>
                </div>
                <div class="row border-grey">
                  <div class="col-md-4 col-sm-6 col-xs-6 no-padding">
                    <span>Order Date</span>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-6 detail-black">
                    <span>: {{showCase.order_details.order.date}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6 no-padding">
                    <span>Order Value</span>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-6 detail-black">
                    <span>: Rs. {{showCase.order_details.order.total_inv_amt-showCase.order_details.tax}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-3">
                <span class="label pull-right text-uppercase" ng-class="(showCase.order_details.order.status == 'open')? 'label-success': 'label-danger';" style="font-size: 12px;">{{showCase.order_details.order.status}}</span>
              </div>
            </div>
          </div>
          <div class="detail-item border-grey" style="cursor: pointer" ng-repeat="data in showCase.order_details.data">
            <div class="row">
              <section class="widget text-center no-margin">
                <div class="widget-details col-md-4 col-sm-4 col-xs-4 text-right">
                  <small class="order-label"></small>
                  <img  style="width: 100%;"ng-src="{{showCase.service.check_image_url(data.sku__image_url)}}">
                  <p class="text-center detail-black order-bold" style="font-size:12px;overflow-wrap: break-word;">{{data.sku__sku_code}}</p>
                </div>
                <div class="widget-details col-md-4 col-sm-4 col-xs-4 text-left">
                  <small class="order-label">SKU Description</small>
                  <p class="no-margin order-bold detail-black" style="font-size:12px">{{data.sku__sku_desc}}</p></div>
                <div class="widget-details col-md-2 col-sm-2 col-xs-2 text-center">
                  <small class="order-label">Qty</small>
                  <p class="no-margin order-bold detail-black">{{data.quantity}}</p>
                </div>
                <div class="widget-details col-md-2 col-sm-2 col-xs-2 text-right">
                  <small class="order-label">Amt</small>
                  <p class="no-margin order-bold detail-black">Rs. {{data.invoice_amount}}</p>
                </div>
              </section>
            </div>
          </div>
          <div class="detail-item border-grey detail-bg-grey">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-3">
              </div>
              <div class="col-md-8 col-sm-8 col-xs-9">
                <div class="row">
                  <div class="col-xs-8 no-padding">
                    <span class="pull-right">Total:</span>
                  </div>
                  <div class="col-xs-4 detail-black">
                    <span>Rs. {{showCase.order_details.order.total_inv_amt-showCase.order_details.tax}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-8 no-padding">
                    <span class="pull-right">Applicable Tax:</span>
                  </div>
                  <div class="col-xs-4 detail-black">
                    <span>Rs. {{showCase.order_details.tax}}</span>
                  </div>
                </div>
                <div class="row detail-black" style="font-size: 16px;">
                  <div class="col-xs-8 no-padding">
                    <span class="pull-right"><b>Total Amount:</b></span>
                  </div>
                  <div class="col-xs-4">
                    <span><b>Rs. {{showCase.order_details.order.total_inv_amt}}</b></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
