<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate">
  <div class="modal-dialog model-custom modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close_popup()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4> </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Serial No: * </label>
                <input type="text" name="serial_no" class="form-control numvalid" ng-model="showCase.model_data.id" ng-readonly="true" required> </div>
	  		  </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> SKU Code: * </label>
                <input type="text" name="sku_code" class="form-control" ng-model="showCase.model_data.sku_code" ng-readonly="true" required>
			  </div>
            </div>

			<div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> SKU Description: * </label>
                <input type="text" name="sku_desc" class="form-control" ng-model="showCase.model_data.desc" ng-readonly="true" required>
              </div>
            </div>

			<div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Quantity: * </label>
                <input type="text" name="quantity" class="form-control numvalid" ng-model="showCase.model_data.quantity" ng-readonly="true" required>
              </div>
            </div>

			<div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Price: * </label>
                <input type="text" name="price" class="form-control numvalid" ng-model="showCase.model_data.price" ng-readonly="true" required>
              </div>
            </div>

			<div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Tax: * </label>
                <input type="text" name="tax" class="form-control numvalid" ng-model="showCase.model_data.tax" ng-readonly="true" required>
              </div>
            </div>

		</div>
		</div>

    	<div class="modal-footer">
          <button type="button" class="btn pop pop-red" style="float:left;" ng-click="showCase.close_popup()">Deny</button>
          <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process">
            <span>Approve</span>
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">
          </button>
        </div>
    </div>
  </form>
</div>
