<div ng-controller="settingsForm as settings">
  <div class="row search-items mt15 search-box">
    <div class="col-md-4 col-md-offset-4" style="    margin-top: -35px;padding-bottom: 20px;">
      <form name="form" role="form" id="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate">
        <div class="row mt20">
          <div class="form-group">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label">Select Your Prefered View *</label>
            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-5">
              <select ng-model="settings.viewType"
                    class="form-control"
                    name="viewType"
                    ng-change="settings.change_config(settings.viewType, 'customer_portal_prefered_view')"
                    ng-required="true">
                <option ng-repeat="type in settings.settingsType" ng-selected="settings.viewType == type" value={{type}}>{{type}}</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
