<div class="clearfix" ng-controller="AppStyle as Style">
  <div ng-if="Style.place_order_loading" style="position: fixed;z-index: 2001;width: 100%;height: 100%;top: 0px;background: rgba(0, 0, 0, 0.5);padding-top: 125px;">
    <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
  </div>

  <div class="row style-menu" style="line-height: 40px;">
    <div class="col-md-4 col-sm-4 col-xs-8">
      <div class="menu-left">
        <span ng-click="$state.go('user.App.Products'); showCase.redirect_from_orders(false, false)"><i class="fa fa-arrow-left" style="color:#fff;" title="Go Back"></i>&nbsp; Back</span>
        <!-- <span ng-click="$state.go('user.App.Products')"><i class="fa fa-arrow-left" style="color:#fff;" title="Go Back"></i>&nbsp; Back</span> -->
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-7 hidden-xs" align="center">
      <img ng-src="{{showCase.api_url}}static/company_logos/{{showCase.client_logo}}" ng-if="showCase.client_logo" style="height: 43px;"/>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="btn-group pull-right" role="group">
        <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a ng-click="$state.go('user.App.MyOrders')">Your Orders</a></li>
          <li><a ng-click="$state.go('user.App.Profile')">Profile</a></li>
          <li><a ng-click="$state.go('user.App.ManualEnquiry');">Create Custom Order</a></li>
          <li ng-if="showCase.permissions.display_sku_cust_mapping"><a ng-click="$state.go('user.App.PendingOrder');">Pending Order</a></li>
          <!--<li><a ng-click="$state.go('user.App.CorporateOrders');" ng-if="showCase.user_type=='reseller'">Corporate Orders</a></li>-->
          <li><a ng-click="showCase.logout()">Logout</a></li>
        </ul>
      </div>
      <a class="hide fa fa-power-off pull-right fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" ng-click="showCase.logout()">          </a>
      <a href="" class="pull-right hide" ng-click="$state.go('user.App.Cart')">
        <i class="fa fa-cart-plus fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" title="Go To Cart Page"></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
      <h4 align="center">CREATE ORDER</h4>
    </div>
  </div>

  <div class="row col-md-12 col-sm-12 col-xs-12" ng-if="Style.page_loading">
    <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
  </div>
  <div class="app_body_">
    </br>
    <div class="style-body">
      <div class="row" ng-init="showCase.dis_video=false">
        <div class="col-md-3 col-sm-3 col-xs-12" ng-if="showCase.service.check_image_url(Style.style_details.image_url) && Style.includeDesktopTemplate">
          <img ng-if="!showCase.dis_video" ng-src="{{ showCase.service.check_image_url(Style.style_details.image_url) }}" style="border:0px !important;padding: 0px;" class="img-thumbnail" ez-plus ezp-model="{thumb: showCase.service.check_image_url(Style.style_details.image_url) , small: showCase.service.check_image_url(Style.style_details.image_url), large:showCase.service.check_image_url(Style.style_details.image_url)}" ezp-options="{scrollZoom: true, easing: true, zoomWindowWidth: 600, zoomWindowHeight: 600}" id="zoom_01">
          <!-- <img ng-if="!showCase.dis_video" src="https://api.stockone.in/static/images/17/6D240_1_L.jpg" style="border:0px !important;padding: 0px;" class="img-thumbnail" ez-plus ezp-model="{thumb: showCase.service.check_image_url(Style.style_details.image_url) , small: showCase.service.check_image_url(Style.style_details.image_url), large:showCase.service.check_image_url(Style.style_details.image_url)}" ezp-options="{scrollZoom: true, easing: true, zoomWindowWidth: 600, zoomWindowHeight: 600}" id="zoom_01"> -->
          <div ng-show="showCase.dis_video" class="youtube_video_play_elem"></div>
          <div ng-show="Style.y_video_flag" class="row mt15" ng-click="showCase.dis_video = (showCase.dis_video) ? false : true">
            <div style="cursor:pointer">
              <div ng-show="!showCase.dis_video" style="pointer-events: none;" class="youtube_thumbnaile_elem"></div>
              <img ng-if="showCase.dis_video" ng-src="{{ showCase.service.check_image_url(Style.style_details.image_url) }}" width="90px" style="border:0px !important;padding: 0px;" class="img-thumbnail">
            </div>
          </div>
          <h5 align="center"><b>{{Style.style_data.data[0].sku_class}}</b></h5>
          <p align="center" ng-if="Style.sku_spl_attrs&&Style.central_order_mgmt">Dimensions(in) : {{Style.sku_spl_attrs.length}} X {{Style.sku_spl_attrs.breadth}} X {{Style.sku_spl_attrs.height}}</p>
          <div ng-if="permissions.user_type=='customer'">
            <h5 align="center" ng-if="Style.style_data.data[0].pricing_price"><b>{{showCase.service.price_format(Style.style_data.data[0].pricing_price)}}</b></h5>
            <h5 align="center" ng-if="!(Style.style_data.data[0].pricing_price) && Style.style_data.data[0].price"><b>{{showCase.service.price_format(Style.style_data.data[0].price)}}</b></h5>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12" ng-if="showCase.service.check_image_url(Style.style_details.image_url) && Style.includeMobileTemplate">
          <img ng-show="!showCase.dis_video" ng-src="{{ showCase.service.check_image_url(Style.style_details.image_url) }}" style="border:0px !important;padding: 0px;width:100%" class="img-thumbnail">
          <div ng-show="showCase.dis_video" class="youtube_video_play_mb_elem"></div>
          <div ng-show="Style.y_video_flag" class="row mt15" ng-click="showCase.dis_video = (showCase.dis_video) ? false : true">
            <div style="cursor:pointer">
              <div ng-show="!showCase.dis_video" style="pointer-events: none;" class="youtube_thumbnaile_elem"></div>
              <img ng-show="showCase.dis_video" ng-src="{{ showCase.service.check_image_url(Style.style_details.image_url) }}" width="90px" style="border:0px !important;padding: 0px;" class="img-thumbnail">
            </div>
          </div>
          <h5 align="center"><b>{{Style.style_data.data[0].sku_class}}</b></h5>
          <h5 align="center" ng-if="Style.style_data.data[0].pricing_price"><b>{{showCase.service.price_format(Style.style_data.data[0].pricing_price)}}</b></h5>
          <h5 align="center" ng-if="!(Style.style_data.data[0].pricing_price) && Style.style_data.data[0].price"><b>{{showCase.service.price_format(Style.style_data.data[0].price)}}</b></h5>
        </div>

        <!-- <div class="col-md-3">
          <img ng-src="{{ showCase.service.check_image_url(Style.style_details.image_url) }}" style="border:0px !important;padding: 0px;" class="img-thumbnail">
          <h5 align="center"><b>{{Style.style_data.data[0].sku_class}}</b></h5>
        </div> -->
        <div class="col-md-6 col-sm-6 col-xs-12" ng-if="Style.def_lead_tm">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                  <label class="control-label" style="margin-top:10px"> {{Style.charge_remarks}} </label>
              </div>
            </div>
          </div>

          <div class="row col-md-12 col-sm-12 col-xs-12" ng-if="Style.data_loading">
            <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
          </div>

          <div class="row" ng-if="!Style.data_loading">
            <div>
              <table class="table table-bordered" ng-if="Style.def_lead_tm">
                <thead>
                  <tr>
                    <!-- <th ng-repeat="hd in Style.style_detail_hd" ng-if="Style.user_type == 'customer' && Style.central_order_mgmt && (Style.en_style_headers.indexOf(Style.style_headers[hd]) != -1) && (hd != '3-Day Stock')">{{hd}}</th>
                    <th ng-repeat="hd in Style.style_detail_hd" ng-if="!Style.central_order_mgmt && (Style.en_style_headers.indexOf(Style.style_headers[hd]) != -1)">{{hd}}</th> -->
                    <th ng-repeat="hd in Style.style_detail_hd" ng-if="Style.user_type == 'customer' && Style.central_order_mgmt && (Style.en_style_headers.indexOf(Style.style_headers[hd]) != -1)">{{hd}}</th>
                    <th ng-repeat="hd in Style.style_detail_hd" ng-if="!Style.central_order_mgmt && (Style.en_style_headers.indexOf(Style.style_headers[hd]) != -1)">{{hd}}</th>
                    <!-- <th ng-repeat="hd in Style.style_detail_hd" ng-if="Style.user_type == 'customer' && Style.central_order_mgmt && Style.en_style_headers.indexOf(Style.style_headers[hd]) != -1 && (hd == '1-Day Stock' || hd == '3-Day Stock')">Stock Available</th> -->
                    <!-- <th ng-repeat="hd in Style.style_detail_hd" ng-if="Style.en_style_headers.indexOf(Style.style_headers[hd]) != -1">{{hd}}</th> -->
                    <th ng-if="Style.order_exceed_stock"> Blocked Stock </th>
                    <th>Quantity</th>
                    <!-- <th>Unit Rate</th>
                    <th>Total Price</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="style in Style.style_data.data">
                    <td ng-repeat="hd in Style.style_detail_hd" ng-if="Style.en_style_headers.indexOf(Style.style_headers[hd]) != -1">{{style[Style.style_headers[hd]]}}</td>
                    <td ng-if="Style.order_exceed_stock"> {{style['blocked_quantity']}}</td>
                    <td>
                      <input ng-if="style.quantity_status" class="form-control" size="5" ng-model="style.quantity" ng-change="Style.change_style_quantity(Style.style_data.data, style, $index);" ng-class="service.get_decimal_perm()">
                      <input ng-if="!style.quantity_status && Style.generic_wharehouse_level == 'false'" class="form-control" size="5" value="{{style.no_items}}" ng-model="style.quantity" ng-change="Style.change_style_quantity(Style.style_data.data, style, $index)" ng-class="service.get_decimal_perm()" readonly>
                    </td>
                    <!-- <td>{{style.unit_rate | number}}</td>
                    <td>{{style.row_total_price | number}}</td> -->
                  </tr>
                  <tr>
                    <td ng-repeat="hd in Style.style_detail_hd" ng-if="Style.en_style_headers.indexOf(Style.style_headers[hd]) != -1" style="font-size: 16px;"><b>{{Style.style_total_counts[Style.style_headers[hd]]}}</b></td>
                    <td ng-if="Style.order_exceed_stock"></td>
                    <td><b style="font-size:16px">{{Style.style_data.quantity}}</b></td>
                    <!-- <td></td>
                    <td><b style="font-size:16px">Total: {{Style.sel_items_total_price | number}}</b></td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <span>Stock: <b style="font-size:24px">{{Style.stock_quantity}}</b></span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 style cart-item" ng-if="Style.def_lead_tm" style="margin-top: 2.8em">
          <div class="row">
            <h5><b>WISH LIST</b></h5><hr>
          </div>
          <span ng-if="!Style.style_data.quantity"><b>No items selected</b></span>
          <div class="row" ng-repeat="data in Style.wish_list">
              <div class="col-md-6 col-xs-6 no-padding">
                <span class="pull-left">{{data.wms_code}}</span>
              </div>
              <div class="col-md-2 col-xs-2">{{data.quantity}}</div>
              <div class="col-md-4 col-sm-4 no-padding">
                <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> {{data.row_total_price | number}}</span>
              </div>
          </div>
          <!-- <hr>
          <div class="row">
            <div class="col-md-6 col-xs-6 no-padding">
              <span class="pull-left">Tax Amount</span>
            </div>
            <div class="col-md-6 col-sm-6 no-padding">
              <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 0</span>
            </div>
          </div> -->
          <hr>
          <div class="row">
            <div class="col-md-6 col-xs-6 no-padding">
              <span class="pull-left">Total Amount</span>
            </div>
            <div class="col-md-6 col-xs-6 no-padding">
              <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> <b>{{Style.wish_data.total_amount | number}}</b></span>
            </div>
          </div>
          <hr>
          <div class="row hidden-xs">
            <button style="display:block;margin:auto" type="button" class="btn btn-warning btn-round" ng-click="Style.add_to_cart(Style.level_data)">ADD TO CART</button>
          </div>
        </div>

        <!-- <div class="col-md-2 style cart-item" ng-if="Style.def_lead_tm" style="margin-top: 2.8em">
          <div class="row">
            <h5><b>WISH LIST</b></h5><hr>
          </div>
          <span ng-if="Style.sel_items_total_price == 0"><b>No items selected</b></span>

          <div class="row" ng-repeat="data in Style.sel_cart_info">
            <div ng-if="data.quantity">
              <div class="col-md-5 col-xs-5 no-padding">
                <span class="pull-left">{{data.wms_code}}</span>
              </div>
              <div class="col-md-3 col-xs-3">{{data.quantity}}</div>
              <div class="col-md-4 col-sm-4 no-padding">
                <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> {{data.row_total_price | number}}</span>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-6 col-xs-6 no-padding">
              <span class="pull-left">Tax Amount</span>
            </div>
            <div class="col-md-6 col-sm-6 no-padding">
              <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 0</span>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-6 col-xs-6 no-padding">
              <span class="pull-left">Total Amount</span>
            </div>
            <div class="col-md-6 col-xs-6 no-padding">
              <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> <b>{{Style.sel_items_total_price | number}}</b></span>
            </div>
          </div>

          <hr>

          <div class="row">
            <button style="display:block;margin:auto" type="button" class="btn btn-warning btn-round" ng-click="Style.add_to_cart(Style.style_data.data);Style.make_empty();">ADD TO CART</button>
          </div>
        </div>
 -->
        <div class="col-md-6 col-sm-6 col-xs-12" ng-if="Style.gen_wh_lead_tm">
          <div class="row">

            <div class="col-md-9">
              <div class="form-group">
                  <label class="control-label" style="margin-top:10px"> {{Style.charge_remarks}} </label>
              </div>
            </div>

            <div class="col-md-3 no-padding">
              <div class="form-group">
                <select class="form-control" name="level_flag" ng-model="Style.selLevel" ng-change="Style.open_style(permissions.user_type)">
                  <option ng-repeat="data in Style.levels" value="{{data.warehouse_level}}">{{data.level_name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row col-md-12 col-sm-12 col-xs-12" ng-if="Style.data_loading">
            <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
          </div>

          <div class="row" ng-if="!Style.data_loading">
            <div>
              <table class="table table-bordered" ng-if="Style.gen_wh_lead_tm">
                <thead>
                  <tr>
                    <th>SKU Code</th>
                    <th ng-repeat="hd in Style.style_data.lead_times" ng-show="Style.gen_wh_lead_tm">{{hd}}-Day(s) Stock</th>
                    <th>Quantity</th>
                    <th>Unit Rate</th>
                    <th>Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="style in Style.style_data.data">
                    <td>{{style.wms_code}}</td>
                    <td ng-repeat="hd in Style.style_data.lead_times">

                      <span ng-if="style[hd]">{{style[hd]}}</span>
                      <span ng-if="!style[hd]">No stock</span>
                    </td>
                    <td>
                      <input class="form-control" size="5" ng-model="style.quantity" ng-change="Style.change_style_quantity(Style.style_data.data, style, $index)" ng-class="service.get_decimal_perm()" ng-readonly="!style.overall_sku_total_quantity">

                    </td>
                    <td>{{style.unit_rate | number}}</td>
                    <td>{{style.row_total_price | number}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td ng-repeat="hd in Style.style_data.lead_times" style="font-size: 16px;"><b>{{Style.style_data.total_stocks[hd]}}</b></td>
                    <td><b style="font-size:16px">{{Style.style_data.quantity}}</b></td>
                    <td></td>
                    <td><b>Total: {{Style.style_data.total_price | number}}</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12" ng-if="Style.gen_wh_lead_tm">
          <div class="row">
            <div class="alert alert-info" ng-if="Style.selLevel==2 && Style.freight_charges" style="margin-bottom: 7px">
              <strong>Note:</strong> Freight as applicable will be charged extra.
            </div>
            <div style="margin-top: 3.8em" ng-if="Style.selLevel!=2 || !Style.freight_charges"></div>
          </div>
          <div class="style cart-item">
            <div class="row">
              <h5><b>WISH LIST</b></h5><hr>
            </div>
            <span ng-if="!Style.wish_data.total_qty"><b>No items selected</b></span>
            <div class="row" ng-repeat="data in Style.wish_list">
                <div class="col-md-1 col-sm-1 col-xs-1 no-padding">
                  <span class="pull-left">L-{{data.level}}</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 no-padding">
                  <span class="pull-left ml10">{{data.wms_code}}</span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 no-padding">
                  <span class="pull-left">{{data.unit_rate | number}}</span>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1">{{data.quantity}}</div>
                <div class="col-md-4 col-sm-4 col-xs-4 no-padding">
                  <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> {{data.row_total_price | number}}</span>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 col-xs-6 no-padding">
                <span class="pull-left">Total Quantity</span>
              </div>
              <div class="col-md-6 col-sm-6 no-padding">
                <span class="pull-right"> {{Style.wish_data.total_qty}}</span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 col-xs-6 no-padding">
                <span class="pull-left">Tax Amount</span>
              </div>
              <div class="col-md-6 col-sm-6 no-padding">
                <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> {{Style.wish_data.total_tax | number}}</span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 col-xs-6 no-padding">
                <span class="pull-left">Total Amount</span>
              </div>
              <div class="col-md-6 col-xs-6 no-padding">
                <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> <b>{{Style.wish_data.total_amount | number}}</b></span>
              </div>
            </div>
            <hr>
            <div class="row hidden-xs">
              <button style="display:block;margin:auto" type="button" class="btn btn-warning btn-round" ng-click="Style.add_to_cart(Style.level_data)">ADD TO CART</button>
            </div>
          </div>
        </div>

      </div>
      <div class="row hidden-lg hidden-md hidden-sm visible-xs" style="margin-left:-20px">
        <div style="position: fixed; bottom: 0;z-index: 2000;width:100%;">
          <button style="display:block;margin:auto" type="button" class="btn btn-warning btn-lg col-xs-12" ng-click="Style.add_to_cart(Style.level_data)">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <button type="button" id="place_order" class="btn btn-lg btn-warning visible-xs-block visible-sm-block cart_button" ng-click="Style.add_to_cart(Style.style_data);Style.make_empty()" style="width: 100%">ADD TO CART</button> -->
</div>
