<div class="your_orders" ng-controller="AppMyOrders as orders">
  <div class="row style-menu" style="line-height: 40px;">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="menu-left">
        <span ng-click="$state.go('user.App.Brands')"><i class="fa fa-arrow-left" style="color:#fff;" title="Go Back"></i></span>
        <span ng-click="$state.go('user.App.Brands')" title="Go to Brand Page">Back To Brands</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs">
      <h4 align="center">MY ORDERS</h4>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a class="fa fa-power-off pull-right fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" ng-click="showCase.logout()"></a>
      <a href="" class="pull-right hide" ng-click="$state.go('user.App.Cart')">
          <i class="fa fa-cart-plus fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" title="Go To Cart Page"></i>
      </a>
    </div>
  </div>

  <div class="clearfix app_body" scrolly="orders.scroll(e)" style="padding-top: 40px; padding-bottom:20px;">
    <div class="row" ng-if="permissions.user_type == 'reseller'">
      <div class="col-md-3 col-sm-2 col-xs-hidden"></div>
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="st-c-toggle pull-right">
          <div class="bt-left bt-common" ng-click="$state.go('user.App.MyOrders', {state: 'orders'})" ng-class="(orders.your_orders)?'bt-red':'';">Orders</div>
          <div class="bt-right bt-common" ng-click="$state.go('user.App.MyOrders', {state: 'enquiry'})" ng-class="(orders.your_orders)?'':'bt-red';">Enquiry</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-2 col-xs-hidden">
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="order-list">
          <div class="order-item" ng-class="(!($last))? 'border-grey': ''" ng-repeat="order in orders.order_data.data" ng-click="$state.go('user.App.OrderDetails', {orderId: order.order_id, state: orders.status})" style="cursor: pointer"> <!--ng-click="showCase.open_order_detail(order)">-->
            <div class="row" ng-if="orders.your_orders">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="order-id">
                  <span class="order-label">Order on:</span>
                  <span class="order-date">{{order.date}}</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <span class="label pull-right text-uppercase" ng-class="(orders.getStatus(order.total_quantity, order.picked_quantity) == 'Open')? 'label-danger': 'label-success';" style="font-size: 12px;">{{orders.getStatus(order.total_quantity, order.picked_quantity)}}</span>
              </div>
            </div>
            <div class="row" ng-if="orders.your_orders">
              <section class="widget text-center no-margin">
                <div class="widget-details col-xs-3 text-left">
                  <small class="order-label">Order ID</small>
                  <h2 class="no-margin order-bold">{{order.order_id}}</h2></div>
                <div class="widget-details col-xs-2 text-center">
                  <small class="order-label">Ordered Qty</small>
                  <h2 class="no-margin order-bold">{{order.total_quantity}}</h2>
                </div>
                <div class="widget-details col-xs-2 text-center">
                  <small class="order-label">Delivered Qty</small>
                  <h2 class="no-margin order-bold">{{order.picked_quantity}}</h2>
                </div>
                <div class="widget-details col-xs-2 text-center">
                  <small class="order-label">Delta Qty</small>
                  <h2 class="no-margin order-bold">{{order.total_quantity - order.picked_quantity}}</h2>
                </div>
                <div class="widget-details col-xs-3 text-right">
                  <small class="order-label">Order Value</small>
                  <h2 class="no-margin order-bold">Rs. {{order.total_inv_amt}}</h2>
                </div>
                <button ng-if="permissions.user_type != 'customer'" type="button" class="btn btn-warning mt20 pull-right ng-binding ng-click-active" style="min-width: 75px;height: 26px;padding: 2px 5px;" ng-click="orders.order_cancel(order, $index, $event)" ng-if="orders.getStatus(order.total_quantity, order.picked_quantity) == 'Open'">Cancel</button>
              </section>
            </div>
            <div class="row" ng-if="!orders.your_orders">
              <section class="widget text-center no-margin">
                <div class="widget-details col-xs-3 text-left">
                  <small class="order-label">Enquiry ID</small>
                  <h2 class="no-margin order-bold">{{order.order_id}}</h2></div>
                <div class="widget-details col-xs-3 text-center">
                  <small class="order-label">Quantity</small>
                  <h2 class="no-margin order-bold">{{order.total_quantity}}</h2>
                </div>
                <div class="widget-details col-xs-3 text-right">
                  <small class="order-label">Amount</small>
                  <h2 class="no-margin order-bold">Rs. {{order.total_inv_amt}}</h2>
                </div>
                <div class="widget-details col-xs-3 text-right">
                  <small class="order-label"> </small>
                  <button type='button' class="btn btn-warning mt20 pull-right" style="min-width: 75px;height: 26px;padding: 2px 5px;" ng-click="orders.moveToCart(order, $index, $event)" ng-disabled="orders.moving">{{(orders.moving)? 'Moving': 'Move to Cart';}}</button>
                </div>
              </section>
            </div>
          </div>
          <div class="order-item" ng-if="orders.order_data.data.length == 0 && (!orders.orders_loading)">
            <div class="row">
              <section class="widget text-center no-margin">
                <div class="widget-details col-xs-12 text-center">
                  <h3>{{(orders.your_orders)? 'No Orders Found': 'No Enquiry Orders Found';}}</h3>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="order-list" ng-if="orders.orders_loading">
          <img ng-src="images/sagar_fab_loading.gif" style="margin: auto;display: block;width: 290px;">
        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12" ng-if="orders.show_no_data" style="color:Red;text-align:center;">
          <h5>------ END OF DATA ------</h5>
        </div>
      </div>
    </div>
  </div>
</div>
