<div class="your_orders" ng-controller="AppMyOrders as orders">
  <div class="row style-menu" style="line-height: 40px;">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="menu-left" ng-if="orders.disable_brands_view">
        <span ng-click="$state.go('user.App.Categories')"><i class="fa fa-arrow-left" style="color:#fff;" title="Go Back"></i></span>
        <span ng-click="$state.go('user.App.Categories')" title="Go to Category Page">Back To Categories</span>
      </div>
      <div class="menu-left" ng-if="!(orders.disable_brands_view)">
        <span  ng-click="$state.go('user.App.Brands')"><i class="fa fa-arrow-left" style="color:#fff;" title="Go Back"></i></span>
        <span ng-click="$state.go('user.App.Brands')" title="Go to Brand Page">Back To Brands</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs" align="center">
      <img ng-src="{{showCase.api_url}}static/company_logos/{{showCase.client_logo}}" ng-if="showCase.client_logo" style="height: 43px;"/>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a class="fa fa-power-off pull-right fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" ng-click="showCase.logout()"></a>
      <a href="" class="pull-right hide" ng-click="$state.go('user.App.Cart')">
          <i class="fa fa-cart-plus fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" title="Go To Cart Page"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
      <h4 align="center">MY ORDERS</h4>
    </div>
  </div>

  <div class="clearfix app_body" scrolly="orders.scroll(e)" style="padding-bottom:20px;">
    <div class="row">
      <div class="col-md-12">
        <div class="page-layout" ng-controller="MyOrdersTbl as showCase">
          <div class='layout-header'>
            <div class="pull-left" ng-include="'views/common/title.html'"></div>
             <div ng-include="'views/common/excel.html'"></div>
          </div>
          <div class="layout-body">
            <div class="panel">
              <tabset class="box-tab">
                <tab heading="Orders">
                  <div ng-include="'views/outbound/app/create_orders/orders_tab.html'"></div>
                </tab>
                <tab heading="Marketing Enquiries">
                  <div ng-include="'views/outbound/app/create_orders/market_enq_tab.html'"></div>
                </tab>
                <tab heading="Custom Orders">
                  <div ng-include="'views/outbound/app/create_orders/custom_orders_tab.html'"></div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
