<div class="your_orders" ng-controller="AppMyOrders as orders">
  <div class="row style-menu" style="line-height: 40px;">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="menu-left" ng-if="orders.disable_brands_view && !(orders.is_portal_lite)">
        <span ng-click="$state.go('user.App.Categories')"><i class="fa fa-arrow-left" style="color:#fff;" title="Go Back"></i></span>
        <span ng-click="$state.go('user.App.Categories')" title="Go to Category Page">Back To Categories</span>
      </div>
      <div class="menu-left" ng-if="!(orders.disable_brands_view) && !(orders.is_portal_lite)">
        <span  ng-click="$state.go('user.App.Brands')"><i class="fa fa-arrow-left" style="color:#fff;" title="Go Back"></i></span>
        <span ng-click="$state.go('user.App.Brands')" title="Go to Brand Page">Back To Brands</span>
      </div>
      <div class="menu-left" ng-if="(orders.is_portal_lite)">
        <span  ng-click="$state.go('user.App.newStyle')"><i class="fa fa-arrow-left" style="color:#fff;" title="Go Back"></i></span>
        <span ng-click="$state.go('user.App.newStyle')" title="Go to Styles Page">Back To Styles</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs" align="center">
      <!-- <h4 align="center">MY ORDERS</h4> -->
      <img ng-src="{{showCase.api_url}}static/company_logos/{{showCase.client_logo}}" ng-if="showCase.client_logo" style="height: 43px;"/>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="btn-group pull-right" role="group">
        <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-2x" style="color:#fff;padding-right: 10px;padding-top: 10px;"></i>
        </a>
        <ul class="dropdown-menu">
          <!-- <li><a ng-click="showCase.addMargin()">Add Margin</a></li> -->
          <!-- <li><a ng-click="$state.go('user.App.MyOrders');showCase.get_orders();">Your Orders</a></li> -->
          <li><a ng-click="$state.go('user.App.Profile')">Profile</a></li>
          <li ng-if="showCase.is_portal_lite"><a ng-click="$state.go('user.App.PendingOrder');">Pending Orders</a></li>
          <li ng-if="!(showCase.is_portal_lite)"><a ng-click="$state.go('user.App.ManualEnquiry');">Create Custom Order</a></li>
          <!--<li><a ng-click="$state.go('user.App.CorporateOrders');" ng-if="showCase.user_type=='reseller'">Corporate Orders</a></li>-->
          <li><a ng-click="showCase.logout()">Logout</a></li>
        </ul>
      </div>
      <!-- <a class="fa fa-power-off pull-right fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" ng-click="showCase.logout()"></a>
      <a href="" class="pull-right hide" ng-click="$state.go('user.App.Cart')">
          <i class="fa fa-cart-plus fa-2x" style="color:#fff;padding-right: 10px;padding-top: 5px;" title="Go To Cart Page"></i>
      </a> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" align="center">
      <h4 align="center">MY ORDERS</h4>
    </div>
  </div>

  <div class="clearfix app_body" scrolly="orders.scroll(e)" style="padding-top: 40px; padding-bottom:20px;">
    <div class="row" ng-if="permissions.user_type == 'reseller'">
      <div class="col-md-3 col-sm-2 col-xs-hidden"></div>
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="st-c-toggle pull-right">
          <div class="bt-left bt-common" ng-click="$state.go('user.App.MyOrders', {state: 'orders'})" ng-class="(orders.your_orders=='orders')?'bt-red':'bt-common';">Orders</div>
          <div class="bt-right bt-common" ng-click="$state.go('user.App.MyOrders', {state: 'enquiry'})" ng-class="(orders.your_orders=='enquiry')?'bt-red':'bt-common';">Marketing Enquiries</div>
          <div class="bt-right bt-common" ng-click="$state.go('user.App.MyOrders', {state: 'manual_enquiry'})" ng-class="(orders.your_orders=='manual_enquiry')?'bt-red':'bt-common';">Custom Orders</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-2 col-xs-hidden">
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div ng-include="'views/outbound/app/create_orders/orders_template.html'"></div>
      </div>
    </div>
  </div>
</div>
