<div class="page-layout" ng-controller="PRApprovalTable as showCase">
  <div class='layout-header' style="background: #fff;">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <!-- <div ng-include="'views/common/title.html'"></div> -->
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <button type="button" class="btn btn-success col-md-3 col-sm-3 col-xs-4" ng-click="showCase.add()">New PR Approval</button>
          <div ng-include="'views/common/excel_button.html'"></div>
          <button type="button" class="btn btn-primary col-md-3 col-sm-3 col-xs-12" style="width: 150px; margin-bottom:5px"
                            ng-click="showCase.download_excel_extra_info(showCase.dtColumns,showCase.dtInstance.DataTable.context[0].ajax.data)">Download DOA Staff</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'views/common/master-datatable.html'"></div>
</div>
