<html><head></head><body style="font-family:arial; font-size:100%;">
Dear {{role}},<br>

<p>
You have {% ifequal status 'accept' %} approved {% else %} rejected {% endifequal %} the order for {{customer_name}}.
Order ID is {{order_id}}. For your reference, here are the details of order:
</p>

<p>Item(s) details:</p>
<table border="1" bordercolor="#D2D9E7" cellpadding="2" cellspacing="2" style="border-collapse:collapse; font-size:13px; border:1px solid #D2D9E7">
    <tbody>
    <tr style="background-color:#00648B; color:#FFFFFF;">

        {% for header in headers %}
        <td> {{ header }} </td>
        {% endfor %}

    </tr>
    {% for item in items %}
    <tr>
        {% for i in item %}
            <td>{{ i }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<br>
Thanks
</body></html>
