<div ng-controller="CreateDeallocations as showCase">
  <div class="page-layout reports">
    <div class="layout-sub-header">
        <form name="form" role="form" class="filters">
          <div class="clearfix">
            <div class="row col-md-12">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label">SKU Code</label>
                  <input type="text" autocomplete="off" name="sku_code" class="form-control" placeholder="Search WMS Code" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_wms_codes?')" typeahead-loading="loadingLocations" ng-blur="showCase.service.checkSearchValue2(showCase.model_data,'search_wms_codes?', $event)" ng-model="showCase.model_data.filters.sku_code">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label">Customer ID</label>
                  <input type="text" autocomplete="off" name="customer_id" class="form-control" placeholder="Search Customer ID/Name/Number" typeahead="address.customer_id+' : '+address.name+' : '+address.phone_number for address in showCase.service.getSearchValues($viewValue, 'search_customer_data?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.customer_id" typeahead-on-select="showCase.model_data.customer_id = $item.customer_id">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label">From Date *</label>
                  <input name="from_date" ui-jq="datepicker" ng-init="showCase.model_data.filters.from_date = showCase.date" ng-model="showCase.model_data.filters.from_date" class="form-control stk-readonly" type="text" id="from_date" data-date-today-highlight="true" data-date-autoclose="true" required>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label">To Date</label>
                  <input name="to_date" ui-jq="datepicker" ng-model="showCase.model_data.filters.to_date" class="form-control stk-readonly" type="text" id="to_date" data-date-today-highlight="true" data-date-autoclose="true">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                  <label class="control-label">Order ID</label>
                  <input name="order_id" class="form-control" type="text" ng-model="showCase.model_data.filters.order_id">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="filter-controls">
                <!-- <button type="button" class="btn btn-default" id="add-shippment-btn" style="margin-right: 10px" ng-click="showCase.service.reset_data(showCase.empty_data, showCase.model_data);showCase.service.generate_report(showCase.dtInstance, showCase.model_data)"> Reset </button> -->
                <button type="button" class="btn btn-default" id="add-shippment-btn" style="margin-right: 10px" ng-click="showCase.reset_filters()"> Reset </button>
                <button type="button" class="btn btn-success" id="add-shippment-btn" data-toggle="modal" data-target="#myModal" ng-click="showCase.saveFilters(showCase.model_data.filters)" ng-disabled="!showCase.model_data.filters.from_date"> Search </button>
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="layout-body">
      <div class="panel">
        <div class="panel-header">
          <div ng-include="'views/common/excel.html'"></div>
        </div>
        <div ng-include="'views/common/datatable.html'"></div>
        <!-- <div class="panel-body" style="padding-left: 0px; padding-right: 0px">
          <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="table custom-table table-condensed datatable no_click_tb"></table>
          <div ui-view></div>
        </div> -->
      </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary pull-right"
        ng-disabled="showCase.bt_disable" ng-click="showCase.create_rtv(form)">Create RTV</button>
    </div>
  </div>
</div>
