<div class="page-layout" scrolly="scroll_bottom(e)" ng-controller="PaymentTracker as showCase">
  <div class='layout-header'>
    <div class="pull-left" ng-include="'views/common/title.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-body mr10 ml10 tracking">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3 pull-left hide">
            <button type="button" class="btn btn-success" ng-click="showCase.open_order_update()">Update Order</button>
          </div>
          <!-- <div class="col-md-2 col-sm-3 col-xs-6 pull-right">
            <select class="form-control" name="search" ng-model="showCase.model_data.search" ng-change="showCase.get_payment_tracker_data()">
              <option ng-repeat="data in showCase.model_data.filters" value="{{data}}">{{data}}</option>
            </select>
          </div> -->
        </div>
        <div class="row" style="margin: 10px 5px 0px;">
          <div class="col-md-1 col-sm-6 col-xs-6">
            <h5 style="margin-top:0px;">Channel</h5>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-6">
            <h5 style="margin-top:0px;">Customer Name</h5>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <h5 style="margin-top:0px;">Invoice Amount</h5>
            <p style="font-size: 14px;" class="label label-danger pull-left">Rs{{showCase.payment_data.total_invoice_amount}}</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <h5 style="margin-top:0px;">Payment Received</h5>
            <p style="font-size: 14px;" class="label label-success pull-left">Rs{{showCase.payment_data.total_payment_received}}</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <h5 style="margin-top:0px;">Payment Receivable</h5>
            <p style="font-size: 14px;" class="label label-warning pull-left">Rs{{showCase.payment_data.total_payment_receivable}}</p>
          </div>
        </div>
        <accordion close-others="oneAtATime" class="accordion">
          <accordion-group is-open="status.open" ng-repeat="payment in showCase.payment_data.payments">
            <accordion-heading>
              <div class="row" ng-click="showCase.get_customer_orders(payment)">
                <div class="col-md-1 col-sm-6 col-xs-6">
                 {{payment.channel}}
                </div>
                <div class="col-md-2 col-sm-5 col-xs-6">
                 {{payment.customer_name}}
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                 {{payment.invoice_amount}}
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                 {{payment.payment_received}}
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                  {{payment.payment_receivable}}
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 hide">
                </div>
              </div>
              <!--I can have markup, too! <i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>-->
            </accordion-heading>
            <!--This is just some content to illustrate fancy headings.-->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table" style="margin-bottom: 0px;background: #f0f0f0">
                  <thead>
                    <tr>
                      <th>Invoice Number</th>
                      <th>Order ID</th>
                      <th>Invoice Amount</th>
                      <th>Received</th>
                      <th>Receivable</th>
                      <th>Expected Date</th>
                      <th style="width: 200px;">Update Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="data in payment.data">
                      <td>{{data.invoice_number}}</td>
                      <td>{{data.display_order}}</td>
                      <td>{{data.inv_amount}}</td>
                      <td>{{data.received}}</td>
                      <td>{{data.receivable}}</td>
                      <td>{{data.expected_date}}</td>
                      <td>
                        <!-- <div class="order_update_show"> -->
                          <span style="color: #2ECC71;text-decoration: underline;cursor: pointer;" class="order_update_show" ng-click="showCase.addRowData($event, data);$event.stopPropagation()">Update</span>
                        <!-- </div> -->
                        <!-- <div style="width: 200px;" class="order-save hide">
                          <input type="text" style="width: 100px !important;" class="form-control pull-left" placeholder="Amount" decimal-number ng-model="data.amount" ng-change="showCase.change_amount(data)">
                          <button style="width: 60px;margin-left: 10px;" type="button" class="btn btn-success pull-left" ng-click="showCase.order_save($event, $index, $parent.$index, data, payment)">Save</button>
                        </div> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </accordion-group>
        </accordion>
        <!--<accordion close-others="oneAtATime">
          <accordion-group ng-repeat="payment in showCase.payment_data.payments" is-open="status.isFirstOpen">
            <accordion-heading>
              <div class="row" ng-click="showCase.get_customer_orders(payment)">
                <div class="col-md-1 col-sm-6 col-xs-6">
                  <b>{{payment.channel}}</b>
                </div>
                <div class="col-md-2 col-sm-5 col-xs-5">
                  <b>{{payment.customer_name}}</b>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                  <b>{{payment.invoice_amount}}</b>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                  <b>{{payment.payment_received}}</b>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                  <b>{{payment.payment_receivable}}</b>
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 hide">
                </div>
              </div>
            </accordion-heading>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-stk" style="margin-bottom: 0px;">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Invoice Amount</th>
                      <th>Received</th>
                      <th>Receivable</th>
                      <th>Order Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="data in payment.data">
                      <td>{{data.display_order}}</td>
                      <td>{{data.inv_amount}}</td>
                      <td>{{data.received}}</td>
                      <td>{{data.receivable}}</td>
                      <td>{{data.order_status}}</td>
                      <td class="order-edit">
                        <div class="order-update">
                          <span style="color: #2ECC71;text-decoration: underline;cursor: pointer;" ng-click="showCase.order_update($event)">Update</span>
                        </div>
                        <div style="width: 200px;" class="order-save hide">
                          <input type="text" style="width: 100px !important;" class="form-control pull-left" placeholder="Amount" decimal-number ng-model="data.amount" ng-change="showCase.change_amount(data)">
                          <button style="width: 60px;margin-left: 10px;" type="button" class="btn btn-success pull-left" ng-click="showCase.order_save($event, $index, $parent.$index, data, payment)">Save</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </accordion-group>
        </accordion>-->
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
