<div>
  <div class="page-layout">
    <div class='layout-header'>
      <div class="pull-left" ng-include="'views/common/title.html'"></div>
    </div>
    <div class="layout-body">
      <tabset class="box-tab">
        <tab heading="Outbound">
          <div ng-include="'views/payment_tracker/outbound_payment_tracker.html'"></div>
        </tab>
        <tab heading="Outbound Payment Report">
          <div ng-include="'views/payment_tracker/outbound_payment_report.html'"></div>
        </tab>
        <!-- <tab heading="Bulk Payment Outbound">
          <div ng-include="'views/payment_tracker/outbound_payment.html'"></div>
        </tab> -->
        <tab heading="Inbound">
          <div ng-include="'views/payment_tracker/inbound_payment_tracker.html'"></div>
        </tab>
        <tab heading="Inbound Payment Report">
          <div ng-include="'views/payment_tracker/inbound_payment_report.html'"></div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
