<div class="mr20 ml20">
  <form id="order-create" name="form" role="form" ui-jq="validate">
    <div class="clearfix">
      <div class="row mt10 mb10 pr10 pl10">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <button type="button" class="btn btn-primary pull-left" ng-click="showCase.open_customer_pop()">New Customer</button>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
       	  <label class="switch switch-sm square pull-right ml10">
            <div>
              <input type="checkbox" ng-model="showCase.custom_order">
              <span>
                <i class="handle"></i>
              </span>
            </div>
          </label>
          <span class="pull-right" align="right">CUSTOM ORDER</span>
          <label class="switch switch-sm square pull-right ml10 mr20">
            <div>
              <input type="checkbox" ng-model="showCase.model_data.blind_order" ng-change="showCase.change_blind_order()">
              <span>
                <i class="handle"></i>
              </span>
            </div>
          </label>
          <span class="pull-right" align="right">DIRECT DISPATCH</span>
          <input name="direct_dispatch" type="hidden" value="{{showCase.model_data.blind_order}}">
          <input name="custom_order" type="hidden" value="{{showCase.custom_order}}">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <button type="button" class="btn btn-primary pull-right" ng-click="showCase.catlog=true;showCase.details=true;">View Catalog</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Customer ID *</label>
            <input type="text" autocomplete="off" name="customer_id" class="form-control" placeholder="Search Customer ID/Name/Number" typeahead="address.customer_id+' : '+address.name+' : '+address.phone_number for address in showCase.service.getSearchValues($viewValue, 'search_customer_data?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.customer_id" typeahead-on-select="showCase.get_customer_data($item, $model, $label, $event)" required>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Customer Name *</label>
            <input name="customer_name" ng-model="showCase.model_data.customer_name" class="form-control" type="text" readonly required>
            <!--ng-focus="showCase.check_id(showCase.model_data.customer_id)">-->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Telephone</label>
            <input name="telephone" ng-model="showCase.model_data.telephone" class="form-control" type="text" whole-number maxlength="10" readonly>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Shipment Date *</label>
            <input name="shipment_date" ui-jq="datepicker" ng-model="showCase.model_data.shipment_date" class="form-control stk-readonly" type="text" id="shipment_date" data-date-today-highlight="true" data-date-autoclose="true" readonly>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Shipment Time Slot *</label>
            <select ng-model="showCase.model_data.shipment_time_slot" ng-init = "showCase.model_data.shipment_time_slot = ''" class="form-control" name="shipment_time_slot">
              <option value="" ng-selected="showCase.model_data.shipment_time_slot == ''"></option>
              <option value="9:00 AM - 12:00 PM" ng-selected="showCase.model_data.shipment_time_slot == '9:00 AM - 12:00 PM'">9:00 AM - 12:00 PM</option>
              <option value="12:00 PM - 3:00 PM" ng-selected="showCase.model_data.shipment_time_slot == '12:00 PM - 3:00 PM'">12:00 PM - 3:00 PM</option>
              <option value="3:00 PM - 6:00 PM" ng-selected="showCase.model_data.shipment_time_slot == '3:00 PM - 6:00 PM'">3:00 PM - 6:00 PM</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Email</label>
            <input name="email_id" class="form-control" type="email" ng-model="showCase.model_data.email_id" readonly>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Tax Type</label>
            <select class="form-control" name="tax_type" ng-model="showCase.model_data.tax_type" ng-change="showCase.change_tax_type();">
              <option ng-repeat="tax in showCase.create_order_data.taxes" ng-selected="showCase.model_data.tax_type == tax.tax_value" value="{{tax.tax_value}}">{{tax.tax_name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Address</label>
            <textarea rows="4" class="form-control" cols="27" name="address" ng-model="showCase.model_data.address" readonly></textarea>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Ship To Address</label>
            <textarea rows="4" class="form-control" cols="27" name="ship_to" ng-model="showCase.model_data.ship_to"></textarea>
          </div>
        </div> 
      </div>
      <div class="row" ng-if="showCase.permissions.create_seller_order"><hr></div>
      <div class="row" ng-if="showCase.permissions.create_seller_order">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Seller ID *</label>
            <input type="text" autocomplete="off" name="seller_id" class="form-control" placeholder="Search Seller ID/Name/Number" typeahead="address.seller_id+' : '+address.name+' : '+address.phone_number for address in showCase.service.getSearchValues($viewValue, 'search_seller_data?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.seller_id" typeahead-on-select="showCase.model_data.seller_id=$item.seller_id" required>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">SOR ID *</label>
            <input name="sor_id" ng-model="showCase.model_data.sor_id" class="form-control" type="text" maxlength="10" required>
          </div>
        </div> 
      </div>  
      <div class="row"><hr></div>
      <div class="row">
        <table class="table table-stk">
          <thead>
            <tr>
              <th>Payment Mode</th>
              <th>Advance Amount</th>
              <th>Order Taken By</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <select class="form-control" name="payment_mode" ng-model="showCase.model_data.payment_mode">
                  <option value="" selected></option>
                  <option>Credit Card</option>
                  <option>Debit Card</option>
                  <option>Cash</option>
                  <option>NEFT</option>
                  <option>RTGS</option>
                  <option>IMPS</option>
                  <option>Online Transfer</option>
                  <option>Cash Remittance</option>
                  <option>cheque</option>
                </select>
              </td>
              <td>
                <input type="text" name="payment_received" class="form-control" ng-model="showCase.model_data.payment_received">
              </td>
              <td>
                <input type="text" name="order_taken_by" class="form-control" ng-model="showCase.model_data.order_taken_by">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row over-x">
        <table class="table" ng-class="showCase.min_width">
          <thead>
            <tr>
              <th>SKU Code *</th>
              <th> Description </th>
              <th> Available Quantity </th>
              <th ng-if="showCase.model_data.blind_order" class="w10">Location</th>
              <th ng-if="showCase.model_data.blind_order && showCase.permissions.use_imei">Serial Scan</th>
              <!--<th class="w10">Selected Quantity</th>-->
              <th class="w10">Quantity</th>
              <th ng-show="showCase.fields.indexOf('Unit Price') == -1">Unit Price</th>
              <th ng-show="showCase.fields.indexOf('Amount') == -1">Amount</th>
              <th class="w10" ng-show="showCase.fields.indexOf('Discount') == -1">Discount</th>
              <th class="w10" ng-show="showCase.fields.indexOf('Discount Percentage') == -1">Discount(%)</th>
              <th ng-show="showCase.fields.indexOf('Tax') == -1 && showCase.model_data.tax_type == 'intra_state'" class="w10">SGST(%)</th>
              <th ng-show="showCase.fields.indexOf('Tax') == -1 && showCase.model_data.tax_type == 'intra_state'" class="w10">CGST(%)</th>
              <th ng-show="showCase.fields.indexOf('Tax') == -1 && showCase.model_data.tax_type == 'inter_state'" class="w10">IGST(%)</th>
              <th ng-show="showCase.fields.indexOf('Total Amount') == -1">Total Amount</th>
              <th ng-show="showCase.fields.indexOf('Remarks') == -1">Remarks</th>
              <th class="plus"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in showCase.model_data.data">
              <td>
                <input type="hidden" name="extra_data" value="{{data.extra}}">
                <input type="hidden" name="discount" class="form-control" value="{{data.discount}}">
                <input type="text" autocomplete="off" name="sku_id" class="form-control" placeholder="Search WMS Code" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="data.sku_id" typeahead-on-select="showCase.get_sku_data(data, $item, $index)">
                <!--ng-blur="showCase.service.checkSearchValue(data.sku_id,'search_wms_codes?', $event);showCase.get_invoice(data)">-->
              </td>
              <td>
                <input type="text" class="form-control" ng-model="data.description" name="description">
              </td>
              <td class="text-center"> <span style="font-style: italic;font-size: 14px;line-height: 30px;font-weight: 600;">{{data.capacity}}</span> </td>
              <td ng-if="showCase.model_data.blind_order">
                <input type="text" class="form-control" ng-model="data.location" name="location" ng-blur="showCase.checkCapacity($index, data, 'location', $event)" ng-required="data.sku_id.length > 0">
              </td>
              <td ng-if="showCase.model_data.blind_order && showCase.permissions.use_imei">
                <input type="text" class="form-control" ng-model="data.serial" ng-keydown="showCase.serial_scan($event, data.serial, data)" ng-readonly="!data.location">
                <input name="serials" type="hidden" value="{{data.serials.join(',')}}">
              </td>
              <td>
                <input type="text" name="quantity" class="form-control" ng-model="data.quantity" ng-class="service.get_decimal_perm()" ng-change="showCase.change_quantity(data)" ng-readonly="showCase.model_data.blind_order && showCase.permissions.use_imei"> </div>
              </td>
              <td ng-show="showCase.fields.indexOf('Unit Price') == -1">
                <input type="text" name="unit_price" class="form-control" ng-model="data.price" ng-change="showCase.change_unit_price(data)" decimal-number>
              </td>
	      <td ng-show="showCase.fields.indexOf('Amount') == -1">
	        <input type="text" class="form-control" ng-model="data.invoice_amount"  ng-change="showCase.cal_percentage(data)" name="invoice_amount" decimal-number>
	      </td>
              <td ng-show="showCase.fields.indexOf('Discount') == -1">
                <input type="text" class="form-control" ng-model="data.discount" ng-change="showCase.discountChange(data)" decimal-number>
              </td>
              <td ng-show="showCase.fields.indexOf('Discount Percentage') == -1">
                <input type="text" class="form-control" ng-model="data.discount_percentage" ng-change="showCase.cal_percentage(data, false)" decimal-number>
              </td>
              <td ng-show="showCase.fields.indexOf('Tax') == -1 && showCase.model_data.tax_type == 'intra_state'">
                <input type="text" name="sgst_tax" class="form-control" ng-model="data.sgst_tax" decimal-number ng-change="showCase.cal_percentage(data)" readonly>
              </td>
              <td ng-show="showCase.fields.indexOf('Tax') == -1 && showCase.model_data.tax_type == 'intra_state'">
                <input type="text" name="cgst_tax" class="form-control" ng-model="data.cgst_tax" decimal-number ng-change="showCase.cal_percentage(data)" readonly>
              </td>
              <td ng-show="showCase.fields.indexOf('Tax') == -1 && showCase.model_data.tax_type == 'inter_state'">
                <input type="text" name="igst_tax" class="form-control" ng-model="data.igst_tax" decimal-number ng-change="showCase.cal_percentage(data)" readonly>
              </td>
              <td ng-show="showCase.fields.indexOf('Total Amount') == -1">
                <input type="text" name="total_amount" class="form-control" ng-model="data.total_amount" ng-change="showCase.cal_total()" decimal-number>
              </td>
	      <td ng-show="showCase.fields.indexOf('Remarks') == -1">
                <input type="text" name="remarks" class="form-control" ng-model="data.remarks">
              </td>
              <td><i style="font-size: 20px;padding-top: 7px;cursor: pointer;margin-left: -15px;" ng-click="showCase.update_data($index, data, $last)" ng-class="showCase.isLast($last)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mr10 ml10 mr10">
        <div class="col-md-12">
          <a href="javascript:;" class="btn btn-success btn-xs" ng-click="showCase.model_data.other_charges.push({name: '', amount: ''})">Add Other Charges(+)</a>
        </div>
        <div class="col-md-12">
          <div class="row mt20" ng-repeat="charge in showCase.model_data.other_charges">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <input type="text" class="form-control" placeholder="Enter Charge Name" ng-model="charge.name" name="charge_name">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <input type="text" class="form-control" placeholder="Enter Amount" ng-model="charge.amount" ng-change="showCase.cal_total()" decimal-number name="charge_amount">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2">
              <i style="font-size: 20px;padding-top: 7px;cursor: pointer;" class="fa fa-minus-square-o" ng-click="showCase.model_data.other_charges.splice($index, 1);showCase.cal_total();"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-bottom:0px;">
        <div class="col-md-7 col-sm-6">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12">
          <p>Total Quantity: <b style="font-size:26px">{{showCase.final_data.total_quantity}}</b></p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <p>Invoice Amount(Rs): <b style="font-size:26px">{{showCase.final_data.total_amount | number : 2}}</b></p>
        </div>
      </div>
      <div class="row mb10">
        <hr>
	<div class="col-md-6 col-sm-6 col-xs-6">
          <button type="submit" class="btn btn-primary pull-right" style="margin: auto;display: block;" ng-disabled="showCase.bt_disable" ng-click="showCase.insert_order_data(form)">Create Order </button>
	</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
	  <button type="button" class="btn btn-primary pull-left" style="margin: auto;display: block;" ng-if="showCase.custom_order" ng-click="showCase.show()">Create Custom SKU</button>
	</div>
      </div>
    </div>
  </div>
</form>
<div ui-view></div>
</div>
