        <div class="">
          <form id="order-create" name="form" role="form" ui-jq="validate">
            <div class="clearfix">
              <div class="row mt10 mb10 pr10 pl10">
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <button type="button" class="btn btn-primary pull-left" ng-click="showCase.open_customer_pop()">New Customer</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
              	  <label class="switch switch-sm square pull-right ml10">
                    <div>
                      <input type="checkbox" ng-model="showCase.custom_order">
                      <span>
                        <i class="handle"></i>
                      </span>
                    </div>
                  </label>
                  <span class="pull-right" align="right">CUSTOM ORDER</span>
                </div>
  		<div class="col-md-3 col-sm-3 col-xs-12">
		  <button type="button" class="btn btn-primary pull-right" ng-click="showCase.catlog=true;showCase.details=true;">View Catalog</button>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="form-group">
                    <label class="control-label">Customer ID</label>
                    <input type="text" autocomplete="off" name="customer_id" class="form-control" placeholder="Search Customer ID/Name/Number" typeahead="address.customer_id+' : '+address.name+' : '+address.phone_number for address in showCase.service.getSearchValues($viewValue, 'search_customer_data?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.customer_id" typeahead-on-select="showCase.get_customer_data($item, $model, $label, $event)">
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="form-group">
                    <label class="control-label">Customer Name</label>
                    <input name="customer_name" ng-model="showCase.model_data.customer_name" class="form-control" type="text" >
                    <!--ng-focus="showCase.check_id(showCase.model_data.customer_id)">-->
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="form-group">
                    <label class="control-label">Telephone</label>
                    <input name="telephone" ng-model="showCase.model_data.telephone" class="form-control" type="text" whole-number maxlength="10">
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="form-group">
                    <label class="control-label">Shipment Date *</label>
                    <input name="shipment_date" ui-jq="datepicker" ng-model="showCase.model_data.shipment_date" class="form-control stk-readonly" type="text" id="shipment_date" readonly>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="form-group">
                    <label class="control-label">Email</label>
                    <input name="email_id" class="form-control" type="email" ng-model="showCase.model_data.email_id">
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="form-group">
                    <label class="control-label">Address</label>
                    <textarea rows="4" class="form-control" cols="27" name="address" ng-model="showCase.model_data.address"></textarea>
                  </div>
                </div>
              </div>
              <!--<div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary" style="margin: auto;display: block;" ng-show="showCase.add_customer" ng-click="showCase.create_customer()"> Create Customer </button>
                 </div>
              </div>-->
            </div>
            <div class="form-group clearfix" style="padding: 0px 10px;">
              <hr>
              <div class="row">

            <table class="table table-stk">
              <thead>
                <tr>
                  <th>Payment Mode</th>
                  <th>Advance Amount</th>
                  <th>Order Taken By</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select class="form-control" name="payment_mode" ng-model="showCase.model_data.payment_mode">
                      <option value="" selected></option>
                      <option>Credit Card</option>
                      <option>Debit Card</option>
                      <option>Cash</option>
                      <option>NEFT</option>
                      <option>RTGS</option>
                      <option>IMPS</option>
                      <option>Online Transfer</option>
                      <option>Cash Remittance</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" name="payment_received" class="form-control" ng-model="showCase.model_data.payment_received">
                  </td>
                  <td>
                    <input type="text" name="order_taken_by" class="form-control" ng-model="showCase.model_data.order_taken_by">
                  </td>
                </tr>
              </tbody>
            </table>

                <table class="table table-stk">
              <thead>
                <tr>
                  <th>SKU Code/WMS Code *</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Amount</th>
                  <th>Tax(%)</th>
                  <th>Total Amount</th>
		  <th ng-if="showCase.custom_order">Remarks</th>
                  <th class="plus"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in showCase.model_data.data">
                  <td>
                    <input type="text" autocomplete="off" name="sku_id" class="form-control" placeholder="Search WMS Code" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="data.sku_id" typeahead-on-select="showCase.get_invoice(data, $item)">
                    <!--ng-blur="showCase.service.checkSearchValue(data.sku_id,'search_wms_codes?', $event);showCase.get_invoice(data)">-->
                  </td>
                  <td>
                    <input type="text" name="quantity" class="form-control" ng-model="data.quantity" ng-class="service.get_decimal_perm()" ng-change="data.invoice_amount = showCase.service.multi(data.quantity, data.price);showCase.cal_percentage(data)"> </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="data.price" ng-change="showCase.change_unit_price(data)" decimal-number>
                  </td>
		  <td>
		    <input type="text" class="form-control" ng-model="data.invoice_amount"  ng-change="showCase.cal_percentage(data)" decimal-number>
		  </td>
                  <td>
                    <input type="text" name="tax" class="form-control" ng-model="data.tax" decimal-number ng-change="showCase.cal_percentage(data)">
                  </td>
                  <td>
                    <input type="text" name="invoice_amount" class="form-control" ng-model="data.total_amount" ng-change="showCase.cal_total()" decimal-number>
                  </td>
		  <td ng-if="showCase.custom_order">
                    <input type="text" name="remarks" class="form-control" ng-model="data.remarks">
                  </td>
                  <td><i style="font-size: 20px;padding-top: 7px;cursor: pointer;margin-left: -15px;" ng-click="showCase.update_data($index, data, $last)" ng-class="showCase.isLast($last)"></i></td>
                </tr>
              </tbody>
            </table>
                 </div>
                <div class="col-md-12" style="padding-bottom:0px;">
                  <div class="col-md-7 col-sm-6">
                  </div>
                  <div class="col-md-2 col-sm-3 col-xs-6">
                    <p>Total Quantity: <b style="font-size:26px">{{showCase.final_data.total_quantity}}</b></p>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6">
                    <p>Invoice Amount(Rs): <b style="font-size:26px">{{showCase.final_data.total_amount}}</b></p>
                  </div>
                </div>
                <div class="col-md-12" style="padding-bottom:0px;">
                  <hr>
		<div class="row">
		  <div class="col-md-6 col-sm-6 col-xs-6">
                    <button type="submit" class="btn btn-primary pull-right" style="margin: auto;display: block;" ng-disabled="showCase.bt_disable" ng-click="showCase.insert_order_data(form)">Create Order </button>
		  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
		    <button type="submit" class="btn btn-primary pull-left" style="margin: auto;display: block;" ng-if="showCase.custom_order" ng-click="showCase.show()">Create Custom SKU</button>
		  </div>
                </div>
              </div>
            </div>
          </form>
          <div ui-view></div>
        </div>
      <!--</tab>
      <tab heading="Create Stock Transfer Order" ng-if="permissions.multi_warehouse">
        <div ng-controller="CreateStockOrders as showCase">
          <form id="add_st">
            <div class="form-group clearfix">
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label"> Warehouse Name </label>
                    <select name="warehouse_name" class="form-control">
                      <option ng-repeat="wh in showCase.warehouse_list" value="{{wh}}">{{wh}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group clearfix">
              <div class="form-group">
                <div class="row col-md-12">
                  <div class="col-md-4">
                    <label class="col-md-12 control-label"> WMS Code * </label>
                  </div>
                  <div class="col-md-4">
                    <label class="col-md-12 control-label"> Quantity * </label>
                  </div>
                  <div class="col-md-4">
                    <label class="col-md-12 control-label"> Price * </label>
                  </div>
                </div>
                <div class="row col-md-12 field" ng-repeat="data in showCase.model_data.data">
                  <div class="form-group">
                    <div class="col-md-4">
                      <input id="wms1" type="text" name="wms_code" class="form-control" ng-model="data.wms_code"> </div>
                    <div class="col-md-4">
                      <input id="quant1" type="text" name="order_quantity" class="form-control" decimal-number ng-model="data.order_quantity"> </div>
                    <div class="col-md-3">
                      <input type="text" name="price" class="form-control" ng-model="data.price" decimal-number>
                      <input type="hidden" name="id" value=""> </div>
                    <div class="col-md-1"><i style="font-size: 20px;padding-top: 12px;cursor: pointer;" ng-click="showCase.update_data($index, data, $last)" ng-class="showCase.isLast($last)"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="col-md-12 form-group clearfix" style="padding-bottom:0px;">
              <button type="button" class="btn btn-primary" id="st-create-order" ng-disabled="showCase.bt_disable" style="margin: auto;display: block;" ng-click="showCase.insert_order_data()">Create Transfer Order </button>
            </div>
          </form>-->
