<div id="page-pop" class="modal fade in" id="zoneModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="overflow: hidden; display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myLargeModalLabel">{{showCase.zone_title}}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group clearfix">
          <div class="row col-md-12">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label">Zone ID</label>
                <input type="text" name="zone" class="form-control" ng-model="showCase.zone" ng-readonly="showCase.update">
                <input type="hidden" name="update" value="{{showCase.update}}">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-show="permissions.marketplace_model">
              <div class="form-group">
                <label class="control-label">Marketplaces</label>
                <select class="selectpicker show-menu-arrow form-control" ng-model="showCase.marketplaces" multiple>
                  <option ng-selected="(showCase.marketplace_selected.indexOf(mk) == -1)? false: true;" ng-repeat="mk in showCase.market_list" value="{{mk}}">{{mk}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-show="permissions.add_subzonemapping">
              <div class="form-group">
                <label class="control-label">Level</label>
                <input type="text" name="level" class="form-control ng-pristine number ng-valid ng-valid-required valid"
                       ng-model="showCase.level" ng-readonly="showCase.update" ng-keyup="showCase.check_zone_level(showCase.level)">
              </div>
            </div>
          </div>
        </div>
        <div class="row"><h4 align="center">{{showCase.service.message}}</h4></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn pop pop-normal" ng-click="showCase.close()">Close</button>
        <button type="submit" class="btn pop pop-green" ng-click="showCase.zone_adding(showCase.zone)" ng-disabled="process">
          <span>Save</span>
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">
        </button>
      </div>
    </div>
  </div>
</div>
