<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate" autocomplete="off">
  <div class="modal-dialog model-custom modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4> </div>
      <!-- body-->
      <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Config Name *</label>
                <input type="text" name="name" class="form-control" ng-model="showCase.model_data.name" value="{{showCase.model_data.name}}" ng-readonly="showCase.update" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Plant </label>
                <input ng-if="showCase.update" type="text" name="plant" class="form-control" ng-model="showCase.model_data.plant" readonly>
                <select class="selectpicker-plants show-menu-arrow form-control" multiple name="perms" ng-model="showCase.model_data.plant" ng-hide="showCase.update">
                  <option value="">All</option>
                  <option ng-repeat="warehouse in showCase.warehouse_list" value="{{warehouse.username}}">{{warehouse.name}}</option>
                  </select>
<!--                <select class="form-control" ng-if="!showCase.update" ng-model="showCase.model_data.plant" name="warehouse" ng-change="showCase.getProdMaxValue(showCase.model_data)">-->
<!--                  <option value="">All</option>-->
<!--                  <option ng-repeat="warehouse in showCase.warehouse_list" value="{{warehouse.username}}">{{warehouse.name}}</option>-->
<!--                </select>-->
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Department Type</label>
                <input ng-if="showCase.update" type="text" name="department_type" class="form-control" ng-model="showCase.model_data.department_type" readonly>
                <select class="form-control" ng-if="!showCase.update" ng-model="showCase.model_data.department_type" name="department_type" ng-change="showCase.getProdMaxValue(showCase.model_data)">
                  <option value="">All</option>
                  <option ng-repeat="(dept_code, dept_name) in showCase.department_list" value="{{dept_code}}">{{dept_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Product Category </label>
                <input ng-if="showCase.update" type="text" name="product_category" class="form-control" ng-model="showCase.model_data.product_category" readonly>
                <select ng-if="!showCase.update" class="form-control" ng-model="showCase.model_data.product_category" name="product_category" ng-change="[showCase.get_sku_category_list(), showCase.getProdMaxValue(showCase.model_data)]">
                  <option ng-repeat="product_category in showCase.product_category_list" value="{{product_category}}">{{product_category}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> Category </label>
                <input ng-if="showCase.update" type="text" name="sku_category" class="form-control" ng-model="showCase.model_data.sku_category" readonly>
                <select ng-if="!showCase.update" class="form-control" ng-model="showCase.model_data.sku_category" name="sku_category" ng-change="showCase.getProdMaxValue(showCase.model_data)">
                  <option value=""> Default </option>
                  <option ng-repeat="sku_category in showCase.category_list" value="{{sku_category}}">{{sku_category}}</option>
                </select>
              </div>
            </div>
<!--            <div class="col-md-4">-->
<!--              <div class="form-group">-->
<!--                <label class="control-label"> Min Amount </label>-->
<!--                <input type="number" name="min_Amt" class="form-control" ng-model="showCase.model_data.min_Amt" readonly>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--              <div class="form-group">-->
<!--                <label class="control-label"> Max Amount </label>-->
<!--                <input type="number" name="max_Amt" class="form-control" ng-model="showCase.model_data.max_Amt" required>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        <div class="row">
        <div class="col-md-12"><hr></div>
      </div>
      <div class="row" ng-hide="showCase.roles_type_name=='po'">
        <h4 style="padding-left: 15px;">Default</h4>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="min-width: 140px;">Level</th>
                <th style="width: 350px;">Roles</th>
                <th style="width: 300px">Email</th>
                <th class="plus"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="level_dat in showCase.model_data.default_level_data">
                <td>
                   <input type="text" ng-model="level_dat.level" name="level" class="form-control" readonly>
                </td>
                <td>
                   <select class="selectpicker-default show-menu-arrow form-control" multiple name="perms" ng-model="level_dat.roles" ng-change="showCase.check_for_mail(level_dat, $index);">
                    <option ng-selected="showCase.check_selected(level_dat, role);" ng-repeat="role in showCase.roles_list">{{role}}</option>
                  </select>
                </td>
                <td>
                  <div class="bootstrap-tagsinput" ng-mouseover="showCase.addValidation()" ng-show="level_dat.display_emails">
                    <input id="emails" class="form-control emails" type="text" value="{{level_dat.emails}}" ng-model="level_dat.emails" ui-jq="tagsInput"/>
                  </div>
                </td>
                <td><i ng-if="$last" ng-click="showCase.update_data($index, 'default', level_dat.data_id)" class="fa fa-minus-square-o"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" ng-hide="showCase.roles_type_name=='po'">
        <center>
          <button type="button" class="btn mt10 mr10" ng-click="showCase.addDefaultLevel()">Add New Level </button>
        </center>
      </div>
      <div class="row">
        <h4 style="padding-left: 15px;">Specify Ranges</h4>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="min-width: 140px;">Min Amount</th>
                <th style="min-width: 140px;">Max Amount</th>
                <th style="min-width: 140px;">Level</th>
                <th style="width: 650px;">Roles</th>
                <th class="plus"></th>
              </tr>
            </thead>
            <tbody ng-repeat="range_data in showCase.model_data.ranges_level_data">
              <tr ng-repeat="level_dat in range_data.range_levels">
                <td>
                  <input type="number" name="min_Amt" class="form-control" ng-model="range_data.min_Amt" ng-show="$index==0" required>
                </td>
                <td>
                  <input type="number" name="max_Amt" class="form-control" ng-model="range_data.max_Amt" ng-show="$index==0" required>
                </td>
                <td>
                   <input type="text" ng-model="level_dat.level" name="level" class="form-control" readonly>
                </td>
                <td>
                   <!--<select id="ranges-{{showCase.roles_type_name}}roles-{{range_data.range_no}}-{{level_dat.level_no}}" class="selectpicker show-menu-arrow form-control" multiple name="perms">-->
                   <select class="selectpicker-ranges show-menu-arrow form-control" multiple name="perms" ng-model="level_dat.roles" data-size="10" data-width="300px">
                    <option ng-selected="showCase.check_selected(level_dat, role)" ng-repeat="role in showCase.roles_list">{{role}}</option>
                  </select>
                </td>
                <td style="width: 200px;">
                  <i ng-if="$last" ng-click="showCase.delete_range_levels_data($index, range_data, level_dat)" class="fa fa-minus-square-o"></i>
                  <i ng-if="$last" ng-click="showCase.addRangesLevel(range_data, level_dat)" class="fa fa-plus-square-o" style="padding-left: 11 px;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <center>
          <button type="button" class="btn mt10 mr10" ng-click="showCase.addRangesAmts()">Add New Ranges </button>
        </center>
      </div>
      <div class="row" ng-hide="showCase.roles_type_name=='po'">
        <h4 style="padding-left: 15px;">On Approved</h4>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="min-width: 140px;">Level</th>
                <th style="width: 650px;">Roles</th>
                <th class="plus"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="level_dat in showCase.model_data.approved_level_data">
                <td>
                   <input type="text" ng-model="level_dat.level" name="level" class="form-control" readonly>
                </td>
                <td>
                   <select class="selectpicker-approved show-menu-arrow form-control" multiple name="perms" ng-model="level_dat.roles">
                    <option ng-selected="showCase.check_selected(level_dat, role)" ng-repeat="role in showCase.roles_list">{{role}}</option>
                  </select>
                </td>
                <td><i ng-if="$last" ng-click="showCase.update_data($index)" class="fa fa-minus-square-o hide"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row insert-status">
        <h4 align="center">{{showCase.service.message}}</h4>
      </div>
      </form>
      </div>
      <!-- body end-->
      <div class="modal-footer">
        <button type="submit" class="btn pop pop-red col-xs-12 col-sm-3 col-md-2" ng-click="showCase.delete_config()" ng-show="showCase.update" ng-disabled="process">
          <span>Delete</span>
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">
        </button>
        <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
        <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process">
          <span>Save</span>
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  </form>
  <!-- /.modal-dialog -->
</div>
