<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog model-custom modal-lg">
    <form name="form" class="ng-pristine ng-valid" role="form" ui-jq="validate" ui-options="validationOpt">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{showCase.title}}</h4>
      </div>
      <div class="modal-body" id="update_sku">
          <div class="row" ng-mouseover="showCase.readonly_permission()">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if ="showCase.model_data.serial_number">
              <div class="col-md-11 col-sm-11 col-xs-10">
                <p align="right">Enable Serial Based</p>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-2">
                <label class="switch switch-sm square">
                  <div>
                    <input name="enable_serial_based" type="checkbox" ng-model="showCase.model_data.sku_data.enable_serial_based">
                    <span>
                      <i class="handle"></i>
                    </span>
                  </div>
                </label>
              </div>
            </div>
            <input type="hidden" name="data_id" ng-model="showCase.form.data_id" class="form-control" value="" ng-if="showCase.update">
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label">Asset Code *</label>
                <input type="text" name="wms_code" class="form-control" ng-model="showCase.model_data.sku_data.sku_code" ng-readonly="showCase.user_profile.warehouse_type !='ADMIN'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Asset Description * </label>
                <input type="text" name="sku_desc" class="form-control" ng-model="showCase.model_data.sku_data.sku_desc" maxlength="256" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Asset Type </label>
                <input type="text" name="asset_type" class="form-control"
                ng-model="showCase.model_data.sku_data.asset_type"
                ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Put Zone </label>
                <select name="zone_id" class="form-control" ng-model="showCase.model_data.sku_data.zone">
                  <option value="" ng-selected="showCase.model_data.sku_data.zone == ''">None</option>
                  <option ng-repeat="zone in showCase.model_data.zones" value="{{zone}}" ng-selected="showCase.model_data.sku_data.zone == zone">{{zone}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Asset Class </label>
                <select class="form-control" name="sku_class" ng-model="showCase.model_data.sku_data.sku_class">
                  <option value="" ng-selected="showCase.model_data.sku_data.sku_class == ''">None</option>s
                  <option ng-repeat = "sku_class in showCase.model_data.class_list" value="{{sku_class}}" ng-selected="sku_class == showCase.model_data.sku_data.sku_class">{{sku_class}}</option>
                </select>
<!--                <input type="text" name="sku_class" class="form-control" ng-model="showCase.model_data.sku_data.sku_class" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Asset Group </label>
                <select class="form-control" name="sku_group" ng-model="showCase.model_data.sku_data.sku_group" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option ng-selected="showCase.model_data.sku_data.sku_group == ''" value="">Default</option>
                  <option ng-repeat="group in showCase.model_data.groups" ng-selected="showCase.model_data.sku_data.sku_group == group" value="{{group}}">{{group}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="sku_group" class="form-control" value="{{showCase.model_data.sku_data.sku_group}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Asset Category </label>
                <select class="form-control" name="sku_category" ng-model="showCase.model_data.sku_data.sku_category">
                  <option value="" ng-selected="showCase.model_data.sku_data.sku_category == ''">None</option>
                  <option ng-repeat = "category in showCase.model_data.category_list" value="{{category}}" ng-selected="category == showCase.model_data.sku_data.sku_category">{{category}}</option>
                </select>
<!--                <input type="text" name="sku_category" class="form-control" ng-model="showCase.model_data.sku_data.sku_category" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" ng-if="user.userName != 'sagar_fab'">
              <div class="form-group">
                <label class="control-label"> Asset Sub Category </label>
                <input type="text" name="sub_category" class="form-control" ng-model="showCase.model_data.sku_data.sub_category" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Asset Brand </label>
                <input type="text" name="sku_brand" class="form-control" ng-model="showCase.model_data.sku_data.sku_brand" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Size </label>
                <select class="form-control" name="sku_size" ng-model="showCase.model_data.sku_data.sku_size" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option value ="" ng-selected="showCase.model_data.sku_data.sku_size == ''"> None </option>
                  <option ng-repeat = "size in showCase.model_data.sizes" value="{{size}}" ng-selected="showCase.model_data.sku_data.sku_size == size">{{size}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="sku_size" class="form-control" value="{{showCase.model_data.sku_data.sku_size}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label">HSN Code</label>
                <select class="form-control" name="product_type" ng-model="showCase.model_data.sku_data.product_type" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option value ="" ng-selected="showCase.model_data.sku_data.product_type == ''"> Default </option>
                  <option ng-repeat = "type in showCase.model_data.product_types" value="{{type}}" ng-selected="showCase.model_data.sku_data.product_type == type">{{type}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="product_type" class="form-control" value="{{showCase.model_data.sku_data.product_type}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" ng-if="user.userName == 'sagar_fab'">
              <div class="form-group">
                <label class="control-label"> Primary Category</label>
                <input type="text" name="primary_category" class="form-control" ng-model="showCase.model_data.sku_data.primary_category" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" ng-if="user.userName == 'sagar_fab'">
              <div class="form-group">
                <label class="control-label"> Sub Category</label>
                <select class="form-control" name="sub_category" ng-model="showCase.model_data.sku_data.sub_category" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option value ="" ng-selected="showCase.model_data.sku_data.sub_category == ''"> Default </option>
                  <option ng-repeat = "(key, value) in showCase.model_data.sub_categories" value="{{value}}" ng-selected="showCase.model_data.sku_data.sub_category == value">{{value}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="sub_category" class="form-control" value="{{showCase.model_data.sku_data.sub_category}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Status </label>
                  <select class="form-control" name="status" ng-model="showCase.model_data.sku_data.status" ng-options="qc for qc in showCase.status_data" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" ng-selected="qc == showCase.model_data.sku_data.status">
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="status" class="form-control" value="{{showCase.model_data.sku_data.status}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Cost Price </label>
                <input type="text" name="cost_price" class="form-control" ng-model="showCase.model_data.sku_data.cost_price" decimal-number>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Price </label>
                <input type="text" name="price" class="form-control" ng-model="showCase.model_data.sku_data.price" decimal-number ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> MRP </label>
                <input type="text" name="mrp" class="form-control" ng-model="showCase.model_data.sku_data.mrp" decimal-number ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <input type="hidden" name="hsn_code" class="form-control" ng-model="showCase.model_data.sku_data.product_type"
                       value="{{showCase.model_data.sku_data.product_type}}"
                       ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Measurement Type </label>
                <select name="measurement_type" class="form-control" ng-model="showCase.model_data.measurement_type">
                  <option ng-repeat="type in showCase.sku_measurement_types" value="{{type}}" ng-selected="showCase.model_data.measurement_type == type">{{type}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> EAN Number </label>
                <div class="bootstrap-tagsinput" ng-mouseover="showCase.addValidation()">
                  <input id="ean_numbers" class="ean_numbers" type="text" value="{{showCase.model_data.sku_data.ean_numbers}}" ui-jq="tagsInput"/>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Parent Asset Code </label>
                <input type="text" name="parent_asset_code" class="form-control" ng-model="showCase.model_data.sku_data.parent_asset_code" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Asset Number </label>
                <input type="text" name="asset_number" class="form-control" ng-model="showCase.model_data.sku_data.asset_number" decimal-number
                ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Vendor </label>
                <input type="text" name="vendor" class="form-control" ng-model="showCase.model_data.sku_data.vendor" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Store ID </label>
                <input type="text" name="store_id" class="form-control" ng-model="showCase.model_data.sku_data.store_id" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> GL Code </label>
                <input type="text" name="gl_code" class="form-control" ng-model="showCase.model_data.sku_data.gl_code">
              </div>
            </div>
          </div>
          <div class="row over-x" ng-hide="showCase.isEmptyMarket">
            <table class="table mw40">
              <thead>
                <tr>
                  <th><b> Market Place </b></th>
                  <th><b> SKU </b></th>
                  <th><b> Description </b></th>
                  <th class="plus"></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat= "market in showCase.model_data.market_data">
                  <td>
                    <input type="hidden" name="market_id" value="{{market.market_id}}">
                    <input type="hidden" name="market_sku_type" value="{{market.market_sku_type}}">
                    <select class="form-control" ng-model="market.market_sku_type" ng-options="qc for qc in showCase.model_data.market_list" ng-disabled="market.disable">
                    </select>
                  </td>
                  <td><input type="text" name="marketplace_code" class="form-control" ng-model="market.marketplace_code" ng-readonly="market.disable"></td>
                  <td><input type="text" name="description" class="form-control" ng-model="market.description" ng-readonly="market.disable"></td>
                  <td><i class="fa fa-minus-square minus" ng-click="showCase.remove_market($index, market.market_id)" ng-readonly="market.disable"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row over-x" ng-hide="showCase.isEmptyUOM">
            <table class="table mw40">
              <thead>
                <tr>
                  <th><b> UOM Type </b></th>
                  <th><b> UOM </b></th>
                  <th><b> Conversion </b></th>
                  <th><b> Name </b></th>
                  <th class="plus"></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat= "uom in showCase.model_data.uom_data">
                  <td>
                    <input type="hidden" name="uom_id" value="{{uom.uom_id}}">
                    <select class="form-control" ng-model="uom.uom_type" name="uom_type" ng-style="{ 'pointer-events' : (showCase.user_profile.warehouse_type!='ADMIN') ? 'none' : 'auto' }">
                      <option ng-repeat="uom_type in showCase.model_data.uom_type_list" value="{{uom_type}}" ng-selected="uom_type.toLowerCase()==uom.uom_type.toLowerCase()">{{uom_type}}</option>
                    </select>
                  </td>
                  <td><input type="text" name="uom_name" class="form-control" ng-model="uom.uom_name" ng-change="showCase.update_uom_name(uom)"></td>
                  <td><input type="text" name="conversion" class="form-control" ng-model="uom.conversion" ng-change="showCase.update_uom_name(uom)"></td>
                  <td><input type="text" name="name" class="form-control" ng-model="uom.name" readonly></td>
                  <td><i class="fa fa-minus-square minus" ng-click="showCase.remove_uom($index, uom.uom_id)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row col-md-6">
              <button type="button" class="btn btn-default add-uom" ng-click="showCase.add_uom()" ng-readonly="showCase.user_profile.warehouse_type!='ADMIN'">Add New UOM</button>
          </div>
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-8">
              <div class="form-group">
                <div>Asset Default Image Upload</div>
                 <span class="btn btn-primary up-btn" style="position: relative;overflow: hidden;width: 250px;">Choose File
                  <input style="position: absolute;
                                top: 0;
                                right: 0;
                                min-width: 100%;
                                min-height: 100%;
                                font-size: 100px;
                                text-align: right;
                                filter: alpha(opacity=0);
                                opacity: 0;
                                outline: none;
                                background: white;
                                cursor: inherit;
                                display: block;" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" class="btn btn-primary" type = "file" name="files" id="image-upload" image-upload multiple/>
              </span>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4">
              <div>
                <img ng-src="{{showCase.model_data.sku_data.image_url}}" alt="SKU image" style="width: 100%"/>
              </div>
            </div>
          </div>
          <div class="row insert-status">
            <h4 style="text-align: center;">{{showCase.service.message}}</h4>
          </div>
      </div>
      <div class="modal-footer">
<!--        <button type="button" class="btn btn-danger pull-right" style= "background: red;color: white;"  ng-click="showCase.delete_sku()">REJECTED</button>-->
<!--        <button type="button" class="btn pop pop-normal pull-left" ng-click="showCase.close('')" style="background: #cc1919;color: white;">Close</button>-->
<!--        <div ng-if="showCase.user_profile.warehouse_type!='ADMIN' && (!showCase.is_doa)">-->
<!--          <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process" ng-if="(showCase.user_profile.warehouse_type!='ADMIN' && (!showCase.is_doa) && (!showCase.update))"-->
<!--                style="background: green;color: white;" ng-if="(!showCase.update)">Send For Approval</button>-->
<!--        </div>-->
<!--      <div ng-if="showCase.user_profile.warehouse_type =='ADMIN'">-->
<!--        <button type="submit" class="btn pop pop-green"  ng-click="showCase.submit(form)" ng-disabled="process">-->
<!--            <span>Save</span>-->
<!--            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">-->
<!--          </button>-->
        <button type="button" class="btn pop pop-normal pull-left" ng-click="showCase.close('')" style="background: #cc1919;color: white;">Close</button>
        <div ng-if="showCase.user_profile.warehouse_type!='ADMIN' || (!showCase.permissions.approve_asset_master_doa)">
          <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process"
                style="background: green;color: white;" ng-if="(!showCase.update)">Send For Approval</button>
        </div>
<!--        <div ng-if="showCase.update">-->
<!--          <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process" ng-if="(showCase.user_profile.warehouse_type!='ADMIN' && (showCase.update))"-->
<!--                style="background: green;color: white;">Send For Approval</button>-->
<!--        </div>-->
      <div ng-if="showCase.user_profile.warehouse_type =='ADMIN' && showCase.permissions.approve_asset_master_doa">
        <button type="submit" class="btn pop pop-green"  ng-click="showCase.submit(form)" ng-disabled="process">
            <span>Save</span>
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">
          </button>
      </div>

     </div>

    </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div>
