<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <form name="form" role="form" ui-jq="validate">
    <div class="modal-dialog model-custom modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{showCase.title}}</h4>
        </div>
        <!-- body-->
        <div class="modal-body">
          <div class="clearfix">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Machine Code * </label>
                  <input type="text" name="machine_code" class="form-control" ng-model="showCase.model_data.machine_code" ng-readonly="showCase.update" maxlength="128" ng-required="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Machine Name * </label>
                 <input type="text" name="machine_name" class="form-control" ng-model="showCase.model_data.machine_name" maxlength="128" ng-required="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Model Number * </label>
                  <input name="model_number" type="text" class="form-control" ng-model="showCase.model_data.model_number" maxlength="128" ng-required="true">
                </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                   <label class="control-label"> Serial Number * </label>
                   <input type="text" name="serial_number" class="form-control" ng-model="showCase.model_data.serial_number" maxlength="128" ng-required="true">
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                   <label class="control-label"> BRAND * </label>
                   <input type="text" name="brand" class="form-control" ng-model="showCase.model_data.brand" maxlength="64" ng-required="true">
                 </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Status *</label>
                  <select class="form-control" ng-model="showCase.model_data.status" name="status">
                    <option ng-repeat="status in showCase.status_data" value="{{status}}" ng-selected="status=='Active'">{{status}}</option>
                  </select>
                </div>
              </div>

            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <div class="form-group">
                        <div>File Upload</div>
                        <span class="btn btn-primary up-btn" style="position: relative;overflow: hidden;width: 250px;">Choose File
                            <input style="position: absolute;
                                          top: 0;
                                          right: 0;
                                          min-width: 100%;
                                          min-height: 100%;
                                          font-size: 100px;
                                          text-align: right;
                                          filter: alpha(opacity=0);
                                          opacity: 0;
                                          outline: none;
                                          background: white;
                                          cursor: inherit;
                                          display: block;" ng-disabled=""
                                          class="btn btn-primary" type = "file" name="files" id="file-upload" file-uploadd multiple/>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div ng-repeat="file in showCase.model_data.uploads_list" class="alert alert-info"
                style="float: left;height:25px;padding:2px 10px;margin-right:5px">
                    <a ng-href={{file[0]}} download target="_blank">{{file[1]}}</a>
                </div>
            </div>
            </div>
            <div ng-include="'views/common/msg.html'"></div>
          </div>
        </div>
        <!-- body end-->
        <div class="modal-footer">
          <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
          <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process">
            <span>Save</span>
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </form>
</div>
