<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <form name="form" role="form" ui-jq="validate">
  <div class="modal-dialog model-custom modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{showCase.title}}</h4>
      </div>
      <!-- body-->
      <div class="modal-body" ng-mouseover="showCase.readonly_permission()">
          <div class="clearfix">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group" ng-if="showCase.toggle_brand">
                <label class="control-label"> Attribute Name </label>
                <select name="attribute_name" class="form-control">
                  <option ng-repeat="wh in ['Brand', 'Category']" value="{{wh}}">{{wh}}</option>
                </select>
                </div>
                <div class="form-group" ng-if="!showCase.toggle_brand">
                    <label class="control-label"> SKU Code * </label>
                    <input type="text" autocomplete="off" name="sku_code" class="form-control" placeholder="Search SKU Code" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_wms_codes?')" typeahead-loading="loadingLocations" ng-blur="showCase.service.checkSearchValue2(showCase.model_data,'search_wms_codes?', $event)" ng-model="showCase.model_data.sku_code" ng-readonly="showCase.update" required>
                  </div>
              </div>
              <div class="col-md-4" ng-if="showCase.toggle_brand">
                <div class="form-group">
                  <label class="control-label"> Attribute Value </label>
                  <input type="text" name="attribute_value" class="form-control" ng-model="showCase.model_data.attribute_value" ng-readonly="showCase.update" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Selling Price Type * </label>
                  <input type="text" name="price_type" class="form-control" ng-model="showCase.model_data.selling_price_type" ng-readonly="showCase.update" required>
                </div>
              </div>
              </div>
            </div>
            <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Min Unit Range</th>
                <th>Max Unit Range</th>
                <th>Price</th>
                <th>Discount</th>
                <th ng-if="!permissions.priceband_sync" class="plus"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in showCase.model_data.data">
                <td>
                   <input type="text" ng-model="product.min_unit_range" name="min_unit_range" class="form-control" decimal-number ng-blur="showCase.checkRange(product.min_unit_range, $index, showCase.model_data.data, 'min_amount')" required>
                </td>
                <td>
                   <input type="text" ng-model="product.max_unit_range" name="max_unit_range" class="form-control" decimal-number ng-blur="showCase.checkRange(product.max_unit_range, $index, showCase.model_data.data, 'max_amount')" required>
                </td>
                <td>
                   <input type="text" ng-model="product.price" name="price" class="form-control" decimal-number>
                </td>
                <td>
                   <input type="text" ng-model="product.discount" name="discount" class="form-control" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" percentage-min-value="0">
                </td>
                <td ng-if="!permissions.priceband_sync"><i ng-click="showCase.update_data($index)" class="fa fa-minus-square-o"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
        <center>
          <button type="button" class="btn mt10 mr10" ng-if="!permissions.priceband_sync" ng-click="showCase.add_data()">Add New</button>
        </center>
      </div>
      </div>
            <div ng-include="'views/common/msg.html'"></div>
        </div>
      </div>
      <!-- body end-->
      <div class="modal-footer">
        <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
        <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process" ng-if="!permissions.priceband_sync" ng-show="show_tab('change_pricemaster')">
          <span>Save</span>
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10"  ng-if="process"></span>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
</div>
