<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate">
  <div class="modal-dialog model-custom modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4> </div>
      <!-- body-->
      <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label class="control-label"> Plant * </label>
                <input ng-if="showCase.update" type="hidden" name="warehouse" class="form-control" ng-model="showCase.model_data.warehouse" value="{{showCase.model_data.warehouse}}">
                <input ng-if="showCase.update" type="text" class="form-control" ng-model="showCase.model_data.plant_name" title={{showCase.model_data.plant_name}} readonly>
                <select class="selectpicker-plants show-menu-arrow form-control" ng-model="showCase.model_data.warehouse" name="warehouse" ng-change="[showCase.check_selected_val(showCase.model_data.warehouse, role)]" ng-if="!showCase.update" ng-required="true">
                  <option ng-repeat="warehouse in showCase.warehouse_list" value="{{warehouse.username}}">{{warehouse.name}}:{{warehouse.stockone_code}}</option>
                </select>
              </div>
	        </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label class="control-label"> SKU Code * </label>
                <input type="text" autocomplete="off" name="wms_code" class="form-control detectTab" placeholder="Search WMS Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.sku_code" typeahead-on-select="showCase.model_data.sku_code=$item.wms_code;alert($item.wms_code)" ng-keyup="$event.keyCode == 13 ? showCase.key_event(product, $item, $index) : null" ng-required="true" ng-if="!showCase.update">
                <input ng-if="showCase.update" type="text" class="form-control" ng-model="showCase.model_data.sku_code" title={{showCase.model_data.sku_code}} name="wms_code" readonly>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="control-label">Lead time Days * </label>
                <input type="text"  name="lead_time" class="form-control decimal" ng-model="showCase.model_data.lead_time" maxlength="64" required> </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="control-label">SA Min Days * </label>
                <input type="text"  name="min_days" class="form-control decimal" ng-model="showCase.model_data.min_days" maxlength="64" required> </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="control-label">SA Max Days * </label>
                <input type="text" name="max_days" class="form-control decimal" ng-model="showCase.model_data.max_days" maxlength="64" required> </div>
            </div>
          </div>
          <div class="row insert-status">
            <h4 align="center">{{showCase.service.message}}</h4>
          </div>
          </div>
      </div>


      <!-- body end-->
      <div class="modal-footer">
        <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
        <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process">
          <span>Save</span>
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">
        </button>
      </div>
    </div>
      </form>
    <!-- /.modal-content -->
  </div>
  </form>
  <!-- /.modal-dialog -->
</div>
