<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate">
  <div class="modal-dialog model-custom modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4> </div>
      <!-- body-->
      <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label class="control-label"> Classification * </label>
                <input type="text" name="classification" class="form-control namevalid"  ng-readonly="showCase.update" ng-model="showCase.model_data.classification" maxlength="256" required> </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label class="control-label"> Size * </label>
                <input type="text" name="size" class="form-control namevalid"  ng-model="showCase.model_data.size" maxlength="256" required> </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="control-label">SA Min Days * </label>
                <input type="text"  name="min_days" class="form-control" ng-model="showCase.model_data.min_days" maxlength="64" required> </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="control-label">SA Max Days * </label>
                <input type="text"  name="max_days" class="form-control" ng-model="showCase.model_data.max_days" maxlength="64" required> </div>
            </div>
          </div>
          <div class="row insert-status">
            <h4 align="center">{{showCase.service.message}}</h4>
          </div>
          </div>
      </div>


      <!-- body end-->
      <div class="modal-footer">
        <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
        <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process">
          <span>Save</span>
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">
        </button>
      </div>
    </div>
      </form>
    <!-- /.modal-content -->
  </div>
  </form>
  <!-- /.modal-dialog -->
</div>
