<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog model-custom modal-lg">
    <form name="form" class="ng-pristine ng-valid" role="form" ui-jq="validate" ui-options="validationOpt">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{showCase.title}}</h4>
      </div>
      <div class="modal-body" id="update_sku">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-11 col-sm-11 col-xs-10">
                  <p align="right">Enable Serial Based</p>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-2">
                  <label class="switch switch-sm square">
                    <div>
                      <input type="checkbox" ng-model="showCase.model_data.enable_serial_based">
                      <span>
                        <i class="handle"></i>
                      </span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <input type="hidden" name="data_id" ng-model="showCase.form.data_id" class="form-control" value="" ng-if="showCase.update">
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> WMS SKU Code *</label>
                <input type="text" name="wms_code" class="form-control" ng-model="showCase.model_data.sku_data.sku_code" ng-readonly="showCase.update">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Product Description * </label>
                <input type="text" name="sku_desc" class="form-control" ng-model="showCase.model_data.sku_data.sku_desc" maxlength="256" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> SKU Type </label>
                <select class="form-control zone" name="sku_type" ng-model="showCase.model_data.sku_data.sku_type" ng-init="showCase.model_data.sku_data.sku_type" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" ng-options="type for type in showCase.sku_types" ng-selected="type == showCase.model_data.sku_data.sku_type"></select>
                
                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="sku_type" class="form-control" value="{{showCase.model_data.sku_data.sku_type}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Put Zone </label>
                <select name="zone_id" class="form-control" ng-model="showCase.model_data.sku_data.zone">
                  <option value="" ng-selected="showCase.model_data.sku_data.zone == ''">None</option>
                  <option ng-repeat="zone in showCase.model_data.zones" value="{{zone}}" ng-selected="showCase.model_data.sku_data.zone == zone">{{zone}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> SKU Class </label>
                <input type="text" name="sku_class" class="form-control" ng-model="showCase.model_data.sku_data.sku_class" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'"> 
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> SKU Group </label>
                <select class="form-control" name="sku_group" ng-model="showCase.model_data.sku_data.sku_group" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option ng-selected="showCase.model_data.sku_data.sku_group == ''" value="">Default</option>
                  <option ng-repeat="group in showCase.model_data.groups" ng-selected="showCase.model_data.sku_data.sku_group == group" value="{{group}}">{{group}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="sku_group" class="form-control" value="{{showCase.model_data.sku_data.sku_group}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> SKU Category </label>
                <input type="text" name="sku_category" class="form-control" ng-model="showCase.model_data.sku_data.sku_category" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Brand </label>
                <input type="text" name="sku_brand" class="form-control" ng-model="showCase.model_data.sku_data.sku_brand" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Size Type </label>
                <select class="form-control" name="size_type" ng-model="showCase.model_data.sku_data.size_type" ng-change="showCase.change_size_type(showCase.model_data.sku_data.size_type)" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option value="" ng-selected="showCase.model_data.sku_data.size_type == ''">None</option>
                  <option ng-repeat = "type in showCase.model_data.sizes_list" value="{{type.size_name}}" ng-selected="type.size_name == showCase.model_data.sku_data.size_type">{{type.size_name}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="size_type" class="form-control" value="{{showCase.model_data.sku_data.size_type}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Size </label>
                <select class="form-control" name="sku_size" ng-model="showCase.model_data.sku_data.sku_size" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option value ="" ng-selected="showCase.model_data.sku_data.sku_size == ''"> None </option>
                  <option ng-repeat = "size in showCase.model_data.sizes" value="{{size}}" ng-selected="showCase.model_data.sku_data.sku_size == size">{{size}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="sku_size" class="form-control" value="{{showCase.model_data.sku_data.sku_size}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Style Name</label>
                <input type="text" name="style_name" class="form-control" ng-model="showCase.model_data.sku_data.style_name" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Product Type</label>
                <select class="form-control" name="product_type" ng-model="showCase.model_data.sku_data.product_type" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option value ="" ng-selected="showCase.model_data.sku_data.product_type == ''"> Default </option>
                  <option ng-repeat = "type in showCase.model_data.product_types" value="{{type}}" ng-selected="showCase.model_data.sku_data.product_type == type">{{type}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="product_type" class="form-control" value="{{showCase.model_data.sku_data.product_type}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" ng-if="user.userName == 'sagar_fab'">
              <div class="form-group">
                <label class="control-label"> Primary Category</label>
                <input type="text" name="primary_category" class="form-control" ng-model="showCase.model_data.sku_data.primary_category" maxlength="60" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" ng-if="user.userName == 'sagar_fab'">
              <div class="form-group">
                <label class="control-label"> Sub Category</label>
                <select class="form-control" name="sub_category" ng-model="showCase.model_data.sku_data.sub_category" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option value ="" ng-selected="showCase.model_data.sku_data.sub_category == ''"> Default </option>
                  <option ng-repeat = "(key, value) in showCase.model_data.sub_categories" value="{{value}}" ng-selected="showCase.model_data.sku_data.sub_category == value">{{value}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="sub_category" class="form-control" value="{{showCase.model_data.sku_data.sub_category}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Mix SKU </label>
                <select class="form-control" name="mix_sku" ng-model="showCase.model_data.sku_data.mix_sku" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option ng-selected="showCase.model_data.sku_data.mix_sku == ''" value="">Default</option>
                  <option ng-repeat="(k,v) in showCase.mix_sku_list" ng-selected="showCase.model_data.sku_data.mix_sku == v" value="{{v}}">{{k}}</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="mix_sku" class="form-control" value="{{showCase.model_data.sku_data.mix_sku}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Status </label>
                  <select class="form-control" name="status" ng-model="showCase.model_data.sku_data.status" ng-options="qc for qc in showCase.status_data" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" ng-selected="qc == showCase.model_data.sku_data.status">
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="status" class="form-control" value="{{showCase.model_data.sku_data.status}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" ng-if="showCase.permissions.add_qualitycheck">
              <div class="form-group">
                <label class="control-label"> Quality Check </label>
                <select class="form-control qc_check" name="qc_check" ng-model="showCase.model_data.sku_data.qc_check" ng-options="qc for qc in showCase.qc_data" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="qc_check" class="form-control" value="{{showCase.model_data.sku_data.qc_check}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Threshold Quantity * </label>
                <input type="text" name="threshold_quantity" class="form-control" ng-model="showCase.model_data.sku_data.threshold_quantity" ng-class="service.get_decimal_perm()" required>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Cost Price </label>
                <input type="text" name="cost_price" class="form-control" ng-model="showCase.model_data.sku_data.cost_price" decimal-number>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Price </label>
                <input type="text" name="price" class="form-control" ng-model="showCase.model_data.sku_data.price" decimal-number ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> MRP </label>
                <input type="text" name="mrp" class="form-control" ng-model="showCase.model_data.sku_data.mrp" decimal-number ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Color </label>
                <input type="text" name="color" class="form-control" ng-model="showCase.model_data.sku_data.color" ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Load Unit Handling </label>
                <select class="form-control" name="load_unit_handle" ng-model="showCase.model_data.sku_data.load_unit_handle">
                  <option ng-selected="showCase.model_data.sku_data.load_unit_handle == '1'" value="Enable">Enable</option>
                  <option ng-selected="showCase.model_data.sku_data.load_unit_handle == '0'" value="Disable">Disable</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> HSN Code </label>
                <input type="text" name="hsn_code" class="form-control" ng-model="showCase.model_data.sku_data.hsn_code" decimal-number ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Hot Release </label>
                <select class="form-control" name="hot_release" ng-model="showCase.model_data.sku_data.hot_release" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'">
                  <option ng-selected="showCase.model_data.sku_data.hot_release == 1" value="Enable">Enable</option>
                  <option ng-selected="showCase.model_data.sku_data.hot_release == 0" value="Disable">Disable</option>
                </select>

                <input ng-if="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" type="hidden" name="hot_release" class="form-control" value="{{showCase.model_data.sku_data.hot_release}}" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6" ng-if="showCase.user_profile.industry_type=='FMCG'">
              <div class="form-group">
                <label class="control-label"> Shelf life (Days) </label>
                <input type="text" name="shelf_life" class="form-control" ng-model="showCase.model_data.sku_data.shelf_life" ng-class="service.get_decimal_perm()">
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat= "attr in showCase.model_data.attributes">
              <div class="form-group">
                <label class="control-label"> {{ attr.attribute_name }} </label>
                <input type="text" name="attr_{{attr.attribute_name}}" class="form-control" ng-model="attr.attribute_value">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> EAN Number </label>
                <!-- <input type="text" name="ean_number" class="form-control" ng-model="showCase.model_data.sku_data.ean_number" decimal-number ng-readonly="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'"> -->
                <div class="bootstrap-tagsinput" ng-mouseover="showCase.addValidation()">
                  <input id="ean_numbers" class="ean_numbers" type="text" value="{{showCase.model_data.sku_data.ean_numbers}}" ui-jq="tagsInput"/>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Measurement Type </label>
                <select name="measurement_type" class="form-control" ng-model="showCase.model_data.measurement_type">
                  <option ng-repeat="type in showCase.sku_measurement_types" value="{{type}}" ng-selected="showCase.model_data.measurement_type == type">{{type}}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row over-x" ng-hide="showCase.isEmptyMarket">
            <table class="table mw40">
              <thead>
                <tr>
                  <th><b> Market Place </b></th>
                  <th><b> SKU </b></th>
                  <th><b> Description </b></th>
                  <th class="plus"></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat= "market in showCase.model_data.market_data">
                  <td>
                    <input type="hidden" name="market_id" value="{{market.market_id}}">
                    <input type="hidden" name="market_sku_type" value="{{market.market_sku_type}}">
                    <select class="form-control" ng-model="market.market_sku_type" ng-options="qc for qc in showCase.model_data.market_list" ng-disabled="market.disable">
                    </select>
                  </td>
                  <td><input type="text" name="marketplace_code" class="form-control" ng-model="market.marketplace_code" ng-readonly="market.disable"></td>
                  <td><input type="text" name="description" class="form-control" ng-model="market.description" ng-readonly="market.disable"></td>
                  <td><i class="fa fa-minus-square minus" ng-click="showCase.remove_market($index, market.market_id)" ng-readonly="market.disable"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <center>
              <button type="button" class="btn btn-default add-market" ng-click="showCase.add_market()">Add New Market place</button>
            </center>
          </div>
          <div class="row" ng-if="showCase.combo && showCase.update">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row" ng-if="showCase.combo && showCase.update">
            <div class="col-md-6">
              <center><b> Combo SKU </b></center>
            </div>
            <div class="col-md-6">
              <center><b> Combo Description </b></center>
            </div>
          </div>
          <div ng-if="showCase.combo && showCase.update" class="row field" ng-repeat= "combo in showCase.model_data.combo_data">
            <div class="col-md-6"><input type="text" name="combo_sku" class="form-control" ng-model="combo.combo_sku" disabled></div>
            <div class="col-md-6"><input type="text" name="combo_desc" class="form-control" ng-model="combo.combo_desc" disabled></div>
          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-8">
              <div class="form-group">
                <div>SKU Default Image Upload</div>
                 <span class="btn btn-primary up-btn" style="position: relative;overflow: hidden;width: 250px;">Choose File
                  <input style="position: absolute;
                                top: 0;
                                right: 0;
                                min-width: 100%;
                                min-height: 100%;
                                font-size: 100px;
                                text-align: right;
                                filter: alpha(opacity=0);
                                opacity: 0;
                                outline: none;
                                background: white;
                                cursor: inherit;
                                display: block;" ng-disabled="showCase.model_data.user_type == 'distributor' || showCase.model_data.user_type == 'warehouse'" class="btn btn-primary" type = "file" name="files" id="image-upload" image-upload multiple/>
              </span>
                <!-- <input type="file" id="image-upload" name="files" file-upload multiple=""> -->
              </div>
              <!--<div class="form-group">
                  <div>SKU Related Images</div>
                  <span class="btn btn-primary up-btn" style="position: relative;overflow: hidden;width: 250px;">Choose File
                  <input style="position: absolute;
                                top: 0;
                                right: 0;
                                min-width: 100%;
                                min-height: 100%;
                                font-size: 100px;
                                text-align: right;
                                filter: alpha(opacity=0);
                                opacity: 0;
                                outline: none;
                                background: white;
                                cursor: inherit;
                                display: block;" class="btn btn-primary" type = "file" data="{{place+':sku_rel_imgs'}}" id="sku_files" image-upload multiple/>
              </span>
              </div>
              <div ng-if="showCase.model_data.exe_sku_rel_images.length != 0 && showCase.update">Exesting Images</div>
              <div class="row" ng-if="showCase.model_data.exe_sku_rel_images.length != 0">
                <div class="col-md-3" ng-repeat="file in showCase.model_data.exe_sku_rel_images">
                  <img ng-src="{{file}}" width="100%" alt="SKU Related Image-{{$index}}" />
                  <button type="button" class="close" title="Delete from list of images" ng-click="showCase.fileClose(file, showCase.model_data.sku_data.sku_code, 'del_exe_sku_img')"><span aria-hidden="true">×</span></button>
                </div>
              </div>
              <div ng-if="showCase.model_data.sku_rel_imgs_show.length != 0">New Images</div>
              <div class="row">
                <div class="col-md-3" ng-repeat="file in showCase.model_data.sku_rel_imgs_show">
                  <img ng-src="{{file}}" width="100%" alt="SKU Related Image-{{$index}}" />
                  <button type="button" class="close" title="Delete from list of images" ng-click="showCase.fileClose($index)"><span aria-hidden="true">×</span></button>
                </div>
              </div>-->
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4">
              <div>
                <img ng-src="{{showCase.model_data.sku_data.image_url}}" alt="SKU image" style="width: 100%"/>
              </div>
            </div>
          </div>
          <div class="row insert-status">
            <h4 style="text-align: center;">{{showCase.service.message}}</h4>
          </div>
      </div>
      <div class="modal-footer">
        <div class="form-group" style="margin-bottom:0px;">
          <button type="button" class="btn pop pop-normal" ng-click="showCase.close()">Close</button>
          <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-disabled="process">
            <span>Save</span>
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process">
          </button>
        </div>
      </div>
    </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div>
