<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <form name="form" role="form" ui-jq="validate">
    <div class="modal-dialog model-custom modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{showCase.title}}</h4>
        </div>
        <!-- body-->
        <div class="modal-body" ng-mouseover="showCase.readonly_permission()">
          <div class="clearfix">
            <div class="row" ng-if="!(showCase.model_data.login_created)">
              <div class="col-md-11 col-sm-11 col-xs-10">
                <p align="right">Create Login</p>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-2">
                <label class="switch switch-sm square">
                  <div>
                    <input type="checkbox" ng-model="showCase.model_data.create_login">
                    <span>
                      <i class="handle"></i>
                    </span>
                  </div>
                </label>
              </div>
            </div>
            <input ng-if="showCase.model_data.create_login && !(showCase.model_data.login_created)" type="hidden" name="create_login" value="{{showCase.model_data.create_login}}">
            <div class="row">
              <div class="col-md-4">
                <input name="login_created" type="hidden" value="{{showCase.model_data.login_created}}">
                <div class="form-group">
                  <label class="control-label"> Supplier Id * </label>
                  <input type="text" name="id" class="form-control" ng-model="showCase.model_data.id" ng-readonly="showCase.update" ng-required="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Supplier Name * </label>
                  <input type="text" name="name" class="form-control" ng-model="showCase.model_data.name" maxlength="256" ng-required="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Email * </label>
                 <input type="email" name="email_id" class="form-control" ng-model="showCase.model_data.email_id" maxlength="64" ng-required="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Phone No. * </label>
                  <input name="phone_number" type="text" class="form-control" ng-model="showCase.model_data.phone_number" minlength="10" maxlength="10" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" ng-required="true" quantity-number>
                </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                   <label class="control-label"> GSTIN No. </label>
                   <input type="text" name="tin_number" class="form-control" ng-model="showCase.model_data.tin_number" maxlength="64">
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                   <label class="control-label"> PAN </label>
                   <input type="text" name="pan_number" class="form-control" ng-model="showCase.model_data.pan_number" maxlength="64">
                 </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Owner's Name </label>
                  <input type="text" name="owner_name" class="form-control" ng-model="showCase.model_data.owner_name" maxlength="256">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Owner's Number </label>
                  <input name="owner_number" type="text" class="form-control" ng-model="showCase.model_data.owner_number" minlength="10" maxlength="10" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" quantity-number>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Owner's Email </label>
                 <input type="email" name="owner_email_id" class="form-control" ng-model="showCase.model_data.owner_email_id" maxlength="64">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> SPOC Name </label>
                  <input type="text" name="spoc_name" class="form-control" ng-model="showCase.model_data.spoc_name" maxlength="256">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> SPOC Number </label>
                  <input name="spoc_number" type="text" class="form-control" ng-model="showCase.model_data.spoc_number" minlength="10" maxlength="10" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" quantity-number>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> SPOC Email </label>
                 <input type="email" name="spoc_email_id" class="form-control" ng-model="showCase.model_data.spoc_email_id" maxlength="64">
                </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                   <label class="control-label"> City </label>
                   <input type="text" name="city" class="form-control" ng-model="showCase.model_data.city" maxlength="64">
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                   <label class="control-label"> State </label>
                   <input type="text" name="state" class="form-control" ng-model="showCase.model_data.state" maxlength="64">
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                   <label class="control-label"> Country</label>
                   <input type="text" name="country" class="form-control" ng-model="showCase.model_data.country" maxlength="64">
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                   <label class="control-label"> PIN Code </label>
                   <input type="text" name="pincode" class="form-control" ng-model="showCase.model_data.pincode" maxlength="10">
                 </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Supplier Type </label>
                  <input type="text" name="supplier_type" class="form-control" ng-model="showCase.model_data.supplier_type" maxlength="64">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Tax Type *</label>
                  <select class="form-control" ng-model="showCase.model_data.tax_type" name="tax_type" required>
                    <option value=""> None </option>
                    <option ng-repeat="one in showCase.all_taxes" value="{{one.tax_value}}" ng-selected="one.tax_name == showCase.model_data.tax_type">{{one.tax_name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Days required to supply </label>
                  <input name="days_to_supply" type="text" class="form-control" ng-model="showCase.model_data.days_to_supply" quantity-number>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Fulfillment amount in any given time </label>
                  <input name="fulfillment_amt" type="text" class="form-control" ng-model="showCase.model_data.fulfillment_amt" quantity-number>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Credibility (quality control based) </label>
                  <input type="text" name="credibility" class="form-control" ng-model="showCase.model_data.credibility" maxlength="64">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Lead Time (Days) </label>
                  <input name="lead_time" type="text" class="form-control" ng-model="showCase.model_data.lead_time" quantity-number>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Credit Period (Days) </label>
                  <input name="credit_period" type="text" class="form-control" ng-model="showCase.model_data.credit_period" quantity-number>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Status </label>
                  <select class="form-control supplier_status" ng-model="showCase.model_data.status" name="status">
                    <option ng-repeat="status in showCase.status_data" value="{{status}}" ng-selected="status=='Active'">{{status}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> PO Expiry Duration </label>
                  <input type="text" name="po_exp_duration" class="form-control" ng-model="showCase.model_data.po_exp_duration">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Bank Name </label>
                  <input type="text" name="bank_name" class="form-control" ng-model="showCase.model_data.bank_name" maxlength="256">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> IFSC Code </label>
                  <input type="text" name="ifsc_code" class="form-control" ng-model="showCase.model_data.ifsc_code" maxlength="256">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Branch Name </label>
                  <input type="text" name="branch_name" class="form-control" ng-model="showCase.model_data.branch_name" maxlength="256">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Account Number </label>
                  <input name="account_number" type="text" class="form-control" ng-model="showCase.model_data.account_number" maxlength="19" quantity-number>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Account Holder Name </label>
                  <input type="text" name="account_holder_name" class="form-control" ng-model="showCase.model_data.account_holder_name" maxlength="256">
                </div>
            </div>

            <div class="row col-md-12" style="padding-bottom: 15px">
              <div class="col-md-12 col-sm-12 col-xs-12">
                Secondary Email ID
              </div>
              <div class="bootstrap-tagsinput col-md-8 col-sm-8 col-xs-8">
                <input name="secondary_email_id" class="form-control" type="text" value="{{showCase.model_data.secondary_email_id}}" ui-jq="tagsInput"/>
              </div>
            </div>

            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label"> Address * </label>
                  <textarea rows="5" cols="27" class="form-control" ng-model="showCase.model_data.address" name="address" ng-required="true">{{showCase.model_data.address}}</textarea>
                </div>
              </div>
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Markdown Percentage </label>
                  <input type="number" min="0" max="100" name="markdown_percentage" class="form-control" ng-model="showCase.model_data.markdown_percentage">
                </div>
              </div> -->
              <div class="col-lg-4 col-md-4" ng-if="showCase.industry_type=='FMCG' && showCase.user_type=='marketplace_user'">
                <label class="control-label"> Extra Purchase </label>
                <select ng-model="showCase.model_data.ep_supplier" class="form-control" name="ep_supplier">
                  <option value="">Select your option</option>
                  <option value="yes">YES</option>
                  <option value="no">NO</option>
                </select>
              </div>
              <div class="col-md-6" ng-if="showCase.model_data.login_created && !(showCase.model_data.create_login)">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <a ng-click="showCase.model_data.create_login = true" style="color: #33cc66; text-decoration: underline;"> Change Password </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12"><hr></div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <div class="form-group">
                        <div>File Upload</div>
                        <span class="btn btn-primary up-btn" style="position: relative;overflow: hidden;width: 250px;">Choose File
                            <input style="position: absolute;
                                          top: 0;
                                          right: 0;
                                          min-width: 100%;
                                          min-height: 100%;
                                          font-size: 100px;
                                          text-align: right;
                                          filter: alpha(opacity=0);
                                          opacity: 0;
                                          outline: none;
                                          background: white;
                                          cursor: inherit;
                                          display: block;" ng-disabled=""
                                          class="btn btn-primary" type = "file" name="files" id="file-upload" file-uploadd multiple/>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div ng-repeat="file in showCase.model_data.uploads_list" class="alert alert-info"
                style="float: left;height:25px;padding:2px 10px;margin-right:5px">
                    <a ng-href={{file[0]}} download target="_blank">{{file[1]}}</a>
                </div>
            </div>
            </div>
            <div class="row" ng-if="showCase.model_data.create_login">
              <hr>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> username </label>
                  <input type="text" name="username" class="form-control" ng-model="showCase.model_data.username" maxlength="256" ng-readonly="showCase.model_data.login_created" ng-required="!(showCase.model_data.login_created)">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label"> Password </label>
                  <input type="password" name="password" class="form-control" ng-model="showCase.model_data.password" maxlength="256" ng-required="!(showCase.model_data.login_created)">
                </div>
              </div>
            </div>
            <div ng-include="'views/common/msg.html'"></div>
          </div>
        </div>
        <!-- body end-->
        <div class="modal-footer">
          <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
          <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)" ng-show="show_tab('change_suppliermaster')" ng-disabled="process">
            <span>Save</span>
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right ml10" ng-if="process"></span>
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </form>
</div>
