<pageheader></pageheader>
<div class="container" style="background: #fff;">
    <div class="row">
        <div class="col-md-12 more">
      <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Pre Order">
          <div class="alert alert-success preorder" style="">

            <input class="" id="order_id" ng-model="$ctrl.pre_order_id" ng-keyup ="" placeholder="ORDER ID">
            <div class="btn btn-danger btn-md" id="preorder_btn" ng-click="$ctrl.get_order_details($ctrl.pre_order_id,'','', 'preorder');">OK</div>

            <br><br>

			<!-- Modal -->
			<div class="modal fade" id="orderModal" role="dialog">
			  <div class="modal-dialog"> 
			    <!-- Modal content-->
			    <div class="modal-content">
			  	<div class="modal-header">
			  	  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	  <h4 class="modal-title">ORDER ID {{$ctrl.selected_order.order_id}}</h4>
				  <div class="row customer_info">
				  	<div ng-repeat = "(key, item) in $ctrl.selected_order.customer_data" ng-if="item">
					  {{key}} : {{item}}&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				  </div>

			  	</div>
			  	<div class="modal-body">
					<div class="sku_details row">
					 	<table style="width: 100%;">
							<thead ng-show="$ctrl.selected_order.sku_data.length">
						  		<tr>
									<!--<th style="padding-left: 10px;"></th>-->
									<th>Product</th>
									<th>Quantity</th>
									<th>Amount Paid</th>
								</tr>
							</thead>
							<tbody>
					  			<tr class="sku" ng-repeat = "item in $ctrl.selected_order.sku_data">
						  			<td style="">{{item.name}}</td>
						  			<td class="">{{item.quantity}}</td>
						  			<td class="">{{item.price}} /-</td>
					  			</tr>
					  		</tbody>
					 	</table>
				   	</div>
					<div class="ng-hide already_delivered">
					  <strong ng-show="$ctrl.selected_order.status==='0'?true:false">Order Delivered Already !</strong>
					</div>
			  	</div>
			  	<div class="modal-footer">
				  <div class="btn btn-danger btn-md" id="delivered_btn"
					   ng-show="$ctrl.selected_order.sku_data.length && $ctrl.selected_order.status==='1'"
					   ng-click="$ctrl.update_order_status($ctrl.selected_order.order_id);">Deliver
				  </div>
			  	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  	</div>
			    </div>
			  </div>
			</div>

            <div class="all_orders" ng-repeat="item in $ctrl.order_details" ng-if="item.order_id">
				<div class="each_order alert btn btn-info" ng-click="$ctrl.select_order(item.order_id)">
					<h4><strong>{{item.order_id}}</strong> &nbsp;&nbsp;&nbsp;{{item.order_date}}</h4>
					<div style="overflow-y: overlay;">
						<span ng-repeat="sku in item.sku_data"><strong>{{sku.id}}&nbsp;</strong></span>
					</div>
				</div><!--order ids end-->
				<div class="" id="{{item.order_id}}">
				</div><!--each order skus end-->

            </div><!--end all orders-->


            <div class="row customer_info">
              <div ng-repeat = "(key, item) in $ctrl.order_details.customer_data" ng-if="item">
                {{key}} : {{item}}&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
            </div><br><br>
            <div class="sku_details row">
              <table style="width: 100%;">
                <thead ng-show="$ctrl.order_details.sku_data.length">
                  <tr>
                    <!--<th style="padding-left: 10px;"></th>-->
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Amount Paid</th>
                </thead>
                <tbody>
              <tr class="sku" ng-repeat = "item in $ctrl.order_details.sku_data">
                  <td style="">{{item.name}}</td>
                  <td class="">{{item.quantity}}</td>
                  <td class="">{{item.price}} /-</td>
              </tr>
              </tbody>
              </table>
              <div class="ng-hide already_delivered">
                <strong ng-show="$ctrl.order_details.status==='0'?true:false">Order Delivered Already !</strong>
              </div>
 
              <div class="btn btn-danger btn-md" id="delivered_btn"
                   ng-show="$ctrl.order_details.sku_data.length && $ctrl.order_details.status==='1'"
                   ng-click="$ctrl.update_order_status($ctrl.order_details.order_id);">Deliver
              </div>
              <!--if no data-->
              <div class="ng-hide no_order">
                <strong ng-show="!$ctrl.order_details.sku_data.length">Order Not Found !</strong>
                <p ng-show="!$ctrl.order_details.sku_data.length">Please check the order id.</p>
              </div>
              <!--if already delivered-->
            </div><!--table-->
            </div><!--alert-->
        </uib-tab>


<!--        <uib-tab index="1" heading="Return">
            <div class="alert alert-success preorder" style="">
                <input class="return_input" id="" ng-model="$ctrl.return_order_id" placeholder="ORDER ID">
                <input class="return_input" id="mobile" ng-model="$ctrl.return_mobile" placeholder="MOBILE">
                <input class="return_input" id="name" ng-model="$ctrl.return_name" placeholder="NAME">
                <div class="btn btn-danger btn-md" id="preorder_btn" ng-click="$ctrl.get_order_details($ctrl.return_order_id, $ctrl.return_mobile, $ctrl.return_name, 'return');">OK</div>
                <br><br>

				<div class="row customer_info" ng-repeat="order in $ctrl.order_details" ng-if="$index===0">
				  <div ng-repeat = "(key, item) in order.customer_data" ng-if="item">
					{{key}} : {{item}}&nbsp;&nbsp;&nbsp;&nbsp;
				  </div>
				</div><br><br>

				<div class="orders row" ng-repeat="item in $ctrl.order_details" ng-if="item.order_id">
					<div class="col-md-12 alert alert-danger" data-toggle="collapse" data-target="#{{item.order_id}}">
						<strong>{{item.order_id}}</strong> &nbsp;&nbsp;&nbsp;{{item.order_date}}
					</div>--><!--order ids end-->
					<!--<div class="" id="{{item.order_id}}">



					</div>--><!--each order skus end-->
				<!--</div><!--orders div-->

            <!--</div><!--alert-->
        <!--</uib-tab>

        <uib-tab index="2" heading="Exchange">

        </uib-tab>-->

      </uib-tabset>
        </div><!--col-->
    </div><!--row-->


</div>

