<form name="form" role="form" ui-jq="validate" ui-options="validationOpt">
  <div class="modal-header">
    <h4 class="modal-title">{{showCase.title}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="form-group">
          <label class="control-label"> SKU Brand </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.sku_brand" readonly>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group">
          <label class="control-label"> GL Code </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.gl_code" readonly>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group">
          <label class="control-label"> UOM </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.measurement_unit" readonly>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group">
          <label class="control-label"> Cess Tax </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.temp_cess_tax" readonly>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group">
          <label class="control-label"> No.Of Base Units </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.conversion" readonly>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group">
          <label class="control-label"> Base UOM </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.base_uom" readonly>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group">
          <label class="control-label"> OpenPR Qty </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.sku.openpr_qty" readonly>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group">
          <label class="control-label"> Available Stock </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.sku.capacity" readonly>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="form-group">
          <label class="control-label"> OpenPO Qty </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.sku.intransit_quantity" readonly>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label"> Last 3M Avg Consumption </label>
          <input type="text" class="form-control" ng-model="showCase.line_data.sku.consumption_dict.avg_qty" readonly>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label"> Reason for Supplier Change <span ng-if="showCase.line_data.sku_sku_comment">*</span></label>
          <textarea rows="2" class="form-control" cols="27" ng-model="showCase.line_data.sku_comment" placeholder="Enter Remarks" ng-required="showCase.line_data.sku_sku_comment"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pop pop-normal pull-right" ng-click="showCase.close('')" style="background: #cc1919;color: white;">Close</button>  
  </div>
</form>
