<div ng-controller="uploadedfeedbackTable as showCase">
  <div class="page-layout">
    <div class='layout-header'>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div ng-include="'views/common/title.html'"></div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="row">
            <div ng-include="'views/common/excel_button.html'"></div>
          </div>
        </div>
      </div>
    </div>
    <div ng-include="'views/common/master-datatable.html'"></div>
  </div>
</div>
