<div class="form-group">
  <label class="control-label">Distributor Name</label>
  <input type="text" autocomplete="off" name="distributor_code" class="form-control" placeholder="Search Distributor Name" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_distributor_codes?')" typeahead-loading="loadingLocations" ng-blur="showCase.service.checkSearchValue(showCase.model_data.distributor_code,'search_distributor_codes?', $event)" ng-model="showCase.model_data.distributor_code">
</div>
