<div class="form-group">
  <label class="control-label">Reseller Name</label>
  <input type="text" autocomplete="off" name="reseller_code" class="form-control" placeholder="Search Reseller Name" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_reseller_names?')" typeahead-loading="loadingLocations" ng-blur="showCase.service.checkSearchValue(showCase.model_data.reseller_code,'search_reseller_names?', $event)" ng-model="showCase.model_data.reseller_code">
</div>
