{% load tag_extras %}
<form role='form' id="add-customer">
    <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> &times;</button>
                    <h4 class="modal-title">Add Shippment </h4>
                </div>
                <div class="modal-body">
                    <div class='row col-md-12'>
                        {% for customer in customer_details %}
                            {% for field in display_fields %}
                                <div class="col-md-6 clearfix">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label"> {{ field }} </label>
                                    <div class="col-md-7">
                                        {% if field == 'Customer ID' %}
                                        <input name="c-id" id="c-id" class="form-control" value="{{ customer.customer_id }}"
                                               type="text" disabled/>
                                        {% elif field == 'Customer Name' %}
                                        <input name="c-name" id="c-name" class="form-control" value="{{ customer.customer_name }}"
                                               type="text" disabled/>
                                        {% else %}
                                        <input name="marketplace" id="marketplace" class="form-control" value="{{ marketplace }}"
                                               type="text" disabled/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <div class="form-group clearfix">
                         <div class="form-group">
                             <div class="row col-md-12">
                             <hr>
                                 {% for key in headers %}
                                     {% if key == '' %}
                                         <div class="col-md-1"></div>
                                     {% elif key == 'SKU Code' %}
                                         <div class="col-md-2">
                                             <label class="control-label"> {{ key }} </label>
                                         </div>
                                     {% else %}
                                         <div class="col-md-3">
                                             <label class="control-label"> {{ key }} </label>
                                         </div>
                                     {% endif %}
                                 {% endfor %}
                             </div>
                            {% for key,value in data.iteritems %}
                             <div class="row col-md-12">
                                 <div class="form-group">
                                     <div class="col-md-1">
                                         <input type="checkbox" name="{{ key.1 }}" value="{{ shipment_id }}">
                                     </div>
                                     <div class="col-md-2">
                                          <label class="control-label">{{ key.0 }} </label>
                                     </div>
                                     <div class="col-md-3">
                                         <label class="control-label"> {{ value }} </label>
                                     </div>
                                     <div class="col-md-3">
                                         <input type="text" name="shipping-quantity" class="smallbox" value="">
                                     </div>
                                     <div class="col-md-3">
                                         <input type="text" name="pack-reference" value="">
                                     </div>
                                 </div>
                             </div>
                            {% endfor %}
                         </div>
                         <div class="row col-md-12 insert-status"></div>
                 </div>
                 </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary add-shipment" value="Add Shippment"/>
                </div>
            </div>
        </div>
    </div>
</form>

