<!-- Modal -->


<form id="add_supplier">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Add new Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group clearfix">

                        {% for supplier_fields in add_supplier %}
                        <div class="row col-md-12">
                            {% for supplier_field in supplier_fields %}
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-5 control-label"> {{ supplier_field.0 }} </label>

                                    <div class="col-md-7">
                                        {% if supplier_field.1 == "status" %}
                                        <select class="form-control" name="{{ supplier_field.1 }}" value="">
                                            <option>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                        {% elif supplier_field.1 == "address" %}
                                        <textarea rows="4" class="form-control" cols="27"
                                                  name="{{ supplier_field.1 }}"></textarea>

                                        {% elif supplier_field.1 == "phone_number" %}
                                        <input name="{{ supplier_field.1 }}" type="text" class="form-control numvalid"
                                               maxlength="10"></input>

                                        {% elif supplier_field.1 == "id" %}
                                        <input type="text" name="{{ supplier_field.1 }}" class="form-control anvalid"
                                               value="" maxlength="{{ supplier_field.2 }}">
                                        {% elif supplier_field.1 == "name" %}
                                        <input type="text" name="{{ supplier_field.1 }}" class="form-control namevalid"
                                               value="" maxlength="{{ supplier_field.2 }}">
                                        {% else %}
                                        <input type="text" name="{{ supplier_field.1 }}" class="form-control" value=""
                                               maxlength="{{ supplier_field.2 }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        {% endfor %}
                    </div>
                    <div class="row col-md-12 insert-status"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
