<!-- Modal -->

<form id="add_bom">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group clearfix">
                        <div class="row">
                            <div class="col-md-3">
                                <label style="height:35px;" class="space-adjust"><b>Product SKU Code</label></b>
                            </div>
                            <div class="col-md-3">
                                {% if product_sku %}
                                    <input type="text" class="form-control" name="product_sku" value="{{ product_sku }}" readonly>
                                {% else %}
                                    <input type="text" class="form-control" name="product_sku">
                                {% endif %}
                            </div>
                        </div>

                    <table class="table">
                        <tbody>
                            <tr class="active">
                                {% for key, value in add_bom_fields.iteritems %}
                                    <th>{{ key }}</th>
                                {% endfor %}
                                <th></th>
                            </tr>
                            <tr id="raise-bom-row" class="display-none">
                                {% for key, value in add_bom_fields.iteritems %}
                                    <td>
                                        {% if value == 'material_quantity' %}
                                            <input type="text" name="{{ value }}" class="numvalid smallbox">
                                        {% elif value == 'unit_of_measurement' %}
                                            <select name='{{ value }}' class='form-control'>
                                                {% for u in uom %}
                                                    <option>{{ u }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <input type="text" name="{{ value }}">
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td><img src="/static/img/details_open.png" id="add_row"><input type="hidden" name="id"></td>
                            </tr>
                            {% for key, value in data.iteritems %}
                                {% for val in value %}
                                    <td><input type="text" name="material_sku" value="{{ key }}" readonly></td>
                                    <td><input type="text" name="material_quantity" class="numvalid smallbox" value="{{ val.0 }}"></td>
                                    <td>
                                        <select name='unit_of_measurement' class="form-control">
                                            {% for u in uom %}
                                                {% if val.1 == u %}
                                                    <option selected>{{ u }}</option>
                                                {% else %}
                                                    <option>{{ u }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        {% if forloop.parentloop.last %}
                                            <img src="/static/img/details_open.png" id="add_row">
                                        {% else %}
                                            <img src="/static/img/details_close.png" id="add_row">
                                        {% endif %}
                                        <input type="hidden" name="id" value="{{ val.2 }}">
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    </div>
                    <br><div class="row col-md-12 insert-status"></div>
                    <div class="loading display-none">
                        <div></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save-bom">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
