{% load tag_extras %}

<div>
  <style>
    {% include 'toggle/page1.css' %}
  </style>
  <div class="print-invoice2 mb20">
    Dear Supply Partner,
 
      We would like to thank you for your recent supplies. Your last supplies fill rate and other details will be shared with you in a couple of days. Kindly Download PO Attachment present in the mail.
       
      Billing Details -
      Bill To: Aaidea Solutions Pvt Ltd.
       
      GST NO : :06AANCA8956D1ZE
       
      Billing Address : 
      Aaidea Solutions Pvt Ltd, Khata No 145,148 And 419,429, Rect No 57 Killa No 3 8-0,8 8-0,4,1,1 2-4, 7,2,3 2-3,Owner Wide Mutation No 3679, Village And Post Office Kherki Daula Near,Manesar, Gurgaon, Haryana, 121004
       
      Shipping Address: 
      Aaidea Solutions Pvt Ltd, Khata No 145,148 And 419,429, Rect No 57 Killa No 3 8-0,8 8-0,4,1,1 2-4, 7,2,3 2-3,Owner Wide Mutation No 3679, Village And Post Office Kherki Daula Near,Manesar, Gurgaon, Haryana, 121004

      Our Receiving Timing is from 10 am to 5 pm
       
      Note :
       
       - Supply should be with original Tax invoice.
       
       - PO to be carried along with the supply.
       
       - Stock should be supplied before PO expiry Date.
       
       - Confirmation on Appointment prior delivery is a must, Unscheduled delivery will be rejected,
       
       Request you to supply as per the order, if you need any correction or having any query, you can reach out to : {{ contact_email }} Or contact below mentioned person.
       
      Thanks & Regards,
       
      Contact Number : {{ contact_no }}

  </div>
</div>

