{% load tag_extras %}

<div>
  <style>
    {% include 'toggle/page1.css' %}
  </style>
  <div class="print-invoice2 mb20">
      <b>Dear Supply Partner,</b>
      <br>
      We would like to thank you for your recent supplies. Your last supplies fill rate and other details will be shared with you in a couple of days. Kindly Download PO Attachment present in the mail.
      <br>
      <br>
      <b>Billing Details -</b>
      <br>
      <b>Bill To:</b> Aaidea Solutions Pvt Ltd.
      <br>
      <b>GST NO : :</b> 06AANCA8956D1ZE
      <br>
      <b>Billing Address : </b>
      Aaidea Solutions Pvt Ltd, Khata No 145,148 And 419,429, Rect No 57 Killa No 3 8-0,8 8-0,4,1,1 2-4, 7,2,3 2-3,Owner Wide Mutation No 3679, Village And Post Office Kherki Daula Near,Manesar, Gurgaon, Haryana, 121004
      <br>
      <b>Shipping Address: </b>
      Aaidea Solutions Pvt Ltd, Khata No 145,148 And 419,429, Rect No 57 Killa No 3 8-0,8 8-0,4,1,1 2-4, 7,2,3 2-3,Owner Wide Mutation No 3679, Village And Post Office Kherki Daula Near,Manesar, Gurgaon, Haryana, 121004
      <br>
      <b>Our Receiving Timing is from 10 am to 5 pm</b>
      <br>
      <b>Note :</b>
      <ul>
        <li> Supply should be with original Tax invoice.</li>
       
	<li> PO to be carried along with the supply.</li>
       
	<li> Stock should be supplied before PO expiry Date.</li>
       
	<li> Confirmation on Appointment prior delivery is a must, Unscheduled delivery will be rejected,</li>
      </ul>
      <br>
       Request you to supply as per the order, if you need any correction or having any query, you can reach out to : {{ contact_email }} Or contact below mentioned person.
      <br>
      <br>
        Thanks & Regards,
      <br>
      <b>Contact Number :</b> {{ contact_no }}
  </div>
</div>

