{% load staticfiles %}
{% for key, value in data.iteritems %}
<div class="category-view">
<button class="btn btn-primary view-cat" style="float:right;margin:20px 30px 0px 0px" id="{{ key }}">View All</button>
<h3 style="padding: 20px 0 0px 40px;min-height:50px;">{{ key }}</h3>

<div class="liquid" style="padding:16px">
	<span class="previous"></span>
	<div class="wrapper">
<ul>
{% for dat in value %}
        <li style="margin:0px 30px 0px 30px;">
        {% if dat.image_url != '' %}
            <img src="{{ dat.image_url }}" style="width: 170px;height: 185px;border:0px !important;" class="img-thumbnail">
        {% else %}
            <img src="/static/img/default-image.jpg" style="width: 170px;height: 185px;border:0px !important;" class="img-thumbnail">
        {% endif %}
        <br>
        <label style="color:#16be48;">{{ dat.sku_desc }}</label><br>
        <b><label>SKU Code:</b> {{ dat.sku_code }}</label><br>
    </li>
{% endfor %}
</ul>
</div>
<span class="next"></span>
</div>
</div>
{% endfor %}

