<form id="cycle-po">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Cycle Count</h4>
            </div>

            <div class="modal-body">
                <h5>Cycle Count ID: <b>{{ cycle_id }}</b></h5>
                <table class="table table-striped">

                    <tr>
                        <th>SKU CODE</th>
                        <th>Zone</th>
                        <th>Location</th>
                        <th>Quantity</th>
                        <th>Seen Quantity</th>
                    </tr>

                    {% for dat in data %}
                    <tr>
                        <td>{{ dat.sku.wms_code }}</td>
                        <td>{{ dat.location.zone.zone }}</td>
                        <td>{{ dat.location.location }}</td>
                        <td>{{ dat.quantity }}</td>
                        <td><input name='{{dat.id}}' type="text" value='' class='numvalid'></input></td>
                    </tr>
                    {% endfor %}


                </table>
                <div class="row col-md-12 insert-status"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary cycle-print">Print</button>
                <button type="submit" class="btn btn-primary cycle-confirm">Confirm Count</button>
            </div>

        </div>


    </div>
</form>

