 {% load tag_extras %}

<style>
  {% include 'toggle/bootstrap.min.css' %}
  {% include 'toggle/page.css' %}
  /*html { zoom: 0.79; /*workaround for phantomJS2 rendering pages too large }*/
  .print-invoice .cal-table .rm-padding td,th {
        font-size: 8px !important;
          padding: 4px 2px !important;
  }
  .print-invoice .cal-table .rm-padding th {
        font-size: 8px !important;
          padding: 4px 2px !important;
  }
  .print-invoice .tax-percentage {
        font-size:7px;
  } 
</style>

<div class="print-invoice" style="padding-right: 10px;margin-right:10px">
  <div class="row col-md-12 no-padding">
    <h4 style="margin-bottom:2px" align="center">Tax Invoice</h4>
  </div>
  <div class="row col-md-12 no-padding" style="margin-top: 0px;">
    <table class="table table-bordered bl br mb0" style="margin-bottom:0px">
      <tbody>
        <tr class="rm-padding">
          <td>
            <div class="row">
              <div class="col-xs-6 text-left padding-none">
                <div class="row">
                  {% if image %}
                  <div class="col-md-2 col-sm-2 col-xs-2 padding-none">
                    <img src="data:image/jpg;base64, {{image}}" style="width:100%"/>
                  </div>
                  {% endif %}
                  {% if image %}
                  <div class="col-md-10 col-sm-10 col-xs-10">
                  {% else %}
                  <div class="col-md-12 col-sm-10 col-xs-10">
                  {% endif %}
                    <div class="col-md-12 padding-none">
                      <span><b>{{company_name}}</b></span>
                    </div>
                    <div class="col-md-12 padding-none">
                      <span>{{company_address}}</span>
                    </div>
                    <div class="col-md-12 padding-none">
                      <span>{{email}}</span>
                    </div>
                    <div class="col-md-12 padding-none">
                      <span>GSTIN No: {{gstin_no}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 text-left padding-none">
                <strong>Invoice Number:</strong>{{invoice_no}}<br>
                <strong>Invoice Date:</strong>{{invoice_date}}<br>
                <strong>Order Number:</strong>{{order_id}}<br>
                <strong>Order Date:</strong>{{order_date}}<br>
                <span><strong>Purchase Type:</strong>{{purchase_type}}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr class="rm-padding">
          <td>
            <div class="row">
              <div class="col-xs-6 text-left padding-none">
                <address class="no-margin">
                  <strong>
                    <span>Bill To,</span>
                  </strong><br>
                  {% if marketplace == 'Offline' %}
                  <div>
                    {% if customer_details.0.name == '' %}
                    <p style="margin-bottom:0px">{{marketplace}}</p>
                    {% endif %}
                    {% if customer_details.0.name %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.name}}</p>
                    {% endif %}
                    {% if customer_details.0.address %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.address}}</p>
                    {% endif %}
                    {% if customer_details.0.tin_number %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.tin_number}}</p>
                    {% endif %}
                    {% if customer_details.0.customer_id %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.customer_id}}</p>
                    {% endif %}
                    {% if customer_details.0.email_id %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.email_id}}</p>
                    {%endif %}
                  </div>
                  {% endif %}
                  <div>
                    {% if marketplace != 'Offline' %}
                      {{marketplace}}<br>
                    {%endif %}
                  </div>
                </address>
              </div>
              <div class="col-xs-6 text-left padding-none">
                 <address class="no-margin">
                   <strong>
                    <span>ship To,</span>
                  </strong><br>
                  {% if marketplace == 'Offline' %}
                  <div>
                    {% if customer_details.0.name == '' %}
                    <p style="margin-bottom:0px">{{marketplace}}</p>
                    {% endif %}
                    {% if customer_details.0.name %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.name}}</p>
                    {% endif %}
                    {% if customer_details.0.address %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.address}}</p>
                    {% endif %}
                    {% if customer_details.0.tin_number %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.tin_number}}</p>
                    {% endif %}
                    {% if customer_details.0.customer_id %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.customer_id}}</p>
                    {% endif %}
                    {% if customer_details.0.email_id %}
                    <p style="margin-bottom:0px" class="cust_details">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{customer_details.0.email_id}}</p>
                    {%endif %}
                  </div>
                  {% endif %}
                  <div>
                    {% if marketplace != 'Offline' %}
                      {{marketplace}}<br>
                    {%endif %}
                  </div>
                </address>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered bl br cal-table" style="margin-bottom: 0px;">
      <thead>
        <tr class="rm-padding">
          <th><center>SKU Code</center></th>
          <th><center>HSN</center></th>
          <th><center>Description</center></th>
          <th><center>Unit Rate</center></th>
          <th><center>Qty</center></th>
          <!--{% if permissions.show_mrp %}<th>MRP(&#8377;)</center></th>{% endif %}-->
          <th><center>Base Price</center></th>
          <th><center>Disc</center></th>
          <!--<th><center>{% if tax_type %}{{tax_type}}{% else %} VAT {% endif %}(%)</center></th>-->
          <th><center>Taxable Value</center></th>
          <th><center>CGST</center></th>
          <th><center>SGST</center></th>
          <th><center>IGST</center></th>
          <th><center>Total</center></th>
        </tr>
      </thead>
      <tbody>
        {% for record in data %}
        <tr class="rm-brdr">
          <td style="text-align: left;">{{record.sku_code}}</td>
          <td style="text-align: left;">{{record.hsn_code}}</td>
          <td style="text-align: left;">{{record.title}}</td>
          <td>{{record.unit_price}}</td>
          <td>{{record.quantity}}</td>
          <td>{{record.base_price}}</td>
          <td class="text-right">{{record.discount}}<br><span class="tax-percentage hide">@0%</span></td>
          <td> {{record.amt}} </td>
          <td class="text-right">{{record.taxes.cgst_amt}}<br><span class="tax-percentage">{{record.taxes.cgst_tax}}%</span></td>
          <td class="text-right">{{record.taxes.sgst_amt}}<br><span class="tax-percentage">@{{record.taxes.sgst_tax}}%</span></td>
          <td class="text-right">{{record.taxes.igst_amt}}<br><span class="tax-percentage">@{{record.taxes.igst_tax}}%</span></td>
          <td>{{record.invoice_amount}}</td>
        </tr>
        {% endfor %}
        <tr style="border-top: 1px solid rgba(128, 128, 128, 0.14);font-weight: bold;" class="rm-padding text-right">
          <td colspan="3" style="text-align:left"><b>Total: </b></td>
          <td></td>
          <td>{{showCase.pdf_data.total_quantity}}</td>
          <td></td>
          <td></td>
          <td>{{total_taxes.total_taxable_amt}}</td>
          <td>{{total_taxes.cgst_amt}}</td>
          <td>{{total_taxes.sgst_amt}}</td>
          <td>{{total_taxes.igst_amt}}</td>
          <td>{{total_invoice}}</td>
        </tr>
        <tr class="rm-padding" style="font-weight: bold;">
          <td colspan='12'>
            {% if order_charges %}
            {% for charge in order_charges %}
            <div class="row" ng-repeat="charge in showCase.pdf_data.order_charges">
              <div class="col-xs-6 text-right fs12">
                {{charge.charge_name}}
              </div>
              <div class="col-xs-6 text-right">
                {{charge.charge_amount}}
              </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="row">
              <div class="col-xs-6 text-right fs12">
                Taxable Amount
              </div>
              <div class="col-xs-6 text-right fs12">
                Rs {{total_taxable_amt}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-right fs12">
                Total Tax *
              </div>
              <div class="col-xs-6 text-right fs12">
                Rs {{total_tax}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-right fs12">
                Invoice Total
              </div>
              <div class="col-xs-6 text-right fs12">
                Rs {{total_invoice_amount}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-right fs12">
                Invoice Total (After rounding)
              </div>
              <div class="col-xs-6 text-right fs12">
                Rs {{rounded_invoice_amount}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-right fs12">
                Invoice Total(In Words)
              </div>
              <div class="col-xs-6 text-right">
                <span style="text-transform:uppercase"> {{price_in_words}}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="rm-padding">
          <td colspan='12' style="text-align:left;">
            <b class="pull-left">Dispatched Via:</b>
            <b class="pull-right">{{company_name}}</b><br>
            <span>DECLARATION:</span><br>
            <span>We declare that this invoice hows actual price of the goods described inclusive of taxes and that all particulars are true and correct.</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
