<!-- Modal -->


{% load tag_extras %}
<form id="generate_picklist">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:112%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Picklist</h4>
            </div>

            <div class="modal-body">
                {% if order_status == 'open' and use_imei == 'true' %}
                <div class='row'>
                     <div class='col-md-6'>
                         <div class='col-md-3'><label for='scan_order' ><b> Scan Order ID  </b></label></div>
                         <div class='col-md-6'><textarea class="form-control" rows='1' id='scan_order'></textarea></div>
                     </div>
                </div>
                <hr>
                {% endif %}
                <h5>Picklist ID: <b>{{ picklist_id }}</b></h5>
                <table class="table table-striped">

                    <tr>
                        {% for header in headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>

                    {% for record in data %}
                    <tr id="{{ record.id }}">
                        <input type="hidden" name="order_id_{{ record.id }}" value="{{ record.order_id_id }}">
                        <input type="hidden" name="stock_id_{{ record.id }}" value="{{ record.stock_id }}">
                        <input type="hidden" name="orig_loc_{{ record.id }}" value="{{ record.location }}">
                        <input type="hidden" name="wms_code_{{ record.id }}" value="{{ record.wms_code }}">
                        <input type="hidden" name="title_{{ record.id }}" value="{{ record.title }}">
                        <input type="hidden" name="orig_wms_{{ record.id }}" value="{{ record.sku_code }}">
                        {% if show_image == 'true'%}
                        {% if not record.image == '' %}
                        <td>
                            <div class="Enlarge">
                                <img src="{{ record.image }}" style="width: 30px;height: 50px;"/>
                                <span id='scroll-image'><img src="{{ record.image }}" style="width: 400px;height: 600px;"/></span>
                            </div>
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% endif %}
                        {% if record.status == 'open' %}
                            <td>{{ record.order_no }}</td>
                        {% endif %}
                        <td>
                            {% if record.wms_code == 'TEMP' %}
                                <input type="" name="wmscode_{{ record.id }}" value="{{ record.sku_code }}">
                            {% else %}
                                {{ record.wms_code }}
                            {% endif %}
                        </td>
                        <td>{{ record.title }}</td>
                        <td><input type="text" name="zone_{{ record.id }}" value="{{ record.zone }}" class="mediumbox"/>
                        </td>
                        <td><input type="text" name="location_{{ record.id }}" value="{{ record.location }}"
                                   class="mediumbox"/></td>
                        {% if user|is_pallet_detail %}
                            <td>{{ record.pallet_code }}</td>
                        {% endif %} 
                        <td>{{ record.reserved_quantity }}</td>
                        {% if use_imei == 'true' %}
                        <td><input type="text" name="picked_quantity_{{ record.id }}"
                            class="smallbox quantityvalid numvalid" value="0"/></td>
                        <td><textarea class="form-control" name='imei_{{ record.id}}' rows='1' id='scan_imei'></textarea></td>
                        {% else %}
                        <td><input type="text" name="picked_quantity_{{ record.id }}"
                            class="smallbox quantityvalid numvalid" value="{{ record.reserved_quantity }}"/></td>
                        {% endif %}
                        <td></td>
                    </tr>
                    {% endfor %}

                </table>
                <div class="row col-md-12 insert-status">{{ stock_status }}</div>
                <div class="loading display-none" style="width:112%;">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary print-excel" style="float: left;">Print to Excel</button>
                <button type="button" class="btn btn-primary print">Print Picklist</button>
                <button type="button" class="btn btn-primary confirm-picklist">Confirm</button>
            </div>
        </div>
    </div>
</form>
