
{% load tag_extras %}

<style>
  {% include 'toggle/bootstrap.min.css' %}
  {% include 'toggle/page.css' %}
</style>

<form id="toggle-jo">
  <table style="font-size:12px;width:480px">
    <tbody>
      <tr>
        <td rowspan="3" style="text-align:left;width:380px;"><h4>Job Order</h4></td>
    </tbody>
  </table>
  <br/>
  <div class="form-group clearfix" style="outline: 1px solid #656565;padding: 33px">
    <div>
      <div style="float:left;padding-bottom:20px;">
        <p style="font-weight: bold;">From: </p>
          <p>{{ user_data.company_name }}</p>
            {{ user_data.company_address|linebreaks }}
            {% if user_data.company_telephone %}
              <p><b>Telephone:</b> {{ user_data.company_telephone }}</p>
            {% endif %}

        <p style="font-weight: bold;">To: </p>
          <p>{{ vendor.name }}</p>
          {{ vendor.address|linebreaks }}
          <p><b>Telephone:</b> {{ vendor.phone_number }}</p>
      </div>
      <div style="float:right">
        <p><b>Job Order ID:</b> {{ job_code }}</p>
        <p><b>Date:</b> {{ creation_date }}</p>
      </div>
    </div>
    <div style="clear:both;">
      <table class="table borderless" style="font-size: 12px !important;">
        <thead>
          <tr>
            {% for key, value in material_data.0.items %}
              <th>{{ key }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for data in material_data %}
          <tr>
            {% for key, val in data.items %}
              <td>{{ val }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    <table class='table borderless'>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total Order Quantity</td>
          <td>{{ tot_qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
