
{% load tag_extras %}

<style>
  {% include 'toggle/bootstrap.min.css' %}
  {% include 'toggle/page1.css' %}
</style>

<div class="print-invoice2 mb20">
<div class="invoice-body">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="4"><h3 class="m0" align="center"><b>Job Order</b></h3></td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="row no-margin" style="position:relative;margin-top:10px;">
            <div class="col-md-6 col-xs-6 text-left">

              <p style="font-weight: bold;">From: </p>
              <p>{{ user_data.company_name }}</p>
              {{ user_data.company_address|linebreaks }}
              {% if user_data.company_telephone %}
              <p><b>Telephone:</b> {{ user_data.company_telephone }}</p>
              {% endif %}

              <p style="font-weight: bold;">To: </p>
              <p>{{ vendor.name }}</p>
              {{ vendor.address|linebreaks }}
              <p><b>Telephone:</b> {{ vendor.phone_number }}</p> 

            </div>
            <div class="col-md-6 col-xs-6 text-right">
              <p><b>Job Order ID:</b> {{ job_code }}</p>
              <p><b>Date:</b> {{ creation_date }}</p>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        {% for key, value in material_data.0.items %}
          <th>{{ key }}</th>
        {% endfor %}
      </tr>

      <tr>
        {% for data in material_data %}
          <tr>
            {% for key, val in data.items %}
              <td>{{ val }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td>Total Order Quantity</td>
        <td>{{ tot_qty }}</td>
      <tr>
    </tbody>
  </table>
</div>
</div>
