<form id="toggle-po">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

                <table style="font-size:12px;width:480px">
                    <tbody>
                        <tr>
                            <td rowspan="3" style="text-align:left;"><h4>Job Order</h4></td>
                            <td style="text-align:center;">{{ user_data.company_name}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">{{ user_data.username }}</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">{{ user_data.location }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-body">
                <div class="form-group clearfix">

                    <div>
                        <div style="float: left;">
                            {% if vendor_id %}
                            <p><b>Vendor ID:</b> {{ vendor_id }}</p>
                            {% endif %}
                            {% if vendor_name %}
                            <p><b>Vendor Name:</b> {{ vendor_name }}</p>
                            {% endif %}
                        </div>
                        <div style="float: right;">
                            <p><b>Job Order ID:</b> {{ job_code }}</p>

                            <p><b>Date:</b> {{ creation_date }}</p>
                        </div>
                        <br/> <br/>
                    </div>

                    <div style="clear:both;">
                        <table class="table borderless">
                            <thead>
                            <tr>
                                {% for table_header in headers %}
                                <th>{{ table_header }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in all_data.iteritems %}
                                {% for val in value %}
                                    {% for d,v in val.iteritems %}
                                    <tr>
                                        {% if forloop.parentloop.first %}
                                            <td>{{ key }}</td>
                                            <td>{{ v.5 }}</td>
                                            <td>{{ d }}</td>
                                        {% else %}
                                            <td></td><td></td><td></td>
                                        {% endif %}
                                        <td>{{ v.0 }}</td>
                                        <td>{{ v.1 }}</td>
                                        <td>{{ v.4 }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}

                            <tr>
                                <td></td>
                                <td>Total Product Quantity</td>
                                <td>{{ tot_pro_qty }}</td>
                                <td>Total Material Quantity</td>
                                <td>{{ tot_mat_qty }}</td>
                                <td>  </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary print-po">Print</button>
                </div>
            </div>
        </div>
</form>
