      {% load tag_extras %}

<div>
  <style>
    {% include 'toggle/page1.css' %}
  </style>
  {% for page in data_slices %}
  <div class="print-invoice2 mb20">
    <div class="invoice-body">
      <table class="table table-bordered m0">
        <tbody>
          <tr>
            <td colspan="2">
              <h3 class="m0" align="center"><b>Debit Note</b></h3>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h3 class="m0" align="center"><b>{{ company_name }}</b></h3>
              <p class="m0" align="center">{{ company_address }}</p>
              <center><p>Email Id : </p></center>
              <center><p>PH No : </p></center>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">
              <div class="row m0" style="overflow: hidden;">
                <div class="col-md-12 col-sm-12 col-xs-12 fs14 p0">
                  <div class="col-md-12 p0">
                    <span><b>GSTIN :</b></span><br>
                    <span><b>PAN No :</b></span><br>
                    <span><b>Serial no. of  Debit Note :</b></span><br>
                    <span><b>Date of Debit Note :</b></span><br>
                    <span><b>Original Invoice No. :</b></span><br>
                    <span><b>Date of Issue of the Original Invoice :</b></span><br>
                  </div>
                </div>
              </div>
            </td>
            <td class="fs14">
              <div class="row m0">
                  <strong>Mode of Transport : </strong>{{ po_number }}<br>
                  <strong>Vehicle Number : </strong>{{ order_date }}<br>
                  <strong>Place Of Supply : </strong> {{ bill_no }}<br>
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 50%">
			  <div class="row m0" style="overflow: hidden;">
                <div class="col-md-12 col-sm-12 col-xs-12 fs14 p0">
                  <div class="col-md-12 p0">
                    <h4>Details of Receiver (Billed to) :</h4>
                    <span><b>Address  line 1 :</b></span><br>
                    <span><b>Address  line 2 :</b></span><br>
                    <span><b>City :</b></span><br>
                    <span><b>Pincode :</b></span><br>
                    <span><b>PAN No :</b></span><br>
                  </div>
                </div>
              </div>
			</td>
			<td style="width: 50%">
              <div class="row m0" style="overflow: hidden;">
                <div class="col-md-12 col-sm-12 col-xs-12 fs14 p0">
                  <div class="col-md-12 p0">
                    <h4>Details of Consignee (Shipped to) :</h4>
                    <span><b>Address  line 1 :</b></span><br>
                    <span><b>Address  line 2 :</b></span><br>
                    <span><b>City :</b></span><br>
                    <span><b>Pincode :</b></span><br>
                    <span><b>PAN No :</b></span><br>
                  </div>
                </div>
              </div>
            </td>
		  </tr>
        </tbody>
      </table>
      <table class="table table-bordered bl br cal-table m0">
		<thead>
		<tr align="center">
			<th style="padding:2.5px;" rowspan="2">S.No</th>
			<th style="padding:2.5px;" rowspan="2">Description of Goods</th>
			<th style="padding:2.5px;" rowspan="2">HSN Code</th>
			<th style="padding:2.5px;" rowspan="2">RCM (Y/N)</th>
			<th style="padding:2.5px;" rowspan="2">QTY</th>
			<th style="padding:2.5px;" rowspan="2">Unit</th>
			<th style="padding:2.5px;" rowspan="2">Rate Per Unit</th>
			<th style="padding:2.5px;" rowspan="2">Total</th>
			<th style="padding:2.5px;" rowspan="2">Discount</th>
			<th style="padding:2.5px;" rowspan="2">Taxable value</th>
			<th style="padding:2.5px;" colspan="2">CGST</th>
			<th style="padding:2.5px;" colspan="2">SGST/UTGST</th>
			<th style="padding:2.5px;" colspan="2">IGST</th>
		</tr>
		<tr>
			<th>Rate</th>
			<th>Amount</th>
			<th>Rate</th>
			<th>Amount</th>
			<th>Rate</th>
            <th>Amount</th>
		</tr>
		</thead>
        <tbody>
          {% for i in page %}
          <tr class="fs14 rm-border">
            <td class="text-left" style="padding:2.5px;">1</td>
            <td class="text-left" style="padding:2.5px;">Goods</td>
            <td class="text-left" style="padding:2.5px;">HSN</div></td>
            <td class="text-left" style="padding:2.5px;">RCM</td>
            <td class="text-left" style="padding:2.5px;">QTY</td>
            <td class="text-right" style="padding:2.5px;">Unit</td>
            <td class="text-right" style="padding:2.5px;">Rate</td>
            <td class="text-right" style="padding:2.5px;">Total</td>
			<td class="text-right" style="padding:2.5px;">Discount</td>
            <td class="text-left" style="padding:2.5px;">value</td>
            <td class="text-right" style="padding:2.5px;">1</td>
			<td class="text-right" style="padding:2.5px;">10</td>
			<td class="text-right" style="padding:2.5px;">2</td>
            <td class="text-right" style="padding:2.5px;">20</td>
			<td class="text-right" style="padding:2.5px;">3</td>
            <td class="text-right" style="padding:2.5px;">30</td>
          </tr>
          {% endfor %}
		  <tr style="border-top: 1px solid black;">
			<td class="text-left" style="padding:2.5px;"></td>
            <td class="text-left" style="padding:2.5px;"></td>
            <td class="text-left" style="padding:2.5px;"></div></td>
            <td class="text-left" style="padding:2.5px;"></td>
            <td class="text-left" style="padding:2.5px;">100</td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;">200</td>
            <td class="text-right" style="padding:2.5px;">300</td>
            <td class="text-left" style="padding:2.5px;">400</td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;">500</td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;">600</td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;"></td>
		  </tr>
		  <tr>
            <td class="text-left" style="padding:2.5px;"></td>
            <td class="text-left" style="padding:2.5px;"></td>
            <td class="text-left" style="padding:2.5px;"></div></td>
            <td class="text-left" style="padding:2.5px;"></td>
            <td class="text-left" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-left" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;"></td>
            <td class="text-right" style="padding:2.5px;" colspan="3">Total Invoice Value</td>
            <td class="text-right" style="padding:2.5px;">8181</td>
          </tr>
          {% if forloop.last %}
          <tr>
            <td class="fs14" colspan="5">
              <div class="row m0">
                <div class="col-xs-12 text-left">
                  <span>GRN No. :</span><br>
                  <span>GRN Date:</span><br>
                </div>
              </div>
            </td>
            <td class="fs14 text-center" colspan="15">
              <h5 class="m0">For {{ company_name }}</h5></br></br>
              <h5 class="m0">Authorised Signatory</h5>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
</div>
