<form id="modal-order">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myLargeModalLabel">Place Order</h4>
      </div>
      <div class="modal-body">
        <div class="form-group clearfix">
          {% for create_order in create_order_fields %}
            <div class="row col-md-12">
              {% for order in create_order %}
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-md-5 control-label">{{ order.0 }}</label>
                    <div class="col-md-7">
                      {% if order.1 == "shipment_date" %}
                        <input name="{{ order.1 }}" class="form-control" type="text" id="modal-shipment">
                      {% elif order.1 == "address" %}
                        <textarea rows="4" class="form-control" cols="27" name="{{ order.1 }}"></textarea>
                      {% else %}
                        <input name="{{ order.1 }}" class="form-control" type="text">
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

        <div class="form-group clearfix">
          <hr>
          <div class="form-group">
            <div class="row col-md-12">
              {% for key,value in create_order_fields1.iteritems %}
                <div class="col-md-4">
                  <label class="control-label"> {{ key }} </label>
                </div>
              {% endfor %}
            </div>
          {% for data in selected_skus %}
              <div class="row col-md-12">
                <div class="form-group">
                  <div class="col-md-4">
                    <input type="text" name="sku_id" class="form-control " value="{{ data.sku_id }}">
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="quantity" class="form-control numvalid" value="{{ data.quantity }}">
                  </div>
                  <div class="col-md-3">
                    <input type="text" name="{{ invoice_amount }}" class="form-control numvalid" value="{{ data.invoice_amount }}">
                  </div>
                  <div class="col-md-1">
                    {% if forloop.last %}
                        <img src="/static/img/details_open.png" class="plus1">
                    {% else %}
                        <img src="/static/img/details_close.png" class="plus1">
                    {% endif %}
                  </div>
            </div>
          </div>
          {% endfor %}
        </div>
        </div>
        <div class="row col-md-12 insert-status"></div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
          <button type="submit" class="btn btn-primary" id='add-order-btn'>Create Order</button>
      </div>
      </div>
    </div>
  </div>
</form>
