<!-- Modal -->

{%load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

 <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}"/>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

 <script>
$(document).ready(function(){
    //var today = new Date(),
    //month = today.toLocaleString('en-US', { month: "long" });
    //$('body').find('#date').html(today.toString().replace(/GMT.+/,""))
    //var d = new Date();          
    //var n = d.toLocaleString([], { hour12: true});
    //var data = n.split(",")
    //$('body').find('#date').html(data[0]);
    //$('body').find('#time').html(data[1]);
});
</script>
 {% load tag_extras %}
<div style="margin-right:10px">
<div class="row" style="padding-left: 2px;">
  <div class="col-md-12">
    <center><b>{{ user.userprofile.company_name }}</b></center>
  </div>
</div>
{% if marketplace %}
<div class="row" style="padding-left: 2px;">
  <div class="col-md-12">
    <center><b>Marketplace: {{ marketplace }}</b></center>
  </div>
</div>
{% endif %}

<div class="row" style="padding-left: 2px;">
  <div class="col-md-12">
    <div class="col-md-6">
      <span class="pull-left" style="float: left;"><b>Courier Name: <span>{{ courier_name }}</span></b></span>
    </div>
  </div>
</div>


<div class="row" style="padding-left: 2px;">
  <div class="col-md-12">
    <div class="col-md-6" ng-if="customer_name and not marketplace">
      <span class="pull-left" style="float: left;"><b>Customer Name: <span>{{customer_name}}</span></b></span>
    </div>
  </div>
</div>
{% if customer_address %}
<div class="row" style="padding-left: 2px;" ng-if="customer_address">
  <div class="col-md-12">
    <div class="col-xs-2">
      <span class="pull-left" style="float: left;"><b>Address:</b></span>
    </div>
    <div class="col-xs-5">
      <span class="pull-left" style="float: left;"><span>{{customer_address}}</span></span>
    </div>
  </div>
</div>
{% endif %}
<div class="row" style="padding-left: 2px;">
  <input type="hidden" name="picklist_number" value="{{picklist_id}}">
  <div class="col-md-12">
    <div class="col-md-6">
      <span class="pull-left" style="float: left;"><b>Date: <span id="date">{{date_data.date}}</span></b></span>
    </div>
    <div class="col-md-6" style="float: right;">
      {% if order_ids != 'false' %}
        <span class="pull-right"><b>Order ID: {{ order_ids }} </b></span>
      {% else %}
        <span class="pull-right"><b></b></span>
      {% endif %}
    </div>
  </div>
  <br>
  <div class="col-md-12">
    <div class="col-md-6">
      <span class="pull-left" style="float: left;"><b>Time: <span id="time">{{date_data.time}}</span></b></span>
    </div>
    <div class="col-md-6">
      <span class="pull-right" style="float: right;"><span style="font-size:18px">Total Quantity: {{total_quantity}}</span></span>
    </div>
  </div>
</div>
<div class="row" style="padding-left: 10px;">
  <div class="col-md-12">
    <table class="table table-bordered picklist-table" style="width: 100%; font-size: 12px;">
      <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
      {% for record in data %}
      <tr id="{{ record.id }}">
        {% if display_order_id == 'true' %}
        <td>
          {{ record.original_order_id }}
        </td>
        {% endif %}
        {% if combo_picklist %}
          <td>{{ record.parent_sku_code }}</td>
        {% endif %}
        <td>
          {% if record.wms_code == 'TEMP' %}
          <input type="" name="wmscode_{{ record.id }}" value="{{ record.sku_code }}">
          {% else %}
          {{ record.wms_code }}
          {% endif %}
        </td>
        <td>{{ record.title }}</td>
        <td>{{ record.category }}</td>
        <td>{{ record.zone }}</td>
        <td>{{ record.location }}</td>
        {% if fmcg_industry_type %}
          <td>{{ record.batchno }}</td>
          <td>{{ record.mrp }}</td>
        {% endif %}
        <td>{{ record.reserved_quantity }}</td>
        <td></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% if remarks %}
  <div class="col-md-12">
    <p><b>Remarks: </b>{{remarks}}</p>
  </div>
  {% endif %}
  <div class="col-md-12">
    <table class='table table-bordered hide' style="width: 100%; font-size: 12px; margin-bottom:5px;">
      <tr><th colspan=3>Summary</th></tr>
      <tr>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      <tbody>
        {% for key,value in all_data.iteritems %}
        <tr><td>{{ key }}</td><td>{{ value.0 }}</td><td>{{ value.1 }}</td></tr>
        {% endfor %}
        <tr><td>Total</td><td>{{ total_quantity }}</td><td>{{ total_price }}</td></tr>
      </tbody>
    </table>
    <table style="width: 100%; font-size: 12px;padding-left:20px;">
      <tbody>
        <tr>
          <td>Order Placed by</td>
          <td style="text-align: center">Order Picked by</td>
          <td style="text-align: right">Order Verified by</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row col-md-12 insert-status">{{ stock_status }}</div>
<div class="loading display-none"></div>
</div>
