<!-- Modal -->

<form id="putaway-list">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Goods Receipt Note <span style="position: relative;left:250px;font-size:12px;"> {{ company_name }}</span></h4>
            </div>

            <div class="modal-body">
                <div style='float:left;'>
                {% for data in data_dict %}
                <div><b>{{ data.0 }}</b>: {{ data.1 }}</div>
                {% endfor %}
                </div>
                <div style="float:right">
                    <br/>
                    <div><b>PO Number</b>: {{ po_number }}</div>
                    <div><b>Order Date</b>: {{ order_date }}</div>
                </div>

                <div class="form-group clearfix print-invoice">


                    <table class="table table-borderless table-bordered" style='margin-top:60px;'>
                        <tbody>
                        {% for keys, values in data.items %}
                        <tr class="rm-padding">
                            {% for key in keys %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>

                        {% for value in values %}
                        <tr class="rm-padding">
                            {% for dat in value %}
                            <td>{{ dat }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        </tbody>
                        <br/>
                        <tfoot style='margin-top:20px;'>
                          <tr class="rm-padding">
                              <th>Total</th><th>{{ total_order_qty }}</th>
                            <th>{{ total_received_qty }}</th>
                            <th> </th><th></th><th></th><th></th><th></th><th></th><th>{{ total_price}}</th>
                          </tr>
                        </tfoot>
                    </table>


                </div>
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <!--<div class="modal-footer">
                <button class="btn btn-primary {{ btn_class }}" type="button" id="{{ order_id }}">Proceed to Next Step</button>
                <button type="button" class="btn btn-primary print-grn">Print</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</form>
