<!-- Modal -->


{% load tag_extras %}
<form id="add_rwo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">{{ title }}</h4>
                {% if jo_reference %}
                    <center><span style="font-size: 14px">RWO Reference: <b>{{ jo_reference }}</b></span><center>
                {% endif %}
            </div>

            <div class="modal-body">
                <div class="form-group clearfix">
                    <input type="hidden" name="jo_reference" value="{{ jo_reference }}">
                    <div class="row col-md-12 form-group clearfix">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-5 control-label"> Vendor Name </label>
                                    <div class="col-md-7">
                                        {% if not vendor %}
                                            <select name="vendor" class="form-control">
                                                {% for vendor in vendors %}
                                                    <option value="{{ vendor.vendor_id }}">{{ vendor.vendor_id }}: {{ vendor.name }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                           <input type="text" name="vendor_name" value="{{ vendor.name }}" disabled>
                                           <input type="hidden" name="vendor" value="{{ vendor.vendor_id }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    <table class="table">
                        <tbody>
                            <tr class="active">
                                {% for key, value in headers.iteritems %}
                                    <th>{{ key }}</th>
                                {% endfor %}
                                <th></th>
                            </tr>
                            <tr id="raise-jo-row" class="display-none">
                                {% for key, value in headers.iteritems %}
                                    <td>
                                        {% if 'quantity' in value %}
                                            <center><input type="text" name="{{ value }}" class="numvalid smallbox"></center>
                                        {% else %}
                                            <input type="text" name="{{ value }}">
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td><img src="/static/img/details_open.png" id="add_row"><input type="hidden" name="id"></td>
                            </tr>
                            {% for key, value in data.iteritems %}
                                {% for val in value %}
                                    <tr>
                                            {% if forloop.counter == 1 %}
                                                <td><input type="text" name="product_code" value="{{ key.0 }}" readonly></td>
                                                <td><center><input type="text" name="product_quantity" value="{{ key.1 }}" class="numvalid smallbox">
                                                <center></td>
                                            {% else %}
                                                <td><input type="hidden" name="product_code" value="{{ key.0 }}"></td>
                                                <td><input type="hidden" name="product_quantity" value="{{ key.1 }}"></td>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <input type="hidden" name="id" value="{{ val.id }}">
                                            <input type="text" name="material_code" value="{{ val.material_code }}"></td>
                                        <td>
                                            <center><input type="text" name="material_quantity" value="{{ val.material_quantity }}"
                                                      class="numvalid smallbox"></center>
                                        </td>
                                <td>
                                    {% if forloop.last %}
                                        <img src="/static/img/details_open.png" id="add_row">
                                    {% else %}
                                        <img src="/static/img/details_close.png" id="add_row">
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <center><button type="button" class="btn btn-default add-prod-sku">Add New Product SKU Code</button></center>

                </div>
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="raise-rwo-confirm" name="po-conf-form1">Confirm Work Order
                    </button>
                    <button type="submit" class="btn btn-primary save-rwo">Save</button>
            </div>
        </div>
    </div>
</form>
