<!-- Modal -->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/orders.js' %}"></script>


<form id="add_st">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Raise Stock Transfer</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group clearfix">

                        {% for supplier_fields in st_fields %}
                        <div class="row col-md-12">
                            {% for supplier_field in supplier_fields %}
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-5 control-label"> {{ supplier_field.0 }} </label>

                                    <div class="col-md-7">
                                        <select name="{{ supplier_field.1 }}" class="form-control" value=""
                                               maxlength="{{ supplier_field.2 }}">
                                            {% for users in user_list %}
                                                <option>{{ users }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-group clearfix">
                        <div class="form-group">
                            <div class="row col-md-12">

                                {% for key,value in st_fields1.iteritems %}
                                <div class="col-md-4">
                                    <label class="col-md-12 control-label"> {{ key }} </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group">
                                    {% for key,value in st_fields1.iteritems %}
                                    {% if value == 'price' %}
                                    <div class="col-md-3">
                                        <input type="text" name="{{ value }}" class="form-control pricevalid" value="">
                                    </div>
                                    <div class="col-md-1">
                                        <img src="/static/img/details_open.png" class="plus1">
                                        <input type="hidden" name="id" value="">
                                    </div>
                                    {% elif value == 'order_quantity' %}
                                    <div class="col-md-4">
                                        <input id="quant1" type="text" name="{{ value }}" class="form-control numvalid"
                                               value="">
                                    </div>

                                    {% elif value == 'wms_code' %}
                                    <div class="col-md-4">
                                        <input id="wms1" type="text" name="{{ value }}" class="form-control"
                                               value="">
                                    </div>

                                    {% else %}
                                    <div class="col-md-4">
                                        <input id="wms1" type="text" name="{{ value }}" class="form-control " value="">
                                    </div>

                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="row col-md-12 insert-status"></div>
                    <div class="loading display-none">
                        <div></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="raise-st-confirm" name="po-conf-form1">Confirm Stock Transfer
                    </button>
                    <button type="submit" class="btn btn-primary save-st">Save</button>
                </div>
            </div>
    </div>
</form>
