<!-- Modal -->


{% load tag_extras %}
<form id="raise_job_order">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Raise Job Order</h4>
            </div>

            <div class="modal-body">
                <div class="form-group clearfix">
                    <table class="table">
                        <tbody>
                            <tr class="active">
                                {% for key, value in headers.iteritems %}
                                    <th>{{ key }}</th>
                                {% endfor %}
                                <th></th>
                            </tr>
                            <tr id="raise-jo-row" class="display-none">
                                {% for key, value in headers.iteritems %}
                                    <td>
                                        {% if 'quantity' in value %}
                                            <center><input type="text" name="{{ value }}" class="numvalid smallbox"></center>
                                        {% else %}
                                            <input type="text" name="{{ value }}">
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td><img src="/static/img/details_open.png" id="add_row"></td>
                            </tr>

                        </tbody>
                    </table>
                    <center><button type="button" class="btn btn-default add-prod-sku">Add New Product SKU Code</button></center>

                </div>
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-jo">Save</button>
                <button type="button" class="btn btn-primary confirm-jo">Confirm</button>
            </div>
        </div>
    </div>
</form>
