<!-- Modal -->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}"/>


<div id="confirm-returns">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Scan Returned Orders</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group clearfix">
                        {% for return_fields in toggle_fields %}
                        <div class="row col-md-12">
                            {% for return_field in return_fields %}
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-5 control-label"> {{ return_field.0 }} </label>

                                    <div class="col-md-7">
                                        <textarea class="form-control" name='{{ return_field.1 }}' rows='1' id='{{ return_field.1 }}'></textarea>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <form id="confirm-return-orders">
                        <table class="table table-striped">

                            <tr id='return-headers' class="display-none">
                                {% for header in return_fields %}
                                <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                            <tr id='scan-return-fields' class='display-none'>
                                <td></td>
                                <td><input type='text' name='sku_code' class='mediumbox'></td>
                                <td><input type='text' name='sku_desc'></td>
                                <td><input type='text' name='shipping' class='smallbox numvalid'></td>
                                <td><input type='text' name='return' class='smallbox numvalid'></td>
                                <td><input type='text' name='damaged' class='smallbox numvalid'></td>
                            </tr>

                        </table>
                    </form>
                    <div class="row col-md-12 insert-status"></div>
                    <div class="loading display-none">
                        <div></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirm-sales" name="confirm-sales">Confirm Returns
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
