{% for k,data in orders_data.items %}
  {% for key,value in data.items %}
        <div style="padding-bottom: 10px;" id="{{ k }}:{{ value.index }}" class="order_index">
          <div class="span9 block-container numbersBlock info-header" data-toggle="collapse" data-target=".panel #demo-{{ k }}{{ value.order_data.0.order }}" style="float: none;width:100%;margin-left: 0px;">
            <div class="common-data">
              {% if k == 'purchase-orders' %}
                <div>Order Placed</div>
              {% else %}
                <div>Order Received</div>
              {% endif %}
              <div>{{ value.order_data.0.order_date }}</div>
            </div>

            <div class="common-data">
              <div>Total</div>
              <div>{{ key.1 }}</div>
            </div>

            <div class="common-data">
              {% if k == 'purchase-orders' %}
                <div>Supplier</div>
              {% else %}
                <div>Customer</div>
              {% endif %}
              <div class="text-highlight">{{ value.order_data.0.name }}</div>
            </div>

            <div class="common-data" style="float: right;">
             <div>ORDER # {{ value.order_data.0.order }}</div>
            </div>

          </div>

          {% if k == 'orders' %}
            <div class="span9 block-container numbersBlock info-body collapse in" id="demo-{{ k }}{{ value.order_data.0.order }}" style="float: none;width:100%;margin-left: 0px;">
          {% else %}
            <div class="span9 block-container numbersBlock info-body collapse" id="demo-{{ k }}{{ value.order_data.0.order }}" style="float: none;width:100%;margin-left: 0px;">
          {% endif %}

            <div class="row">
              <div class="col-md-9">
                {% for item in value.order_data %}

                  <div style="height:120px;" class="row">
                    <div class="col-md-3">
                      {% if item.image_url != '' %}
                        <img src="{{ item.image_url }}" class="img-rounded" alt="{{ item.sku_desc }}" width="100" height="100">
                      {% else %}
                        <img src="/static/img/default-image.jpg" class="img-rounded" alt="{{ item.sku_desc }}" width="100" height="100">
                      {% endif %}
                    </div>
                    <div class="col-md-7" style="padding-top: 14px;">
                      <div>Product title:<span>  {{ item.sku_desc }}</span></div>
                      <div>SKU Code: {{ item.sku_code }}</div>
                      <div>Quantity: {{ item.quantity }}</div>
                      <div>Price:<span class="price-color">{{ item.price }}</span></div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="stage col-md-2" id="{{ value.stage }}" style="margin-right:30px;float:right;margin-bottom:20px;"></div>
            </div>
          </div>
        </div>

  {% endfor %}
{% endfor %}
