<!-- Modal -->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/orders.js' %}"></script>


<form id="add_po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Raise PO</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group clearfix">
                    <label class="pull-right space-adjust" style="height:35px;"><b>Send Emails and Messages</b>
                        {% if send_message == "true" %}
                        <input type="checkbox" name="send-message" checked data-size="mini" data-off-color="warning">
                        {% else %}
                        <input type="checkbox" name="send-message" data-size="mini" data-off-color="warning">
                        {% endif %}
                    </label>

                        {% for supplier_fields in po_fields %}
                        <div class="row col-md-12">
                            {% for supplier_field in supplier_fields %}
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-5 control-label"> {{ supplier_field.0 }} </label>

                                    <div class="col-md-7">
                                        {% if supplier_field.1 == "supplier_id" %}
                                        <select class="form-control" name="{{ supplier_field.1 }}" value="">
                                            {% for supplier in suppliers %}
                                            <option value="{{ supplier.id }}">{{ supplier.id }} : {{ supplier.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        {% elif supplier_field.1 == "order_quantity" or supplier_field.1 == "unit_price" %}
                                        <input type="text" name="{{ supplier_field.1 }}" class="form-control" value=""
                                               maxlength="{{ supplier_field.2 }}">
                                        {% else %}
                                        <input type="text" name="{{ supplier_field.1 }}" class="form-control" value=""
                                               maxlength="{{ supplier_field.2 }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-group clearfix">
                        <div class="form-group">
                            <div class="row col-md-12">

                                {% for key,value in po_fields1.iteritems %}
                                <div class="col-md-3">
                                    <label class="col-md-12 control-label"> {{ key }} </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group">
                                    {% for key,value in po_fields1.iteritems %}
                                    {% if value == 'price' %}
                                    <div class="col-md-2">
                                        <input type="text" name="{{ value }}" class="form-control pricevalid" value="">
                                    </div>
                                    <div class="col-md-1">
                                        <img src="/static/img/details_open.png" class="plus1">
                                    </div>
                                    {% elif value == 'order_quantity' %}
                                    <div class="col-md-3">
                                        <input id="quant1" type="text" name="{{ value }}" class="form-control numvalid"
                                               value="">
                                    </div>

                                    {% elif value == 'wms_code' %}
                                    <div class="col-md-3">
                                        <input id="wms1" type="text" name="{{ value }}" class="form-control mapping-check"
                                               value="">
                                    </div>

                                    {% else %}
                                    <div class="col-md-3">
                                        <input id="wms1" type="text" name="{{ value }}" class="form-control " value="">
                                    </div>

                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="row col-md-12 insert-status"></div>
                    <div class="loading display-none">
                        <div></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="po-conf-form1" name="po-conf-form1">Confirm PO
                    </button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
    </div>
</form>
