<!-- Modal -->


{% load tag_extras %}
<form id="transfer-orders">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Transfer Orders</h4>
            </div>

            <div class="modal-body">
                <div class="form-group clearfix">
                <table class="table table-striped">

                    <tr>
                        {% for header in headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>

                    {% for dat in data %}
                    <tr>
                        <td>
                            {{ dat.order_id }}
                            <input type="hidden" name="order_id" value="{{ dat.id }}">
                        </td>
                        <td>{{ dat.wms_code }}</td>
                        <td>{{ dat.title }}</td>
                        <td>{{ dat.quantity }}</td>
                        <td>
                            <select class="form-control" name="transfer_to">
                                <option></option>
                                    {% for key,value in options.iteritems %}
                                        <option>{{ key }} ({{ value }})</option>
                                    {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
                <div class="row col-md-12 insert-status"></div>
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger right-float confirm-transfer">Confirm Transfer
                </button>
                </div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

        </div>
    </div>
</form>
