<!-- Modal -->


{% load tag_extras %}
<form id="update_location">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Location Data</h4>
            </div>

            <div class="modal-body">
                <div class="form-group clearfix">

                    {% for location_data in update_location %}
                    <div class="row col-md-12">
                        {% for location in location_data %}
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-5 control-label"> {{ location.0 }} </label>

                                <div class="col-md-7">
                                    {% if location.1 == "status" %}
                                    <select class="form-control" name="{{ location.1 }}"
                                            value="{{ data|get_id:location.1 }}">
                                        {% if data.status == 1 %}
                                        <option>Active</option>
                                        <option>Inactive</option>
                                        {% else %}
                                        <option>Inactive</option>
                                        <option>Active</option>
                                        {% endif %}
                                    </select>
                                    {% elif location.1 == "location" %}
                                    <input type="text" name="{{ location.1 }}" class="form-control" value="{{ data|get_id:location.1 }}" readonly="readonly" maxlength="{{ location.2 }}">
                                    {% elif location.1 == "zone_id" %}
                                    <input type="text" name="{{ location.1 }}" class="form-control" value="{{ data.zone.zone }}" readonly="readonly"  maxlength="{{ location.2 }}">

                                    {% elif location.1 == "max_capacity" or location.1 == "pick_sequence" or location.1 == "fill_sequence" %}
                                    <input type="text" name="{{ location.1 }}" class="form-control numvalid"
                                           value="{{ data|get_id:location.1 }}">
                                    {% elif location.1 == "lock_status" %}
                                    <select class="form-control" name="{{ location.1 }}"
                                            value="{{ data|get_id:location.1 }}">
                                        {% for lock in lock_fields %}
                                            {% if data.lock_status == lock %}
                                            <option selected>{{ lock }}</option>
                                            {% else %}
                                            <option>{{ lock }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>

                                    {% elif location.1 == "location_group" %}
                                    <select class="form-control" name="{{ location.1 }}"
                                            value="">
                                        {% for group in all_groups %}
                                            {% if location_group == group %}
                                            <option selected>{{ group }}</option>
                                            {% else %}
                                            <option>{{ group }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        <option>ALL</option>
                                    </select>

                                    {% else %}
                                    <input type="text" name="{{ location.1 }}" class="form-control"
                                           value="{{ data|get_id:location.1 }}" maxlength="{{ location.2 }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    {% endfor %}
                </div>
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
