{% load tag_extras %}
<form id="update_sku_supplier">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">SKU Supplier Data</h4>
            </div>

            <div class="modal-body">
                <div class="form-group clearfix">
                    {% for records in data %}
                    <div class="row col-md-12">
                        {% for record in records %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-5 control-label"> {{ record.0 }} </label>

                                <div class="col-md-7">
                                    {% if record.0 == "Supplier ID" or record.0 == "WMS Code" %}
                                    <input type="text" name="{{ record.1.0 }}" class="form-control"
                                           value="{{ record.1.1 }}" disabled="disabled">
                                    {% elif record.1.0 == "preference" or record.0 == "MOQ"%}
                                    <input name="{{ record.1.0 }}" type="text" class="form-control numvalid"
                                           value="{{ record.1.1 }}" maxlength="{{ record.2 }}">

                                    {% else %}
                                    <input type="text" name="{{ record.1.0 }}" class="form-control"
                                           value="{{ record.1.1 }}" maxlength="{{ record.2 }}">
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="data-id" value="{{ record_id }}">

                </div>
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>

