<!-- Modal -->


{% load tag_extras %}
<form id="update_customer">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Customer Data</h4>
            </div>

            <div class="modal-body">
                <div class="form-group clearfix">

                    {% for supplier_data in update_supplier %}
                    <div class="row col-md-12">
                        {% for supplier in supplier_data %}
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-5 control-label"> {{ supplier.0 }} </label>

                                <div class="col-md-7">
                                    {% if supplier.1 == "status" %}
                                    <select class="form-control" name="{{ supplier.1 }}"
                                            value="{{ data|get_id:supplier.1 }}">
                                        {% if data.status == 1 %}
                                        <option>Active</option>
                                        <option>Inactive</option>
                                        {% else %}
                                        <option>Inactive</option>
                                        <option>Active</option>
                                        {% endif %}
                                    </select>

                                    {% elif supplier.1 == "id" %}
                                    <input type="text" name="{{ supplier.1 }}" class="form-control"
                                           value="{{ data|get_id:supplier.1 }}" readonly="readonly">
                                    {% elif supplier.1 == "email_id" %}
                                    <input type="text" name="{{ supplier.1 }}" class="form-control"
                                           value="{{ data|get_id:supplier.1 }}" id="email_validate"
                                           maxlength="{{ supplier.2 }}">

                                    {% elif supplier.1 == "phone_number" %}
                                    <input name="{{ supplier.1 }}" type="text" class="form-control numvalid"
                                           value="{{ data|get_id:supplier.1 }}" maxlength="{{ supplier.2 }}">
                                    {% elif supplier.1 == "address" %}
                                    <textarea rows="4" cols="27" class="form-control" name="{{ supplier.1 }}">{{ data|get_id:supplier.1 }}</textarea>
                                    {% elif supplier.1 == "name" %}
                                    <input type="text" name="{{ supplier.1 }}" class="form-control namevalid"
                                           value="{{ data|get_id:supplier.1 }}" maxlength="{{ supplier.2 }}">
                                    {% else %}
                                    <input type="text" name="{{ supplier.1 }}" class="form-control"
                                           value="{{ data|get_id:supplier.1 }}" maxlength="{{ supplier.2 }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    {% endfor %}
                </div>
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
