<!-- Modal -->


{% load tag_extras %}
<form id="update_sku" method="POST" action="/update_sku/" enctype="multipart/form-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">SKU Data</h4>
            </div>

            <div class="modal-body">
                <div class="form-group clearfix market-details">

                    <input type="hidden" name="data_id" class="form-control"
                            value="{{ data.id }}">

                    {% for sku_data in update_sku %}
                    <div class="row col-md-12">
                        {% for sku in sku_data %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-5 control-label"> {{ sku.0 }} </label>

                                    <div class="col-md-7">
                                        {% if sku.1 == "status" %}
                                            <select class="form-control" name="{{ sku.1 }}" value="{{ data|get_id:sku.1 }}">
                                                {% if data.status == 1 %}
                                                    <option>Active</option>
                                                    <option>Inactive</option>
                                                {% else %}
                                                    <option>Inactive</option>
                                                    <option>Active</option>
                                                {% endif %}
                                            </select>

                                        {% elif sku.1 == "qc_check" %}
                                            <select class="form-control" name="{{ sku.1 }}" value="{{ data|get_id:sku.1 }}">
                                                {% if data.qc_check == 1 %}
                                                    <option>Enable</option>
                                                    <option>Disable</option>
                                                {% else %}
                                                    <option>Disable</option>
                                                    <option>Enable</option>
                                                {% endif %}
                                            </select>

                                        {% elif sku.1 == "zone_id" %}
                                            <select class="form-control" name="{{ sku.1 }}" value="{{ zone_name }}">
                                                {% for zone in zones %}
                                                    {% if zone_name == zone.zone %}
                                                        <option selected="selected">{{ zone.zone }}</option>
                                                    {% else %}
                                                        <option>{{ zone.zone }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>

                                        {% elif sku.1 == "sku_type" %}
                                        <select class="form-control" name="{{ sku.1 }}">
                                            <option></option>
                                            {% if data.sku_type == 'FG' %}
                                                <option selected>FG</option>
                                                <option>RM</option>
                                            {% elif data.sku_type == 'RM' %}
                                                <option>FG</option>
                                                <option selected>RM</option>
                                            {% else %}
                                                <option>FG</option>
                                                <option>RM</option>
                                            {% endif %}
                                        </select>

                                        {% elif sku.1 == "sku_code" or sku.1 == "wms_code" %}
                                            <input type="text" name="{{ sku.1 }}" class="form-control"
                                               value="{{ data|get_id:sku.1 }}" readonly="readonly">
                                        {% elif sku.1 == "threshold_quantity" %}
                                            <input type="text" name="{{ sku.1 }}" class="form-control numvalid"
                                               value="{{ data|get_id:sku.1 }}" maxlength="{{ sku.2 }}">
                                        {% elif sku.1 == "sku_group" %}
                                            <select class="form-control" name="{{ sku.1 }}" value="">
                                                <option></option>
                                                {% for group in all_groups %}
                                                    {% if data.sku_group == group %}
                                                        <option selected="selected">{{ group }}</option>
                                                    {% else %}
                                                        <option>{{ group }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <input type="text" name="{{ sku.1 }}" class="form-control"
                                               value="{{ data|get_id:sku.1 }}" maxlength="{{ sku.2 }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <div class="row col-md-12" style="padding: 10px 0 0 30px">
                        <div class="col-md-2">
                            <b>SKU Image Upload</b>
                        </div>
                        <div class="col-md-2" style="padding-left:45px">
                            <span class="btn btn-default btn-file" style="width:200px;"> Upload Image
                                <input type="file" id="image-upload" name="files" multiple="">
                            </span>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <hr>
                        {% for market in market_list %}
                            {% if forloop.last %}
                                <div class="col-md-5">
                            {% else %}
                                <div class="col-md-3">
                            {% endif %}
                                <center><b> {{ market }} </b></center>
                            </div>
                        {% endfor %}
                    </div>
                    {% if not market_data %}
                        <div class="row col-md-12" id="new-market">
                    {% else %}
                        <div class="row col-md-12 display-none" id="new-market">
                    {% endif %}
                            <div class="col-md-3">
                                <select name="market_sku_type" class="form-control">
                                    <option></option>
                                    {% for place in marketplace_list %}
                                        <option>{{ place }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3"><input type="text" name="marketplace_code" class="form-control"></div>
                            <div class="col-md-5"><input type="text" name="description" class="form-control"></div>
                            <div class="col-md-1"><img src="/static/img/details_close.png" class="del-map"></div>
                        </div>
                        {% for data in market_data %}
                            <div class="row col-md-12">
                                {% for key,value in data.iteritems %}
                                    {% if key == 'description' %}
                                        <div class="col-md-5">
                                            <input type="text" name="{{ key }}" class="form-control" value="{{ value }}" readonly>
                                        </div>
                                    {% elif key == 'market_id' %}
                                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                                    {% else %}
                                        <div class="col-md-3">
                                            <input type="text" name="{{ key }}" class="form-control" value="{{ value }}" readonly>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="col-md-1"><img src="/static/img/details_close.png" class="del-map"></div>
                            </div>
                        {% endfor %}
                        {% if marketplace_list %}
                            <center>
                                <button type="button" class="btn btn-default add-market" style="margin-top:10px">Add New Market place</button>
                            </center>
                        {% endif %}
                        {% if combo_data %}
                            <div class="row col-md-12">
                                <hr>
                                {% for header in combo_sku_headers %}
                                    <div class="col-md-6"><center><b> {{ header }} </b></center></div>
                                {% endfor %}
                            </div>
                            {% for data in combo_data %}
                                <div class="row col-md-12">
                                    {% for key,value in data.iteritems %}
                                        <div class="col-md-6">
                                            <input type="text" name="{{ key }}" class="form-control" value="{{ value }}" readonly>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                        {% if image %}
                            <div class='row'>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div style="padding-left: 560px;padding-top: 24px;">
                                            <img src="{{ image }}" style="width: 90px;height: 150px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <br><div class="row col-md-12 insert-status"></div>
                        <div class="loading display-none">
                        <div></div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary save">Save</button>
            </div>
        </div>
    </div>
</form>
