<!-- Modal -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/orders.js' %}"></script>

<form id="update-po">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Update PO</h4>
            </div>

            <div class="modal-body">
                <div class="form-group clearfix">
                    <label class="pull-right space-adjust" style="height:35px;"><b>Send Emails and Messages</b>
                        {% if send_message == "true" %}
                        <input type="checkbox" name="send-message" checked data-size="mini" data-off-color="warning">
                        {% else %}
                        <input type="checkbox" name="send-message" data-size="mini" data-off-color="warning">
                        {% endif %}
                    </label>

                    {% for records in data %}
                    <div class="row col-md-12">
                        {% for record in records %}
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-5 control-label"> {{ record.0 }} </label>

                                <div class="col-md-7">

                                    {% if record.0 == "Supplier ID" or record.0 == "WMS CODE" %}
                                    <input type="text" name="{{ record.1.0 }}" class="form-control"
                                           value="{{ record.1.1 }}" readonly>

                                    {% else %}
                                    <input type="text" name="{{ record.1.0 }}" class="form-control"
                                           value="{{ record.1.1 }}" maxlength="{{ record.2 }}">
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="form-group clearfix">
                    <div class="row col-md-12">
                        <div class="form-group">
                            {% for key,value in po_fields1.iteritems %}
                            <div class="col-md-3">
                                <label class="col-md-12 control-label"> {{ key }} </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% for record in records %}
                    <div class="row col-md-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <input type="text" id="wms1" name="wms_code" class="form-control mapping-check"
                                       value="{{ record.sku.wms_code }}" readonly>
                            </div>

                            <div class="col-md-3">
                                <input type="text" id="supp1" name="supplier_code" class="form-control"
                                       value="{{ record.supplier_code }}">
                            </div>

                            <div class="col-md-3">
                                <input type="text" id="quant1" name="order_quantity" class="form-control numvalid"
                                       value="{{ record.order_quantity }}">
                            </div>

                            <div class="col-md-2">
                                <input type="text" name="price" class="form-control" value="{{ record.price }}">
                                <input type="hidden" name="data-id" value="{{ record.id }}">
                            </div>
                            <div class="col-md-1">
                                {% if forloop.counter == records|length %}
                                <img src="/static/img/details_open.png" class="plus2">
                                {% else %}
                                <img src="/static/img/details_close.png" class="plus2">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="po-conf-form" name="po-conf-form">Confirm PO</button>
                <button type="submit" class="btn btn-primary" id="po-save-form" name="po-save-form">Save</button>
            </div>
        </div>
    </div>
</form>
