<!-- Modal -->

{% load tag_extras %}
<form id="putaway_confirmation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Putaway Confirmation</h4>
            </div>

            <div class="modal-body">
                <h5>PO Number: <b>{{ po_number }}</b></h5>
                <table class="table table-striped">

                    <tr>
                        {% for header in headers %}
                        {% if header == 'Pallet Number' and not user|is_pallet_detail %}
                        {% else %}
                        <th>{{ header }}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>

                    {% for value in data %}
                    <tr id="{{ value.5 }}" class="receive-toggle">
                        <td>{{value.0}}</td>
                        <td><input type="hidden" name="id" value="{{ value.5 }}">
                            <input type="hidden" name="orig_loc_id" value="{{ value.4 }}">
                            <input type="hidden" name="po_id" value="{{ order_id }}">
                            <input type="text" name="loc" value="{{ value.1 }}" class="mediumbox">
                            <input type="hidden" name="orig_data" value="{{ value.7 }}">
                        </td>
                        {% if user|is_pallet_detail %}
                        <td>{{ value.6 }}</td>
                        {% endif %}
                        <td>{{ value.2 }}</td>
                        {% if user|is_pallet_detail and value.6 %}
                        <td><input type="text" name="quantity" value="{{value.3}}" class="mediumbox put_quantity" readonly></td>
                        {% else %}
                        <td><input type="text" name="quantity" value="{{value.3}}" class="mediumbox put_quantity numvalid"></td>
                        {% endif %}
                        <td></td>
                    </tr>
                    {% endfor %}

                </table>
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary print">Print</button>
                <button type="button" class="btn btn-primary confirm-putaway">Confirm Putaway</button>
            </div>
        </div>
    </div>
</form>
