<!-- Modal -->

{% load tag_extras %}
<form id="jo-form">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Receive Job Order</h4>
            </div>

            <div class="modal-body" style="border:none;">
                     <table class="table" id='grn-table'>
                <tbody>
                    <tr class="active">
                      {% for header in headers %}
                         <th>{{ header }}</th>
                      {% endfor %}
                    </tr>

                {% for id, records in data.items %}
                   {% for record in records %}
                   <tr id="{{ id }}">
                        <td>
                            {{ record.wms_code }}
                            <input type="hidden" name="id" value="{{ id }}">
                        </td>
                        <td>{{ record.product_quantity }}</td>
                        {% if temp == "true"%}
                            <td>
                                {% if not record.stages_list %}
                                <input type='text' name='pallet_number' class='smallbox' value='{{ record.pallet_number}}'>
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            <input type='text' id='receive_quantity' name = 'received_quantity' class='smallbox' 
                               value='{{ record.received_quantity }}'>
                        </td>
                        <td>
                            {% if record.stages_list %}
                                <select class="form-control" name="stage" value="" style="width: auto;">
                                    {% for stage in record.stages_list %}
                                        <option>{{ stage }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="text" name="stage" value="Finished" readonly>
                            {% endif %}
                        </td>
                        {% if temp == "true" %}
                        <td>
                            {% if not record.stages_list %}
                                <img id='add-receive-jo' src='/static/img/details_open.png'/>
                            {% endif %}
                        </td>
                        {% endif %}

                   </tr>
                   {% endfor %}
                {% endfor %}
                
            </tbody>
            </table>

                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-receive-jo">Save</button>
                <button type="button" class="btn btn-primary right-float rm-generate-grn">Generate GRN</button>
            </div>
        </div>
    </div>
</form>
