<!-- Modal -->

{% load tag_extras %}
<form id="grn-form">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Generate GRN</h4>
                <div class="text-center">{{ po_reference }}</div>
            </div>

            <div class="modal-body" style="border:none;">
                    <input type = 'hidden' name = 'po_id' value ={{ po_id }} >
                     <input type = 'hidden' name = 'supplier_id' value ={{ supplier_id }} >
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='col-md-3'><label for='lr_number' ><b> LR Number  </b></label></div>
                            <div class='col-md-3'><input type=text name='lr_number' /></div>
                        </div>
                        <div class='col-md-6'>
                            <div class='col-md-3'><label for='carrier_name' ><b>Carrier Name </b></label></div>
                            <div class='col-md-3'><input type=text name='carrier_name' /></div>
                        </div>
                    </div>
                    {% if use_imei == 'true' %}
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='col-md-3'><label for='scan_sku' ><b> Scan SKU  </b></label></div>
                            <div class='col-md-5'><textarea class="form-control" name='scan_sku' rows='1' cols='18' id='scan_sku'></textarea></div>
                        </div>
                    </div>
                    {% endif %}
                    <hr>
                     <table class="table" id='grn-table'>
                <tbody>
                    <tr class="active">
                      {% for header in headers %}
                         <th>{{ header }}</th>
                      {% endfor %}
                    </tr>

                {% for id, record in data.items %}
                   <tr id="{{ id }}">
                        <td>
                          {% if record.wms_code == 'TEMP' %}
                            <input type="text" name="wms_code" value="{{ record.temp_wms }}" style="width:90px">
                          {% else %}
                            {{ record.wms_code }}
                          {% endif %}
                        </td>
                        <td>{{ record.po_quantity }}</td>
                        {% if temp == "true" %}
                            <td><input type='text' name='pallet_number' class='smallbox' value='{{ record.1}}'>
                        {% endif %}
                        {% if use_imei == 'true' %}
                        <td>
                            <input type='text' id='receive_quantity' name = '{{ record.name }}' class='smallbox' value='0'>
                        </td>
                        <td>
                            <textarea class="form-control" name='imei_number' rows='1' id='scan_imei'></textarea>
                        </td>
                        {% else %}
                        <td>
                            <input type='text' id='receive_quantity' name = '{{ record.name }}' class='smallbox' value='{{ record.value }}'>
                        </td>
                        {% endif %}
                        <td>{{ record.price }}</td>
                        <td>
                            <img id='add-receive-po' src='/static/img/details_open.png'/>
                        </td>

                   </tr>
                {% endfor %}
            </tbody>
            </table>

                <div class="row col-md-12 insert-status">{{ stock_status }}</div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left close-po">Close PO</button>
                <button type="button" class="btn btn-primary save-po">Save</button>
                <button type="button" class="btn btn-primary right-float generate-grn">Generate GRN</button>
            </div>
        </div>
    </div>
</form>
