<!-- Modal -->


{% load tag_extras %}
<form id="wms_quality_wise">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">WMS Code wise Quality Check</h4>
            </div>

            <div class="modal-body">
                <div class="form-group clearfix">
                    <div class="row col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="Enlarge" style="padding-left: 20px;padding-top: 24px;">
                                    <img src="{{ image }}" style="width: 90px;height: 150px;">
                                    <span><img src="{{ image }}" style="width: 400px;height: 600px;"/></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            {% for key,value in sku_data.iteritems %}
                                {% if value != "" %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{{ key }}<label>
                                        </div>
                                        <div class="col-md-6">
                                            <b>{{ value }}</b>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr class="active">
                                {% for header in headers %}
                                    <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                            {{ qc_data }}
                            {% for data in data_dict %}
                                <tr id="{{ data.id }}">
                                    <td>
                                        <input type="hidden" name="id" value="{{ data.id }}">
                                        {{ data.order_id }}
                                    </td>
                                    <td>{{ data.quantity }}</td>
                                    {% if use_imei == 'false'%}
                                    <td>
                                        <input type="text" name="accepted_quantity" value="{{ data.accepted_quantity }}"
                                           class="smallbox numvalid">
                                    </td>
                                    <td>
                                        <input type="text" name="rejected_quantity" value="{{ data.rejected_quantity }}"
                                          class="smallbox numvalid">
                                    </td>
                                    {% else %}
                                    <td>
                                        <input type="text" name="accepted_quantity" value="{{ data.accepted_quantity }}" class="smallbox"
                                         disabled>
                                    </td>
                                    <td>
                                        <input type="text" name="rejected_quantity" value="{{ data.rejected_quantity }}" class="smallbox"
                                         disabled>
                                    </td>

                                    {% endif %}
                                      

                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% if use_imei == 'true' %}
                    <table class="table-padding">
                        <tr>
                            <th>Scan Serial Number</th>
                            <td><textarea name="serial_number" rows="1" id="scan-qc"></textarea></td>
                            <td>
                                <button class="form-control" type="button" name="accept" disabled>Accept</button></td><td>
                                <button class="form-control" type="button" name="reject" disabled>Reject</button>
                            </td>
                            <td>
                                <select id="reject_reason" class="form-control display-none">
                                    {% for opt in options %}
                                        <option>{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button type="button" class="form-control btn-default display-none" id="save-reason">Done</button>
                            </td>
                        </tr>
                    </table>
                    {% endif %}

                </div>
                <div class="row col-md-12 insert-status"></div>
                <div class="loading display-none">
                    <div></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-scanned">Save</button>
            </div>
        </div>
    </div>
</form>
