<div id="page-pop" class="modal fade process-toggle in over-x" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="display: block; padding-left: 13px;">
  <!-- Modal -->
  <form id="jo-generate-picklist">
    <div class="modal-dialog modal-lg">
      <div class="modal-content mw60">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">Confirmed Job Order</h4> </div>
        <div class="modal-body">
          <div class="form-group clearfix">
           <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Jo Reference </label>
                <input type="text" value="{{showCase.model_data.jo_reference}}" class="form-control" name="job_code" readonly>
              </div>
            </div>
            <div class="col-md-4 col-xs-6" ng-if="showCase.order_ids_list">
              <div class="form-group">
                <label class="control-label"> Order Id </label>
                <input type="text" value="{{showCase.order_ids_list}}" class="form-control" name="job_code" disabled>
              </div>
            </div>
            <div class="col-md-4 col-xs-6" ng-if="showCase.vendor_produce">
              <div class="form-group">
                <label class="control-label"> Vendor id </label>
                <input type="text" value="{{showCase.model_data.vendor_id}}" class="form-control" name="vendor_id" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Product SKU Code</th>
                    <th>Product SKU Quantity</th>
                    <th>Material SKU Code</th>
                    <th>Material SKU Quantity</th>
                    <th>Units of Measurement</th>
                    <th class="plus"></th>
                  </tr>
                </thead>
                <tbody ng-repeat="data in showCase.model_data.results">
                  <tr ng-repeat="item in data.data">
                    <td>
                      <input type="hidden" name="id" value="{{item.id}}">
                      <input ng-show="$first" ng-readonly="showCase.update" type="text" name="product_code" ng-model="data.product_code" class="form-control">
                    </td>
                    <td>
                      <input ng-show="$first" type="text" name="product_quantity" ng-model="data.product_description" class="form-control" ng-readonly="showCase.update">
                    </td>
                    <td>
                      <input type="text" name="material_code" ng-model="item.material_code" class="form-control" ng-readonly="showCase.update">
                    </td>
                    <td>
                      <input type="text" name="material_quantity" class="form-control" value="{{item.material_quantity}}" ng-readonly="showCase.update">
                    </td>
                    <td>
                      <input type="text" name="measurement" class="form-control" value="{{item.measurement_type}}" ng-readonly="showCase.update">        
                    </td>
                    <td ng-include="'views/production/toggle/common/custom_sku_details.html'">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
          <button type="button" class="btn pop pop-green" ng-if="(!(showCase.vendor_produce))" ng-click="showCase.generate('jo_generate_picklist/')">Generate Picklist</button>
          <button type="button" class="btn pop pop-green" ng-if="showCase.vendor_produce" ng-click="showCase.generate('generate_vendor_picklist/')">Vendor Generate Picklist</button>
        </div>
      </div>
    </div>
  </form>
</div>
