<div id="page-pop" class="modal fade in" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="display: block;">
  <!-- Modal -->
  <form id="putaway_jo">
    <div class="modal-dialog modal-lg model-custom">
      <div class="modal-content">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">Job Order Putaway</h4> 
        </div>
        <div id="print_putaway" class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="job_code" class="control-label"> Job Order </label>
                <input class="form-control" value="{{showCase.model_data.job_code}}" type="text" name="job_code" disabled>
              </div>
            </div>
            <div class="col-md-4" ng-if="showCase.model_data.order_ids">
              <div class="form-group">
                <label for="job_code" class="control-label"> Order ID </label>
                <input class="form-control" value="{{showCase.model_data.order_ids.toString()}}" type="text" name="order_id" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row" id="jo-putaway">
            <table class="table">
	      <thead>
                <tr>
                  <th>SKU CODE</th>
                 <th> Location </th>
                 <th ng-if="showCase.permissions.pallet_switch"> Pallet Code </th>
                 <th> Original Quantity </th>
                 <th> Putaway Quantity </th>
		 <th ng-if="showCase.industry_type=='FMCG'"> Batch No </th>
		<!-- <th> Buy price </th>-->
		 <th ng-if="showCase.industry_type=='FMCG'"> MRP </th>
		 <th ng-if="showCase.industry_type=='FMCG'"> Mfg.Date </th>
		 <th ng-if="showCase.industry_type=='FMCG'"> Exp.Date </th>
                 <th class="detail"></th>
                 <th class="plus"></th>
               </tr>
              </thead>
              <tbody ng-repeat="data in showCase.model_data.data">
                <tr ng-repeat="record in data.sub_data" class="field">
                  <input type="hidden" name="id" value="{{data.id}}">
                  <input type="hidden" name="pallet_number" value="{{data.pallet_number}}">
                  <td><input type="text" name="wms_code" class="form-control" value="{{data.wms_code}}" ng-readonly="showCase.update"></td>
                  <td><input type="text" name="location" class="form-control" ng-model="record.location"></td>
                  <td ng-if="showCase.permissions.pallet_switch"><input ng-if="data.load_unit_handle == 'pallet'" type="text" name="pallet_code" class="form-control" ng-model="data.pallet_code" disabled></td>
                  <td><input type="text" name="original_quantity" class="form-control" ng-model="data.product_quantity" ng-disabled="showCase.update"></td>
                  <td><input type="text" name="putaway_quantity" class="form-control" ng-model="record.putaway_quantity" ng-change="showCase.cal_quantity(record, data)" ng-class="service.get_decimal_perm()"></td>
		  <td ng-if="showCase.industry_type=='FMCG'"><input type="text" name="batch_no" class="form-control" ng-mode="data.batch_no"></td>
		 <!-- <td><input type="text" ng-model="data.buy_price" size="22" name="buy_price" class="form-control" ng-class="service.get_decimal_perm()" ng-class="service.get_decimal_perm()"></td>-->
		  <td ng-if="showCase.industry_type=='FMCG'"><input type="text" size="22" name="mrp" class="form-control" ng-class="service.get_decimal_perm()"></td>
		  <td ng-if="showCase.industry_type=='FMCG'"><input name="mfg_date" ui-jq="datepicker" size="33" title="{{ data.mfg_date }}" ng-change="getExpiryDate(innerIndex, outerIndex)" class="form-control stk-readonly mfgDate" type="text" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}"></td>
                   <td ng-if="showCase.industry_type=='FMCG'"><input name="exp_date" ui-jq="datepicker" size="33"  title="{{ data.exp_date }}" class="form-control stk-readonly expiryDatePicker" type="text" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}" ng-change="showCase.check_exp_date(data.exp_date, showCase.self_life_ratio, innerIndex, outerIndex)"></td>
		  <td ng-include="'views/production/toggle/common/custom_sku_details.html'">
                  </td>
                  <td class=""><i ng-click="showCase.update_data($index, data, $last)" ng-class="showCase.isLast($last)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn pop pop-normal" ng-click="showCase.print()">Print</button>
          <button type="button" class="btn pop pop-green" ng-disabled="showCase.confirm_enable" ng-click="showCase.submit()">Confirm Putaway</button>
        </div>
      </div>
    </div>
  </form>
  <div class="putaway_print hide">
    <div ng-include="'views/production/print/putaway_print.html'">
  </div>
</div>
