<div id="page-pop" class="modal fade in over-x" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" style="display: block; padding-left: 15px;">
  <!-- Modal -->
  <form name="form" role="form" ui-jq="validate" ui-options="showCase.validationOpt">
    <div class="modal-dialog modal-lg model-custom">
      <div class="modal-content mw55">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">{{showCase.title}}</h4> 
        </div>
        <div class="modal-body" ng-class="(showCase.confirm_print)? 'hide': 'show'">
          <div class="row" ng-if="(!(showCase.update))">
            <div class="col-md-11 col-sm-11 col-xs-10">
              <p align="right">Vendor Produce</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2">
              <label class="switch switch-sm square">
                <div>
                  <input type="checkbox" ng-model="showCase.vendor_produce">
                  <span>
                    <i class="handle"></i>
                  </span>
                </div>
              </label>
            </div>
          </div>
          <div class="row" ng-if="showCase.update">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Jo Reference </label>
                <input type="text" value="{{showCase.model_data.jo_reference}}" class="form-control" name="jo_reference" readonly>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.vendor_produce">
              <div class="form-group">
                <label class="control-label"> Vendor id </label>
                <input type="text" value="{{showCase.model_data.vendor_id}}" class="form-control" name="vendor_id" readonly>
              </div>
            </div>
          </div>
          <div class="row" ng-if="showCase.update">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.vendor_produce && (!(showCase.update))">
              <div class="form-group">
                <label class="control-label"> Vendor ID/Name * </label>
                <input type="text" autocomplete="off" ng-show="(!(showCase.update))" name="vendor_id" class="form-control" placeholder="Search Vendor" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_vendor?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.vendor_id" ng-blur="showCase.model_data.vendor_id = showCase.service.change_search_value(showCase.model_data.vendor_id)" required>
                 <input name="vendor_id" class="form-control" ng-if="showCase.update" type="text" ng-model="showCase.model_data.vendor_id" ng-readonly="showCase.update">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Product SKU Code</th>
                    <th>Product SKU Description</th>
                    <th>Product SKU Quantity</th>
                    <th>Material SKU Code</th>
                    <th>Material SKU Quantity</th>
                    <th>Units Of Measurement</th>
                    <th class="plus"></th>
                  </tr>
                </thead>
                <tbody ng-repeat="data in showCase.model_data.results">
                  <tr ng-repeat="item in data.data">
                    <td>
                      <input type="hidden" name="id" value="{{item.id}}">
                      <input type="text" autocomplete="off" ng-readonly="showCase.update && (!(data.new_sku))" ng-show="$first" name="product_code" class="form-control" placeholder="Search Product SKU Code" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_wms_codes?', 'RM')" typeahead-loading="loadingLocations" ng-model="data.product_code" typeahead-on-select="showCase.get_product_data(data.product_code, data, $parent.$index)">
                    </td>
                    <td>
                      <input ng-show="$first" type="text" name="description" class="form-control" ng-model="data.description">
                    </td>
                    <td>
                      <input ng-show="$first" type="text" d-perm="true" name="product_quantity" ng-model="data.product_description" ng-change="showCase.change_quantity(data)" class="form-control" ng-class="service.get_decimal_perm()">
                    </td>
                    <td>
                      <input type="text" autocomplete="off" name="material_code" class="form-control" placeholder="Search Material SKU Code" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_wms_codes?','RM')" typeahead-loading="loadingLocations" ng-model="item.material_code">
                    </td>
                    <td>
                      <input type="text" name="material_quantity" d-perm="true" class="form-control" ng-model="item.temp_qty" ng-class="service.get_decimal_perm()">                      </td>
                    <td>
                      <select name="measurement_type" class="form-control" ng-model="item.measurement_type">
                        <option value="" ng-selected= "item.measurement_type == ''">Default</option>
                        <option ng-repeat="unit in showCase.units" value="{{unit}}" ng-selected= "item.measurement_type == unit">{{unit}}</option>
                      </select>
                    </td>
                    <td>
                      <i ng-click="showCase.update_data(data, $index, $last, $first)" ng-class="showCase.isLast($last)"></i> 
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="margin-top:10px">
              <center><button ng-click="showCase.add_product();" type="button" class="btn btn-default">Add New Product SKU Code</button></center>
            </div>
          </div>
          <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
        </div>
        <div class="modal-footer">
          <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-normal" 
                  ng-click="showCase.submit(form)" ng-disabled="showCase.button_status">Save</button>
          <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-green" 
                  ng-click="showCase.confirm_jo(form)" ng-disabled="showCase.button_status">Confirm</button>
          <button ng-if="showCase.print_enable" type="button" class="btn pop pop-green" ng-click="showCase.print()">Print</button>
        </div>
      </div>
    </div>
  </form>
</div>
