<style type="text/css">
  .text_element{
    font-style: italic;
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
  }
</style>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Supplier</th>
        <th></th>
        <th>WMS Code*</th>
        <th>SKU Description-HSN</th>
        <!-- <th>HSN Code</th> -->
        <th ng-if="showCase.model_data.display_suggested_qty == true">MRP Suggested Qty</th>
        <th>Qty*</th>
        <!-- <th>UOM</th> -->
        <!-- <th>No.Of Base Units</th>
        <th>Base UOM</th> -->
        <!-- <th>MOQ</th> -->
        <th>Unit Rate({{showCase.model_data.warehouse_currency}})</th>
        <th>Dis %</th>
        <th>Final Unit Price</th>
        <th>Amount({{showCase.model_data.warehouse_currency}})</th>
        <th ng-if="showCase.model_data.tax_display">Tax %</th>
        <th ng-if="showCase.model_data.tax_display">Cess Tax %</th>
        <th>Total({{showCase.model_data.warehouse_currency}})</th>
        <!-- <th>OpenPR Qty</th>
        <th>Last 3M Avg Consumption</th>
        <th>Available Stock</th>
        <th>OpenPO Qty</th> -->
        <th>Last Supplier-Price</th>
        <th>Least Supplier-Price</th>
        <th>Least Supplier-Price(Pan India)</th>
        <th>Reason</th>
        <th>Delta Tax Inc.</th>
        <!-- <th>Suggested PR Qty</th> -->
        <th></th>
        <th class="plus" ng-if="showCase.quantity_editable"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in showCase.model_data.data" id="tab_count" ng-init="innerIndex=$index">
        <td>
          <select ui-select class="form-control" name="supplier" style="width:110px;"
          ng-init="product.fields.supplier_id_name=showCase.getFirstSupplier(product.fields, product);"
          ng-model="product.fields.supplier_id_name" 
          ng-change="showCase.getsupBasedPriceDetails(product.fields.supplier_id_name, product.fields, product);showCase.checkResubmitPurchaseApprover(product.fields); showCase.getTotals(product)"
          ng-disabled="!showCase.permissions.change_pendinglineitems">
            <option ng-repeat="(supplier_id_name, sup_details) in product.fields.supplierDetails"
            value="{{supplier_id_name}}"  ng-selected="supplier_id_name==product.fields.supplier_id_name">{{supplier_id_name}}
            </option>
          </select>
          <input type="text" name="supplier_id" ng-model="product.fields.supplier_id" class="hide">
        </td>
        <td>
          <span class="badge bg-warning" ng-if="product.fields.is_doa_sent"> SentDOA</span>
          <span class="badge bg-primary" ng-click="showCase.move_to_sku_supplier(product.fields.sku.wms_code, product.fields, showCase.model_data.purchase_id)" ng-if="!product.fields.supplier_id_name && !product.fields.is_doa_sent && showCase.permissions.change_pendinglineitems" style="cursor: pointer;">+</span>
        </td> 
        <td>
          <input type="text" autocomplete="off" name="wms_code" class="form-control detectTab" placeholder="Search WMS Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="product.fields.sku.wms_code" typeahead-on-select="showCase.get_sku_details(product, $item, $index)" ng-readonly="product.pk > 0" size="30"
          title="{{ product.fields.sku.wms_code }}">
          <input type="text" name="data-id" ng-model="product.pk" class="hide" ng-if="showCase.update">
          <input type="text" name="seller_po_id" ng-model="product.seller_po_id" class="hide" ng-if="showCase.update">
        </td>
        <td class="text-center"> <span style="font-size: 9px;font-weight: 440;">{{ product.fields.description }} - {{product.fields.hsn_code}}</span> </td>
        <td class="text-center" ng-hide="true">
          <!-- <span style="font-size: 9px;font-weight: 440;">{{ product.fields.hsn_code }}</span> -->
          <input name="hsn_code" ng-model="product.fields.hsn_code" title="{{ product.fields.hsn_code }}" type="text" class="form-control detectTab" readonly>
        </td>
        <td ng-if="showCase.model_data.display_suggested_qty == true">
          <input type="text" class="form-control" value="{{ product.fields.suggested_qty }}" ng-readonly="true">
        </td>
        <td>
          <!-- <input id="quant1" ng-model="product.fields.order_quantity" type="text" name="order_quantity" class="form-control detectTab"
                 ng-class="service.get_decimal_perm()" 
                 ng-readonly="showCase.permissions.change_pendingpr && !showCase.permissions.po_or_pr_edit_permission_approver"
                 ng-change="showCase.checkResubmit(product.fields)"
                 ng-keyup="showCase.getTotals(product)"
                 size="12"> -->
          <input id="quant1" ng-model="product.fields.order_quantity" type="text" name="order_quantity" class="form-control detectTab"
                 ng-init="showCase.getNoOfTests(product.fields.order_quantity, product.fields);showCase.getTotals(product)"
                 ng-class="service.get_decimal_perm()" 
                 ng-readonly="!showCase.quantity_editable && !showCase.permissions.change_pendinglineitems"
                 ng-change="showCase.checkResubmit(product.fields); showCase.getNoOfTests(product.fields.order_quantity, product.fields);showCase.checkResubmitPurchaseApprover(product.fields)"
                 ng-keyup="showCase.getTotals(product)"
                 size="4">
        </td>
        <td class="text-center" ng-hide="true">
          <!-- <span style="font-size: 9px;font-weight: 440;">{{product.fields.measurement_unit}}</span> -->
          <input name="measurement_unit" ng-model="product.fields.measurement_unit" type="text" class="form-control detectTab" readonly>
        </td>
        <td ng-hide="true">
          <input ng-model="product.fields.conversion" type="text" name="no_of_tests"
                 class="form-control detectTab"
                 ng-class="service.get_decimal_perm()" ng-readonly="true"
                 size="8">
        </td>
        <td ng-hide="true">
          <input type="text" class="form-control" ng-model="product.fields.base_uom" size="4" readonly>
        </td>
        <!-- <td class="text-center"> 
          <span class="text_element">{{product.fields.moq}}</span> 
          <input type="text" name="moq" ng-model="product.fields.moq" class="hide">
        </td> -->

        <td class="text-center"> 
          <span class="text_element">{{product.fields.price | number:0}}
          </span>
          <input type="text" name="price" ng-model="product.fields.price" class="hide">
        </td>
        <td><input type="text" ng-model="product.fields.discount" size="5" title="{{ product.fields.discount }}" name="discount_percentage" class="form-control" ng-class="service.get_decimal_perm()" value="{{product.fields.discount}}" ng-change="showCase.getTotals(product, 'change');showCase.checkResubmitPurchaseApprover(product.fields)" ng-disabled="!showCase.permissions.change_pendinglineitems"></td>

        <td class="text-center"> 
          <span class="text_element">{{product.fields.final_price | number:0}}
          </span>
        </td>
        <td class="text-center"> 
          <span class="text_element">{{product.fields.amount | number:0}}
          </span> 
          <input type="text" name="amount" ng-model="product.fields.amount" class="hide">
        </td>
        <td ng-hide="!showCase.model_data.tax_display" class="text-center">
          <input type="text" name="tax" ng-model="product.fields.tax" class="hide">
          <span class="text_element">{{product.fields.tax}}
          </span> 
        </td>
        <td ng-hide="!showCase.model_data.tax_display" class="text-center">
          <input type="text" name="cess_tax" ng-model="product.fields.cess_tax" class="hide">
          <span class="text_element">{{product.fields.cess_tax}}
          </span>
        </td>
        <td class="text-center"> 
          <span class="text_element">{{product.fields.total | number:0}}
          </span> 
          <input type="text" name="total" ng-model="product.fields.total" class="hide">
        </td>

        <!-- <td class="text-center"> <span class="text_element">{{product.fields.sku.openpr_qty}}</span> </td>
        <td class="text-center"> <span class="text_element">{{product.fields.sku.consumption_dict.avg_qty}}</span> </td>
        <td class="text-center"> <span class="text_element">{{product.fields.sku.capacity}}</span> </td>
        <td class="text-center"> <span class="text_element">{{product.fields.sku.intransit_quantity}}</span> </td> -->
        <td class="text-center"> <span>{{product.fields.pr_extra_data.last_supplier}}-{{product.fields.pr_extra_data.last_supplier_price}}</span> </td>
        <td class="text-center"> <span>{{product.fields.pr_extra_data.least_supplier}}-{{product.fields.pr_extra_data.least_supplier_price}}</span> </td>
        <td class="text-center"> <span>{{product.fields.pr_extra_data.least_supplier_pi}}-{{product.fields.pr_extra_data.least_supplier_price_pi}}</span></td>
        <td><textarea rows="2" class="form-control" cols="27" ng-model="product.fields.sku_comment" placeholder="Enter Remarks" ng-required="product.fields.sku_sku_comment" title="{{ product.fields.sku_comment }}"></textarea></td>
        <td class="text-center" ng-init="product.fields.delta=0; showCase.getTotals(product)"> 
          <span class="text_element" ng-style="product.fields.delta_color">{{product.fields.delta | number:2}}</span><input type="text" name="delta" ng-model="product.fields.delta" class="hide">
        </td>
        <td ng-disable="!product.fields.sku.wms_code" ng-click="showCase.extra_row_info(product)">
          <i class="fa fa-info-circle" ng-style="product.fields.icon_color"></i>
        </td>
        <td ng-if="showCase.quantity_editable" style="width: 45px !important;">
          <i class="fa fa-minus-square-o" ng-if="$last && $index != 0" ng-click="showCase.update_data(innerIndex, false)"></i>
          <i ng-click="showCase.check_sku_product_category(showCase.model_data.product_category, showCase.model_data.sku_category, product.fields.sku.wms_code, innerIndex, 'approve')" ng-class="showCase.service.isLast($last)"></i></td>
          <!-- <i ng-click="showCase.update_data(innerIndex)" ng-class="showCase.service.isLast($last)"></i></td> -->
        </td>
        <!-- <td class="text-center"> <span style="font-style: italic;font-size: 14px;line-height: 30px;font-weight: 600;">{{product.fields.sku.suggested_pr_qty}}</span> </td> -->
      </tr>
    </tbody>
  </table>
</div>
