<div class="page-layout" ng-controller="RaisePurchaseRequestCtrl as showCase">
  <div class='layout-header'>
    <div class="pull-left" ng-include="'views/common/title.html'"></div>
  </div>
  <div class="layout-body"> 
    <tabset class="box-tab">
      <tab heading="Raised Purchase Requests" ng-if="showCase.permissions.enable_pending_approval_prs">
        <div ng-include="'views/inbound/raise_pr/raise_purchase_request.html'"></div>
      </tab>
      <tab heading="Pending For Approval Purchase Requests">
        <div class="panel" ng-controller="PendingForApprovalPurchaseRequestCtrl as showCase">
          <div class="panel-header">
            <div ng-include="'views/common/excel.html'"></div>
          </div>
          <div ng-include="'views/common/datatable.html'"></div>
        </div>
      </tab>
      <tab heading="Approved Purchase Requests" ng-if="showCase.permissions.enable_pending_approval_prs && showCase.permissions.change_pendinglineitems" ng-controller="ApprovedPurchaseRequestCtrl as showCase" ng-click="showCase.loadjs()">
        <div ng-if="showCase.ApprovedPurchaseRequestCtrl" ng-include="'views/inbound/raise_pr/approved_purchase_requests.html'"></div>
      </tab>
       <tab heading="PR Converted to PO" ng-if="showCase.permissions.enable_pending_approval_prs">
        <div ng-include="'views/inbound/raise_pr/pr_converted_to_po.html'"></div>
      </tab>
      <tab heading="Pending PR Enquiries" ng-if="showCase.permissions.enable_pending_approval_prs" ng-controller="PendingPREnquiriesCtrl as showCase" ng-click="showCase.loadjs()">
        <div ng-if="showCase.PendingPREnquiriesCtrl" ng-include="'views/inbound/raise_po/pending_pr_enquiries.html'"></div>
      </tab>
      <tab heading="Cancelled & Rejected PR's" ng-if="showCase.permissions.enable_pending_approval_prs" ng-controller="rejectedCancelledCtrl as showCase" ng-click="showCase.loadjs()">
        <div class="panel" ng-if="showCase.rejectedCancelledCtrl">
          <div class="panel-header">
            <div ng-include="'views/common/excel.html'"></div>
          </div>
          <div ng-include="'views/common/datatable.html'"></div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
