<div class="page-layout" ng-controller="SupplierPOCtrl as showCase">
  <div class='layout-header'>
    <div class="pull-left">
      <offscreen class="visible-xs fa fa-bars pull-left" style="font-size: 22px;padding: 8px 12px 0px 5px;"></offscreen>
      <h4 class="pull-left">{{showCase.supplier_name}}</h4>
    </div>
     <div ng-include="'views/common/excel.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div ng-include="'views/common/datatable.html'"></div>
    </div>
  </div>
  <div class="layout-footer">
     <button type="button" class="btn btn-primary pull-left" ng-click="showCase.asn_popup()"><i class="fa fa-bars"></i> Generate ASN</button>
  </div>
</div>
