.tag-display {
  
  a.cat-tags {

    border-right: 1px solid #333;
    font-size: 14px;
    padding: 1px 10px 1px 10px;
  }
}

.cust_details {

  margin: 0px 0px 0px 0px;
}

.ct-selected {

  font-weight: 900;
}

.style_name {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
  font-weight: 800;
  color: black;
  font-size: 16px;
}

.item-display {

  background: #616161;
  margin: 10px 0px 0px 0px;
  padding: 5px 5px;
  text-align: center;
  position:relative;
  img {

  }
}

.class-item {

  overflow: hidden;
  padding: 0px;
  cursor: pointer;
  color: black;

  img {

    border: 0px !important;
    width: 100%;
    padding: 0px;
    border-radius: 0px;
  }
  > div {

    margin: 5px;
    border: 1px solid #f0f0f0;
    padding: 0px !important;
    background: #eeeeee;
    box-shadow: 1px 1px 10px #333;
     
    > div {
      border-top: 1px solid #f0f0f0;
      padding: 0px 5px;
    }
  }

  .style_title {

    color: #16be48;
  }
}

.style-menu {

  background: #d96557;
  color: #fff !important;

  .menu-left {

    span {
      font-size: 16px;
      cursor: pointer;
      padding-left: 5px;
    } 
  }
}

.style-body {

  margin: 0px 20px;
  table {

    thead {

      th {
        text-align: center;
      }
      th:last-child {

        width: 150px;
      }
    }
    tbody {
      td {
        text-align: center;
      }
    }
  }
}

.create_red {

  .style-menu {

    background: #ed1c24;
  }

  .search-items {

    .fa {
      background-color: #ed1c24;
    }
  }

  .brand-image {

    background: #ed1c24 !important;
  }
  .layout-header {
    background: #fff !important;
  } 
}

/*
.create_default {

  .style-menu {

    background: #2d3033;
  }

  .search-items {

    .fa {
      background-color: #ed1c24;
    }
  }

  .brand-image {

    background: #ed1c24 !important;
  }
  .layout-header {
    background: #f0f0f0 !important;
  }
}
*/
.style-menu {

  .brand-title {

    margin: 0px;
    text-align: center;
    h3 {
      margin: 0px;
      text-align: center;
    }
  }
}

.search-items {

  .fa {

     background-color: #66CC33; 
     width: 40px;
  }

  .search-bar {

    padding-right: 30px;
    .fa {
      color: white;
      position: absolute;
      right: 0px;
      top: 0px;
      font-size: 30px;
      padding: 5px 5px;
      cursor: pointer;
    }
  }
}

.online-toggle  {

  > span {

    font-size: 16px;
    padding-bottom: 10px;
  }

  > label {

    padding: 8px 0px;
    margin-right: 5px;
    margin-left: 5px;

    > span {

      border-color: #fff !important;
      background: #fff !important;
      overflow: hidden;
      box-shadow: 0px 0px 10px #f0f0f0 !important;

      > i {

        color: #fff;
        background: #ed1c24;
      }
    }
  }
}

.toggle-filter {

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 120;
    background: white;
    width: 250px;
    border: 1px solid #ed1c24;

    .toggle-header {

      background: #ed1c24;
      height: 26px;
      color: white;
      font-size: 14px;
      line-height: 26px;
      padding: 0px 10px;
    }
    .toggle-body {
      width: 100%;
      padding: 5px;
      overflow: hidden;

      .filter-box {
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
        .box-header {
          border-bottom: 1px solid #e4e4e4;
          font-size: 16px;
        }

        .box-body {

          > span {
            padding: 3px 5px;
          }
        }
      }

      .filter-table {

        th,td {

          padding: 5px;
          text-align: center;
        }
        .form-control, input {

          padding: 2px 6px !important;
          height: 25px !important;
        }
      }
    }
}

@keyframes blinking {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}
