@font-color:    #ccc;
@font-color1:   #999;

.order-list {

  border: 1px solid @font-color;

  .order-item {

    padding: 10px;
  }

  .order-id {

    .order-date {

      color: blue;
    }
  }

  .order-label {

    color: @font-color1;
  }
  .order-bold {

    font-size: 20px;
    color: black;
  }

  .border-grey {

    border-bottom: 1px solid @font-color;
  }
}

.detail-list {

  border: 1px solid @font-color;

  .detail-item {

    padding: 10px;
  }

  .border-grey {

    border-bottom: 1px solid @font-color;
  }

  .detail-bg-grey {

    background: #f0f0f0;
  }

  .detail-black {
    color: black;
  }
}


.sagar-custom {

  .shaded-title {
    background: -webkit-linear-gradient(left,transparent,#e2e2e2,transparent);
    font-size: 18px;
    height: 34px;
    line-height: 34px;

    .toggle {
      float: right;
    }
  }

  .c-file {

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  .toggle-center {

    margin: auto;
    display:block;
  }

  .toggle-160 {

    width: 160px !important;
  }

  .item-check {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #29b765;
  }

  .custom-colors {

    .color-box {
      width: 18px;
      height: 18px;
      margin: 5px;
      display: inline-block;
      cursor: pointer;
    }

    .colors-label {

      float: left;
      line-height: 28px;
    }
    .color-selected {
      box-shadow: 0px 0px 4px black;
    }
  }
}
