.oi_field{
  width: 85px;
}
.sk_filed{
  width: 55px;
}
.ma_h{
	display: block;
}
.mo_h{
	left: -10%;width: 100%;
}
.mi_h{
	overflow: hidden;
}
.tx_field{
	width: 200px;
}
.in_h{
	overflow-x:auto;
}
.mp_field{
	width: 10px;
}
.mf_field{
	width: 10px;
}
.ex_field{
	width: 10px;
}
.table_hea{
	width:80px;
}
.or_divi{
	width: 40px;
}
.unitp_field{
	width: 50px;
}
.mrp_field{
	width: 45px
}
.mfd_field{
	width: 90px;
}
.exp_field{
	width: 90px;
}
.ig_if{
	width: 50px;
}
.ig_ifg{
	width: 50px;
}
.ig_ifgh{
	width: 50px;
}







































