<div id="page-pop" class="modal fade in over-x" tabindex="-1" role="dialog">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate">
  <div class="modal-dialog model-custom modal-lg" ng-style="showCase.extra_width">
    <div class="modal-content mw100">
      <div class="process-overlay" ng-if="process || showCase.fb.process"><div class="process-text">Loading...</div></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4> </div>
      <!-- body-->
      <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
              <h4>Details :</h4>
              <div class="row" ng-repeat="model_name in showCase.grn_details_keys" ng-if="showCase.model_data[model_name]">
                <div class="col-xs-4"><b>{{showCase.grn_details[model_name]}}</b></div>
                <div class="col-xs-8">: {{showCase.model_data[model_name]}}</div>
              </div>
            </div>
            <div class="col-sm-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>WMS CODE</th>
                    <th>Title</th>
                    <th>Received Quantity</th>
                    <th>Sellable Quantity</th>
                    <th>Non Sellable Quantity</th>
                    <th>Measurement</th>
                    <th>Unit Price</th>
                    <th>Offer?</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Buy Price</th>
                    <th ng-if="showCase.industry_type=='FMCG'">MRP</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Batch No</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Mfg. Date</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Exp. Date</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Tax</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Remarks</th>
                    <!--<th ng-if="showCase.permissions.pallet_switch" class="plus"></th>-->
                    <!--<th class="detail"></th>-->
                  <tr>
                </thead>
                <tbody ng-repeat="records in showCase.model_data.data">
                  <tr ng-repeat="data in records">
                    <input type="hidden" name="order_id" value="{{data.order_id}}">
                    <input type="hidden" name="segregation_id" value="{{data.segregation_id}}">
                    <td>
                      <input type="text" name="wms_code" class="form-control pricevalid" ng-model="data.wms_code" ng-readonly="true">
                    </td>
                    <td>
                      <input type="text" ng-model="data.sku_desc" title="{{ data.sku_desc }}" class="form-control"  readonly>
                    </td>
                    <td><input type="text" ng-model="data.quantity" name="quantity" class="form-control" ng-readonly="true" ng-class="service.get_decimal_perm()"></td>
                    <td><input type="text" ng-model="data.sellable" name="sellable" class="form-control" ng-class="service.get_decimal_perm()" required ng-change="showCase.receive_quantity_change(data)"></div></td>
                    <td><input type="text" ng-model="data.non_sellable" name="non_sellable" class="form-control" ng-readonly="true" ng-class="service.get_decimal_perm()"></td>
                    <td><input type="text" ng-model="data.unit" name="unit" class="form-control" readonly></td>
                    <td><input type="text" ng-model="data.price" name="price" class="form-control" value="" ng-readonly="true"></td>
                    <td>
                      <input type="checkbox"  ng-checked = "data.offer_check"  value = "{{data.offer_check}}" ng-model="data.offer_check" style="zoom:1.5;">
                    </td>
                    <input type= "hidden"  value = "{{data.offer_check}}"  name="offer_applicable">

                    <td ng-if="showCase.industry_type=='FMCG'">
                      <input type="text" ng-model="data.buy_price" size="22" title="{{ data.buy_price }}" name="buy_price" class="form-control" value="{{data.buy_price}}" ng-readonly="true">
                    </td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <input type="text" ng-model="data.mrp" size="22" title="{{ data.mrp }}" name="mrp" class="form-control" value="{{data.mrp}}" ng-readonly="true">
                    </td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <input type="text" ng-model="data.batch_no" title="{{ data.batch_no }}" name="batch_no" class="form-control" value="{{data.batch_no}}" ng-readonly="true">
                    </td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <!-- <input name="mfg_date" ui-jq="datepicker" size="33" title="{{ data.mfg_date }}" ng-model="data.mfg_date" class="form-control stk-readonly" type="text" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}" ng-readonly="true"> -->
                      <input name="mfg_date" size="33" title="{{ data.mfg_date }}" ng-model="data.mfg_date" class="form-control" type="text" ng-readonly="true">
                    </td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <!-- <input name="exp_date" ui-jq="datepicker" size="33" title="{{ data.exp_date }}" ng-model="data.exp_date" class="form-control stk-readonly" type="text" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}" ng-change="showCase.check_exp_date(data.exp_date, showCase.self_life_ratio)" ng-readonly="true"> -->
                      <input name="exp_date" size="33" title="{{ data.exp_date }}" ng-model="data.exp_date" class="form-control" type="text" ng-readonly="true">
                    </td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <input type="text" ng-model="data.tax_percent" title="{{ data.tax_percent }}" name="tax_percent" class="form-control" value="{{data.tax_percent}}" ng-readonly="true">
                    </td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <textarea rows="5" cols="15" ng-model="data.deviation_remarks" ng-disabled="true"></textarea>
                      <!--<select id="maxOption2" class="selectpicker show-menu-arrow form-control" multiple>-->
                        <!--<option ng-selected="value" ng-repeat="(key, value) in data.deviation_remarks"> {{key}}</option>-->
                      <!--</select>-->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
      </div>
      <!-- body end-->
      <div class="modal-footer">
        <button ng-if="(!(showCase.print_enable))" type="button" class="btn pop pop-green pull-right col-xs-12 col-sm-3 col-md-2" ng-click="showCase.confirm_segregation(form)">Confirm</button>
        <button ng-if="showCase.print_enable" type="button" class="btn pop pop-green pull-right" ng-click="showCase.print_grn()">Print</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  </form>
  <!-- /.modal-dialog -->
</div>
