<style type="text/css">
.form-control{
    padding: 2px 2px;
    font-size: x-small;
    font-weight: 600;
 }
 .table > tbody > tr > td{
    padding: 3px 3px;
 }
 .table > thead > tr> td{
    padding: 3px 3px;
 }
 .sidebar-panel{
    z-index: 1000;
 }
.table > tbody > tr > td {
  border-color: #ffffff !important;
  border-top: #fff !important;
}
.select2-container .select2-choice{
  height: 30px !important;
  border: 1px solid #e8e8e8 !important;
}
</style>
<div id="page-pop" class="modal fade in over-x" style="z-index: 1005;">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" novalidate="novalidate">
    <div class="modal-dialog model-custom modal-lg" style="width: calc(100vw - 20px) !important; margin: 2px auto !important;font-size: xx-small;">
      <div class="modal-content mw60">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header" style="padding: 5px !important;">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 class="modal-title pull-left">{{showCase.title}}</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 align="center"><b>{{showCase.model_data.company}}</b></h4>
            </div>
          </div>
          <button type="button" class="close" ng-click="showCase.close()"><span>&times;</span> </button>
        </div>
        <div class="modal-body raise_po" style="height: calc(100vh - 135px); overflow-y: auto; margin: 0px !important;padding: 20px;">
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-3">
            <div class="form-group">
              <label class="control-label"> PO Number </label>
              <input type="text" ng-model="showCase.model_data.po_number" name="po_number" class="form-control" ng-readonly="true"> </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <div class="form-group">
                <label class="control-label">PO Delivery Date</label>
                <input name="pr_delivery_date" ng-model="showCase.model_data.pr_delivery_date" class="form-control" type="text" id="pr_delivery_date" data-date-format="dd-mm-yyyy" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <div class="form-group">
                <label class="control-label">PO Date</label>
                <input name="pr_created_date" ng-model="showCase.model_data.pr_created_date" class="form-control" type="text" id="pr_delivery_date" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-show="showCase.model_data.receipt_type != 'Hosted Warehouse' && !showCase.wh_purchase_order">
              <div class="form-group">
                <label class="control-label"> Supplier ID/Name * </label>
                <input type="text" autocomplete="off" ng-if="(!(showCase.update))" name="supplier_id_name" ng-model="showCase.model_data.supplier_id_name" placeholder="Search Supplier"
                  typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_supplier?')" typeahead-loading="loadingLocations" class="form-control"
                  typeahead-on-select="showCase.model_data.supplier_id = showCase.service.change_search_value(showCase.model_data.supplier_id_name); showCase.update_wms_records()"
                  ng-blur="showCase.service.checkSearchValue(showCase.model_data.supplier_id, 'search_supplier?', $event, '', 'Supplier');"
                  ng-readonly="true"
                >
                <input name="supplier_id" class="form-control" type="hidden" ng-model="showCase.model_data.supplier_id" value="{{showCase.model_data.supplier_id}}">
                <!-- <input name="supplier_id_name" class="form-control" ng-if="showCase.update" type="text" ng-model="showCase.model_data.supplier_id_name" value="{{showCase.model_data.supplier_id_name}}" ng-readonly="showCase.update"> -->
              </div>
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label"> Ship To </label>
              <input type="text" ng-model="showCase.model_data.ship_to" name="ship_to" class="form-control" ng-readonly="true"> </div>
            </div> -->
            <div class="col-md-2 col-sm-2 col-xs-3">
            <div class="form-group">
              <label class="control-label"> Warehouse </label>
              <input type="text" ng-model="showCase.model_data.warehouse" name="warehouse" class="form-control" ng-readonly="true"> </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.model_data.supplier_payment_terms != ''">
              <div class="form-group">
                <label class="control-label">Supplier Payment Terms</label>
                <input type="text" ng-model="showCase.model_data.supplier_payment_terms" name="supplier_payment_terms" class="form-control" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3" ng-if="showCase.model_data.full_pr_number">
              <div class="form-group">
                <label class="control-label"> PR Number </label>
                <input type="text" ng-model="showCase.model_data.full_pr_number" name="full_pr_number" class="form-control" ng-readonly="true">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" ng-if="!showCase.permissions.central_admin_level_po">
              <div class="form-group">
                <label class="control-label"> Ship To *</label>
                <input type="text"
                       ng-readonly="showCase.model_data.is_approval"
                       ng-model="showCase.model_data.ship_to" name="ship_to" class="form-control" required> </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6" ng-if="showCase.model_data.supplier_currencyes">
              <div class="form-group">
                <label class="control-label">Supplier Currency *</label>
                <select class="form-control" name="supplier_currency" ng-model="showCase.model_data.supplier_currency" ng-change="showCase.currency_change(showCase.model_data.supplier_currency)" required>
                    <option ng-repeat="type in showCase.model_data.supplier_currencyes" ng-selected="showCase.model_data.supplier_currency==type" value="{{type}}">{{type}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-2 col-xs-6">
              <div class="form-group bootstrap-tagsinput">
                <label class="control-label">SupplierEmail <span style="color: blue;"><b>({{showCase.model_data.supplier_email}})</b></span> / Buyer / PR User mails *</label>
                <input class="internal_mails" type="text" value="{{showCase.model_data.po_all_mails}}" ui-jq="tagsInput" />
              </div>
            </div>
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>WMS Code*</th>
                    <th>Title</th>
                    <th ng-if="showCase.model_data.product_category == 'Services'">Detail</th>
                    <th ng-if="showCase.show_ean_number">EAN Number</th>
                    <th class="w10_">Quantity*</th>
                    <th ng-if="!(user.user_profile.user_type == 'marketplace_user')">UOM</th>
                    <th>Unit Price</th>
                    <th ng-if="showCase.model_data.product_category == 'Services'">Start Date</th>
                    <th ng-if="showCase.model_data.product_category == 'Services'">End Date</th>
                    <th ng-if="showCase.model_data.tax_display" class="w10_">SGST(%)</th>
                    <th ng-if="showCase.model_data.tax_display" class="w10_">CGST(%)</th>
                    <th ng-if="showCase.model_data.tax_display" class="w10_">IGST(%)</th>
                    <th ng-if="showCase.model_data.tax_display" class="w10_">CESS(%)</th>
                    <th class="w10_">Delivery Schedule</th>
                    <!-- <th class="plus"></th> -->
                  </tr>
                </thead>
                <tbody ng-repeat="product in showCase.model_data.data">
                  <tr id="tab_count">
                    <td>
                      <input type="text" autocomplete="off" name="wms_code" class="form-control detectTab" placeholder="Search WMS Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="product.fields.sku.wms_code" typeahead-on-select="showCase.get_sku_details(product, $item, $index)" ng-keyup="$event.keyCode == 13 ? showCase.key_event(product, $item, $index) : null" ng-readonly="product.pk > 0">
                      <input type="text" name="data-id" ng-model="product.pk" class="hide" 
                              ng-if="showCase.permissions.po_or_pr_edit_permission_approver">
                      <input type="text" name="seller_po_id" ng-model="product.seller_po_id" class="hide" ng-if="showCase.update">
                    </td>
                    <td>
                      <input ng-model="product.fields.description" title="{{ product.fields.description }}" type="text" class="form-control detectTab" readonly size="50">
                    </td>
                    <td ng-if="showCase.model_data.product_category == 'Services'">
                      <input ng-model="product.fields.sku_detail" title="{{ product.fields.sku_detail }}" type="text" class="form-control detectTab" readonly size="50">
                    </td>
                    <td ng-if="showCase.show_ean_number">
                      <input  ng-model="product.fields.ean_number" name="ean_number" title="{{ product.fields.ean_number }}" type="text" class="form-control detectTab" readonly size="50">
                    </td>
                    <td>
                      <input id="quant1" ng-model="product.fields.order_quantity" type="text" name="order_quantity" class="form-control detectTab"
                             ng-class="service.get_decimal_perm()" 
                             ng-readonly="!showCase.permissions.po_or_pr_edit_permission_approver"
                             ng-keyup="showCase.getTotals()" size="12">
                    </td>
                    <td ng-if="!(user.user_profile.user_type == 'marketplace_user')">
                      <input name="measurement_unit" ng-model="product.fields.measurement_unit" type="text" class="form-control detectTab" readonly size="12">
                    </td>
                    <td>
                      <input type="text"  ng-model="product.fields.price" name="price" class="form-control detectTab" decimal-number
                             ng-readonly="true" ng-keyup="showCase.getTotals()" size="12">
                    </td>
                    <td ng-if="showCase.model_data.product_category == 'Services'">
                      <input ng-model="product.fields.service_stdate" title="{{ product.fields.service_stdate }}" type="text" class="form-control" readonly size="30">
                    </td>
                    <td ng-if="showCase.model_data.product_category == 'Services'">
                      <input ng-model="product.fields.service_edate" title="{{ product.fields.service_edate }}" type="text" class="form-control" readonly size="30">
                    </td>
                    <td ng-hide="!showCase.model_data.tax_display">
		               	<input ng-if="product.fields.edit_tax" type="text" ng-model="product.fields.sgst_tax" name="sgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
		               	<input ng-if="!product.fields.edit_tax" type="text" ng-model="product.fields.sgst_tax" name="sgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="12">
                    </td>
                    <td ng-hide="!showCase.model_data.tax_display">
                      <input ng-if="product.fields.edit_tax" type="text" ng-model="product.fields.cgst_tax" name="cgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
		                 <input ng-if="!product.fields.edit_tax" type="text" ng-model="product.fields.cgst_tax" name="cgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="12">
                    </td>
                    <td ng-hide="!showCase.model_data.tax_display">
		           	     <input ng-if="product.fields.edit_tax" type="text" ng-model="product.fields.igst_tax" name="igst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
		                 <input ng-if="!product.fields.edit_tax" type="text" ng-model="product.fields.igst_tax" name="igst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="12">
                    </td>
                    <td ng-hide="!showCase.model_data.tax_display">
			            <input ng-if="product.fields.edit_tax" type="text" ng-model="product.fields.cess_tax" name="cess_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
                        <input ng-if="!product.fields.edit_tax" type="text" ng-model="product.fields.cess_tax" name="cess_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="12">
                    </td>
                    <td align="center">
                      <button class="btn btn-info" ng-click="showCase.sku_delivery_date(product)">View</button>
                    </td>
                  </tr>
                  <tr ng-repeat="(key, datum) in showCase.model_data['send_sku_dict'][product.fields.sku.wms_code]" style="background: #e3f1ba87;">
                    <td class="mb8" style="border-color: #e4e4e400; padding-left: 12px;">
                      <select ui-select2 ng-model="datum.warehouse_loc" disabled>
                        <option ng-selected="datum.warehouse_loc" value="{{datum.warehouse_loc}}">{{datum.warehouse_loc}}</option>
                      </select>
                    </td>
                    <td><input ng-model="product.fields.description" type="text" class="form-control detectTab" readonly size="50"></td>
                    <td><input ng-model="datum.order_qty" placeholder="Quantity" type="text" class="form-control detectTab" readonly></td>
                    <td><input ng-model="product.fields.measurement_unit" placeholder="UOM" type="text" class="form-control detectTab" readonly></td>
                    <td><input ng-model="product.fields.price" placeholder="Unit Price" type="text" class="form-control detectTab" readonly></td>
                    <td><input ng-model="product.fields.sgst_tax" placeholder="SGST(%)" type="text" class="form-control detectTab" readonly></td>
                    <td><input ng-model="product.fields.cgst_tax" placeholder="CGST(%)" type="text" class="form-control detectTab" readonly></td>
                    <td><input ng-model="product.fields.igst_tax" placeholder="IGST(%)" type="text" class="form-control detectTab" readonly></td>
                    <td><input ng-model="product.fields.utgst_tax" placeholder="UTGST(%)" type="text" class="form-control detectTab" readonly></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <div class="row" style="padding-bottom:0px;">
          <div class="col-md-6 col-sm-6">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <p>Total Price: <b style="font-size:26px">{{showCase.model_data.total_price | number:2}}</b></p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <p>Sub Total: <b style="font-size:26px">{{showCase.model_data.sub_total | number:2}}</b></p>
          </div>
		  <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(showCase.permissions.show_purchase_history && showCase.display_purchase_history_table)">
		  <div class="col-md-12 col-sm-12 col-xs-12">
              <div style="margin-bottom: 10px;"><strong>Last Three Transactions :</strong></div>
		  </div>
		  <div class="col-md-12 col-sm-12 col-xs-12 mb10">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>PO Date</th>
                <th>PO Number</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Tax Percent</th>
              </tr>
            </thead>
            <tbody ng-repeat="data in showCase.last_transaction_table">
                <tr class="field">
				          <td>{{data.po_date}}</td>
                  <td>{{data.po_number}}</td>
        					<td>{{data.received_quantity}}</td>
        					<td>{{data.price}}</td>
        					<td>{{data.total_tax}}</td>
                </tr>
            </tbody>
          </table>
		  </div>
		  </div>
      <div class="col-md-12 col-sm-12 col-xs-12" style="height: 60px">
        <div class="col-md-1 col-sm-3 col-xs-3" style="padding-top: 15px;margin-left: -9px;">
          <strong>Remarks :</strong>
        </div>
        <div class="col-md-8 col-sm-9 col-xs-9 pull-left">
          <textarea rows="2" class="form-control" cols="8" name="remarks" ng-model="showCase.model_data.remarks" placeholder="Enter Remarks"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <strong class="pull-left" style="margin-left: 10px;">
          Remarks History:
          </strong>
          <table class="table">
            <thead>
              <tr>
                <th>Level</th>
                <th>Approved By</th>
                <th>Remarks</th>
		<th>Date</th>
		<th>Approved Date</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in showCase.model_data.levelWiseRemarks" id="tab_count">
                <td>
                  <input ng-model="product.level" title="{{product.level}}" type="text" class="form-control detectTab" readonly ng-debounce  size="5">
                </td>
                <td>
                  <input ng-model="product.validated_by" title="{{product.validated_by}}" type="text" class="form-control detectTab" readonly ng-debounce  size="10">
                </td>
                <td>
                  <input ng-model="product.remarks" title="{{product.remarks}}" type="text" class="form-control detectTab" readonly ng-debounce size="50">
                </td>
		<td>
	          <input ng-model="product.creation_date" title="{{product.creation_date}}" type="text" class="form-control detectTab" readonly ng-debounce size="10">
		</td>
		<td>
		 <input ng-model="product.updation_date" title="{{product.updation_date}}" type="text" class="form-control detectTab" readonly ng-debounce  size="5">
		</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12"><hr></div>
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="form-group">
            <label class="control-label">EnquiryTo</label>
            <select class="form-control" name="enquiry_to" ng-model="showCase.model_data.enquiry_to">
              <option ng-repeat="user in showCase.model_data.validated_users" 
                      value="{{user}}">{{user}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="form-group">
            <label class="control-label"> Select Staff User </label>
            <input type="text" autocomplete="off" name="staff_user" class="form-control detectTab" placeholder="Search Staff Email : Name" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_staff_members?')" ng-model="showCase.model_data.enquiry_to">
          </div>
        </div>
        <div class="col-md-6">
          <label class="control-label">Enquiry Remarks</label>
          <textarea rows="2" class="form-control" cols="15" name="enquiry_remarks" ng-model="showCase.model_data.enquriy_remarks" placeholder="Enter Enquiry"></textarea>
        </div>
        <div class="col-md-2 pull-left" style="margin-top: 17px;">
          <button ng-if="showCase.pending_status !='Cancelled' && showCase.pending_status != 'Rejected'" type="submit" class="btn btn-info" ng-click="showCase.submit_enquiry(form, enquiry_to, enquiry_remarks)">SendEnquiry</button>  
        </div>
      </div>
      <div class="row" ng-if="showCase.model_data.enquiryRemarks">
        <div class="col-lg-12 col-md-12">
          <strong class="pull-left" style="margin-left: 10px;">
          Enquiry History:
          </strong>
          <table class="table">
            <thead>
              <tr>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Enquiry</th>
                <th>Response</th>
		<th>Enquiry Date</th>
		<th>Response Date</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in showCase.model_data.enquiryRemarks" id="tab_count">
                <td>
                  <input ng-model="product.sender" title="{{product.sender}}" type="text" class="form-control detectTab" readonly ng-debounce  size="5">
                </td>
                <td>
                  <input ng-model="product.receiver" title="{{product.receiver}}" type="text" class="form-control detectTab" readonly ng-debounce  size="5">
                </td>
                <td>
                  <input ng-model="product.enquiry" title="{{product.enquiry}}" type="text" class="form-control detectTab" readonly ng-debounce  size="10">
                </td>
                <td>
                  <input ng-model="product.response" title="{{product.response}}" type="text" class="form-control detectTab" readonly ng-debounce size="50">
                </td>
		<td>
		  <input ng-model="product.creation_date" title="{{product.creation_date}}" type="text" class="form-control detectTab" readonly ng-debounce  size="10">
		</td>
		<td>
		  <input ng-model="product.updation_date" title="{{product.updation_date}}" type="text" class="form-control detectTab" readonly ng-debounce size="5">
		</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class = "row">
        <div class="col-md-3" ng-if="showCase.model_data.uploaded_file_dict.file_url">
          <a class="btn btn btn-success" href="{{showCase.model_data.uploaded_file_dict.file_url}}" target="_blank" style="position: relative; font-weight: 600;width: 250px;font-size: 15px;">
            Download File<i class="fa fa-cloud-download" aria-hidden="true" style="font-size: 15px"></i>
          </a>
        </div>
      </div>
        <div class="row insert-status"><h4 align="center">{{ showCase.message }}</h4></div>
      </div>
		</div>
      <div class="modal-footer">
        <button ng-if="!showCase.print_enable" type="submit" class="btn pop pop-green" data-dismiss="modal" ng-click="showCase.confirm(form, true)" ng-disabled="showCase.confirm_disabled">Preview PO</button>
        <!-- <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-yellow" ng-click="showCase.print_pending_po(form)">Preview PO</button> -->
        <button ng-if="(!(showCase.print_enable) && showCase.permissions.change_pendingpo) && showCase.pending_status !='Cancelled' && showCase.pending_status != 'Rejected'" type="submit" class="btn pop pop-green" ng-click="showCase.approve_pr(form, 'approved')">Approve PO</button>
        <button ng-if="!showCase.print_enable && showCase.pending_status !='Cancelled' && showCase.pending_status != 'Rejected'" type="submit" class="btn pop pop-red pull-left" ng-click="showCase.approve_pr(form, 'rejected')">Reject PO</button>
        <!-- <button ng-if="(!(showCase.print_enable) && (!showCase.is_direct_po)) " type="submit" class="btn pop pop-green pull-left" ng-click="showCase.send_back_to_pr(form)">Send Back To PR</button> -->
      </div>
      </div>
    </div>
  </form>
</div>
