<style type="text/css">
  /*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  }*/
  /* Optional: show position indicator in red */
/*  ::-webkit-scrollbar-thumb {
/*  ::-webkit-scrollbar-thumb {
  background: #FF0000;
  }
*/
.form-control{
    padding: 5px 4px;
 }
 .table > tbody > tr > td{
    padding: 6px 4px;
 }
 .table > thead > tr> td{
    padding: 6px 4px;
 }
 .sidebar-panel{
    z-index: 1000;
 }
</style>

<div id="page-pop" class="modal fade in over-x" ng-style="showCase.display_vision">
  <form name="{{showCase.form}}" role="form" ui-jq="validate" ui-options="validationOpt" novalidate="novalidate">
    <div class="modal-dialog model-custom modal-lg" style="min-width: 1550px;">
      <div class="modal-content">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 class="modal-title pull-left">{{showCase.title}}</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 align="center"><b>{{showCase.model_data.company}}</b></h4>
            </div>
          </div>
          <button type="button" class="close" ng-click="showCase.close()"><span>&times;</span> </button>
        </div>
        <div class="modal-body" ng-class="(showCase.confirm_print)? 'hide': 'show'" style="padding:5px">
          <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-4">
              <div class="form-group">
                <label class="control-label"> PR Number </label>
                <input type="text" ng-model="showCase.model_data.pr_number" name="pr_number" class="form-control" ng-readonly="true"> 
                <input type="text" name="purchase_id" ng-model="showCase.model_data.purchase_id" class="hide">
              </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <div class="form-group">
                <label class="control-label">PR Date</label>
                <input name="pr_created_date" ng-model="showCase.model_data.pr_created_date" class="form-control" type="text" id="pr_delivery_date" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <div class="form-group">
                <label class="control-label"> Department </label>
                <input type="text" ng-model="showCase.model_data.warehouse" name="warehouse" class="form-control" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <div class="form-group">
                <label class="control-label"> Product Category </label>
                <input type="text" ng-model="showCase.model_data.product_category" name="product_category" class="form-control" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <div class="form-group">
                <label class="control-label"> Category </label>
                <input type="text" ng-model="showCase.model_data.sku_category" name="sku_category" class="form-control" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <div class="form-group">
                <label class="control-label">Need by Date</label>
                <input name="pr_delivery_date" ui-jq="datepicker" ng-model="showCase.model_data.pr_delivery_date" class="form-control" type="text" id="pr_delivery_date" ng-readonly="true">
              </div>
            </div>
          </div>
          <div class="col-md-12"><hr></div>
          <div class="row" ng-if="showCase.model_data.product_category=='Kits&Consumables'">
            <div ng-include="'views/inbound/toggle/ApprovalPendingLineItems/approval_kits_consumables.html'"></div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='Assets'">
            <div ng-include="'views/inbound/toggle/ApprovalPendingLineItems/approval_assets.html'">
            </div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='Services'">
            <div ng-include="'views/inbound/toggle/ApprovalPendingLineItems/approval_services.html'">
            </div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='OtherItems'">
            <div ng-include="'views/inbound/toggle/ApprovalPendingLineItems/approval_otheritems.html'">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-2 col-sm-1 col-xs-2">
                <strong>Remarks :</strong>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-10">
                <textarea rows="5" class="form-control" cols="15" name="approval_remarks" ng-model="showCase.model_data.approval_remarks" placeholder="Enter Remarks"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <strong class="pull-left"> Remarks History: </strong>
            <table class="table" class="pull-left">
              <thead>
                <tr>
                  <th>Level</th>
                  <th>Approved By</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in showCase.model_data.levelWiseRemarks" id="tab_count">
                  <td>
                    <input ng-model="product.level" title="{{product.level}}" type="text" class="form-control detectTab" readonly ng-debounce  size="5">
                  </td>
                  <td>
                    <input ng-model="product.validated_by" title="{{product.validated_by}}" type="text" class="form-control detectTab" readonly ng-debounce  size="10">
                  </td>
                  <td>
                    <input ng-model="product.remarks" title="{{product.remarks}}" type="text" class="form-control detectTab" readonly ng-debounce size="50">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12"><hr></div>
          <div class="row">
            <div class="col-md-3" style="margin-left: 10px;">
              <div class="form-group">
                <label class="control-label">EnquiryTo</label>
                <select class="form-control" name="enquiry_to" ng-model="showCase.model_data.enquiry_to">
                  <option ng-repeat="user in showCase.model_data.validated_users" 
                          value="{{user}}">{{user}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label">Enquiry Remarks</label>
              <textarea rows="2" class="form-control" cols="15" name="enquiry_remarks" ng-model="showCase.model_data.enquriy_remarks" placeholder="Enter Enquiry"></textarea>
            </div>
            <div class="col-md-2 pull-left" style="margin-top: 27px;">
              <button ng-if="(!(showCase.print_enable) && showCase.permissions.change_pendingpr) && showCase.pending_status !='Cancelled' && showCase.pending_status != 'Rejected'" type="submit" class="btn btn-info" ng-click="showCase.submit_enquiry(form, enquiry_to, enquiry_remarks)">SendEnquiry</button>  
            </div>
          </div>
          <div class="row" ng-if="showCase.model_data.enquiryRemarks">
            <div class="col-md-10">
              <strong class="pull-left" style="margin-left: 10px;">
              Enquiry History:
              </strong>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Enquiry</th>
                    <th>Response</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in showCase.model_data.enquiryRemarks" id="tab_count">
                    <td>
                      <input ng-model="product.sender" title="{{product.sender}}" type="text" class="form-control detectTab" readonly ng-debounce  size="5">
                    </td>
                    <td>
                      <input ng-model="product.receiver" title="{{product.receiver}}" type="text" class="form-control detectTab" readonly ng-debounce  size="5">
                    </td>
                    <td>
                      <input ng-model="product.enquiry" title="{{product.enquiry}}" type="text" class="form-control detectTab" readonly ng-debounce  size="10">
                    </td>
                    <td>
                      <input ng-model="product.response" title="{{product.response}}" type="text" class="form-control detectTab" readonly ng-debounce size="50">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "row">
            <div class="col-md-3" ng-if="showCase.model_data.uploaded_file_dict.file_url">
              <a class="btn btn btn-success" href="{{showCase.model_data.uploaded_file_dict.file_url}}" target="_blank" style="position: relative; font-weight: 600;width: 250px;font-size: 15px;">
                Download File<i class="fa fa-cloud-download" aria-hidden="true" style="font-size: 15px"></i>
              </a>
            </div>
          </div>
          <div class="row insert-status"><h4 align="center">{{ showCase.message }}</h4></div>
        </div>
        <div class="modal-footer" ng-if="showCase.warehouse_type != 'admin'">
          <button ng-if="(!(showCase.print_enable) && !showCase.quantity_editable) && showCase.pending_status !='Cancelled' && showCase.pending_status != 'Rejected'" type="submit" class="btn pop pop-green" ng-click="showCase.approve_pr(form, 'approved')"
          ng-disabled="!showCase.is_pa_resubmitted">Approve PR</button>
          <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-yellow" ng-click="showCase.print_pending_po(form)">PRINT PR</button>
          <button ng-if="(!(showCase.print_enable) && (showCase.quantity_editable))" type="submit" class="btn pop pop-green" ng-click="showCase.save_raise_pr(form, 'create', 'true')" 
            ng-disabled="!showCase.is_resubmitted">Send For Approval</button>
          <button ng-if="(!(showCase.print_enable) && !showCase.quantity_editable) && showCase.pending_status !='Cancelled' && showCase.pending_status != 'Rejected'" type="submit" class="btn pop pop-red pull-left" ng-click="showCase.approve_pr(form, 'rejected')">Reject PR</button>
        </div>
      </div>
    </div>
  </form>
</div>
