<div id="page-pop" class="modal fade in over-x">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" novalidate="novalidate">
    <div class="modal-dialog model-custom modal-lg" ng-style="showCase.extra_width">
      <div class="modal-content">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 class="modal-title pull-left">{{showCase.title}}</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 align="center"><b>{{showCase.model_data.company}}</b></h4>
            </div>
          </div>
          <button type="button" class="close" ng-click="showCase.close()"><span>&times;</span> </button>
        </div>
        <div class="modal-body" ng-class="(showCase.confirm_print)? 'hide': 'show'">
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-3">
            <div class="form-group">
              <label class="control-label"> PR Number </label>
              <input type="text" ng-model="showCase.model_data.pr_number" name="pr_number" class="form-control" ng-readonly="true"> </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <div class="form-group">
                <label class="control-label">PR Date</label>
                <input name="pr_created_date" ng-model="showCase.model_data.pr_created_date" class="form-control" type="text" id="pr_delivery_date" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
            <div class="form-group">
              <label class="control-label"> Department </label>
              <input type="text" ng-model="showCase.model_data.warehouse" name="warehouse" class="form-control" ng-readonly="true"> </div>
            </div>
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='Kits&Consumables'" style="padding: 5px;">
            <div ng-include="'views/inbound/toggle/ApprovalPendingLineItems/approval_kits_consumables.html'">
            </div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='Assets'" style="padding: 5px;">
            <div ng-include="'views/inbound/toggle/ApprovalPendingLineItems/approval_assets.html'"></div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='Services'" style="padding: 5px;">
            <div ng-include="'views/inbound/toggle/ApprovalPendingLineItems/approval_services.html'"></div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='OtherItems'" style="padding: 5px;">
            <div ng-include="'views/inbound/toggle/ApprovalPendingLineItems/approval_otheritems.html'"></div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <strong>Remarks :</strong>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
              <textarea rows="5" class="form-control" cols="27" name="approval_remarks" ng-model="showCase.model_data.approval_remarks" placeholder="Enter Remarks"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <strong class="pull-left">
              Remarks History:
              </strong>
              <table class="table">
                <thead>
                  <tr>
                    <th>Level</th>
                    <th>Approved By</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in showCase.model_data.levelWiseRemarks" id="tab_count">
                    <td>
                      <input ng-model="product.level" title="{{product.level}}" type="text" class="form-control detectTab" readonly ng-debounce  size="5">
                    </td>
                    <td>
                      <input ng-model="product.validated_by" title="{{product.validated_by}}" type="text" class="form-control detectTab" readonly ng-debounce  size="10">
                    </td>
                    <td>
                      <input ng-model="product.remarks" title="{{product.remarks}}" type="text" class="form-control detectTab" readonly ng-debounce size="50">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row insert-status">
            <h4 align="center">{{ showCase.message }}</h4>
          </div>
        </div>
        <div class="modal-footer" ng-if="showCase.warehouse_type != 'admin'">
          <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-yellow pull-left" ng-click="showCase.print_pending_po(form)">PRINT PR</button>
        </div>
      </div>
    </div>
  </form>
</div>
