<div style="display: block; padding-left: 13px;" class="modal fade process-toggle in" id="po-modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
  <!-- Modal -->
  <form id="wms_quality_wise">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">WMS Code wise Quality Check</h4> </div>
        <div class="modal-body">
          <div class="form-group clearfix">
            <div class="row col-md-12">
              <div class="col-md-3">
                <div class="form-group">
                  <div class="Enlarge" style="padding-left: 20px;padding-top: 24px;"> <img src="http://img.fkcdn.com/image/sari/6/e/u/102-pavecha-free-size-1024x800-imadz47hvnzh9vrz.jpeg" style="width: 90px;height: 150px;"> <span><img src="http://img.fkcdn.com/image/sari/6/e/u/102-pavecha-free-size-1024x800-imadz47hvnzh9vrz.jpeg" style="width: 400px;height: 600px;"></span> </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6">
                    <label>SKU Code
                      <label> </label>
                    </label>
                  </div>
                  <div class="col-md-6"> <b>102</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>WMS Code
                      <label> </label>
                    </label>
                  </div>
                  <div class="col-md-6"> <b>102</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Product Description
                      <label> </label>
                    </label>
                  </div>
                  <div class="col-md-6"> <b>Pavechas Printed Cotton Sari</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>SKU Type
                      <label> </label>
                    </label>
                  </div>
                  <div class="col-md-6"> <b>RM</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>SKU Category
                      <label> </label>
                    </label>
                  </div>
                  <div class="col-md-6"> <b>Fashion Georgette</b> </div>
                </div>
              </div>
            </div>
            <table class="table">
              <tbody>
                <tr class="active">
                  <th>Purchase Order</th>
                  <th>Quantity</th>
                  <th>Accepted Quantity</th>
                  <th>Rejected Quantity</th>
                </tr>
                <tr id="7">
                  <td>
                    <input name="id" value="7" type="hidden"> DEM20160601_40 </td>
                  <td>0</td>
                  <td>
                    <input name="accepted_quantity" value="" class="smallbox" type="text"> </td>
                  <td>
                    <input name="rejected_quantity" value="" class="smallbox" type="text"> </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row col-md-12 insert-status"></div>
          <div class="loading display-none">
            <div></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary save-scanned">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
