<style>
  .form-control{
    padding: 6px 5px;
  }
  .table > tbody > tr > td{
    padding: 10px 4px;
  }
  .sidebar-panel{
    z-index: 1000;
  }
  /* .ng-invalid-required {
    border: 1px solid red;
  } */
</style>
<div id="page-pop" class="modal fade in over-x" tabindex="-1" role="dialog" style="z-index: 1049">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate">
  <div class="modal-dialog model-custom modal-lg" ng-style="showCase.extra_width">
    <div class="modal-content mw100">
      <div class="process-overlay" ng-if="process || showCase.fb.process"><div class="process-text">Loading...</div></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4> </div>
      <!-- body-->
      <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
              <h4>Details :</h4>
              <div class="row" ng-repeat="model_name in showCase.grn_details_keys" ng-if="showCase.model_data[model_name]">
                <div class="col-xs-4"><b>{{showCase.grn_details[model_name]}}</b></div>
                <div class="col-xs-8">: {{showCase.model_data[model_name]}}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <button ng-if="(!(showCase.print_enable))" type="button" class="btn btn-success pull-right"
                ng-click="showCase.gen_barcode()">Generate Barcodes</button>
            </div>

			<div class="col-md-offset-1 col-md-3 col-sm-4 col-xs-4">
			  <p style="float:right">DC Level GRN :
			  <label class="switch switch-sm square mt5">
				  <input type="checkbox" name="dc_level_grn" ng-model="showCase.model_data.dc_level_grn">
				  <span style="margin-top: 28%;">
				<i class="handle"></i>
				  </span>
			  </label></p>
			</div>

            <div class="col-sm-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="lr_number" class="control-label"> LR Number </label>
                <input class="form-control" ng-model="showCase.model_data.lr_number" type="text" name="lr_number">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="form-group">
                <label for="carrier_name" class="control-label"> Carrier Name </label>
                <input class="form-control" ng-model="showCase.model_data.carrier_name" type="text" name="carrier_name">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="form-group">
                <label class="control-label">Expected Date</label>
                <input name="expected_date" ui-jq="datepicker" ng-model="showCase.model_data.expected_date" class="form-control stk-readonly" type="text" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}" readonly>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6" style="height:74px;">
              <div class="form-group">
                <label for="scan_sku" class="control-label"> Scan SKU </label>
                <textarea class="form-control" rows="1" ng-model="showCase.model_data.scan_sku" type="text" name="scan_sku" ng-keydown="showCase.scan_sku($event, showCase.model_data.scan_sku)" focus-on="focusSKU" auto-focus ng-readonly="showCase.scan_sku_disable"></textarea>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label for="remainder_mail" class="control-label"> Remainder Mail Duration </label>
                <input class="form-control number" ng-model="showCase.model_data.remainder_mail" type="text" name="remainder_mail"
                  maxlength="4">
              </div>
            </div>


            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.model_data.dc_level_grn">
              <div class="form-group">
                <label for="dc_number" class="control-label"> DC Number <span ng-if="showCase.user_type=='marketplace_user'">*</span></label>
                <input class="form-control" ng-model="showCase.model_data.dc_number" type="text" name="dc_number" ng-if="showCase.user_type=='marketplace_user'" required>
                <input class="form-control" ng-model="showCase.model_data.dc_number" type="text" name="dc_number" ng-if="showCase.user_type!='marketplace_user'">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.model_data.dc_level_grn">
              <div class="form-group">
                <label for="dc_date" class="control-label">DC Date <span ng-if="showCase.user_type=='marketplace_user'">*</span></label>
                <input name="dc_date" ui-jq="datepicker" ng-model="showCase.model_data.dc_date" class="form-control stk-readonly" type="text" data-date-today-highlight="true" data-date-autoclose="true" ng-if="showCase.user_type=='marketplace_user'" required readonly>
                <input name="dc_date" ui-jq="datepicker" ng-model="showCase.model_data.dc_date" class="form-control stk-readonly" type="text" data-date-today-highlight="true" data-date-autoclose="true" ng-if="showCase.user_type!='marketplace_user'" readonly>
              </div>
            </div>


            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.model_data.dc_level_grn==false">
              <div class="form-group">
                <label for="invoice_number" class="control-label"> Invoice Number <span ng-if="showCase.user_type=='marketplace_user'">*</span></label>
                <input class="form-control notallowspace" ng-model="showCase.model_data.invoice_number" type="text" name="invoice_number" ng-if="showCase.user_type=='marketplace_user'" required>
                <input class="form-control notallowspace" ng-model="showCase.model_data.invoice_number" type="text" name="invoice_number" ng-if="showCase.user_type!='marketplace_user'">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.model_data.dc_level_grn==false">
              <div class="form-group">
                <label for="invoice_date" class="control-label">Invoice Date <span ng-if="showCase.user_type=='marketplace_user'">*</span></label>
                <input name="invoice_date" ui-jq="datepicker" ng-model="showCase.model_data.invoice_date" class="form-control stk-readonly" type="text" data-date-today-highlight="true" data-date-autoclose="true" ng-if="showCase.user_type=='marketplace_user'" required readonly>
                <input name="invoice_date" ui-jq="datepicker" ng-model="showCase.model_data.invoice_date" class="form-control stk-readonly" type="text" data-date-today-highlight="true" data-date-autoclose="true" ng-if="showCase.user_type!='marketplace_user'" readonly>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.permissions.receive_po_invoice_check">
              <div class="form-group">
                <label for="invoice_number" class="control-label"> Invoice Value *</label>
                <input class="form-control" ng-model="showCase.model_data.invoice_value" type="text" ng-class="service.get_decimal_perm()" name="invoice_value" required>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label for="remarks" class="control-label"> Remarks </label>
                <textarea class="form-control" rows="2" ng-model="showCase.model_data.remarks" type="text" name="remarks" focus-on="focusSKU"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>WMS CODE</th>
                    <th>Title</th>
                    <!-- <th>PO Quantity</th> -->
                    <th>PO Qty</th>
                    <th ng-if="showCase.permissions.pallet_switch">Pallet Number</th>
                    <!-- <th>Received Quantity</th> -->
                    <th>Received Qty</th>
                    <th>UOM</th>
                    <th ng-if="showCase.permissions.use_imei">Serial Number</th>
                    <th>Unit Price</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Buy Price</th>
                    <th ng-if="showCase.industry_type=='FMCG'">MRP</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Weight</th>
                    <th>Discount</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Batch No</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Mfg. Date</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Exp. Date</th>
                    <th>Tax</th>
                    <th>Cess</th>
                    <th>Total</th>
                    <th ng-if="showCase.permissions.pallet_switch || showCase.industry_type=='FMCG'" class="plus"></th>
                    <th class="detail"></th>
                  <tr>
                </thead>
                <tbody ng-if="!showCase.sort_flag" ng-repeat="records in showCase.model_data.data" ng-init="outerIndex=$index">
                <!-- <tbody ng-repeat="records in showCase.tot_records" ng-init="outerIndex=$index"> -->
                  <tr ng-repeat="data in records" ng-init="innerIndex=$index" id="tab_count">
                    <td>
                      <input type="text" name="wms_code" size="30" class="form-control detectTab pricevalid" value="{{(data.wms_code == 'TEMP')? data.temp_wms: data.wms_code;}}" ng-readonly="records[0].dis && data.wms_code != 'TEMP'" title="{{ data.wms_code }}" ng-if="!data.is_new">

                      <input type="text" autocomplete="off" name="wms_code" size="30" class="form-control detectTab" placeholder="Search WMS Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" ng-model="data.wms_code" title="{{ data.wms_code }}" typeahead-on-select="showCase.get_sku_details(data, $item, innerIndex)" ng-if="data.is_new">

                      <!-- out of elements start -->
                      <input type="hidden" id="skuIndex" name="sku_index" class="form-control skuIndex" value="{{outerIndex}}">
                      <input type="hidden" name="supplier_id" value="{{showCase.model_data.supplier_id}}">
                      <input type="hidden" name="id" value="{{data.order_id}}" ng-model="data.order_id">
                      <input type="hidden" name="new_sku" value="{{data.is_new}}">
                      <input type="hidden" name="temp_json_id" value="{{data.temp_json_id}}">
                      <input ng-if="showCase.po_qc" type="hidden" class="form-control" value="{{data.accepted_quantity}}" name="accepted_quantity">
                      <input ng-if="showCase.po_qc" type="hidden" class="form-control" value="{{data.rejected_quantity}}" name="rejected_quantity">
                      <input ng-if="showCase.po_qc" type="hidden" class="form-control" value="{{data.accept_imei.join(',')}}" name="accepted">
                      <input ng-if="showCase.po_qc" type="hidden" class="form-control" value="{{data.reject_imei.join(',')}}" name="rejected">
                      <!-- out of elements end -->
                    </td>
                    <td>
                      <input type="text" ng-model="data.sku_desc" size="70" title="{{ data.sku_desc }}" class="form-control detectTab" readonly>
                    </td>
                    <td>
                      <input type="text" ng-model="data.po_quantity" size="10" ng-if="!data.is_new" title="{{ data.po_quantity }}" name="po_quantity" class="form-control detectTab" ng-readonly="records[0].dis" ng-class="service.get_decimal_perm()">
                      <input type="text" ng-model="data.po_quantity" size="10" ng-if="data.is_new" title="{{ data.po_quantity }}" name="po_quantity" class="form-control detectTab" ng-readonly="data.is_new" ng-class="service.get_decimal_perm()">
                    </td>
                    <td ng-if="showCase.permissions.pallet_switch"><input type="text" ng-show=" data.sku_details[0].fields.load_unit_handle == 'pallet'" ng-model="data.pallet_number" name="pallet_number" class="form-control detectTab"></td>
                    <td><input ng-if="showCase.model_data.use_imei=='false'" type="text" size="20" ng-model="data.value" name="quantity" class="form-control detectTab" ng-class="service.get_decimal_perm()" required ng-keyup="[showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex), showCase.send_for_approval_check($event, showCase.model_data)]" ng-readonly="showCase.permissions.use_imei">
                    <input ng-if="showCase.model_data.use_imei=='true'" type="text" size="20" ng-model="data.value" ng-init="data.value = !showCase.showOldQty ? 0 : data.value" name="quantity" class="form-control detectTab" ng-class="service.get_decimal_perm()" required ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)" ng-readonly="showCase.permissions.use_imei && data.show_imei"> </div></td>
                    <td><input type="text" ng-model="data.unit" size="12" title="{{ data.unit }}" name="unit" class="form-control detectTab" readonly></td>
                    <td ng-if="showCase.permissions.use_imei">
                      <input type="text" name="imei" attr-name="{{'imei_'+data.wms_code}}" ng-model="data.imei_number" class="form-control detectTab" ng-readonly="data.po_quantity == data.value || data.disable" ng-keydown="showCase.check_imei_exists($event, data, outerIndex)" ng-disabled="!data.show_imei">
                      <input ng-if="!showCase.po_qc" type="hidden" name="imei_number" class="form-control detectTab" value="{{data.imei_list.join(',')}}">
                    </td>
                    <td><input type="text" ng-model="data.price" title="{{ data.price }}" size="13" name="price" class="form-control detectTab" value="" ng-readonly="records[0].dis" ng-class="service.get_decimal_perm()" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)"></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.buy_price" size="13" title="{{ data.buy_price }}" name="buy_price" class="form-control" decimal-number value="{{data.buy_price}}" ng-keyup="[showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex), showCase.check_mrp_buy_price($event, showCase.model_data, innerIndex, outerIndex), showCase.send_for_approval_check($event, showCase.model_data)]" ng-required="showCase.receive_po_mandatory_fields['buy_price']"></td>
                    <!-- <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.buy_price" size="13" title="{{ data.buy_price }}" name="buy_price" ng-required="showCase.receive_po_mandatory_fields['buy_price']" class="form-control detectTab" ng-class="service.get_decimal_perm()" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)" value="{{data.buy_price}}"></td> -->
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.mrp" size="13" title="{{ data.mrp }}" name="mrp" class="form-control" decimal-number value="{{data.mrp}}" ng-required="showCase.receive_po_mandatory_fields['mrp']"></td>
                    <!-- <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.mrp" size="13" title="{{ data.mrp }}" name="mrp" class="form-control detectTab" ng-class="service.get_decimal_perm()" value="{{data.mrp}}"  ng-required="showCase.receive_po_mandatory_fields['mrp']"></td> -->
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.weight" size="13" title="{{ data.weight }}" name="weight" class="form-control detectTab" ng-class="service.get_decimal_perm()" value="{{data.weight}}" ng-required="showCase.receive_po_mandatory_fields['weight']"></td>
                    <td><input type="text" ng-model="data.discount_percentage" size="18" title="{{ data.discount_percentage }}" name="discount_percentage" class="form-control detectTab" ng-class="service.get_decimal_perm()" percentage-max-value="99.99" percentage-field="" value="{{data.discount_percentage}}" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)"></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.batch_no" size="15" title="{{ data.batch_no }}" name="batch_no" class="form-control detectTab" value="{{data.batch_no}}" ng-required="showCase.receive_po_mandatory_fields['batch_no']"></td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <input name="mfg_date" ui-jq="datepicker" size="25" title="{{ data.mfg_date }}" ng-model="data.mfg_date" ng-change="getExpiryDate(innerIndex, outerIndex)" class="form-control detectTab stk-readonly mfgDate" type="text" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}" ng-required="showCase.receive_po_mandatory_fields['mfg_date']"></td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <input name="exp_date" ui-jq="datepicker" size="25"  title="{{ data.exp_date }}" ng-model="data.exp_date" class="form-control detectTab stk-readonly expiryDatePicker" type="text" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}" ng-change="showCase.check_exp_date(data.exp_date, showCase.self_life_ratio, innerIndex, outerIndex)" ng-required="showCase.receive_po_mandatory_fields['exp_date']"></td>
                    <td><input type="text" ng-model="data.tax_percent" size="12" title="{{ data.tax_percent }}"  ng-class="decimal" ng-keyup="[showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex), showCase.send_for_approval_check($event, showCase.model_data)]" name="tax_percent" class="form-control detectTab" maxlength="5" value="{{data.tax_percent}}" decimal-number>
                    </td>
                    <td><input type="text" ng-model="data.cess_percent" size="12" id="tabChange" title="{{ data.cess_percent }}"  ng-class="decimal" name="cess_percent" class="form-control detectTab detectReceiveTab" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)" maxlength="5" value="{{data.cess_percent}}">
                    </td>
                    <td><input type="text" size="23" ng-model="data.total_amt" title="{{ data.total_amt }}" ng-class="service.get_decimal_perm()" class="form-control detectTab" value="{{data.total_amt}}" readonly>
                    <!-- <input type="text" size="40" ng-model="data.total_amt" title="{{ data.total_amt }}" ng-class="service.get_decimal_perm()" name="total_amt" class="form-control detectTab" value="{{data.total_amt}}" desabled> --></td>
                    <td ng-if="showCase.permissions.pallet_switch || showCase.industry_type=='FMCG'"><i ng-click="showCase.update_data(innerIndex, records)" ng-class="showCase.service.isLast($last)"></i></td>
                    <td ng-include="'views/production/toggle/common/custom_sku_details.html'">
                    </td>
                  </tr>
                </tbody>
                <tbody ng-if="showCase.sort_flag" ng-repeat="records in showCase.sort_items" ng-init="outerIndex=$index">
                <!-- <tbody ng-repeat="records in showCase.tot_records" ng-init="outerIndex=$index"> -->
                  <tr ng-repeat="data in records" ng-init="innerIndex=$index" id="tab_count">
                    <td>
                      <input type="text" name="wms_code" size="30" class="form-control detectTab pricevalid" value="{{(data.wms_code == 'TEMP')? data.temp_wms: data.wms_code;}}" ng-readonly="records[0].dis && data.wms_code != 'TEMP'" title="{{ data.wms_code }}" ng-if="!data.is_new">

                      <input type="text" autocomplete="off" name="wms_code" size="30" class="form-control detectTab" placeholder="Search WMS Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" ng-model="data.wms_code" title="{{ data.wms_code }}" typeahead-on-select="showCase.get_sku_details(data, $item, innerIndex)" ng-if="data.is_new">

                      <!-- out of elements start -->
                      <input type="hidden" id="skuIndex" name="sku_index" class="form-control skuIndex" value="{{outerIndex}}">
                      <input type="hidden" name="supplier_id" value="{{showCase.model_data.supplier_id}}">
                      <input type="hidden" name="id" value="{{data.order_id}}" ng-model="data.order_id">
                      <input type="hidden" name="new_sku" value="{{data.is_new}}">
                      <input type="hidden" name="temp_json_id" value="{{data.temp_json_id}}">
                      <input ng-if="showCase.po_qc" type="hidden" class="form-control" value="{{data.accepted_quantity}}" name="accepted_quantity">
                      <input ng-if="showCase.po_qc" type="hidden" class="form-control" value="{{data.rejected_quantity}}" name="rejected_quantity">
                      <input ng-if="showCase.po_qc" type="hidden" class="form-control" value="{{data.accept_imei.join(',')}}" name="accepted">
                      <input ng-if="showCase.po_qc" type="hidden" class="form-control" value="{{data.reject_imei.join(',')}}" name="rejected">
                      <!-- out of elements end -->
                    </td>
                    <td>
                      <input type="text" ng-model="data.sku_desc" size="70" title="{{ data.sku_desc }}" class="form-control detectTab" readonly>
                    </td>
                    <td><input type="text" ng-model="data.po_quantity" size="10" ng-if="!data.is_new" title="{{ data.po_quantity }}" name="po_quantity" class="form-control detectTab" ng-readonly="records[0].dis" ng-class="service.get_decimal_perm()">
                      <input type="text" ng-model="data.po_quantity" size="10" ng-if="data.is_new" title="{{ data.po_quantity }}" name="po_quantity" class="form-control detectTab" ng-readonly="data.is_new" ng-class="service.get_decimal_perm()"></td>
                    <td ng-if="showCase.permissions.pallet_switch"><input type="text" ng-show=" data.sku_details[0].fields.load_unit_handle == 'pallet'" ng-model="data.pallet_number" name="pallet_number" class="form-control detectTab"></td>
                    <td><input ng-if="showCase.model_data.use_imei=='false'" type="text" size="20" ng-model="data.value" name="quantity" class="form-control detectTab" ng-class="service.get_decimal_perm()" required ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)" ng-readonly="showCase.permissions.use_imei">
                    <input ng-if="showCase.model_data.use_imei=='true'" type="text" size="20" ng-model="data.value" ng-init="data.value = !showCase.showOldQty ? 0 : data.value" name="quantity" class="form-control detectTab" ng-class="service.get_decimal_perm()" required ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)" ng-readonly="showCase.permissions.use_imei"> </div></td>
                    <td><input type="text" ng-model="data.unit" size="12" title="{{ data.unit }}" name="unit" class="form-control detectTab" readonly></td>
                    <td ng-if="showCase.permissions.use_imei">
                      <input ng-if="outerIndex==0 && innerIndex==0" type="text" name="imei" attr-name="{{'imei_'+data.wms_code}}" ng-model="data.imei_number" class="form-control detectTab" ng-readonly="data.po_quantity == data.value || data.disable" ng-keydown="showCase.check_imei_exists($event, data, outerIndex)" focus-on="focusIMEI" auto-focus>
                      <input ng-if="outerIndex!=0" type="text" name="imei" attr-name="{{'imei_'+data.wms_code}}" ng-model="data.imei_number" class="form-control detectTab" ng-readonly="data.po_quantity == data.value || data.disable" ng-keydown="showCase.check_imei_exists($event, data, outerIndex)">
                      <input ng-if="!showCase.po_qc" type="hidden" name="imei_number" class="form-control detectTab" value="{{data.imei_list.join(',')}}">
                    </td>
                    <!-- <td ng-if="(showCase.permissions.use_imei) && (innerIndex >= 1)">
                      <input type="text" name="imei" attr-name="{{'imei_'+data.wms_code}}" ng-model="data.imei_number" class="form-control detectTab" ng-readonly="data.po_quantity == data.value || data.disable" ng-keydown="showCase.check_imei_exists($event, data, outerIndex)">
                      <input ng-if="!showCase.po_qc" type="hidden" name="imei_number" class="form-control detectTab" value="{{data.imei_list.join(',')}}">
                    </td> -->
                    <td><input type="text" ng-model="data.price" title="{{ data.price }}" size="13" name="price" class="form-control detectTab" value="" ng-readonly="records[0].dis" ng-class="service.get_decimal_perm()" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)"></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.buy_price" size="13" title="{{ data.buy_price }}" name="buy_price" class="form-control" value="{{data.buy_price}}" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)" ng-required="showCase.receive_po_mandatory_fields['buy_price']"></td>
                    <!-- <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.buy_price" size="13" title="{{ data.buy_price }}" name="buy_price" ng-required="showCase.receive_po_mandatory_fields['buy_price']" class="form-control detectTab" ng-class="service.get_decimal_perm()" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)" value="{{data.buy_price}}"></td> -->
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.mrp" size="13" title="{{ data.mrp }}" name="mrp" class="form-control" value="{{data.mrp}}" ng-required="showCase.receive_po_mandatory_fields['mrp']"></td>
                    <!-- <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.mrp" size="13" title="{{ data.mrp }}" name="mrp" class="form-control detectTab" ng-class="service.get_decimal_perm()" value="{{data.mrp}}"  ng-required="showCase.receive_po_mandatory_fields['mrp']"></td> -->
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.weight" size="13" title="{{ data.weight }}" name="weight" class="form-control detectTab" ng-class="service.get_decimal_perm()" value="{{data.weight}}" ng-required="showCase.receive_po_mandatory_fields['weight']"></td>
                    <td><input type="text" ng-model="data.discount_percentage" size="18" title="{{ data.discount_percentage }}" name="discount_percentage" class="form-control detectTab" ng-class="service.get_decimal_perm()" percentage-max-value="99.99" percentage-field="" value="{{data.discount_percentage}}" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)"></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.batch_no" size="15" title="{{ data.batch_no }}" name="batch_no" class="form-control detectTab" value="{{data.batch_no}}" ng-required="showCase.receive_po_mandatory_fields['batch_no']"></td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <input name="mfg_date" ui-jq="datepicker" size="25" title="{{ data.mfg_date }}" ng-model="data.mfg_date" ng-change="getExpiryDate(innerIndex, outerIndex)" class="form-control detectTab stk-readonly mfgDate" type="text" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}" ng-required="showCase.receive_po_mandatory_fields['mfg_date']"></td>
                    <td ng-if="showCase.industry_type=='FMCG'">
                      <input name="exp_date" ui-jq="datepicker" size="25"  title="{{ data.exp_date }}" ng-model="data.exp_date" class="form-control detectTab stk-readonly expiryDatePicker" type="text" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}" ng-change="showCase.check_exp_date(data.exp_date, showCase.self_life_ratio, innerIndex, outerIndex)" ng-required="showCase.receive_po_mandatory_fields['exp_date']"></td>
                    <td><input type="text" ng-model="data.tax_percent" size="12" title="{{ data.tax_percent }}"  ng-class="decimal" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)" name="tax_percent" class="form-control detectTab" maxlength="5" value="{{data.tax_percent}}">
                    </td>
                    <td><input type="text" ng-model="data.cess_percent" size="12" id="tabChange" title="{{ data.cess_percent }}"  ng-class="decimal" name="cess_percent" class="form-control detectTab detectReceiveTab" ng-keyup="showCase.calc_total_amt($event, showCase.model_data, innerIndex, outerIndex)" maxlength="5" value="{{data.cess_percent}}">
                    </td>
                    <td><input type="text" size="23" ng-model="data.total_amt" title="{{ data.total_amt }}" ng-class="service.get_decimal_perm()" class="form-control detectTab" value="{{data.total_amt}}" readonly>
                    <!-- <input type="text" size="40" ng-model="data.total_amt" title="{{ data.total_amt }}" ng-class="service.get_decimal_perm()" name="total_amt" class="form-control detectTab" value="{{data.total_amt}}" desabled> --></td>
                    <td ng-if="showCase.permissions.pallet_switch || showCase.industry_type=='FMCG'"><i ng-click="showCase.update_data(innerIndex, records)" ng-class="showCase.service.isLast($last)"></i></td>
                    <td ng-include="'views/production/toggle/common/custom_sku_details.html'">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" ng-hide="showCase.permissions.use_imei">
            <center>
              <button type="button" class="btn btn-default" style="margin-top:10px" ng-click="showCase.add_wms_code()">Add New WMS Code</button>
            </center>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group pull-left">
                <label for="remarks" class="control-label"> Round Off </label>
                <input type="checkbox" class="data-select" ng-change="showCase.round_off_effects(showCase.round_off)" ng-model="showCase.round_off" name="round_off">
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="col-md-5" ng-if="!showCase.round_off"></div>
              <div class="col-md-7">
                <h4 class='totals {{showCase.pull_cls}}' ng-style="showCase.margin_cls">Total: 0</h4>
              </div>
              <div class="col-md-5" ng-if="showCase.round_off">
                <div class="form-group">
                  <label for="remarks" class="control-label"> Round Off Total</label>
                  <input type="number" ng-model="showCase.model_data.round_off_total" title="{{ showCase.model_data.round_off_total }}" name="round_off_total" class="form-control pull-right" value="{{showCase.model_data.round_off_total}}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" onwheel="this.blur()" step="0.01">
                </div>
              </div>
            </div>
          </div>
          <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
      </div>
      <!-- body end-->
      <div class="modal-footer">
        <button ng-if="(!(showCase.print_enable))" type="button" class="pull-left btn pop pop-green col-xs-12 col-sm-3 col-md-2" ng-click="showCase.close_po(form)">Close PO</button>
        <button ng-if="(!(showCase.print_enable)) && !showCase.display_approval_button" type="button" class="btn pop pop-green pull-right col-xs-12 col-sm-3 col-md-2" ng-click="showCase.submit(form)">Save</button>
        <button ng-if="(!(showCase.print_enable)) && showCase.display_approval_button" type="button" class="btn pop pop-green pull-right col-xs-12 col-sm-3 col-md-2" ng-click="showCase.submit(form)">Send for Approval</button>
        <button ng-if="(!(showCase.print_enable)) && !showCase.display_approval_button" type="button" class="btn pop pop-normal pull-right col-xs-12 col-sm-4 col-md-3" data-dismiss="modal" ng-click="showCase.confirm_grn(form)">Generate GRN</button>
        <button ng-if="showCase.print_enable" type="button" class="btn pop pop-green pull-right" ng-click="showCase.print_grn()">Print</button>
        <button ng-if="showCase.print_enable" type="button" class="btn pop pop-normal" ng-click="showCase.barcode()">Print Barcodes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  </form>
  <!-- /.modal-dialog -->
</div>
