<div class="table-responsive mt20 ml20 mr20 mb20">
  <table class="table table-bordered mb20" ng-repeat="(size_type, size_data) in po_data.data_dict">
    <thead>
      <tr>
        <th ng-repeat="hd in ['Style Code', 'Style Name', 'Brand', 'Category']">{{hd}}</th>
        <th ng-repeat="size in size_data.all_sizes">{{size}}</th>
        <th ng-repeat="hd in ['Total Qty', 'Receivable Qty', 'Received Qty']">{{hd}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(name, style_data) in size_data.styles">
        <td ng-repeat="record in ['style_code', 'style_name', 'brand', 'category']">{{style_data.style_data[record]}}</td>
        <td ng-repeat="record in size_data.all_sizes">{{(style_data.sizes[record])? style_data.sizes[record]: 0;}}</td>
        <td ng-repeat="record in ['total_order_quantity', 'total_receivable_quantity', 'total_received_quantity']">
          {{(style_data.po_data[record])? style_data.po_data[record]: 0;}}
        </td>
      </tr>
    </tbody>
  </table>
  <!--<button type="button" class="btn btn-success pull-right mb10" ng-click="preview(po_data.order_detail_id, true)">Custom Order Preview</button>-->
  <span style="cursor: pointer;color: #2ecc71; text-decoration: underline; font-size: 16px;" ng-if="po_data.order_detail_id" ng-click="preview(po_data.order_detail_id);">Custom Order Preview</span>
</div>
