<div id="page-pop" style="display: block;" class="modal fade process-toggle in" id="location-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
  <form name="form" role="form">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content model-custom">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">Consolidated Preview</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>Supplier</th>
                  <th>PR Number</th>
                  <th>SKU Code</th>
                  <th>Quantity</th>
                  <th>Unit Rate</th>
                  <th>Amount</th>
                  <th>Tax %</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in showCase.preview_data.data">
                  <td>
                    <select ui-select ng-model="data.supplier" class="form-control" name="supplier" style="width:auto;">
                      <option ng-selected="data.supplier" value="{{data.supplier}}">{{data.supplier}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control" ng-model="data.pr_number" type="text" name="pr_number"readonly>
                    <input ng-hide="true" class="form-control" ng-model="data.pr_id" type="text" name="pr_id">
                  </td>
                  <td>
                    <input class="form-control" ng-model="data.sku_code" type="text" name="sku_code"readonly>
                  </td>
                  <td>
                    <input class="form-control" ng-model="data.quantity" type="text" name="quantity"readonly>
                  </td>
                  <!-- <td>{{data.pr_number}}</td> -->
                  
                  <!-- <td>{{data.quantity}}</td> -->
                  <td>{{data.unit_price}}</td>
                  <td>{{data.amount}}</td>
                  <td>{{data.tax}}</td>
                  <td>{{data.total}}</td>
                 </tr>
               </tbody>
             </table>
          </div>
        </div>
        <div class="row mt20">
          <button type="button" class="btn btn-danger btn-block" style="width:100px;margin: auto;margin-bottom: 10px;" ng-click="showCase.convert_pr_to_po(form)">
            <i class="ti-printer mr5"></i>Proceed
          </button>
        </div>
      </div>
    </div>
  </form>
</div>