<div id="page-pop" class="modal fade in over-x" ng-style="showCase.display_vision">
  <form name="form" role="form">
    <div class="modal-dialog model-custom modal-lg" ng-style="showCase.extra_width">
      <!-- Modal content-->
      <div class="modal-content mw60" style="width: fit-content;">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">Consolidated Preview</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" ng-init="showCase.allSelected=false" 
                            ng-model="showCase.allSelected" 
                            ng-change="showCase.customSelectAll(showCase.allSelected)">
                  </th>
                  <!-- <th>Checkbox</th> -->
                  <th>Supplier Id/Name</th>
                  <!-- <th></th> -->
                  <th>PR Number</th>
                  <th>Product Category</th>
                  <th>SKU Code</th>
                  <th>SKU Desc</th>
                  <th>MOQ</th>
                  <th>Quantity</th>
                  <th>Unit Rate(INR)</th>
                  <th>Amount(INR)</th>
                  <th>Tax %</th>
                  <th>Total(INR)</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in showCase.preview_data.data">
                <td> <input type="checkbox" ng-model="data.checkbox"> </td>
                <td>
                  <select ui-select class="form-control" name="supplier" style="width:140px;"
                  ng-init="data.supplier_id_name=showCase.getFirstSupplier(data);"
                  ng-model="data.supplier_id_name" 
                  ng-change="showCase.getsupBasedPriceDetails(data.supplier_id_name, data)">
                    <option ng-repeat="(supplier_id_name, details) in data.supplierDetails"
                    value="{{supplier_id_name}}">{{supplier_id_name}}
                    </option>
                  </select>
                </td>
                <!-- <td>
                  <span class="badge bg-warning" ng-if="data.is_doa_sent"> SentDOA</span>
                  <span class="badge bg-primary" ng-click="showCase.move_to_sku_supplier(data.sku_code, data)" ng-if="!data.supplier_id_name && !data.is_doa_sent" style="cursor: pointer;">+</span>
                </td>  -->
                <td>
                  {{data.pr_number}}
                  <input ng-hide="true" class="form-control" ng-model="data.pr_id" type="text" name="pr_id">
                </td>
                <td> {{data.product_category}} </td>
                <td> <span ng-class="showCase.getColor(data)"> {{data.sku_code}} </span> </td>
                <td> {{data.sku_desc}} </td>
                <td> {{data.moq}} </td>
                <td> {{data.quantity}} </td>
                <!-- <td> <input type="number" class="form-control" ng-model="data.quantity" name="quantity" size="25"> </td> -->
                <td> {{data.price}} </td>
                <td> {{data.amount}} </td>
                <td> {{data.tax}} </td>
                <td> {{data.total * data.quantity}} </td>
               </tr>
             </tbody>
           </table>
          </div>
        </div>
        <div class="row mb10">
          <button type="button" class="btn btn-success pull-left ml15" ng-click="showCase.send_to_parent_store(form)" ng-if="showCase.warehouse_type == 'SUB_STORE'">
            Send To Parent Store
          </button>
          <button type="button" class="btn btn-danger pull-right mr15" ng-click="showCase.convert_pr_to_po(form)">
            Convert to PO
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
