<style>
  .form-control{
    padding: 6px 5px;
  }
  .table > tbody > tr > td{
    padding: 10px 4px;
  }
</style>
<div id="page-pop" style="display: block;" class="modal fade process-toggle in" id="sku-toggle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
  <!-- Modal -->
  <form id="putaway_confirmation">
    <div class="modal-dialog model-custom modal-lg" ng-style="showCase.extra_width" style="width:1000px">
      <div class="modal-content model-custom">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span> </button>
          <h4 class="modal-title" id="myLargeModalLabel">Putaway Confirmation</h4> </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="form-group">
                <label class="control-label">PO Number</label>
                <input class="form-control" type="text" value="{{showCase.model_data.po_number}}" disabled="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.permissions.use_imei">
              <div class="form-group">
                <label class="control-label">Scan Location</label>
                <textarea class="form-control" cols="27" ng-model="showCase.model_data.scan_location" ng-keydown="showCase.check_location($event, showCase.model_data.scan_location)" attr-name="location"></textarea>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.permissions.use_imei">
              <div class="form-group">
                <label class="control-label">Scan SKU</label>
                <textarea class="form-control" cols="27" ng-model="showCase.model_data.scan_sku" ng-keydown="showCase.check_sku($event, showCase.model_data.scan_sku)" attr-name="sku"></textarea>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.permissions.use_imei">
              <p ng-if="showCase.sug_sku">Suggested SKU: {{showCase.sug_sku}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div style="overflow-x:auto" class="col-md-12">
              <table class="table mw45">
                <thead>
                  <tr>
                    <th> WMS CODE </th>
                    <th> Description </th>
                    <th> Location </th>
                    <th ng-if="showCase.permissions.pallet_switch"> Pallet Code </th>
                    <th> Original Quantity </th>
                    <th> Measurement </th>
                    <th> Putaway Quantity </th>
                    <th ng-if="showCase.industry_type=='FMCG'">PO Unit Price</th>
                    <th ng-if="showCase.industry_type=='FMCG'">MRP</th>
                    <th ng-if="showCase.industry_type=='FMCG' && user.user_profile.user_type == 'marketplace_user'">Weight</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Batch No</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Mfg. Date</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Exp. Date</th>
                  </tr>
                </thead>
                <tbody ng-repeat="data in showCase.model_data.data">
                  <tr class="field" ng-repeat="sku in data.sub_data">
                    <input type="hidden" value="{{data.id}}" name="id">
                    <input type="hidden" value="{{data.orig_loc_id}}" name="orig_loc_id">
                    <input type="hidden" value="{{showCase.model_data.order_id}}" name="po_id">
                    <input type="hidden" name="orig_data" value="{{data.pallet_group_data}}">
                    <td><input type="text" name="wms_code" class="form-control" value="{{data.wms_code}}" readonly=""></td>
                    <td><input type="text" class="form-control" value="{{data.sku_desc}}" size="60" readonly="" title="{{data.sku_desc}}"></td>
                    <td><input type="text" name="loc" class="form-control" size="60" ng-model="sku.loc" title="{{sku.loc}}"></td>
                    <td ng-if="showCase.permissions.pallet_switch"><input ng-if="data.load_unit_handle == 'pallet'" type="text" name="pallet_number" class="form-control" value="{{data.pallet_number}}" readonly="" style="width:90%"></td>
                    <td><input type="text" name="original_quantity" class="form-control" value="{{data.original_quantity}}" readonly=""></td>
                    <td><input type="text" ng-model="data.unit" name="unit" class="form-control" readonly></td>
                    <td><input type="text" name="quantity" class="form-control" ng-model="sku.quantity" ng-class="service.get_decimal_perm()" ng-change="showCase.count_sku_quantity();showCase.cal_quantity(sku, data);"></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.buy_price" size="22" title="{{ data.buy_price }}" name="buy_price" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.buy_price}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.mrp" size="22" title="{{ data.mrp }}" name="mrp" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.mrp}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG' && user.user_profile.user_type == 'marketplace_user'"><input type="text" ng-model="data.weight" size="22" title="{{ data.weight }}" name="weight" class="form-control"  value="{{data.weight}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.batch_no" title="{{ data.batch_no }}" name="batch_no" class="form-control" value="{{data.batch_no}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.manufactured_date" size="33" title="{{ data.manufactured_date }}" name="manufactured_date" class="form-control" value="{{data.manufactured_date}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.expiry_date" size="33" title="{{ data.expiry_date }}" name="expiry_date" class="form-control" value="{{data.expiry_date}}" readonly></td>
                    <td><i ng-if="sku.quantity != data.original_quantity" ng-hide="sku.new" ng-click="showCase.update_data($index,data, $last);" ng-class="showCase.isLast($last);"></td>
                  <tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row"><h4 align="center">{{showCase.message}}</h4></div>
        </div>
        <div class="hide print-html">
          <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel">Putaway Confirmation</h4>
          </div>
          <div class="modal-body">
    <h5>PO Number: <b>{{showCase.model_data.po_number}}</b></h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>WMS CODE</th>
            <th> Description </th>
            <th>Location</th>
            <th ng-if="showCase.permissions.pallet_switch">Pallet Number</th>
            <th>Original Quantity</th>
            <th>Putaway Quantity</th>
            <th ng-if="showCase.industry_type=='FMCG'">PO Unit Price</th>
            <th ng-if="showCase.industry_type=='FMCG'">MRP</th>
            <th ng-if="showCase.industry_type=='FMCG'">Batch No</th>
            <th ng-if="showCase.industry_type=='FMCG'">Mfg. Date</th>
            <th ng-if="showCase.industry_type=='FMCG'">Exp. Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="data in showCase.model_data.data">
          <tr class="receive-toggle" ng-repeat="sku in data.sub_data">
            <td>{{data.wms_code}}</td>
            <td>{{data.sku_desc}}</td>
            <td>{{sku.loc}}</td>
            <td ng-if="showCase.permissions.pallet_switch">{{data.pallet_number}}</td>
            <td>{{data.original_quantity}}</td>
            <td>{{sku.quantity}}</td>
            <td ng-if="showCase.industry_type=='FMCG'">{{data.buy_price}}</td>
            <td ng-if="showCase.industry_type=='FMCG'">{{data.mrp}}</td>
            <td ng-if="showCase.industry_type=='FMCG'">{{data.batch_no}}</td>
            <td ng-if="showCase.industry_type=='FMCG'">{{data.manufactured_date}}</td>
            <td ng-if="showCase.industry_type=='FMCG'">{{data.expiry_date}}</td>
            <td></td>
           </tr>
         </tbody>
       </table>
     </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn pop pop-normal" ng-click="showCase.print();">Print</button>
          <button type="button" class="btn pop pop-green" ng-click="showCase.submit();">Confirm</button>
        </div>
      </div>
    </div>
  </form>
</div>
