<div id="page-pop" aria-hidden="false" aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" id="po-modal" class="modal fade process-toggle in" style="display: block; padding-right: 13px;">
  <form id="confirm_quality_check">
    <div class="modal-dialog model-custom modal-lg" ng-style="showCase.extra_width">
      <div class="modal-content">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">×</span> </button>
          <h4 id="myLargeModalLabel" class="modal-title">Confirm Quality Check</h4>
        </div>
        <div style="border:none;" class="modal-body">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <label class="control-label"> Purchase Order ID </label>
              <input type="text" id="scan_qc" class="form-control" value="{{showCase.model_data.po_reference}}" readonly></div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <label class="control-label">Scan WMS Code / EAN</label>
              <input type="text" id="scan_qc" class="form-control" ng-model="showCase.scan" ng-keydown="showCase.scan_sku($event,showCase.scan)" ng-disabled="showCase.confirm_btn">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6"ng-show="showCase.permissions.use_imei">
              <label class="control-label">Scan IMEI Number</label>
              <input type="text" class="form-control" ng-model="showCase.imei_number" ng-keydown="showCase.scan_imei($event,showCase.imei_number)" auto-focus>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div style="overflow-x:auto" class="col-md-12">
              <table class="table mw60">
                <thead>
                  <tr>
                    <th> WMS Code </th>
                    <th> Location </th>
                    <th> Quantity </th>
                    <th> Measurement </th>
                    <th> Accepted Quantity </th>
                    <th> Rejected Quantity </th>
                    <th> Reason </th>
                    <th ng-if="showCase.industry_type=='FMCG'">PO Unit Price</th>
                    <th ng-if="showCase.industry_type=='FMCG'">MRP</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Batch No</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Mfg. Date</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Exp. Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="data in showCase.model_data.updated_skus">
                    <input type="hidden" class="form-control" value="{{data.id}}" name="id">
                    <td><input type="text" class="form-control" value="{{data.wms_code}}" name="location" disabled></td>
                    <td><input type="text" class="form-control" value="{{data.location}}" name="location" disabled></td>
                    <td><input type="number" class="form-control" value="{{data.quantity}}" name="quantity" disabled></td>
                    <td><input type="text" ng-model="data.unit" name="unit" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" ng-model="data.accepted_quantity" name="accepted_quantity" ng-class="service.get_decimal_perm()" ng-change="showCase.checkQty(data)" ng-readonly="showCase.permissions.use_imei || data.acc_qty"></td>
                    <td><input type="text" class="form-control" ng-model="data.rejected_quantity" name="rejected_quantity" ng-class="service.get_decimal_perm()" ng-readonly="showCase.permissions.use_imei"></td>
                    <td>
                      <input type="text" class="form-control" ng-model="data.reason" name="reason">
                      <input type="hidden" class="form-control" value="{{data.accept_imei.join(',')}}" name="accepted">
                      <input type="hidden" class="form-control" value="{{data.reject_imei.join(',')}}" name="rejected">
                    </td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.po_unit" size="22" title="{{ data.po_unit }}" name="po_unit" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.po_unit}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.mrp" size="22" title="{{ data.mrp }}" name="mrp" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.mrp}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.batch_no" title="{{ data.batch_no }}" name="batch_no" class="form-control" value="{{data.batch_no}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.mfg_date" size="33" title="{{ data.mfg_date }}" name="mfg_date" class="form-control" value="{{data.mfg_date}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.exp_date" size="33" title="{{ data.exp_date }}" name="exp_date" class="form-control" value="{{data.exp_date}}" readonly></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row"><h4 align="center">{{showCase.message}}</h4></div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn pop pop-normal" type="button" ng-click="showCase.close()">Close</button>
          <button class="btn pop pop-green" type="button" ng-click="showCase.confirm()" ng-disabled="showCase.confirm_btn">Confirm</button>
        </div>
      </div>
    </div>
  </form>
</div>
