<div id="page-pop" style="display: block; padding-left: 13px;z-index: 1000" class="modal fade process-toggle in" id="po-modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
  <!-- Modal -->
  <form id="wms_quality_wise">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.update_details(showCase.current_details, true)"><span aria-hidden="true">x</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">WMS Code wise Quality Check</h4>
        </div>
        <div class="modal-body">
          <div class="form-group clearfix">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                  <div class="Enlarge"> <img ng-src="{{service.check_image_url(showCase.model_data1.image)}}" style="width: 100%">
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-4">
                    <label>SKU Code
                      <label> </label>
                    </label>
                    <b class="pull-right">:</b>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-8"> <b> {{showCase.model_data1.sku_data['SKU Code']}}</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-4">
                    <label>Product Description
                      <label> </label>
                    </label>
                    <b class="pull-right">:</b>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-8"> <b> {{showCase.model_data1.sku_data['Product Description']}}</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-4">
                    <label>SKU Brand
                      <label> </label>
                    </label>
                    <b class="pull-right">:</b>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-8"> <b> {{showCase.model_data1.sku_data['SKU Brand']}}</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-4">
                    <label>SKU Category
                      <label> </label>
                    </label>
                    <b class="pull-right">:</b>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-4"> <b> {{showCase.model_data1.sku_data['SKU Category']}}</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-4">
                    <label>SKU Class
                      <label> </label>
                    </label>
                    <b class="pull-right">:</b>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-8"> <b> {{showCase.model_data1.sku_data['SKU Class']}}</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-4">
                    <label>Color
                      <label> </label>
                    </label>
                    <b class="pull-right">:</b>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-8"> <b> {{showCase.model_data1.sku_data['Color']}}</b> </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-4">
                    <label>Scan WMS Code / EAN
                      <label> </label>
                    </label>
                    <b class="pull-right">:</b>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-8">
                    <input type="text" id="scan_qc" class="form-control" ng-model="showCase.scan" ng-keydown="showCase.scan_sku($event,showCase.scan)" ng-disabled="showCase.confirm_btn"> </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div style="overflow-x:auto" class="col-md-12">
                <table class="table mw55">
                  <thead>
                    <tr>
                      <th>Purchase Order</th>
                      <th>Quantity</th>
                      <th>Accepted Quantity</th>
                      <th>Rejected Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input name="id" value="{{showCase.model_data.po_reference}}" type="hidden"> {{showCase.model_data.po_reference}} </td>
                      <td>{{showCase.model_data.data[showCase.current_index].quantity}}</td>
                      <td>
                        <input name="accepted_quantity" ng-model="showCase.model_data.data[showCase.current_index].accepted_quantity" type="text" ng-readonly="showCase.permissions.use_imei || showCase.model_data.data[showCase.current_index].acc_qty" ng-change="showCase.checkQty(showCase.model_data.data[showCase.current_index])" ng-class="service.get_decimal_perm()" class="form-control"> </td>
                      <td>
                        <input name="rejected_quantity" ng-model="showCase.model_data.data[showCase.current_index].rejected_quantity" type="text" ng-readonly="showCase.permissions.use_imei" ng-class="service.get_decimal_perm()" class="form-control">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row" ng-if="showCase.permissions.use_imei">
            <div class="col-md-12"><hr></div>
            <div class="col-md-2 col-sm-2 col-xs-4"><button class="form-control pull-left" type="button" ng-click="showCase.show_status_scan = true">Status Swap</button></div>
            <div class="col-md-3 col-sm-3 col-xs-4" ng-if="showCase.show_status_scan">
              <textarea placeholder="Scan IMEI" name="serial_number" rows="1" ng-model="showCase.status_imei" ng-keydown="showCase.status_scan_imei($event,showCase.status_imei)" class="form-control"></textarea>
            </div>
          </div>
          <div class="row" ng-if="showCase.permissions.use_imei">
            <div class="col-md-12"><hr></div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Scan Serial Number </label>
                <textarea ng-model="showCase.serial_scan" name="serial_number" rows="1" id="scan-qc" ng-keydown="showCase.scan_imei($event,showCase.serial_scan)" class="form-control" auto-focus focus-on="focusIMEI"></textarea>
              </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-6 mt25">
              <button class="form-control pull-left" type="button" name="reject" ng-disabled="showCase.enable_button" ng-click="showCase.reason_show = true; showCase.enable_button = true" style="width:100px">Reject</button>
              <select id="reject_reason" class="ml10 form-control pull-left" ng-model="showCase.selected" ng-if="showCase.reason_show" style="width:200px">
                <option selected value="">None</option>
                <option ng-repeat="opt in showCase.model_data1.options" value="{{opt}}">{{opt}}</option>
              </select>
              <button type="button" class="ml10 form-control btn-default pull-left" id="save-reason" ng-click="showCase.reject_qc();" ng-if="showCase.reason_show" style="width:100px">Done</button>
            </div>
          </div>
          <div class="row">
            <h4 align="center">{{showCase.message}}</h4>
          </div>
          <div class="loading display-none">
            <div></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.update_details(showCase.current_details, true)">Close</button>
          <button type="button" class="btn pop pop-green hide" ng-click="showCase.update_details(showCase.current_details, true)">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
