<style type="text/css">
   /* The container */
  .container {
      padding-left: 15px;
      cursor: pointer;
      font-size: 12px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
      opacity: 0;
      cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border: 0px solid #eee;
      border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
      background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
      background-color: #47bf1f;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
      display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
   /* The container */
  .container1 {
      padding-left: 15px;
      cursor: pointer;
      font-size: 12px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  /* Hide the browser's default radio button */
  .container1 input {
      opacity: 0;
      cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark1 {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border: 0px solid #eee;
      border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark1 {
      background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container1 input:checked ~ .checkmark1 {
      background-color: red;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark1:after {
      content: "";
      position: absolute;
      display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container1 input:checked ~ .checkmark1:after {
      display: block;
  }

  /* Style the indicator (dot/circle) */
  .container1 .checkmark1:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
</style>

<div id="page-pop" class="modal fade in over-x">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" novalidate="novalidate" class="pr_form">
    <div class="modal-dialog model-custom modal-lg" ng-style="showCase.extra_width">
      <div class="modal-content">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 class="modal-title pull-left">{{showCase.title}}</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 align="center"><b>{{showCase.model_data.company}}</b></h4>
              <h6 align="center"><b>{{showCase.model_data.wh_address}}</b></h4>
            </div>
          </div>
          <button type="button" class="close" ng-click="showCase.close()"><span>&times;</span> </button>
        </div>
        <div class="modal-body" style="padding:5px">
          <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="form-group">
              <label class="control-label">Product Category</label>
              <select class="form-control" name="product_category" 
              ng-init="showCase.model_data.product_category='Kits&Consumables'"
              ng-model="showCase.model_data.product_category"
              ng-change="showCase.reset_model_data(showCase.model_data.product_category)">
                <option ng-repeat="prod_catg in showCase.model_data.product_categories" 
                        value="{{prod_catg}}">{{prod_catg}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="form-group">
              <label class="control-label">Category</label>
              <select class="form-control" name="sku_category" 
                      ng-model="showCase.model_data.sku_category"
                      ng-change="showCase.reset_model_data(showCase.model_data.product_category)">
                <option value="">all</option>
                <option ng-repeat="sku_catg in showCase.model_data.sku_categories" 
                        value="{{sku_catg}}">{{sku_catg}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label">Need by Date</label>
                <input name="pr_delivery_date" ui-jq="datepicker" ng-model="showCase.model_data.pr_delivery_date" class="form-control stk-readonly" type="text" id="pr_delivery_date" data-date-format="dd-mm-yyyy" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}">
              </div>
            </div>
          <div class="col-md-6 col-sm-8">
            <div class="form-group">
               <div class="col-md-3 mt30" align="right">
                 <label class="container">Normal Request
                  <input type="radio" name="priority_type" 
                  ng-model="showCase.model_data.priority_type" value="normal"
                  ng-checked="true">
                  <span class="checkmark"></span>
                </label>
               </div>
               <div class="col-md-3 mt30" align="right">
                 <label class="container1">Urgent Request
                  <input type="radio" name="priority_type" ng-model="showCase.model_data.priority_type" value="urgent"
                  ng-checked="showCase.model_data.priority_type == 'urgent'">
                  <span class="checkmark1"></span>
                </label>
               </div>
              </div>
           </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='Kits&Consumables'" >
            <div ng-include="'views/inbound/toggle/RaisependinglineItems/kits_consumables.html'"></div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='Assets'" >
            <div ng-include="'views/inbound/toggle/RaisependinglineItems/assets.html'"></div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='Services'" >
            <div ng-include="'views/inbound/toggle/RaisependinglineItems/services.html'"></div>
          </div>
          <div class="row" ng-if="showCase.model_data.product_category=='OtherItems'" >
            <div ng-include="'views/inbound/toggle/RaisependinglineItems/other_items.html'"></div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <strong>Remarks :</strong>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <textarea rows="5" class="form-control" cols="27" name="approval_remarks" ng-model="showCase.model_data.approval_remarks" placeholder="Enter Remarks"></textarea>
            </div>
          </div>

          <div class="row" ng-if="showCase.model_data.product_category!='Kits&Consumables'">
            <div class="form-group col-md-3" style="padding-top: 30px;">
               <span>
                 <input class="btn btn-primary" type = "file" name="files" id="file-upload" ng-model="file_input" />
               </span>
            </div>
          </div>
    		</div>
      </div>
      <div class="modal-footer" ng-if="showCase.warehouse_type != 'admin'">
        <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-green pull-left" ng-click="showCase.save_raise_pr(form, 'save')">Save</button>
        <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-green" ng-click="showCase.save_raise_pr(form, 'create')">Send For Approval</button>
      </div>
    </div>
  </form>
</div>
