<div id="page-pop" class="modal fade in over-x" tabindex="-1" role="dialog" style="display: block;">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate">
  <div class="modal-dialog model-custom modal-lg">
    <div class="modal-content mw45">
      <div ng-include="'views/common/loader.html'"></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4>
      </div>
      <!-- body-->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label"> Warehouse Name *</label>
              <select ng-if="(!(showCase.update))" class="form-control" name="warehouse_name" required>
                <option ng-repeat="option in showCase.model_data.warehouse_list" value="{{option}}">{{option}}</option>
              </select>
              <input type="text" class="form-control" name="warehouse_name" ng-model="showCase.model_data.warehouse" ng-if="showCase.update" ng-readonly="showCase.update"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><hr></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th> SKU Code* </th>
                  <th> Quantity* </th>
                  <th> Price </th>
                  <th class="plus"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in showCase.model_data.data">
                  <input type="hidden" name="id" value="{{product.id}}">
                  <td>
                    <input type="text" autocomplete="off" name="wms_code" class="form-control ng-dirty ng-valid ng-valid-required ng-valid-editable" placeholder="Search SKU Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="product.wms_code" ng-required="$first" typeahead-on-select="product.wms_code = $item.wms_code;" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-00B-4663" required="required">
                    <!--<input id="wms1" ng-model="product.wms_code" type="text" name="wms_code" class="form-control mapping-check" ng-required ="$first">-->
                  </td>
                  <td><input id="quant1" ng-model="product.order_quantity" type="text" name="order_quantity" class="form-control" ng-class="service.get_decimal_perm()" ng-required ="$first"> </td>
                  <td><input type="text" ng-model="product.price" name="price" class="form-control" decimal-number > </td>
                  <td> <i ng-click="showCase.update_data($index)" ng-class="showCase.isLast($last)"></i> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row"><h4 align="center">{{showCase.message}}</h4></div>
      </div>
      <!-- body end-->
      <div class="modal-footer">
        <button type="submit" class="btn pop pop-normal" ng-click="showCase.save_stock(form)">Save</button>
        <button type="submit" class="btn pop pop-green" data-dismiss="modal" ng-click="showCase.confirm_stock(form)" title="Confirm Stock Transfer">Confirm</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  </form>
  <!-- /.modal-dialog -->
</div>
