<style type="text/css">
  .table > tbody > tr > td{
    padding: 5px 5px;
  }
  .form-control{
    padding: 6px 6px;
  }
</style>
<div id="page-pop" class="modal fade in over-x">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" novalidate="novalidate">
    <div class="modal-dialog model-custom modal-lgi" ng-style="showCase.extra_width">
      <div class="modal-content mw60">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 class="modal-title pull-left">{{showCase.title}}</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 align="center"><b>{{showCase.model_data.company}}</b></h4>
            </div>
          </div>
          <button type="button" class="close" ng-click="showCase.close()"><span>&times;</span> </button>
        </div>
        <div class="modal-body raise_po" ng-class="(showCase.confirm_print)? 'hide': 'show'">
          <div ng-if="!(user.user_profile.user_type == 'marketplace_user')">
            <div class="row" ng-if="(!(showCase.update)) && showCase.warehouse_type != 'CENTRAL_ADMIN'">
              <div class="col-md-11 col-sm-11 col-xs-10">
                <p align="right">Vendor Receipt</p>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-2">
                <label class="switch switch-sm square">
                  <div>
                    <input type="checkbox" ng-model="showCase.vendor_receipt">
                    <span>
                      <i class="handle"></i>
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6" ng-show="showCase.model_data.receipt_type != 'Hosted Warehouse'">
              <div class="form-group">
                <label class="control-label"> Supplier ID/Name * </label>
                <input type="text" autocomplete="off" ng-if="(!(showCase.update))" name="supplier_id_name" ng-model="showCase.model_data.supplier_id_name" placeholder="Search Supplier"
                  typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_supplier?')" typeahead-loading="loadingLocations" class="form-control"
                  typeahead-on-select="showCase.model_data.supplier_id = showCase.service.change_search_value(showCase.model_data.supplier_id_name); showCase.update_wms_records()"
                  ng-blur="showCase.service.checkSearchValue(showCase.model_data.supplier_id, 'search_supplier?', $event, '', 'Supplier');"
                  ng-keyup="$event.keyCode == 13 ? showCase.checkSupplierExist(showCase.model_data.supplier_id) : null"
                  ng-required="(showCase.model_data.receipt_type != 'Hosted Warehouse')? true: false;" ng-disabled="showCase.update"
                >
                <input name="supplier_id" class="form-control" type="hidden" ng-model="showCase.model_data.supplier_id" value="{{showCase.model_data.supplier_id}}">
                <input name="supplier_id_name" class="form-control" ng-if="showCase.update" type="text" ng-model="showCase.model_data.supplier_id_name" value="{{showCase.model_data.supplier_id_name}}" ng-readonly="showCase.update">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.vendor_receipt">
              <div class="form-group">
                <label class="control-label"> Vendor ID/Name * </label>
                <input type="text" autocomplete="off" ng-show="(!(showCase.update))" name="vendor_id" class="form-control" placeholder="Search Vendor" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_vendor?')" typeahead-loading="loadingLocations" ng-model="showCase.model_data.vendor_id" typeahead-on-select="showCase.model_data.vendor_id = showCase.service.change_search_value(showCase.model_data.vendor_id)" ng-blur="showCase.service.checkSearchValue(showCase.model_data.vendor_id, 'search_vendor?', $event, '', 'Vendor')" required>
                 <input name="vendor_id" class="form-control" ng-if="showCase.update" type="text" ng-model="showCase.model_data.vendor_id" ng-readonly="showCase.update">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="!(user.user_profile.user_type == 'marketplace_user')">
              <div class="form-group">
                <label class="control-label"> PO Reference </label>
                <input type="text" ng-model="showCase.model_data.po_name" name="po_name" class="form-control"> </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="!(user.user_profile.user_type == 'marketplace_user')">
              <div class="form-group">
                <label class="control-label">Address</label><br>
                <div class="btn-group mr15" dropdown="">
                  <button type="button" ng-init = "showCase.model_data.shipment_address_select = 'Select Shipment Address'" ng-model="showCase.model_data.shipment_address_select" class="btn btn-default dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false" style="width: 300px;">{{showCase.model_data.shipment_address_select}} <span class="caret"></span> </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="data in showCase.model_data.ship_addr_names" ng-click= "showCase.ship_addr_change(data)"> <a href="javascript:;">{{data}}</a> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="!(user.user_profile.user_type == 'marketplace_user')">
              <div class="form-group">
                <label class="control-label"> Ship To </label>
                <input type="text" ng-model="showCase.model_data.ship_to" name="ship_to" class="form-control"> </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="user.user_profile.user_type == 'marketplace_user'">
              <div class="form-group">
                <label class="control-label"> Seller </label>
                <select ng-if="!showCase.update" class="form-control zone" name="seller_id" ng-model="showCase.model_data.seller_type" ng-change="showCase.seller_change(showCase.model_data.seller_type)" ng-init="showCase.model_data.seller_type=showCase.model_data.seller_types[0]; showCase.seller_change(showCase.model_data.seller_type)">
                  <option ng-repeat="type in showCase.model_data.seller_types" ng-selected="showCase.model_data.seller_type==type" value="{{type}}">{{type}}</option>
                </select>
                <input type="text" ng-if="showCase.update" ng-model="showCase.model_data.seller_type" name="seller_id" class="form-control" ng-readonly="showCase.update">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="user.user_profile.user_type == 'marketplace_user'">
              <div class="form-group">
                <label class="control-label"> Receipt Type </label>
                <select class="form-control zone" name="receipt_type" ng-model="showCase.model_data.receipt_type" ng-change="showCase.model_data.supplier_id = (showCase.model_data.receipt_type == 'Hosted Warehouse')? '': showCase.model_data.supplier_id;" ng-if="!showCase.update">
                  <option ng-repeat="value in showCase.model_data.receipt_types" value="{{value}}" ng-selected="value == showCase.model_data.receipt_type">{{value}}</option>
                </select>
                <input name="receipt_type" class="form-control" type="text" ng-model="showCase.model_data.receipt_type"
                       ng-readonly="showCase.update" ng-if="showCase.update">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label">PO Delivery Date</label>
                <input name="po_delivery_date" ui-jq="datepicker" ng-model="showCase.model_data.po_delivery_date" class="form-control stk-readonly" type="text" id="po_delivery_date" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.warehouse_type == 'CENTRAL_ADMIN'">
              <div class="form-group">
                <label class="control-label"> Warehouse </label>
                <select class="form-control" name="warehouse_name" ng-model="showCase.model_data.warehouse" ng-init="showCase.model_data.warehouse=showCase.model_data.warehouse_names[0]">
                  <option ng-repeat="type in showCase.model_data.warehouse_names" ng-selected="showCase.model_data.warehouse==type" value="{{type}}">{{type}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" >
              <div class="col-md-6 col-sm-6 col-xs-6">
                <p align="right">Show Ean Number</p>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <label class="switch switch-sm square">
                  <div>
                    <input type="checkbox" ng-model="showCase.show_ean_number">
                    <span>
                      <i class="handle"></i>
                    </span>
                  </div>
                </label>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>WMS Code*</th>
                    <th>Title</th>
                    <th ng-if="showCase.show_ean_number">EAN Number</th>
                    <th class="w10_" ng-if="!(user.user_profile.user_type == 'marketplace_user')">Supplier Code</th>

                    <!--<th ng-if="user.user_profile.user_type == 'marketplace_user'">Description</th>-->
                    <th class="w10_">Quantity*</th>
                    <th ng-if="!(user.user_profile.user_type == 'marketplace_user')">Measurement</th>
                    <th ng-if="showCase.industry_type=='FMCG'">MRP</th>
                    <th>Unit Price</th>
                    <th ng-if="showCase.industry_type=='FMCG' && user.user_profile.user_type == 'marketplace_user'">Weight</th>
                    <th class="w10_">SGST(%)</th>
                    <th class="w10_">CGST(%)</th>
                    <th class="w10_">IGST(%)</th>
                    <th class="w10_">UTGST(%)</th>
                    <th class="w10_">CESS(%)</th>
                    <th class="w10_">APMC(%)</th>
                    <th ng-if="!(user.user_profile.user_type == 'marketplace_user')">Remarks</th>
                    <th ng-if="user.user_profile.user_type == 'marketplace_user'">Dedicated Seller</th>
                    <th class="plus"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in showCase.model_data.data" id="tab_count">
                    <td>
                      <input type="text" autocomplete="off" name="wms_code" class="form-control detectTab" placeholder="Search WMS Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="product.fields.sku.wms_code" typeahead-on-select="showCase.get_sku_details(product, $item, $index)" ng-keyup="$event.keyCode == 13 ? showCase.key_event(product, $item, $index) : null" ng-readonly="product.pk > 0">
                      <input type="text" name="data-id" ng-model="product.pk" class="hide" ng-if="showCase.update">
                      <input type="text" name="seller_po_id" ng-model="product.seller_po_id" class="hide" ng-if="showCase.update">
                    </td>
                    <td>
                      <input ng-model="product.fields.description" title="{{ product.fields.description }}" type="text" class="form-control detectTab" readonly size="50">
                    </td>
                    <!--<td ng-if="user.user_profile.user_type == 'marketplace_user'">
                      <input type="text" ng-model="product.fields.description" name="description" class="form-control"
                             ng-readonly="showCase.default_status">
                    </td>-->
                    <td ng-if="showCase.show_ean_number">
                      <input  ng-model="product.fields.ean_number" name="ean_number" title="{{ product.fields.ean_number }}" type="text" class="form-control detectTab" readonly size="50">
                    </td>

                    <td ng-if="!(user.user_profile.user_type == 'marketplace_user')" ng-readonly="showCase.default_status">
                      <input id="wms1" ng-model="product.fields.supplier_code" type="text" name="supplier_code" class="form-control detectTab " value="">
                    </td>
                    <td>
                      <input id="quant1" ng-model="product.fields.order_quantity" type="text" name="order_quantity" class="form-control detectTab"
                             ng-class="service.get_decimal_perm()" ng-readonly="showCase.default_status"
                             ng-keyup="showCase.getTotals()" size="12">
                    </td>
                    <td ng-if="!(user.user_profile.user_type == 'marketplace_user')">
                      <input name="measurement_unit" ng-model="product.fields.measurement_unit" type="text" class="form-control detectTab" readonly size="12">
                    </td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="product.fields.mrp" size="22" title="{{ product.fields.mrp }}" name="mrp" class="form-control detectTab" ng-class="service.get_decimal_perm()" size="12"></td>
                    <td>
                      <input type="text"  ng-model="product.fields.price" name="price" class="form-control detectTab" decimal-number
                             ng-readonly="showCase.default_status" ng-keyup="showCase.getTotals()" size="12">
                    </td>
                    <td ng-if="showCase.industry_type=='FMCG' && user.user_profile.user_type == 'marketplace_user'">
                      <input name="weight" ng-model="product.fields.weight" type="text" class="form-control detectTab" readonly size="12">
                    </td>
                    <td>
			<input ng-show="product.fields.edit_tax" type="text" ng-model="product.fields.sgst_tax" name="sgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
			<input ng-show="!product.fields.edit_tax" type="text" ng-model="product.fields.sgst_tax" name="sgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="12">
                    </td>
                    <td>
                      <input ng-show="product.fields.edit_tax" type="text" ng-model="product.fields.cgst_tax" name="cgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
		      <input ng-show="!product.fields.edit_tax" type="text" ng-model="product.fields.cgst_tax" name="cgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="12">
                    </td>
                    <td>
			<input ng-show="product.fields.edit_tax" type="text" ng-model="product.fields.igst_tax" name="igst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
			<input ng-show="!product.fields.edit_tax" type="text" ng-model="product.fields.igst_tax" name="igst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="12">
                    </td>
                    <td>
			<input ng-show="product.fields.edit_tax" type="text" ng-model="product.fields.utgst_tax" name="utgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
                        <input ng-show="!product.fields.edit_tax" type="text" ng-model="product.fields.utgst_tax" name="utgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="12">
                    </td>
                    <td>
                       <input ng-show="product.fields.edit_tax" type="text" ng-model="product.fields.cess_tax" name="cess_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
		       <input ng-show="!product.fields.edit_tax" type="text" ng-model="product.fields.cess_tax" name="cess_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length !== 0" ng-debounce size="12">
                    </td>
                    <td>
                      <input type="text" ng-model="product.fields.apmc_tax" name="apmc_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="12">
                    </td>
                    <td ng-if="!(user.user_profile.user_type == 'marketplace_user')">
                      <input type="text" ng-model="product.fields.remarks" name="remarks" class="form-control detectTab"
                             ng-readonly="showCase.default_status">
                    </td>
                    <td ng-if="user.user_profile.user_type == 'marketplace_user'" id="tabChangeParent" ng-init="product.fields.dedicated_seller = showCase.model_data.seller_type">
                      <input type="text" ng-model="product.fields.dedicated_seller" id="tabChange" name="dedicated_seller" class="form-control detectTab" ng-readonly="showCase.update && !product.fields.is_new">
                    </td>

                    <td>
                      <input type="hidden" id="skuIndex" name="sku_index" class="form-control skuIndex" value="{{$index}}">
                      <i ng-click="showCase.update_data($index, true, true)" ng-class="showCase.service.isLast($last)"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <div class="row" style="padding-bottom:0px;">
          <div class="col-md-6 col-sm-6">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <p>Total Price: <b style="font-size:26px">{{showCase.model_data.total_price | number:2}}</b></p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <p>Sub Total: <b style="font-size:26px">{{showCase.model_data.sub_total | number:2}}</b></p>
          </div>
		  <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(showCase.permissions.show_purchase_history && showCase.display_purchase_history_table)">
		  <div class="col-md-12 col-sm-12 col-xs-12">
              <div style="margin-bottom: 10px;"><strong>Last Three Transactions :</strong></div>
		  </div>

          <div class="col-md-12 col-sm-12 col-xs-12 mb10">

            <div class="col-md-7 col-sm-7 col-xs-7">

			<div class="col-md-5 col-sm-5 col-xs-5" style="text-align: right;">
				<strong>Supplier Level Last Transactions :</strong>
			</div>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5" style="text-align: left;">
				<p><strong style="margin-right:5px;">SKU Code in Last Transactions :</strong>{{showCase.purchase_history_wms_code}}</p>
			</div>
          </div>
		  <div class="col-md-12 col-sm-12 col-xs-12 mb10">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>PO Date</th>
                <th>PO Number</th>
                <th>Supplier</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Tax Percent</th>
              </tr>
            </thead>
            <tbody ng-repeat="data in showCase.last_transaction_table">
                <tr class="field">
				          <td>{{data.po_date}}</td>
                  <td>{{data.po_number}}</td>
        					<td>{{data.supplier_name}}</td>
        					<td>{{data.received_quantity}}</td>
        					<td>{{data.price}}</td>
        					<td>{{data.total_tax}}</td>
                </tr>
            </tbody>
          </table>
		  </div>
		  </div>

		  <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3" style="margin-top: 5px;">
              <strong>Terms and Conditions :</strong>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
              <textarea rows="5" class="form-control ng-pristine ng-valid" cols="27" name="terms_condition" ng-model="showCase.model_data.terms_condition" placeholder="Enter Terms and Condition"></textarea>
            </div>
          </div>

          <div class="row insert-status"><h4 align="center">{{ showCase.message }}</h4></div>
        </div>
		</div>
        <div class="modal-footer" ng-if="showCase.warehouse_type != 'CENTRAL_ADMIN'">
          <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop {{showCase.permissions.change_openpo?'pop-normal':'pop-green'}}" ng-click="showCase.save_raise_po(form)">{{showCase.permissions.change_openpo?'Save':'Send for Approval'}}</button>
          <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-green" ng-show="showCase.permissions.change_openpo" data-dismiss="modal" ng-click="showCase.confirm(form)">Confirm PO</button>
          <button ng-if="showCase.print_enable" type="button" class="btn pop pop-normal" ng-click="showCase.barcode()">Print Barcodes</button>
          <button ng-if="showCase.print_enable" type="button" class="btn pop pop-green" ng-click="showCase.print_grn()">Print</button>
        </div>
        <div class="modal-footer" ng-if="showCase.warehouse_type == 'CENTRAL_ADMIN'">
          <button type="submit" class="btn pop pop-green" ng-show="showCase.permissions.change_openpo" data-dismiss="modal" ng-click="showCase.confirm(form)">Confirm PO</button>
        </div>
      </div>
    </div>
  </form>
</div>
