<style type="text/css">
  .form-control {
    padding: 2px 2px;
    font-size: x-small;
    font-weight: 600;
  }
  .table > tbody > tr > td{
    padding: 3px 3px;
  }
  .table > thead > tr> td{
    padding: 3px 3px;
  }
  .table > tbody > tr > td {
    border-color: #ffffff !important;
    border-top: #fff !important;
  }
</style>
<div id="page-pop" class="modal fade in over-x" tabindex="-1" role="dialog" style="display: block;">
  <form id="add_st_intra" name="form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate">
  <div class="modal-dialog model-custom modal-lg" style="width: 1300px;">
    <div class="modal-content mw45">
      <div ng-include="'views/common/loader.html'"></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group clearfix mr10 ml10">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Request raised by </label>
                <!-- <label class="control-label"> Source Plant (Request From)</label> -->
                <input type="hidden" name="st_type" value="ST">
                <select name="source_plant" class="form-control" ng-model="showCase.model_data.selected" ng-change="showCase.changeDestWarehouse()">
                  <option ng-repeat="wh in showCase.warehouse_dict" value="{{wh.username}}">{{wh.first_name}}:{{wh.userprofile__stockone_code}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Material to be dispatched by </label>
                <!-- <label class="control-label"> Destination Plant (Request To)</label> -->
                <select name="warehouse_name" class="form-control" ng-model="showCase.model_data.warehouse_name" ng-change="showCase.verifyTax()">
                  <option ng-repeat="wh in showCase.dest_wh_list" value="{{wh.username}}">{{wh.name}}:{{wh.stockone_code}}</option>
                  <!-- <option ng-repeat="wh in showCase.warehouse_dict" value="{{wh.username}}">{{wh.first_name}}:{{wh.userprofile__stockone_code}}</option> -->
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="clearfix">
          <div class="row over-x" style="margin: 0px;">
            <table  class="table mw45">
              <thead>
                <tr>
                  <th>SKU Code*</th>
                  <th>Description </th>
                  <th>Req To Available Qty</th>
                  <th>Req From Available Qty</th>
                  <th>Quantity*</th>
                  <th>UOM</th>
                  <th>Base UOM</th>
                  <th>No.Of Base Units</th>
                  <th>Base Uom Quantity</th>
                  <th>Price*</th>
                  <th>CGST (%)</th>
                  <th>SGST (%)</th>
                  <th>IGST(%)</th>
                  <th>CESS(%)</th>
                  <th>Total Price</th>
                  <th class="plus">
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in showCase.model_data.data">
                  <td>
                    <input type="text" autocomplete="off" name="wms_code" class="form-control detectTab" placeholder="Search SKU Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="data.sku_id" typeahead-on-select="showCase.get_sku_data(data, $item, $index)" ng-keyup="showCase.key_event($event, data, $item, $index)">
                  </td>
                  <td>
                    <input type="hidden" name="order_typ" value="ST_INTRA">
                    <input type="text" class="form-control" ng-model="data.description" title="{{data.description}}" size="100" name="description">
                  </td>
                  <td class="text-center"> <span style="font-style: italic;font-size: 14px;line-height: 30px;font-weight: 600;">{{data.to_capacity}}</span> </td>
                  <td class="text-center"> <span style="font-style: italic;font-size: 14px;line-height: 30px;font-weight: 600;">{{data.capacity}}</span> </td>
                  <td>
                    <input id="quant1" type="text" name="order_quantity" class="form-control" ng-model="data.order_quantity" ng-keyup="showCase.changeUnitPrice(data)" ng-required="$first" ng-class="service.get_decimal_perm()">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="data.measurement_unit" readonly>
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="data.base_uom" readonly>
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="data.conversion" readonly>
                  </td>
                  <td>
                    <input type="text" name="quantity" class="form-control" ng-model="data.total_qty" readonly>
                  </td>
                  <td>
                    <input type="text" name="price" class="form-control" ng-model="data.price"  ng-keyup="showCase.changeUnitPrice(data)" decimal-number readonly>
                     <input type="hidden" name="id" value="">
                  </td>
                  <td>
                    <input type="text" name="cgst" class="form-control" size="2" ng-model="data.cgst" ng-keyup="showCase.changeUnitPrice(data)" decimal-number readonly>
                    <!-- ng-readonly="showCase.igst_enable" -->
                  </td>
                  <td>
                    <input type="text" name="sgst" class="form-control" size="2" ng-model="data.sgst" ng-keyup="showCase.changeUnitPrice(data)" decimal-number readonly>
                    <!-- ng-readonly="showCase.igst_enable" -->
                  </td>
                  <td>
                    <input type="text" name="igst" class="form-control" size="2" ng-model="data.igst" ng-keyup="showCase.changeUnitPrice(data)" decimal-number readonly>
                    <!-- ng-readonly="showCase.tax_cg_sg" -->
                  </td>
                  <td>
                    <input type="text" name="cess" class="form-control" size="2" ng-model="data.cess" ng-keyup="showCase.changeUnitPrice(data)" decimal-number readonly>
                  </td>
                  <td>
                    <input type="text" name="total_price" class="form-control" ng-model="data.total_price" decimal-number>
                  </td>

                  <td>
                    <i style="font-size: 20px;padding-top: 5px;cursor: pointer;" ng-click="showCase.update_data($index, data, $last)" ng-class="showCase.isLast($last)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn pop pop-green" data-dismiss="modal" ng-click="showCase.insert_order_data(form)" title="Confirm Stock Transfer" ng-disabled="showCase.bt_disable">Confirm</button>
      </div>
    </div>
  </div>
  </form>
</div>
