<style>
  .form-control{
    padding: 6px 8px;
  }
</style>
<div id="page-pop" class="modal fade in over-x" tabindex="-1" role="dialog">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" class="ng-pristine ng-valid" novalidate="novalidate">
  <div class="modal-dialog model-custom modal-lg" ng-style="showCase.extra_width">
    <div class="modal-content mw100">
      <div class="process-overlay" ng-if="process || showCase.fb.process"><div class="process-text">Loading...</div></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4> </div>
      <!-- body-->
      <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
              <h4>Details :</h4>
              <div class="row" ng-repeat="model_name in showCase.rtv_details_keys">
                <div class="col-xs-4"><b>{{showCase.rtv_details[model_name]}}</b></div>
                <div class="col-xs-8">: {{showCase.model_data[model_name]}}</div>
              </div>
              <div class="row">
                <div class="col-xs-4"><b>PO Number</b></div>
                <div class="col-xs-8">: {{showCase.model_data['po_reference']}}</div>
              </div>
              <div class="row">
                <div class="col-xs-4"><b>PO Date</b></div>
                <div class="col-xs-8">: {{showCase.model_data['order_date']}}</div>
              </div>
              <div class="row" ng-if="showCase.user_type=='marketplace_user'">
                <div class="col-xs-4"><b>Seller ID</b></div>
                <div class="col-xs-8">: {{showCase.model_data.seller_details['seller_id']}}
                  <input type="hidden" ng-model="showCase.model_data.seller_details['seller_id']" title="{{ showCase.model_data.seller_details['seller_id'] }}" name="seller_id" class="form-control" value="{{showCase.model_data.seller_details['seller_id']}}">
                </div>
              </div>
              <div class="row" ng-if="showCase.user_type=='marketplace_user'">
                <div class="col-xs-4"><b>Seller Name</b></div>
                <div class="col-xs-8">: {{showCase.model_data.seller_details['name']}}</div>
              </div>

            </div>
            <div class="col-sm-12"><hr></div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>SKU CODE</th>
                    <th>SKU Desc</th>
                    <th>Received Quantity</th>
                    <th>Unit Price</th>
                    <th ng-if="showCase.industry_type=='FMCG'">Batch No</th>
                    <th ng-if="showCase.industry_type=='FMCG'">MRP</th>
                    <th>Amount</th>
                    <th>Tax</th>
                    <th>Location</th>
                    <th>Returning Quantity</th>
                    <th class="plus"></th>
                  <tr>
                </thead>
                <tbody ng-repeat="records in showCase.model_data.data">
                    <tr ng-repeat="data in records">
                    <td>
                      <input type="text" autocomplete="off" name="sku_code" class="form-control" placeholder="Search WMS Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" ng-model="data.sku_code" title="{{ data.wms_code }}" typeahead-on-select="showCase.get_sku_details(data, $item, $index)" readonly>
                    </td>
                    <td>
                      <input type="text" name="sku_desc" ng-model="data.sku_desc" size="50" title="{{ data.sku_desc }}" class="form-control" value="{{data.sku_desc}}" readonly>
                    </td>
                    <td><input type="text" ng-model="data.quantity" name="received_quantity" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.quantity}}" readonly ng-change="showCase.receive_quantity_change(data)"></td>
                    <td><input type="text" ng-model="data.price" name="unit_price" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.price}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.batch_no" title="{{ data.batch_no }}" name="batch_no" class="form-control" value="{{data.batch_no}}" readonly></td>
                    <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="data.mrp" size="22" title="{{ data.mrp }}" name="mrp" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.mrp}}" readonly></td>
                    <td><input type="text" ng-model="data.amount" name="amount" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.amount}}" readonly></td>
                    <td><input type="text" ng-model="data.tax_value" name="tax_value" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.tax_value}}" readonly></td>
                    <td><input type="text" ng-model="data.location" size="22" title="{{ data.location }}" name="location" class="form-control" value="{{data.location}}"></td>
                    <td><input type="text" ng-model="data.return_qty" size="22" title="{{ data.return_qty }}" name="return_qty" class="form-control" ng-class="service.get_decimal_perm()" value="{{data.return_qty}}" ng-change="showCase.check_quantity($index, records, data)" required>
                      <input ng-if="data.rtv_id" type="hidden" ng-model="data.rtv_id" size="22" title="{{ data.rtv_id }}" name="rtv_id" class="form-control" value="{{data.rtv_id}}" required></td>

                    <td><i ng-click="showCase.update_data($index, records)" ng-class="showCase.service.isLast($last)"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="row" ng-hide="showCase.permissions.use_imei">
            <center>
              <button type="button" class="btn btn-default" style="margin-top:10px" ng-click="showCase.add_wms_code()">Add New WMS Code</button>
            </center>
          </div> -->
          <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
      </div>
      <!-- body end-->
      <div class="modal-footer">
        <!-- <button ng-if="(!(showCase.print_enable))" type="button" class="pull-left btn pop pop-green col-xs-12 col-sm-3 col-md-2" ng-click="showCase.close()">Close</button> -->
        <button ng-if="(!(showCase.print_enable))" type="button" class="btn pop pop-green pull-right col-xs-12 col-sm-3 col-md-2" ng-click="showCase.submit(form)" ng-disabled="showCase.conf_disable">Confirm</button>
        <button ng-if="(!(showCase.print_enable))" type="button" class="btn pop pop-normal pull-right col-xs-12 col-sm-4 col-md-3" data-dismiss="modal" ng-click="showCase.save(form)" ng-disabled="showCase.conf_disable">Save</button>
        <button ng-if="showCase.print_enable" type="button" class="btn pop pop-green pull-right" ng-click="showCase.print_rtv()">Print</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  </form>
  <!-- /.modal-dialog -->
</div>
