<style type="text/css">
 .table > tbody > tr > td{
    padding: 3px 3px;
 }
 .table > thead > tr> td{
    padding: 3px 3px;
 }
 .form-control{
    padding: 2px 2px;
    font-size: x-small;
    font-weight: 600;
 }
 .sidebar-panel{
    z-index: 1000;
 }
 .select2-container .select2-choice {
    height: 32px !important;
    border: 1px solid #aaaaaa5c !important;
  }
</style>
<div id="page-pop" class="modal fade in over-x" style="z-index: 1005;">
  <form name="form" role="form" ui-jq="validate" ui-options="validationOpt" novalidate="novalidate" class="pr_form">
    <div class="modal-dialog model-custom modal-lg" style="width: calc(100vw - 20px) !important; margin: 2px auto !important;font-size: xx-small;">
      <div class="modal-content mw60">
        <div ng-include="'views/common/loader.html'"></div>
        <div class="modal-header" style="padding: 5px !important;">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 class="modal-title pull-left">{{showCase.title}}</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 align="center"><b>{{showCase.model_data.company}}</b></h4>
              <h6 align="center"><b>{{showCase.model_data.wh_address}}</b></h4>
            </div>
          </div>
          <button type="button" class="close" ng-click="showCase.close()"><span>&times;</span> </button>
        </div>
        <div class="modal-body" style="height: calc(100vh - 135px); overflow-y: auto; margin: 0px !important;padding: 20px;">
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-3">
            <div class="form-group">
              <label class="control-label"> PO Number </label>
              <input type="text" ng-model="showCase.model_data.po_number" name="po_number" class="form-control" ng-readonly="true"> </div>
              <input type="text" name="purchase_id" ng-model="showCase.model_data.purchase_id" class="hide" ng-if="showCase.update">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <div class="form-group">
                <label class="control-label">PO Date</label>
                <input name="pr_created_date" ng-model="showCase.model_data.pr_created_date" class="form-control" type="text" id="pr_delivery_date" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <div class="form-group">
                <label class="control-label">PR Number</label>
                <input name="full_pr_number" ng-model="showCase.model_data.full_pr_number" class="form-control" type="text" id="full_pr_number" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <div class="form-group">
                <label class="control-label"> Store </label>
                <input type="text" ng-model="showCase.model_data.store" name="store" class="form-control" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <div class="form-group">
                <label class="control-label"> Department </label>
                <input type="text" ng-model="showCase.model_data.department" name="department" class="form-control" ng-readonly="true">
              </div>
            </div>
			      <div class="col-md-2 col-sm-2 col-xs-3">
              <div class="form-group">
                <label class="control-label"> Product Category </label>
                <input type="text" ng-model="showCase.model_data.product_category" name="product_category" class="form-control" ng-readonly="true"> 
              </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <div class="form-group">
                <label class="control-label"> Category </label>
                <input type="text" ng-model="showCase.model_data.sku_category" name="sku_category" class="form-control" ng-readonly="true">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Supplier ID/Name * </label>
                <input type="text" autocomplete="off" name="supplier_id_name" ng-model="showCase.model_data.supplier_id_name" placeholder="Search Supplier"
                  typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_supplier?')" typeahead-loading="loadingLocations" class="form-control"
                  typeahead-on-select="showCase.model_data.supplier_id = showCase.service.change_search_value(showCase.model_data.supplier_id_name); showCase.update_wms_records()"
                  ng-blur="showCase.service.checkSearchValue(showCase.model_data.supplier_id, 'search_supplier?', $event, '', 'Supplier');" ng-readonly="true">
                <input name="supplier_id" class="form-control" type="hidden" ng-model="showCase.model_data.supplier_id" value="{{showCase.model_data.supplier_id}}">
                <!-- <input name="supplier_id_name" class="form-control" ng-if="showCase.update" type="text" ng-model="showCase.model_data.supplier_id_name" value="{{showCase.model_data.supplier_id_name}}" ng-readonly="showCase.update"> -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
              <div class="form-group">
                <label class="control-label">PO Delivery Date *</label>
                <input name="pr_delivery_date" ui-jq="datepicker" ng-model="showCase.model_data.pr_delivery_date" class="form-control" type="text" id="pr_delivery_date" data-date-format="dd-mm-yyyy" data-date-today-highlight="true" data-date-autoclose="true" data-date-start-date="{{showCase.date}}">
              </div>
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label">Address *</label><br>
                <div class="btn-group mr15" dropdown="">
                  <button type="button" ng-init = "showCase.model_data.shipment_address_select = 'Select Shipment Address'" ng-model="showCase.model_data.shipment_address_select" class="btn btn-default dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false" style="width: 300px;">{{showCase.model_data.shipment_address_select}} <span class="caret"></span> </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="data in showCase.model_data.ship_addr_names" ng-click= "showCase.ship_addr_change(data)"> <a href="javascript:;">{{data}}</a> </li>
                  </ul>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Ship To *</label>
                <input type="text" ng-model="showCase.model_data.ship_to" name="ship_to" class="form-control" ng-readonly="true"> </div>
            </div> -->
            <div class="col-md-4 col-sm-4 col-xs-6" ng-if="!showCase.permissions.central_admin_level_po" ng-show="!showCase.from_supplier_pos">
              <div class="form-group">
                <label class="control-label">Ship to Address *</label>
                <select ui-select2 class="form-control" name="plant_address" ng-model="showCase.model_data.shipment_address_select" ng-change = "showCase.ship_addr_change(showCase.model_data.shipment_address_select)" required>
                  <option ng-repeat="data in showCase.model_data.ship_addr_names"
                          ng-selected="showCase.model_data.shipment_address_select == data"
                          value="{{data}}">{{data}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-if="!showCase.permissions.central_admin_level_po">
              <div class="form-group">
                <label class="control-label"> Ship To *</label>
                <input type="text"
                       ng-readonly="showCase.model_data.is_approval"
                       ng-model="showCase.model_data.ship_to" name="ship_to" class="form-control" required> </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label">Payment Terms *</label>
                <select class="form-control" name="payment_term"
                  ng-model="showCase.model_data.payment_term" required>
                  <option value="">Choose Supplier Payment</option>
                  <option ng-repeat="pay_term in showCase.model_data.supplier_payment_terms"
                            value="{{pay_term}}">{{pay_term}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6" ng-if="showCase.model_data.supplier_currencyes">
              <div class="form-group">
                <label class="control-label">Supplier Currency *</label>
                <select class="form-control" name="supplier_currency" ng-model="showCase.model_data.supplier_currency" ng-init="showCase.model_data.supplier_currency=''" ng-change="showCase.currency_change(showCase.model_data.supplier_currency)" required>
                    <option ng-repeat="type in showCase.model_data.supplier_currencyes" ng-selected="showCase.model_data.supplier_currency==type" value="{{type}}">{{type}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-2 col-xs-6" ng-if="showCase.model_data.supplier_currency != showCase.model_data.warehouse_currency && showCase.model_data.supplier_currency">
              <div class="form-group">
                <label class="control-label">Please enter 1 Supplier Currency (<span>{{showCase.model_data.supplier_currency}}</span>) = How Many Plant Currency (<span>{{showCase.model_data.warehouse_currency}}</span>)?  *</label>
                <input type="text" ng-model="showCase.model_data.supplier_currency_rate" name="supplier_currency_rate" class="form-control" ng-class="service.get_decimal_perm()" required>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
              <div class="form-group">
                <label class="control-label">Supplier EmailID *</label>
                <input class="form-control" type="text" ng-model="showCase.model_data.supplier_email" required readonly/>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
              <div class="form-group">
                <label class="control-label">Supplier Mobile Number *</label>
                <input class="form-control" type="text" ng-model="showCase.model_data.supplier_phone_number" required/>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-2 col-xs-6">
              <div class="form-group bootstrap-tagsinput">
                <label class="control-label">SupplierEmail / Buyer / PR User mails *</label>
                <input class="internal_mails" type="text" value="{{showCase.model_data.po_all_mails}}" ui-jq="tagsInput" />
              </div>
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-xs-6" ng-if="showCase.model_data.supplier_payment_terms != ''">
              <div class="form-group">
                <label class="control-label">Supplier Payment Terms</label>
                <input type="text" ng-model="showCase.model_data.supplier_payment_terms" name="supplier_payment_terms" class="form-control" ng-readonly="true">
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>SKU Code*</th>
                    <th>Title</th>
                    <th ng-if="showCase.model_data.product_category == 'Services'">Detail</th>
                    <th ng-if="showCase.show_ean_number">EAN Number</th>
                    <!-- <th class="w10_" ng-if="!(user.user_profile.user_type == 'marketplace_user')">Supplier Code</th> -->

                    <!--<th ng-if="user.user_profile.user_type == 'marketplace_user'">Description</th>-->
                    <th class="w10_">Quantity*</th>
                    <th ng-if="!(user.user_profile.user_type == 'marketplace_user')">UOM</th>
                    <!-- <th ng-if="showCase.industry_type=='FMCG'">MRP</th> -->
                    <th>Unit Price</th>
                    <th ng-if="showCase.model_data.product_category == 'Services'">Start Date</th>
                    <th ng-if="showCase.model_data.product_category == 'Services'">End Date</th>
                    <!-- <th ng-if="showCase.industry_type=='FMCG' && user.user_profile.user_type == 'marketplace_user'">Weight</th> -->
                    <th ng-if="showCase.model_data.tax_display" class="w10_">SGST(%)</th>
                    <th ng-if="showCase.model_data.tax_display" class="w10_">CGST(%)</th>
                    <th ng-if="showCase.model_data.tax_display" class="w10_">IGST(%)</th>
                    <th ng-if="showCase.model_data.tax_display" class="w10_">CESS(%)</th>
                    <!--<th ng-if="showCase.model_data.product_category == 'Kits&Consumables'">AvailableQty</th>
                    <th ng-if="showCase.model_data.product_category == 'Kits&Consumables'">IntransitQty</th>
                    <th ng-if="showCase.permissions.sku_pack_config">PackQty</th>-->
                    <th class="w10_">Delivery schedule</th>
                    <!-- <th class="w10_">CESS(%)</th>
                    <th class="w10_">APMC(%)</th>
                    <th ng-if="!(user.user_profile.user_type == 'marketplace_user')">Remarks</th>
                    <th ng-if="user.user_profile.user_type == 'marketplace_user'">Dedicated Seller</th> -->
                    <th class="plus"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in showCase.model_data.data" id="tab_count">
                    <td>
                      <input type="text" autocomplete="off" name="wms_code"
                             class="form-control detectTab" placeholder="Search WMS Code/Description"
                             required
                             typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')"
                             typeahead-loading="loadingLocations" ng-model="product.fields.sku.wms_code" typeahead-on-select="showCase.get_sku_details(product, $item, $index)" ng-keyup="$event.keyCode == 13 ? showCase.key_event(product, $item, $index) : null" ng-readonly="product.pk > 0">
                      <input type="text" name="data-id" ng-model="product.pk" class="hide" ng-if="showCase.update">
                      <input type="text" name="seller_po_id" ng-model="product.seller_po_id" class="hide" ng-if="showCase.update">
                    </td>
                    <td>
                      <input ng-model="product.fields.description" title="{{ product.fields.description }}" type="text" class="form-control detectTab" readonly size="50">
                    </td>
                    <td ng-if="showCase.model_data.product_category == 'Services'">
                      <input ng-model="product.fields.sku_detail" title="{{ product.fields.sku_detail }}" type="text" class="form-control detectTab" readonly size="50">
                    </td>
                    <td ng-if="showCase.show_ean_number">
                      <input  ng-model="product.fields.ean_number" name="ean_number" title="{{ product.fields.ean_number }}" type="text" class="form-control detectTab" readonly size="30">
                    </td>

                    <!-- <td ng-if="!(user.user_profile.user_type == 'marketplace_user')" ng-readonly="showCase.default_status">
                      <input id="wms1" ng-model="product.fields.supplier_code" type="text" name="supplier_code" class="form-control detectTab " value="">
                    </td> -->
                    <td>
                      <input id="quant1" ng-model="product.fields.order_quantity" type="text" name="order_quantity" class="form-control detectTab"
                             ng-class="service.get_decimal_perm()" ng-readonly="showCase.update"
                             ng-keyup="showCase.getTotals()" size="12">
                    </td>
                    <td ng-if="!(user.user_profile.user_type == 'marketplace_user')">
                      <input name="measurement_unit" ng-model="product.fields.measurement_unit" type="text" class="form-control detectTab" readonly size="12">
                    </td>
                    <!-- <td ng-if="showCase.industry_type=='FMCG'"><input type="text" ng-model="product.fields.mrp" size="22" title="{{ product.fields.mrp }}" name="mrp" class="form-control detectTab" ng-class="service.get_decimal_perm()" size="12"></td> -->
                    <td>
                      <input type="text"  ng-model="product.fields.price" name="price" class="form-control detectTab" decimal-number
                             ng-readonly="!showCase.permissions.is_staff" ng-keyup="showCase.getTotals()" size="12">
                    </td>
                    <!-- <td ng-if="showCase.industry_type=='FMCG' && user.user_profile.user_type == 'marketplace_user'">
                      <input name="weight" ng-model="product.fields.weight" type="text" class="form-control detectTab" readonly size="12">
                    </td> -->
                    <td ng-if="showCase.model_data.product_category == 'Services'">
                      <input ng-model="product.fields.service_stdate" title="{{ product.fields.service_stdate }}" type="text" class="form-control" readonly size="30">
                    </td>
                    <td ng-if="showCase.model_data.product_category == 'Services'">
                      <input ng-model="product.fields.service_edate" title="{{ product.fields.service_edate }}" type="text" class="form-control" readonly size="30">
                    </td>
                    <td ng-hide="!showCase.model_data.tax_display">
		               	<input ng-if="product.fields.edit_tax" type="text" ng-model="product.fields.sgst_tax" name="sgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="6">
		               	<input ng-if="!product.fields.edit_tax" type="text" ng-model="product.fields.sgst_tax" name="sgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="6">
                    </td>
                    <td ng-hide="!showCase.model_data.tax_display">
                      <input ng-if="product.fields.edit_tax" type="text" ng-model="product.fields.cgst_tax" name="cgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="6">
		                 <input ng-if="!product.fields.edit_tax" type="text" ng-model="product.fields.cgst_tax" name="cgst_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="6">
                    </td>
                    <td ng-hide="!showCase.model_data.tax_display">
		           	     <input ng-if="product.fields.edit_tax" type="text" ng-model="product.fields.igst_tax" name="igst_tax" class="form-control" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="6">
		                 <input ng-if="!product.fields.edit_tax" type="text" ng-model="product.fields.igst_tax" name="igst_tax" class="form-control" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="6">
                    </td>
                    <td ng-hide="!showCase.model_data.tax_display">
			                  <input ng-if="product.fields.edit_tax" type="text" ng-model="product.fields.cess_tax" name="cess_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-debounce size="6">
                        <input ng-if="!product.fields.edit_tax" type="text" ng-model="product.fields.cess_tax" name="cess_tax" class="form-control detectTab" percentage-field percentage-max-value="99.99" percentage-max-decimals="2" ng-change="showCase.taxChange(product);" ng-readonly="product.taxes.length!==0" ng-debounce size="6">
                    </td>
                    <!--<td class="text-center" ng-if="showCase.model_data.product_category == 'Kits&Consumables'"> <span style="font-style: italic;font-size: 14px;line-height: 30px;font-weight: 600;">{{product.fields.sku.capacity | number:0}}</span> </td>
                    <td class="text-center" ng-if="showCase.model_data.product_category == 'Kits&Consumables'"> <span style="font-style: italic;font-size: 14px;line-height: 30px;font-weight: 600;">{{product.fields.sku.intransit_quantity | number:0}}</span> </td>
                    <td class="text-center" ng-if="showCase.permissions.sku_pack_config"> <span style="font-style: italic;font-size: 14px;line-height: 30px;font-weight: 600;">{{product.fields.sku.skuPack_quantity | number:0}}</span> </td>-->
                    <!-- <td>
                      <input type="hidden" id="skuIndex" name="sku_index" class="form-control skuIndex" value="{{$index}}">
                      <i ng-click="showCase.update_data($index, true, true)" ng-class="showCase.service.isLast($last)"></i></td> -->
                    <td>
                      <button class="btn btn-success" ng-click="showCase.sku_delivery_date(product)">Add (+)</button>
                    </td>
					<td ng-click="showCase.extra_row_info(product)">
                        <i class="fa fa-info-circle" ng-style="product.fields.icon_color"></i>
                    </td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" style="padding-bottom:0px;">
            <div class="col-md-6 col-sm-6">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <p>Total Price: <b style="font-size:26px">{{showCase.model_data.total_price | number:2}}</b></p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <p>Sub Total: <b style="font-size:26px">{{showCase.model_data.sub_total | number:2}}</b></p>
            </div>
      		  <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(showCase.permissions.show_purchase_history && showCase.display_purchase_history_table)">
      		  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div style="margin-bottom: 10px;"><strong>Last Three Transactions :</strong></div>
      		  </div>
      		  </div>
            <div class="row insert-status"><h4 align="center">{{ showCase.message }}</h4></div>
          </div>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 5px;">
              <strong>Remarks :</strong>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <textarea rows="5" class="form-control" cols="15" name="approval_remarks" ng-model="showCase.model_data.approval_remarks" placeholder="Enter Remarks"></textarea>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12"><hr></div>
          </div> -->


          <!-- <div class = "row">
            <div class="col-md-3" ng-if="showCase.model_data.uploaded_file_dict.file_url">
              <a class="btn btn btn-success" href="{{showCase.model_data.uploaded_file_dict.file_url}}" target="_blank" style="position: relative; font-weight: 600;width: 250px;font-size: 15px;">
                PO File<i class="fa fa-cloud-download" aria-hidden="true" style="font-size: 15px"></i>
              </a>
            </div>
            <div class="col-md-3" ng-repeat="uploaded_file_data in showCase.model_data.pr_uploaded_file_dict">
              <a class="btn btn btn-success" href="{{uploaded_file_data.file_url}}" target="_blank" style="position: relative; font-weight: 600;width: 250px;font-size: 15px;">
                {{uploaded_file_data.file_name}}<i class="fa fa-cloud-download" aria-hidden="true" style="font-size: 15px"></i>
              </a>
            </div>
            <div class="col-md-3" ng-if="showCase.model_data.pa_uploaded_file_dict.file_url">
              <a class="btn btn btn-success" href="{{showCase.model_data.pa_uploaded_file_dict.file_url}}" target="_blank" style="position: relative; font-weight: 600;width: 250px;font-size: 15px;">
                Purchase File<i class="fa fa-cloud-download" aria-hidden="true" style="font-size: 15px"></i>
              </a>
            </div>
          </div> -->


          <div class = "row" style="padding: 10px;background: #f2f2f275;">
            <div class="col-lg-12 col-md-12 mb15" align="center">
              <span class="label label-success" style="font-size: 10px">PR User & Buyer File Uploads</span>
            </div>
            <div class="col-md-8">
              <tabset class="box-tab left">
                <tab heading="PR user">
                  <div class="col-md-12 mb10"><span class="label label-default">Details</span></div>
                  <div class="col-md-12" ng-repeat = "uploaded_file_data in showCase.model_data.pr_uploaded_file_dict" align="left" style="min-height: 20px;">
                    <span style="background: aliceblue; cursor: pointer;"><b> . </b> <a href="{{uploaded_file_data.file_url}}" target="_blank">{{uploaded_file_data.file_name}}</a> </span>
                  </div>
                </tab>
                <tab heading="Purchase Approval" ng-if="showCase.model_data.pa_uploaded_file_dict.file_url">
                  <div class="col-md-12 mb10"><span class="label label-default">Details</span></div>
                  <div class="col-md-12" align="left" style="min-height: 20px;">
                    <span style="background: aliceblue; cursor: pointer;"><b> . </b> <a href="{{showCase.model_data.pa_uploaded_file_dict.file_url}}" target="_blank">{{showCase.model_data.pa_uploaded_file_dict.file_name}}</a> </span>
                  </div>
                </tab>
              </tabset>
            </div>
            <div class="col-md-4">
              <div class="form-group col-md-3" style="padding-top: 30px;">
               <span><input class="btn btn-primary" type = "file" name="files" id="file-upload" ng-model="file_input" /></span>
              </div>
            </div>
          </div>
          <!-- <div class = "row">
            <div class="col-md-3" ng-if="showCase.model_data.pr_uploaded_file_dict.file_url">
              <a class="btn btn btn-success" href="{{showCase.model_data.pr_uploaded_file_dict.file_url}}" target="_blank" style="position: relative; font-weight: 600;width: 250px;font-size: 15px;">
                PR File<i class="fa fa-cloud-download" aria-hidden="true" style="font-size: 15px"></i>
              </a>
            </div>
          </div> -->
          <!-- <div class="row" ng-if="showCase.model_data.product_category!='Kits&Consumables'">
            <div class="form-group col-md-3" style="padding-top: 30px;">
               <span>
                 <input class="btn btn-primary" type = "file" name="files" id="file-upload" ng-model="file_input" />
               </span>
            </div>
          </div> -->
		    </div>
        <div class="modal-footer" ng-if="showCase.warehouse_type != 'admin'">
          <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-green pull-left" ng-click="showCase.save_raise_pr(form, 'save')">Save</button>
          <!-- <button ng-if="(!(showCase.print_enable) && (!showCase.is_direct_po)) " type="submit" class="btn pop pop-green pull-left" ng-click="showCase.send_back_to_pr(form)">Send Back To PR</button> -->
          <button ng-if="(!(showCase.print_enable))" type="submit" class="btn pop pop-green" ng-click="showCase.save_raise_pr(form, 'create')">Send For Approval</button>
        </div>
      </div>
    </div>
  </form>
</div>
