<div id="page-pop" aria-hidden="false" aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade in main_header">
  <form>
  <div class="modal-dialog modal-lgi model-custom modal-size">
    <div class="modal-content model_head">
      <div ng-include="'views/common/loader.html'"></div>
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button" ng-click="showCase.close()"><span aria-hidden="true">×</span>
        </button>
        <h4 id="myLargeModalLabel" class="modal-title">Scan Returned Orders</h4>
      </div>
      <div class="modal-body model_body">
        <div class="row" ng-if="showCase.return_process == 'sku_code'">
          <div class="col-md-11 col-sm-11 col-xs-10">
            <p align="right">Auto Allocate to Sale Order</p>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2">
            <label class="switch switch-sm square">
              <div>
                <input type="hidden" value="{{showCase.allocate_order}}">
                <input type="checkbox" ng-model="showCase.allocate_order">
                <span>
                  <i class="handle"></i>
                </span>
              </div>
            </label>
          </div>
        </div>
         <div class="row">
           <input type="hidden" name="return_process" value="{{showCase.return_process}}">
           <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.return_process == 'return_id'">
             <div class="form-group">
               <label class="control-label"> Return ID </label>
              <textarea id="scan_return_id" rows="1" class="form-control" ng-model="showCase.model_data.scan_return_id" ng-keydown="showCase.scan_return($event, showCase.model_data.scan_return_id)"></textarea>
             </div>
           </div>
           <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.return_process == 'order_id'">
             <div class="form-group">
               <label class="control-label"> Order ID </label>
              <textarea id="scan_order_id" rows="1" class="form-control" ng-model="showCase.model_data.scan_order_id" ng-keydown="showCase.scan_track($event, showCase.model_data.scan_order_id)"></textarea>
             </div>
           </div>
           <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.return_process == 'scan_awb'">
             <div class="form-group">
              <label class="control-label"> Scan AWB No. </label>
              <textarea id="scan_awb" rows="1" class="form-control" ng-model="showCase.model_data.scan_awb_no" ng-keydown="showCase.scan_awb($event, showCase.model_data.scan_awb_no)"></textarea>
             </div>
           </div>
           <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.return_process == 'sku_code'">
             <div class="form-group">
               <label class="control-label"> SKU Code </label>
              <textarea id="return_sku_code" rows="1" class="form-control" ng-model="showCase.model_data.return_sku_code" ng-keydown="showCase.scan_sku($event, showCase.model_data.return_sku_code)"></textarea>
             </div>
           </div>
           <div class="col-md-3 col-sm-3 col-xs-6" ng-if="user.user_profile['user_type'] != 'marketplace_user' && showCase.return_process == 'sku_code'">
             <div class="form-group">
               <label class="control-label"> Market Place </label>
               <select class="form-control" ng-model="showCase.model_data.marketplace" ng-init="showCase.model_data.marketplace='Offline'">
                  <option ng-repeat="status in showCase.market_list" ng-selected="showCase.model_data.marketplace == status" value="{{status}}">{{status}}</option>
                </select>
             </div>
           </div>

            <div class="col-md-3 col-sm-3 col-xs-12" ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'">
              <label class="control-label">MRP</label>
              <input type="text" ng-model="showCase.model_data.mrp" class="form-control pull-right decimal" placeholder="Enter MRP">
            </div>
           

           <div class="col-md-3 col-sm-3 col-xs-6" ng-if="showCase.permissions.use_imei && showCase.return_process == 'scan_imei'">
             <div class="form-group">
               <label class="control-label"> Scan IMEI Number </label>
              <textarea id="return_imei" rows="1" class="form-control" ng-model="showCase.model_data.return_imei" ng-keydown="showCase.scan_imei($event, showCase.model_data.return_imei)"></textarea>
             </div>
           </div>


            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="user.user_profile['user_type'] == 'marketplace_user'">
              <div class="form-group">
                <label class="control-label"> Return Type </label>
                <select class="form-control" name="return_type" ng-model="showCase.model_data.return_type" ng-init="showCase.model_data.return_type = ''">
                  <option ng-selected="showCase.model_data.return_type == ''" value=""> None </option>
                  <option ng-repeat="type in showCase.return_types" ng-selected="showCase.model_data.return_type == type" value="{{type}}">{{ type }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6" ng-if="user.user_profile['user_type'] == 'marketplace_user'">
              <div class="form-group">
                <label class="control-label"> Seller ID </label>
                <select class="form-control" ng-model="showCase.model_data.seller_type" ng-change="showCase.seller_change(showCase.model_data.seller_type)">
                  <option ng-repeat="type in showCase.model_data.seller_types" ng-selected="showCase.model_data.seller_type==type" ng-if="type != '? undefined:undefined ?'" value="{{type}}">{{type}}</option>
                </select>
              </div>
            </div>

         </div>
         <div class="row" ng-if="showCase.imei_data.scanning">
           <div class="col-md-3 col-sm-3 col-xs-12">
           </div>
           <div class="col-md-9 col-sm-9 col-xs-12 mt10">
             <button class="pull-right btn btn-default ml10" type="button" name="reject" ng-disabled="showCase.imei_data.enable_button" ng-click="showCase.add_to_damage();">Damaged</button>
             <input type="text" ng-model="showCase.imei_data.reason" class="form-control pull-right tx_field" placeholder="Enter Reason">
           </div>
         </div>
         <div class="row">
           <div class="col-md-12">
             <hr>
           </div>
         </div>
       <div class="row">
         <div class="col-md-12 in_header">
           <table class="table mw60">
             <thead>
               <tr>
                 <th ng-if="user.user_profile['user_type'] == 'marketplace_user'"> Invoice Number </th>
                 <th> Order ID </th>
                 <th> SKU Code </th>
                 <th> Product Description </th>
                 <th> Shipping Quantity </th>
                 <th> Return Quantity </th>
                 <th> Damaged Quantity </th>
                 <th> Unit Price </th>
                 <th ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'" class="mp_field"> Market place </th>
                 <th ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'"> MRP </th>
                 <th ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'" class="mf_field"> Mfg.Date </th>
                 <th ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'" class="ex_field"> Exp.Date </th>
                 <th>SGST</th>
                 <th>CGST</th>
                 <th>IGST</th>
                 <th> Reason </th>
                 <th class="plus table_hea"></th>
               </tr>
             </thead>
             <tbody>
               <tr ng-repeat="data_split in showCase.model_data.data">
                 <td ng-if="user.user_profile['user_type'] == 'marketplace_user'">
                   <input type="text" name="invoice_number" class="form-control" ng-model="data_split.invoice_number" readonly>
                 </td>
   	             <td>
                   <input type="text" name="order_id" class="form-control order_field" ng-model="data_split.order_id"
                          ng-readonly="showCase.return_process != 'sku_code' || data_split.order_id =='' || !showCase.allocate_order"
                          ng-blur="showCase.changeOrderId(data_split.return_quantity, $index, data_split)">
                 </td>
                 <td><input type="text" name="sku_code" class="form-control sku_field" ng-model="data_split.sku_code" readonly></td>
                 <td><input type="text" name="sku_desc" class="form-control" ng-model="data_split.sku_desc" readonly></td>
                 <td><input type="text" name="shipping" class="form-control" ng-class="service.get_decimal_perm()" ng-model="data_split.ship_quantity" readonly></td>
                 <td><input type="text" name="return" class="form-control" ng-readonly="showCase.return_process == 'scan_imei'" ng-class="service.get_decimal_perm()"  ng-model="data_split.return_quantity" ng-change="showCase.changeReturnQty(data_split.return_quantity, $index, data_split)"></td>
                 <td><input type="text" name="damaged" class="form-control or_divi" ng-readonly="showCase.return_process == 'scan_imei'" ng-class="service.get_decimal_perm()" ng-model="data_split.damaged_quantity" ng-change="showCase.changeDamagedQty(data_split.damaged_quantity, $index, data_split)">
                   <input type="hidden" class="form-control" name="returns_imeis" ng-model="data_split.returns_imeis" value="{{data_split.returns_imeis.join(',')}}">
                   <input type="hidden" class="form-control" value="{{data_split.damaged_imeis.join(',')}}" name="damaged_imeis" ng-model="data_split.damaged_imeis">
                   <input type="hidden" class="form-control" name="damaged_imeis_reason" value="{{data_split.damaged_imeis_reason.join(',')}}">
                   <input type="hidden" value="{{data_split.id}}" name="id">
                   <input type="hidden" value="" name="track_id">
                   <input type="hidden" value="{{ data_split.sor_id }}" name="sor_id">
                   <input type="hidden" value="{{ data_split.order_imei_id }}" name="order_imei_id">
                 </td>
                 <td><input type="text" class="form-control unitp_field" ng-model="data_split.unit_price" readonly ></td>
                 <td ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'">
                   <input type="text" name="marketplace" class="form-control" ng-model="data_split.marketplace">
                 </td>
                
                 <td ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'"> <input type="text" name="mrp" class="form-control decimal mrp_field" ng-model="data_split.mrp" > </td>
                 <td ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'"><input ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'" ui-jq="datepicker" ng-model="data_split.manufactured_date" class="form-control stk-readonly mfd_field" type="text" id="manufactured_date" readonly name="manufactured_date" required data-date-today-highlight="true" data-date-autoclose="true" placeholder="Manufactured Date"></td>
                 <td ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'"><input ng-if="showCase.industry_type == 'FMCG' && showCase.return_process == 'sku_code'" ui-jq="datepicker" ng-model="data_split.expiry_date" class="form-control stk-readonly exp_field" type="text" id="expiry_date" readonly name="expiry_date" required data-date-today-highlight="true" data-date-autoclose="true" placeholder="Expiry Date"></td>
                 <td><input type="text" class="form-control ig_ifield" ng-model="data_split.sgst" readonly ></td>
                 <td><input type="text" class="form-control ig_ifieldg" ng-model="data_split.cgst" readonly ></td>
                 <td><input type="text" class="form-control ig_ifieldh" ng-model="data_split.igst" readonly ></td>
                 <td><input type="text" name="reason" class="form-control" ng-model="data_split.reason"></td>
                 <td>
                   <i class="mr10" ng-click="showCase.update_data($index, data_split, showCase.model_data.data)" ng-class="showCase.service.isLast(false)"></i>
                   <i ng-hide="showCase.return_process == 'scan_imei' || showCase.allocate_order" ng-click="showCase.add_next($index, data_split, showCase.model_data.data)" class="fa fa-plus-square-o"></i>
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
       <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn pop pop-normal" ng-click="showCase.barcode()">Print Barcodes</button>
        <button name="confirm-sales" id="confirm-sales" class="btn pop pop-green" type="button" ng-click="showCase.confirm_return()" ng-disabled="showCase.confirm_disable">Confirm Returns </button>
      </div>
    </div>
  </div>
  </form>
</div>
