<div id="page-pop" aria-hidden="false" aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade in" style="display: block;">
  <form>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button" ng-click="showCase.close()"><span aria-hidden="true">×</span>
        </button>
        <h4 id="myLargeModalLabel" class="modal-title">Scan Returned Orders</h4>
      </div>
      <div class="modal-body" style="overflow: hidden">
         <div class="row">
           <div class="col-md-4 col-sm-4 col-xs-6">
             <div class="form-group">
               <label class="control-label"> Return ID </label>
              <textarea id="scan_return_id" rows="1" name="scan_return_id" class="form-control" ng-model="showCase.model_data.scan_return_id" ng-keydown="showCase.scan_return($event, showCase.model_data.scan_return_id)"></textarea>
             </div>
           </div>
           <div class="col-md-4 col-sm-4 col-xs-6">
             <div class="form-group">
               <label class="control-label"> Order ID </label>
              <textarea id="scan_order_id" rows="1" name="scan_order_id" class="form-control" ng-model="showCase.model_data.scan_order_id" ng-keydown="showCase.scan_track($event, showCase.model_data.scan_order_id)"></textarea>
             </div>
           </div>
           <div class="col-md-4 col-sm-4 col-xs-6">
             <div class="form-group">
               <label class="control-label"> SKU Code </label>
              <textarea id="return_sku_code" rows="1" name="return_sku_code" class="form-control" ng-model="showCase.model_data.return_sku_code" ng-keydown="showCase.scan_sku($event, showCase.model_data.return_sku_code)"></textarea>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-md-12">
             <hr>
           </div>
         </div>   
       <div class="row">
         <div style="overflow-x:auto" class="col-md-12">
           <table class="table mw60">
             <thead>
               <tr>
                 <th> Order ID </th>
                 <th> SKU Code </th>
                 <th> Product Description </th>
                 <th> Shipping Quantity </th>
                 <th> Return Quantity </th>
                 <th> Damaged Quantity </th>
               </tr>
             </thead>
             <tbody ng-repeat="data in showCase.model_data.data">
               <tr ng-repeat="data_split in data">
	         <td><input type="text" name="order_id" class="form-control" ng-model="data_split.order_id"></td>
                 <td><input type="text" name="sku_code" class="form-control" ng-model="data_split.sku_code"></td>
                 <td><input type="text" name="sku_desc" class="form-control" ng-model="data_split.sku_desc"></td>
                 <td><input type="text" name="shipping" class="form-control" ng-class="service.get_decimal_perm()" ng-model="data_split.ship_quantity"></td>
                 <td><input type="text" name="return" class="form-control" ng-class="service.get_decimal_perm()"  ng-model="data_split.return_quantity"></td>
                 <td><input type="text" name="damaged" class="form-control" ng-class="service.get_decimal_perm()" ng-model="data_split.damaged_quantity">
                   <input type="hidden" value="{{data_split.id}}" name="id">
                   <input type="hidden" value="" name="track_id">
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
       <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4></div>
      </div>
      <div class="modal-footer">
        <button name="confirm-sales" id="confirm-sales" class="btn pop pop-green" type="button" ng-click="showCase.confirm_return()" ng-disabled="showCase.confirm_disable">Confirm Returns </button>
      </div>
    </div>
  </div>
  </form>
</div>
