      {% load tag_extras %}

      {% for title in titles %}
        <!-- <div class="invoice_titles" style="padding-bottom: 70px" ng-repeat="title in showCase.pdf_data.titles"> -->
        <div class="invoice_titles" ng-repeat="title in showCase.pdf_data.titles">
         <!-- invoice -->
          {% for page in data %}
          <div class="print-invoice2 mb20" style="height: auto;" ng-repeat="page in showCase.pdf_data.data">
            <div class="invoice-body">
                {% include "toggle/invoice/normal_details.html" %}

              <table class="table table-bordered table-responsive bl br cal-table m0">
                <thead>
                  <tr class="fs14">
                    <th><center>SKU Code</center></th>
                    <th><center>HSN</center></th>
                    <th><center>Description</center></th>
                    {% if show_mrp == 'true' %}
                      <th><center>MRP</center></th>
                    {% endif %}
                    <th><center>Unit</br>Rate</center></th>
                    <th><center>Qty</center></th>
                    {% if show_disc_invoice == 'true' %}
                    <th><center>Disc</center></th>
                    {% endif %}
                    <!--<th class="w9"><center>Base</br>Price</center></th>-->
                    <th><center>Taxable</br>Value</center></th>
                    {% if is_igst_tax_flag != 'true' %}
                      <th><center>CGST</center></th>
                      <th><center>SGST</center></th>
                    {% endif %}
                    {% if is_igst_tax_flag == 'true' %}
                      <th><center>IGST</center></th>
                    {% endif %}
                    {% if is_cess_tax_flag == 'true' %}
                      <th><center>CESS</center></th>
                    {% endif%}
                    <th><center>Total</center></th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in page.data %}
                  {% if not record.continue %}
                  <tr ng-repeat="record in page.data" class="fs14 rm-border">
                    <td class="text-left">
                      <div class="wrap">{{record.sku_code}}</div></td>
                    <td class="text-left">{{record.hsn_code}}</td>
                    <td class="text-left"><div class="wrap">{{record.title}}</div></td>
                    {% if show_mrp == 'true' %}
                      <td class="text-right">{{record.mrp_price}}</td>
                    {% endif %}
                    <td class="text-right">{{record.unit_price}}</td>
                    <td class="text-right">{{record.quantity}}</td>
                    {% if show_disc_invoice == 'true' %}
                    <td class="text-right">{{record.discount}}<br><span class="tax-percentage">@{{record.discount_percentage}}%</span></td>
                    {% endif %}
                    <!--<td class="text-right">{{record.base_price}}</td>-->
                    <td class="text-right"> {{record.amt}} </td>
                    {% if is_igst_tax_flag != 'true' %}
                      <td class="text-right">{{record.taxes.cgst_amt}}<br><span class="tax-percentage">@{{record.taxes.cgst_tax}}%</span></td>
                      <td class="text-right">{{record.taxes.sgst_amt}}<br><span class="tax-percentage">@{{record.taxes.sgst_tax}}%</span></td>
                    {% endif %}
                    {% if is_igst_tax_flag == 'true' %}
                      <td class="text-right">{{record.taxes.igst_amt}}<br><span class="tax-percentage">@{{record.taxes.igst_tax}}%</span></td>
                    {% endif %}
                    {% if is_cess_tax_flag == 'true' %}
                      <td class="text-right">{{record.taxes.cess_amt}}<br><span class="tax-percentage">@{{record.taxes.cess_tax}}%</span></td>
                    {% endif %}
                    <td class="text-right">{{record.invoice_amount}}</td>
                  </tr>
                  {% endif %}
                  {% if record.imeis %}
                  <tr class="fs14">
                    <td></td>
                    <td></td>
                    <td>
                      <div style="font-size: 13px;line-height:16px;">
                        <span class="pull-left"><b>IMEI List: </b></span></br>
                        {% for imei in record.imeis %}
                        <div {% if not forloop.counter|divisibleby:2 %} style="display: block;float: left;" {% else %} style="display: block;float: right;" {% endif %}>
                          <i>{{imei}}</i>
                        </div>
                          {% if forloop.counter|divisibleby:2 %}</br>{% endif %}
                        {% endfor %}
                      </div>
                    </td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                  </tr>
                  {% endif %}

                  {% endfor %}
                  {% for empty in page.empty_data %}
                    {% if forloop.first == forloop.last %}
                      <tr class="rm-border" style="height: 41px;" ng-repeat="empty in page.empty_data">
                        {% for td in html_data.empty_tds %}
                        <td><p style="height:10px"></p></td>
                        {% endfor %}
                      </tr>
                    {% else %}
                      <tr class="rm-border" style="height: 38px;" ng-repeat="empty in page.empty_data">
                        {% for td in html_data.empty_tds %}
                        <td><p style="height:10px"></p></td>
                        {% endfor %}
                      </tr>
                    {% endif %}
                  {% endfor %}
                  {% if forloop.last %}
                  {% ifequal perm_hsn_summary "true" %}
                  <tr class="fs14" style="border-top: 1px solid black" ng-if="perm_hsn_summary && $last">
                    <td></td>
                    <td></td>
                    {% if show_mrp == 'true' %}
                      <td></td>
                    {% endif %}
                    <td colspan='{{html_data.hsn_summary_span}}'><b>Summary</b></td>
                    <td><b>Taxable</br>Value</b></td>
                    {% if is_igst_tax_flag != 'true' %}
                      <td><b>CGST</b></td>
                      <td><b>SGST</b></td>
                    {% endif %}
                    {% if is_igst_tax_flag == 'true' %}
                      <td><b>IGST</b></td>
                    {% endif %}
                    {% if is_cess_tax_flag == 'true' %}
                      <td><b>CESS</b></td>
                    {% endif %}
                    <td></td>
                  </tr>
                  {% for hsn, data in hsn_summary.items %}
                  <tr class="fs14 text-right rm-border" ng-repeat="(hsn, data) in showCase.pdf_data.hsn_summary" ng-if="permissions.hsn_summary && $parent.$last">
                    <td></td>
                    <td></td>
                    {% if show_mrp == 'true' %}
                      <td></td>
                    {% endif %}
                    <td colspan='{{html_data.hsn_summary_span}}' class="text-left">{{hsn}}</td>
                    <td class="text-right">{{data.taxable}}</td>
                    {% if is_igst_tax_flag != 'true' %}
                      <td class="text-right">{{data.cgst_amt}}</td>
                      <td class="text-right">{{data.sgst_amt}}</td>
                    {% endif %}
                    {% if is_igst_tax_flag == 'true' %}
                      <td class="text-right">{{data.igst_amt}}</td>
                    {% endif %}
                    {% if is_cess_tax_flag == 'true' %}
                      <td class="text-right">{{data.cess_amt}}</td>
                    {% endif %}
                    <td></td>
                  </tr>
                  {% endfor %}
                  {% endifequal %}
                  {% endif %}
                  {% if forloop.last %}
                  <tr style="border-top: 1px solid black;font-weight: bold;" class="fs14 text-right" ng-if="$last">
                    {% if show_mrp == 'true' %}
                      <td colspan="4" style="text-align:left"><b>Total: </b></td>
                    {% else %}
                      <td colspan="3" style="text-align:left"><b>Total: </b></td>
                    {% endif %}
                    <td></td>
                    <td>{{total_quantity}}</td>
                    {% if show_disc_invoice == 'true' %}
                    <td class="text-right">{{record.discount}}</td>
                    {% endif %} 
                    <!--<td></td>-->
                    <td>{{total_taxable_amt}}</td>
                    {% if is_igst_tax_flag != 'true' %}
                      <td>{{total_taxes.cgst_amt}}</td>
                      <td>{{total_taxes.sgst_amt}}</td>
                    {% endif %}
                    {% if is_igst_tax_flag == 'true' %}
                      <td>{{total_taxes.igst_amt}}</td>
                    {% endif %}
                    {% if is_cess_tax_flag == 'true' %}
                      <td>{{total_taxes.cess_amt}}</td>
                    {% endif %}
                    <td>{{total_invoice}}</td>
                  </tr>
                  <tr ng-if="$last">
                    <td colspan='{{html_data.columns}}' class="fs14">
                      <div class="row no-margin" style="position:relative">
                        {% if invoice_remarks != 'false' %}
                        <div style="position: absolute;left: 25%;top: -3px;bottom: -3px;width: 1px;background-color: black !important;"></div> 
                        <div class="col-xs-3 no-padding">
                          <p class="pre-custom fs14">{{invoice_remarks}}</p>
                        </div>
                        <div class="col-xs-9 no-padding" style="border-left: 1px solid black; padding-left:4px !important;">
                        {% else %}
                        <div class="col-xs-12 no-padding">
                        {% endif %}
                          {% if order_charges %}
                          {% for charge in order_charges %}
                          <div class="row" ng-repeat="charge in showCase.pdf_data.order_charges" ng-if="showCase.pdf_data.order_charges">
                            <div class="col-xs-{{html_data.totals_data.label_width}}">
                              {{charge.charge_name}}
                            </div>
                            <div class="col-xs-{{html_data.totals_data.value_width}} text-right">
                              {{charge.charge_amount}}
                            </div>
                          </div>
                          {% endfor %}
                          {% endif %}
                          <div class="row">
                            <div class="col-xs-{{html_data.totals_data.label_width}}">
                              Taxable Amount
                            </div>
                            <div class="col-xs-{{html_data.totals_data.value_width}} text-right">
                             Rs {{total_taxable_amt}}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-{{html_data.totals_data.label_width}}">
                              Total Tax *
                            </div>
                            <div class="col-xs-{{html_data.totals_data.value_width}} text-right">
                              Rs {{total_tax}}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-{{html_data.totals_data.label_width}}">
                            Total Tax(In Words)
                            </div>
                            <div class="col-xs-{{html_data.totals_data.value_width}} text-right" style="text-transform: capitalize;">
                              {{total_tax_words}} Only
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-{{html_data.totals_data.label_width}}">
                            Invoice Total
                            </div>
                            <div class="col-xs-{{html_data.totals_data.value_width}} text-right">
                              Rs {{total_invoice_amount}}
                            </div>
                          </div>
                          <div class="row" style="font-weight:bold">
                            <div class="col-xs-{{html_data.totals_data.label_width}}">
                              Invoice Total (After rounding)
                            </div>
                            <div class="col-xs-{{html_data.totals_data.value_width}} text-right">
                            Rs {{rounded_invoice_amount}}
                            </div>
                          </div>
                          <div class="row" style="font-weight:bold">
                            <div class="col-xs-{{html_data.totals_data.label_width}}">
                              Invoice Total(In Words)
                            </div>
                            <div class="col-xs-{{html_data.totals_data.value_width}} text-right" style="text-transform: capitalize;">
                              {{price_in_words}} Only
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr ng-if="$last">
                    {% if show_mrp == 'true' %}
                      <td colspan='9' style="text-align:left;" class="fs14">
                    {% else %}
                      <td colspan='8' style="text-align:left;" class="fs14">
                    {% endif %}
                      <span><b class="fs16">DECLARATION:</b></span><br>
                      <p class="pre-custom fs14">{{declaration}}</p>
                    </td>
                    <td colspan='{{html_data.hsn_summary_span}}'>
                      <p align="center"><b class="fs16 m0">{{company_name}}</b></p>
                      </br></br>
                      <p align="center" class="fs14 m0">Authorised Signatory</p>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
