<div class="page-layout">
  <div class='layout-header'>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'views/common/title.html'"></div>
      </div>
    </div>
  </div>
  <div class="layout-body" style="overflow: visible">
    <tabset class="box-tab">
      <tab heading="Create Manual Test">
        <div ng-include="'views/outbound/create_manual_test.html'"></div>
      </tab>
      <tab heading="View Manual Tests">
        <div ng-include="'views/outbound/view_manual_test.html'"></div>
      </tab>
    </tabset>
  </div>
</div>
