<div class="page-layout" ng-controller="CreateStockOrders as showCase">
  <div class='layout-header'>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'views/common/title.html'"></div>
      </div>
    </div>
  </div>
  <div class="layout-body" style="overflow: visible">
    <div class="panel">
      <div class="panel-body">
      <form id="add_st" name="form" role="form">
        <div class="form-group clearfix mr10 ml10">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="form-group">
                <label class="control-label"> Warehouse Name </label>
                <select name="warehouse_name" class="form-control">
                  <option ng-repeat="wh in showCase.warehouse_list" value="{{wh}}">{{wh}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="clearfix">
          <div class="row over-x" style="margin: 0px;">
              <table  class="table mw45">
                <thead>
                  <tr>
                    <th>WMS Code*</th>
                    <th>Quantity*</th>
                    <th>Price*</th>
                    <th>CGST (%)</th>
                    <th>SGST (%)</th>
                    <th>IGST(%)</th>
                    <th>Total Price</th>
                    <th class="plus">
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="data in showCase.model_data.data">
                    <td>
                      <!--<input id="wms1" type="text" name="wms_code" class="form-control" ng-model="data.wms_code" ng-required="$first">-->
                      <input type="text" autocomplete="off" name="wms_code" class="form-control" placeholder="Search WMS Code/Description" typeahead="address.wms_code+' : '+address.sku_desc for address in showCase.service.getSearchValues($viewValue, 'search_wms_data?')" typeahead-loading="loadingLocations" ng-model="data.wms_code" ng-required="$first" typeahead-on-select="[data.wms_code = $item.wms_code,showCase.get_sku_details(data)];">
                    </td>
                    <td>
                      <input id="quant1" type="text" name="order_quantity" class="form-control" ng-model="data.order_quantity" ng-keyup="showCase.changeUnitPrice(data)" ng-required="$first" ng-class="service.get_decimal_perm()">
                    </td>
                    <td>
                      <input type="text" name="price" class="form-control" ng-model="data.price"  ng-keyup="showCase.changeUnitPrice(data)" decimal-number>
                      <input type="hidden" name="id" value="">
                    </td>
                    <td>
                      <input type="text" name="cgst" class="form-control" size="2" ng-model="data.cgst" ng-keyup="showCase.changeUnitPrice(data)" decimal-number>
                    </td>
                    <td>
                      <input type="text" name="sgst" class="form-control" size="2" ng-model="data.sgst" ng-keyup="showCase.changeUnitPrice(data)" decimal-number>
                    </td>
                    <td>
                      <input type="text" name="igst" class="form-control" size="2" ng-model="data.igst" ng-keyup="showCase.changeUnitPrice(data)" decimal-number>
                    </td>
                    <td>
                      <input type="text" name="total_price" class="form-control" ng-model="data.total_price" decimal-number>
                    </td>

                    <td>
                      <i style="font-size: 20px;padding-top: 5px;cursor: pointer;" ng-click="showCase.update_data($index, data, $last)" ng-class="showCase.isLast($last)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <div class="col-md-12 form-group clearfix" style="padding-bottom:0px;">
          <button type="submit" class="btn btn-primary" id="st-create-order" ng-disabled="showCase.bt_disable" style="margin: auto;display: block;" ng-click="showCase.insert_order_data(form)">Create Transfer Order </button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
