<div class="page-layout">
  <div class='layout-header'>
    <div class="pull-left" ng-include="'views/common/title.html'"></div>
  </div>
  <div class="layout-body">
    <tabset class="box-tab">
      <tab heading="Customer Invoice">
        <div ng-include="'views/outbound/customer_invoices_tab1.html'"></div>
      </tab>

      <tab heading="Stock Transfer Invoice">
        <div ng-include="'views/outbound/customer_invoices_tab2.html'"></div>
      </tab>
      <tab heading="Picklist Delivery Challan">
        <div ng-include="'views/outbound/piclist_delivery_challan.html'"></div>
      </tab>

    </tabset>
  </div>
</div>
