<div class="page-layout">
  <div class='layout-header'>
    <div class="pull-left" ng-include="'views/common/title.html'"></div>
  </div>
  <div class="layout-body">
    <tabset class="box-tab">
      <tab heading="Orders">
        <div class="panel" ng-controller="Orders as showCase">
          <div class="panel-header" style="overflow: visible;">
            <div class="row">
              <div class="col-md-2 col-sm-4 col-xs-6 mb10">
                <button type="button" class="btn btn btn-danger" style="width: 100%" ng-click="$state.go('app.outbound.BackOrders')">Back Orders</button>
                <!--<button type="button" class="btn btn-success pull-right" style="margin-left:10px;" ng-click="showCase.add_order()">Create Order</button>-->
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 mb10 pull-right">
                <button type="button" class="btn btn-primary pull-right" style="width: 100%" ng-click="showCase.excel()">Download Excel</button>
              </div>

			  <div class="col-md-4 col-sm-4 col-xs-6 mb10">
  				<div class="col-md-10 col-sm-10 col-xs-12" style="padding-top: 7px;text-align: right;">
  				  <strong class="ml20">Display Customer address in Picklist</strong>
  				</div>
  				<div class="col-md-2 col-sm-2 col-xs-12">
            <label class="switch switch-sm square mt5">
  					<div>
              <input type="checkbox" ng-model="showCase.picklist_display_address" ng-change="showCase.address_change(showCase.picklist_display_address)" class="ng-valid ng-dirty">
                <span><i class="handle"></i></span>
            </div>
            </label>
  				</div>
			  </div>

        <div class="col-md-4 col-sm-4 col-xs-6 mb10">
          <div class="col-md-10 col-sm-10 col-xs-12" style="padding-top: 7px;text-align: right;">
            <strong class="ml20">Enable Damaged Stocks</strong>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12">
            <label class="switch switch-sm square mt5">
              <div>
                <input type="checkbox" ng-model="showCase.enable_damaged_stock" ng-change="showCase.change_enable_damaged_stock(showCase.enable_damaged_stock)" class="ng-valid ng-dirty">
                <span><i class="handle"></i></span>
              </div>
            </label>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 mb10 pull-right" ng-if="user.roles.permissions['show_pull_now']">
          <button type="button" class="btn btn btn-warning" style="width: 100%" ng-click="showCase.service.pull_order_now()">Pull Now</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6" style="line-height: 34px;">
          <span style="float:right">Select View: </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 mb10" style="height: 34px;padding-left: 0px;">
          <select class="form-control pull-right" ng-model="showCase.g_data.view" ng-change="showCase.change_datatable()">
            <option ng-repeat="view in showCase.g_data.views" value="{{view}}" ng-selected="view == showCase.g_data.view"> {{view}}</option>
          </select>
        </div>
        <div class="hide">
          <label class="hide switch switch-sm square pull-right mr30 mt5">
            <div>
              <input type="checkbox" ng-model="showCase.permissions.batch_switch" ng-change="showCase.service.switches(showCase.permissions.batch_switch,'batch_switch')">
              <span>
                <i class="handle"></i>
              </span>
            </div>
          </label>
          <label style="padding: 5px;" class="control-label pull-right"><b>Batch:</b></label>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 mb10">
          <input type="text" autocomplete="off" class="form-control" placeholder="Search Customer" typeahead="address for address in showCase.service.getSearchValues($viewValue, 'search_customer_sku_mapping?', 'orders')" typeahead-loading="CustomersLoading" ng-model="showCase.special_key.customer_id" typeahead-on-select="showCase.change_customer(showCase.special_key.customer_id)">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 mb10">
          <select class="selectpicker form-control pull-right" style="width: 155px;" ng-model="showCase.market_filter" title="Select MarketPlace" multiple>
            <option ng-repeat="market in showCase.market_list" > {{market}}</option>
          </select>
        </div>
      </div>
          </div>
          <div class="panel-body">
            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="custom-table table table-condensed datatable sku-table"></table>
            <div ui-view></div>
          </div>
          <div class="panel-footer">
            <div class="col-md-2 col-sm-4 col-xs-6 mb10">
              <button ng-hide="showCase.permissions.user_type == 'warehouse' || showCase.permissions.user_type == 'distributor'" type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.backorder_po()" ng-disabled="showCase.bt_disable" ng-if="showCase.pop_buttons">Raise PO</button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 mb10">
              <button ng-hide="showCase.permissions.user_type == 'warehouse' || showCase.permissions.user_type == 'distributor'" type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.raise_jo()" ng-disabled="showCase.bt_disable" ng-if="showCase.pop_buttons">Raise JO</button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 mb10">
              <button ng-hide="showCase.permissions.user_type == 'warehouse' || showCase.permissions.user_type == 'distributor'" type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.raise_stock_transfer()" ng-disabled="showCase.bt_disable" ng-if="showCase.pop_buttons">Raise Stock Transfer</button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 mb10" ng-if = "showCase.g_data.view == 'CustomerOrderView'">
              <button type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.send_order_back()" ng-disabled="showCase.bt_disable" ng-if="showCase.pop_buttons && showCase.permissions.central_order_reassigning">Send Order Back</button>
            </div>
            <!--<button type="submit" class="btn btn-primary pull-right" ng-disabled="showCase.bt_disable" style="margin-right:10px;" ng-click="showCase.transfer()">Transfer Order</button>-->
            <div class="col-md-2 col-sm-4 col-xs-6 mb10">
              <input name="ship_reference" class="pull-right form-control" ng-model="showCase.ship_reference" type="text" placeholder="Enter Shipment Reference">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 mb10">
              <button type="submit" class="pull-right btn btn-primary" style="width: 100%" ng-disabled="showCase.bt_disable" ng-click="showCase.generate()">Generate Picklist</button>
            </div>
          </div>
        </div>
      </tab>
      <!--<tab heading="Other View">
        <div ng-include="'views/outbound/view_orders/other_view.html'"></div>
      </tab>
      <tab heading="Order View">
        <div ng-include="'views/outbound/view_orders/order_view.html'"></div>
      </tab>
      <tab heading="Order Category View">
        <div ng-include="'views/outbound/view_orders/order_category_view.html'"></div>
      </tab>-->
      <tab heading="Stock Transfer Order" ng-if="show_tab('multi_warehouse') || show_tab('add_stocktransfer')">
        <div class="panel" ng-controller="StockTransferOrders as showCase">
            <!-- <form name="form" role="form" class="filters"> -->
              <div class="clearfix">

                <div class="row">
                  <div class="col-md-11 col-sm-11 col-xs-10">
                    <p align="right"><b>Alternative View</b></p>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-2">
                    <label class="switch switch-sm square">
                      <div>
                        <input type="checkbox" ng-model="showCase.alt_view" ng-change="showCase.changeDtFields(showCase.alt_view)">
                        <span>
                          <i class="handle"></i>
                        </span>
                        <input type="hidden" name="alt_view" class="form-control" ng-model="showCase.alt_view" value="{{showCase.alt_view}}">
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            <!-- </form> -->

          <div class="panel-header">
            <!--<button type="button" class="btn btn-success pull-right" style="margin-left:10px;" ng-click="showCase.add_stock_transfer()">Create Stock Transfer</button>-->
            <button type="button" class="btn btn-primary pull-right" ng-click="showCase.excel()">Download Excel</button>
          </div>
          <div class="panel-body">
            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="custom-table table table-condensed datatable sku-table"></table>
            <div ui-view></div>
          </div>
          <div class="panel-footer">


      <div class="col-md-2 col-sm-4 col-xs-6 mb10">
        <button type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.backorder_po()" ng-disabled="showCase.bt_disable" ng-hide="showCase.permissions.user_type == 'warehouse' || showCase.permissions.user_type == 'distributor'">Raise PO</button>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb10">
              <button type="submit" class="btn btn-primary" style="width: 100%" ng-click="showCase.raise_jo()" ng-disabled="showCase.bt_disable" ng-hide="showCase.permissions.user_type == 'warehouse' || showCase.permissions.user_type == 'distributor'">Raise JO</button>
      </div>


            <button type="submit" class="btn btn-primary pull-right" ng-disabled="showCase.bt_disable" ng-click="showCase.generate_picklist()">Generate Picklist</button>
          </div>
        </div>
      </tab>
      <tab heading="Custom Orders">
        <div ng-include="'views/outbound/view_orders/custom_orders.html'"></div>
      </tab>
      <tab heading="Central Orders" ng-if="show_tab(permissions.central_order_mgmt == 'true')">
        <div ng-include="'views/outbound/view_orders/central_orders.html'"></div>
      </tab>
      <!--<tab heading="Create Central Orders" ng-if="show_tab(showCase.permissions.central_order_mgmt == true)">
        <div ng-include="'views/outbound/view_orders/create_central_orders.html'"></div>
      </tab>-->
    </tabset>
  </div>
</div>
