<div id="page-pop" class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <form name="form" role="form" ui-jq="validate" ui-options="showCase.validationOpt">
  <div class="modal-dialog model-custom modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showCase.close()"><span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">{{showCase.title}}</h4> </div>
      <!-- body-->
      <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <label>Product SKU Code</label>
              <input type="text" class="form-control" name="product_sku" ng-model="showCase.model_data.product_sku" ng-readonly="showCase.update">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <center><b> Material SKU Code </b></center>
            </div>
            <div class="col-md-4">
              <center><b> Material Quantity </b></center>
            </div>
            <div class="col-md-3">
              <center><b> Unit of Measurement </b></center>
            </div>
          </div>
          <div class="row field" ng-repeat= "material in showCase.model_data.data" id="new-market">
            <div class="col-md-4"><input type="text" name="material_sku" class="form-control" ng-model="material.Material_sku"></div>
            <div class="col-md-4"><input type="number" name="material_quantity" class="form-control numvalid smallbox" ng-model="material.Material_Quantity"></div>
            <div class="col-md-3">
              <select name="unit_of_measurement" class="form-control" ng-model="material.Units">
                      <option value="KGS">Kgs</option>
                      <option value="UNITS">Units</option>
                      <option value="METERS">Meters</option>
                    </select>
            </div>
            <div class="col-md-1">
              <i ng-click="showCase.update_data($index)" ng-class="showCase.isLast($last)"></i>
              <input type="hidden" name="id" class="form-control" value="{{material.BOM_ID}}">
            </div>
          </div>
          <div class="row insert-status"><h4 align="center">{{showCase.message}}</h4> </div>
      </div>
      <!-- body end-->
      <div class="modal-footer">
        <button type="button" class="btn pop pop-normal" data-dismiss="modal" ng-click="showCase.close()">Close</button>
        <button type="submit" class="btn pop pop-green" ng-click="showCase.submit(form)">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <form>
  <!-- /.modal-dialog -->
</div>
