<div class="page-layout" ng-controller="uploadCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
  <div class='layout-header'>
    <div class="pull-left" ng-include="'views/common/title.html'"></div>
  </div>
  <div class="layout-body">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-4"></div>
              <div class="col-lg-4 col-md-4">
                <h6>Please Select Upload Type *</h6>
                <select ng-model="uploader.model_data.type" class="form-control" name="selected_type" ng-required="true" ng-change="uploader.changing_value(uploader.model_data.type)" ng-init= "uploader.changing_value(uploader.model_data.type)">
                  <!-- <option value={{uploader.model_data.type}}> {{uploader.model_data.type}}</option> -->
                  <option ng-if = "uploader.model_data.type == 'clusterUpload'" value="clusterUpload">Cluster Upload</option>
                  <option ng-if= "uploader.model_data.type == 'skuUpload'" value="skuUpload">SKU Upload</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-4"></div>
            </div>
          </div>
          <div class="panel-header">
            <div class="col-md-12">
            Multiple
              <input type="file" nv-file-select="" uploader="uploader" multiple accept=".jpg,.png,.jpeg,.JPG,.PNG,.JPEG"/>
              <br/> <!--Single
              <input type="file" nv-file-select="" uploader="uploader" />-->
              <h4 class="mt0">Upload queue</h4>
              <p>Queue length: {{ uploader.queue.length }}</p>
            </div>
          </div>
          <div class="col-md-12">
            <table class="table table-bordered table-hover table-condensed align-middle bl br">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th ng-show="uploader.isHTML5">Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong>
                  </td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="panel-footer">
              <div>
                <p>Queue progress:</p>
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
              <button type="button" class="btn btn-success btn-sm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
              </button>
              <button type="button" class="btn btn-warning btn-sm" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
              </button>
              <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default" style="padding:0px">
        <div class="panel-heading">
            <h3 class="panel-title">Instructions to upload the images</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-if = "uploader.model_data.type == 'clusterUpload'">Rename the image with the cluster code like cluster.jpg</li>
            <li ng-if= "uploader.model_data.type == 'skuUpload'">Rename the image with the sku code like sku.jpg</li>
            <li ng-if= "uploader.model_data.type == 'skuUpload'">Upload multiple images for single sku. Rename the sku __ and add some number like sku__1.jpg</li>
            <li>Status
              <ul>
                <li><i class="glyphicon glyphicon-ok"></i> This symbol will indicate "Success".</li>
                <li><i class="glyphicon glyphicon-ban-circle"></i> This symbol will indicate "Image name not matched with any sku".</li>
                <li><i class="glyphicon glyphicon-remove"></i>This symbol will indicate "Error".</li>
              </ul>
            </li>
          </ul>
        </div>
      </div> 
    </div>
  </div>
</div>
