<div class="page-layout" ng-controller="LocationMasterTable as showCase">
  <div class='layout-header'>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'views/common/title.html'"></div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <button type="button" class="btn btn-success col-md-3 col-sm-3 col-xs-3" ng-click="showCase.add_location()">Add Location</button>
          <button type="button" class="btn btn-success col-md-3 col-sm-3 col-xs-3" ng-click="showCase.add_zone()">Add Zone</button>
          <button type="button" class="btn btn-success col-md-3 col-sm-3 col-xs-3" ng-click="showCase.add_sub_zone_mapping()" ng-show="permissions.add_subzonemapping">Add Sub Zone Mapping</button>
          <!-- <div ng-include="'views/common/excel_button.html'"></div> -->
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'views/common/master-datatable.html'"></div>
</div>
