<div ng-controller="LocationMasterCtrl as showCase">
  <div class="page-layout" style="background: #f0f0f0;">
    <div class='layout-header'>
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div ng-include="'views/common/title.html'"></div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="row">
            <button type="button" class="btn btn-success col-md-3 col-sm-3 col-xs-3" ng-click="showCase.add_location()">Add Location</button>
            <button type="button" class="btn btn-success col-md-3 col-sm-3 col-xs-3" ng-click="showCase.add_zone()">Add Zone</button>
            <button type="button" class="btn btn-success col-md-3 col-sm-3 col-xs-3" ng-click="showCase.add_sub_zone_mapping()" ng-show="permissions.add_subzonemapping">Add Sub Zone Mapping</button>
          </div>
        </div>
      </div>
    </div>
    <div class="layout-body">
      <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="zone in showCase.data.location_data" is-open="status.isFirstOpen">
          <accordion-heading>
            <span ng-click="showCase.get_zone_details(zone.zone)">  {{zone.zone}} </span>
            <i class="pull-right glyphicon" ng-click="showCase.get_zone_details(zone.zone)" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </accordion-heading>
          <div class="over-x">
            <button type="button" class="btn btn-primary mr15 pull-right" ng-click="showCase.edit_zone(zone, $event)">Edit</button>
            <table class="table mb0 mw40">
              <thead>
                <tr>
                  <th class="col-md-3">Location</th>
                  <th class="col-md-2">Capacity</th>
                  <th class="col-md-2">Put Sequence</th>
                  <th class="col-md-2">Get Sequence</th>
                  <th class="col-md-2">Status</th>
                  <th class="col-md-2" ng-show="permissions.add_subzonemapping">Sub Zone</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="location in showCase.zone_data[zone.zone]" style="cursor:pointer" ng-click="showCase.open_location(location, zone.zone)">
                  <td>{{location.location}}</td>
                  <td>{{location.max_capacity}}</td>
                  <td>{{location.fill_sequence}}</td>
                  <td>{{location.pick_sequence}}</td>
                  <td>{{location.status}}</td>
                  <td ng-show="permissions.add_subzonemapping">{{location.sub_zone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </accordion-group>
      </accordion>
      <div ui-view></div>
    </div>
  </div>
</div>
