<div class="panel" ng-controller="RaisePurchaseOrderCtrl as showCase">
  <div class="panel-header">
    <button type="button" class="btn btn-success pull-right" ng-click="showCase.add()">New Purchase Order</button>
    <button type="button" style="margin-right: 10px;" class="btn btn-primary pull-right" ng-click="showCase.service.download_excel(showCase.dtColumns,showCase.dtInstance.DataTable.context[0].ajax.data)" ng-disabled="showCase.service.print_enable">Download Excel</button>
  </div>
  <div ng-include="'views/common/datatable.html'"></div>
  <div class="panel-footer">
    <button type="button" class="pull-right btn btn-success" style="margin-left:10px;" ng-click="showCase.confirm_po1()" ng-disabled="showCase.bt_disable">Confirm PO</button>
    <button type="button" class="pull-right btn btn-danger" ng-disabled="showCase.bt_disable" ng-click="showCase.delete_po_group();">Delete PO</button>
  </div>
</div>
