<div class="panel" ng-controller="RaisePurchaseRequestCtrl as showCase">
  <div class="panel-header">
    <button type="button" class="btn btn-success pull-right ml10" ng-if="showCase.permissions.add_openpr" ng-click="showCase.add()">New Purchase Order</button>
    <div ng-include="'views/common/excel.html'"></div>
  </div>
  <div ng-include="'views/common/datatable.html'"></div>
  <div class="panel-footer">
    <button type="button" class="pull-right btn btn-danger" ng-show="showCase.permissions.add_openpr" ng-click="showCase.cancel_pr()">Cancel PO</button>
  </div>
</div>