    <thead>
      <tr class="rm-padding">
        <th><center>SKU Code</center></th>
        <th><center>HSN</center></th>
        <th><center>Description</center></th>
        <th><center>Unit Rate</center></th>
        <!--<th ng-if="permissions.show_mrp">MRP</center></th>-->
        <th><center>Qty</center></th>
        <th><center>Base Price</center></th>
        <th><center>Disc</center></th>
        <th><center>Taxable Value</center></th>
        <th><center>CGST</center></th>
        <th><center>SGST</center></th>
        <th><center>IGST</center></th>
        <th><center>Total</center></th>
      </tr>
    </thead>
    <tbody>
      <tr class="rm-padding rm-brdr text-right" ng-repeat="record in showCase.pdf_data.data">
        <td style="text-align: left;">{{record.sku_code}}</td>
        <td style="text-align: left;">{{record.hsn_code}}</td>
        <td style="text-align: left;">{{record.title}}</td>
        <td>{{record.unit_price}}</td>
        <td>{{record.quantity}}</td>
        <td>{{record.base_price | number:2}}</td>
        <!--<td ng-if="permissions.show_mrp">{{record.mrp_price | number:2}}</td>-->
        <td class="text-right">{{record.discount}}<br><span class="tax-percentage hide">@0%</span></td>
        <td> {{record.amt | number:2}} </td>
        <td class="text-right">{{record.taxes.cgst_amt | number:2}}<br><span class="tax-percentage">{{record.taxes.cgst_tax}}%</span></td>
        <td class="text-right">{{record.taxes.sgst_amt | number:2}}<br><span class="tax-percentage">@{{record.taxes.sgst_tax}}%</span></td>
        <td class="text-right">{{record.taxes.igst_amt | number:2}}<br><span class="tax-percentage">@{{record.taxes.igst_tax}}%</span></td>
        <td>{{record.invoice_amount | number:2}}</td>
      </tr>
      <tr class="rm-padding" style="border-top: 1px solid rgba(128, 128, 128, 0.14)" ng-if="permissions.hsn_summary">
        <td></td>
        <td></td><td></td><td></td><td></td>
        <td colspan='2'><b>Summary</b></td>
        <td><b>TAXABLE</b></td>
        <td><b>CGST</b></td>
        <td><b>SGST</b></td>
        <td><b>IGST</b></td>
        <td></td>
      </tr>
      <tr class="rm-padding rm-brdr text-right" ng-repeat="(hsn, data) in showCase.pdf_data.hsn_summary" ng-if="permissions.hsn_summary">
        <td></td>
        <td></td><td></td><td></td><td></td>
        <td colspan='2' class="text-left">{{hsn}}</td>
        <td>{{data.taxable}}</td>
        <td>{{data.cgst_amt}}</td>
        <td>{{data.sgst_amt}}</td>
        <td>{{data.igst_amt}}</td>
        <td></td>
      </tr>
      <tr style="border-top: 1px solid rgba(128, 128, 128, 0.14);font-weight: bold;" class="rm-padding text-right">
       <td colspan="3" style="text-align:left"><b>Total: </b></td>
       <td></td>
       <td>{{showCase.pdf_data.total_quantity}}</td>
       <!--<td ng-if="permissions.show_mrp"></td>-->
       <td></td>
       <td></td>
       <td>{{showCase.pdf_data.total_taxable_amt | number:2}}</td>
       <td>{{showCase.pdf_data.total_taxes.cgst_amt | number:2}}</td>
       <td>{{showCase.pdf_data.total_taxes.sgst_amt | number:2}}</td>
       <td>{{showCase.pdf_data.total_taxes.igst_amt | number:2}}</td>
       <td>{{showCase.pdf_data.total_invoice | number:2}}</td>
      </tr>
      <tr class="rm-padding" style="font-weight: bold;">
        <td colspan='12'>
          <div class="row" ng-repeat="charge in showCase.pdf_data.order_charges" ng-if="showCase.pdf_data.order_charges">
            <div class="col-xs-6 text-right fs12">
              {{charge.charge_name}}
            </div>
            <div class="col-xs-6 text-right">
              {{charge.charge_amount | number:2}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right fs12">
              Taxable Amount
            </div>
            <div class="col-xs-6 text-right fs12">
              Rs {{showCase.pdf_data.total_taxable_amt | number:2}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right fs12">
              Total Tax *
            </div>
            <div class="col-xs-6 text-right fs12">
              Rs {{showCase.pdf_data.total_tax | number:2}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right fs12">
              Total Tax(In Words)
            </div>
            <div class="col-xs-6 text-right fs12">
              {{showCase.pdf_data.total_tax_words}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right fs12">
              Invoice Total
            </div>
            <div class="col-xs-6 text-right fs12">
              Rs {{showCase.pdf_data.total_invoice_amount | number:2}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right fs12">
              Invoice Total (After rounding)
            </div>
            <div class="col-xs-6 text-right fs12">
              Rs {{showCase.pdf_data.rounded_invoice_amount}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right fs12">
              Invoice Total(In Words)
            </div>
            <div class="col-xs-6 text-right fs12">
              <span style="text-transform:uppercase"> {{showCase.pdf_data.price_in_words}}</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="rm-padding">
        <td colspan='7' style="text-align:left;" class="fs12">
          <span><b>DECLARATION:</b></span><br>
          <pre class="pre-custom fs10">{{showCase.pdf_data.declaration}}</pre>
        </td>
        <td colspan='5' class="fs12">
          <p><b>{{showCase.pdf_data.company_name}}</b></p>
          </br></br>
          <p style="text-align:center;margin-bottom:0px">Authorised Signatory</p>
        </td>
      </tr>
    </tfoot>
