<div class="brand">

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <img src="images/stockone_logo.png" height="15" alt="">
  </a>
  <!-- /toggle small sidebar menu -->

  <!-- logo -->
  <div class="brand-logo">
    <img ng-if="user.userName != 'sagar_fab'" data-ng-src="images/stockone_logo_text.png" alt="">
    <img ng-if="user.userName == 'sagar_fab'" data-ng-src="images/sagar_fab.png" alt="">

    <!--<h5 style="color: #FFF;font-size: 22px;margin: 0px;margin-left: 7px;"><b>Mie</b>one</h5>-->
  </div>
  <!-- /logo -->


</div>

<!-- main navigation -->
<nav role="navigation" side-navigation style="margin-bottom: 100px;top: 60px;">

  <ul class="nav">

    <!-- dashboard -->
    <li ui-sref-active="active" ng-show="show_tab('DASHBOARD')">
      <a ui-sref="app.dashboard">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- /dashboard -->

    <!-- notifications -->
    <li ui-sref-active="">
      <a ui-sref="app.notifications">
        <i class="fa fa-bell"></i>
        <span class="button__badge" ng-if="user.notification_count != 0">{{user.notification_count}}</span>
        <span>Notifications</span>
      </a>
    </li>
    <!-- /dashboard -->


    <!-- 
      Masters -->
    <li data-ng-class="{open: $state.includes('app.masters')}" ng-show="show_tab('MASTERS_LABEL')">
      <a href="javascript:;">
        <i class="fa fa-cubes"></i>
        <span>Masters</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active" ng-show="show_tab('add_skumaster')">
          <a ui-sref="app.masters.SKUMaster">
            <span>SKU Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_locationmaster')">
          <a ui-sref="app.masters.LocationMaster">
            <span>Location Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_suppliermaster')">
          <a ui-sref="app.masters.SupplierMaster">
            <span>Supplier Master</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.masters.sourceSKUMapping" ng-show="show_tab('add_skusupplier')">
            <span>Source-SKU Mapping</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.masters.CorporateMaster" ng-show="show_tab('add_corporatemaster')">
            <span>Corporate Master</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.masters.CorporateMapping" ng-show="show_tab('add_corpresellermapping')">
            <span>Reseller Corporate Mapping</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.masters.CustomerMaster" ng-show="show_tab('add_customermaster')">
            <span>Customer Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_customersku')">
          <a ui-sref="app.masters.Customer-SKUMapping">
            <span>Customer-SKU Mapping</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_bommaster') && show_tab('production_switch')">
          <a ui-sref="app.masters.BOMMaster">
            <span>BOM Master</span>
          </a>
        </li>
        <li ng-show="show_tab('multi_warehouse')" ui-sref-active="active">
          <a ui-sref="app.masters.WarehouseMaster">
            <span>Warehouse Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_vendormaster') && show_tab('production_switch')">
          <a ui-sref="app.masters.VendorMaster">
            <span>Vendor Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('pos_switch')">
          <a ui-sref="app.masters.DiscountMaster">
            <span>Discount Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_productproperties')">
          <a ui-sref="app.masters.CustomSKUMaster">
            <span>Custom SKU Template</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_sizemaster')">
          <a ui-sref="app.masters.SizeMaster">
            <span>Size Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_pricemaster')">
          <a ui-sref="app.masters.PricingMaster">
            <span>Pricing Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_networkmaster')">
          <a ui-sref="app.masters.NetworkMaster">
            <span>Network Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_taxmaster')">
          <a ui-sref="app.masters.TaxMaster">
            <span>Tax Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="user.user_profile['user_type'] == 'marketplace_user'">
          <a ui-sref="app.masters.SellerMaster">
            <span>Seller Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="user.user_profile['user_type'] == 'marketplace_user'">
          <a ui-sref="app.masters.SellerMarginMapping">
            <span>Seller Margin Mapping</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_tandcmaster')">
          <a ui-sref="app.masters.TandCMaster">
            <span>T&C Master</span>
          </a>
        </li>
        <!-- <li ui-sref-active="active" ng-show="show_tab('add_staffmaster')"> -->
        <li ui-sref-active="active"">
          <a ui-sref="app.masters.StaffMaster">
            <span>Staff Master</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin'">
          <a ui-sref="app.masters.NotificationMaster">
            <span>Notification Master</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /Masters -->

    <!-- Inbound -->
    <li data-ng-class="{open: $state.includes('app.inbound')}" ng-show="show_tab('INBOUND_LABEL')">
      <a href="javascript:;">
        <i class="fa fa-dropbox"></i>
        <span>Inbound</span>
      </a>
      <ul class="sub-menu">
        <li ng-show="show_tab('add_openpo') || show_tab('change_openpo') || show_tab('add_intransitorders')" ui-sref-active="active">
          <a ui-sref="app.inbound.RaisePo">
            <span>Raise PO</span>
          </a>
        </li>
        <li ng-show="show_tab('add_purchaseorder')" ui-sref-active="active">
          <a ui-sref="app.inbound.RevceivePo">
            <span>Receive PO</span>
          </a>
        </li>
        <li ng-show="show_tab('add_qualitycheck')" ui-sref-active="active">
          <a ui-sref="app.inbound.QualityCheck">
            <span>Quality Check</span>
          </a>
        </li>
        <li ng-show="show_tab('sellable_segregation')" ui-sref-active="active">
          <a ui-sref="app.inbound.PrimarySegregation">
            <span>Primary Segregation</span>
          </a>
        </li>
        <li ng-show="show_tab('add_polocation')" ui-sref-active="active">
          <a ui-sref="app.inbound.PutAwayConfirmation">
            <span>Put away Confirmation</span>
          </a>
        </li>
        <li ng-show="show_tab('add_returntovendor')" ui-sref-active="active">
          <a ui-sref="app.inbound.rtv">
            <span>RTV</span>
          </a>
        </li>
        <li ng-show="show_tab('add_orderreturns')" ui-sref-active="active">
          <a ui-sref="app.inbound.SalesReturns">
            <span>Sales Returns</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="user.user_profile['user_type'] == 'marketplace_user'">
          <a ui-sref="app.inbound.SellerInvoice">
            <span>Seller Invoices</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('inbound_supplier_invoice')">
          <a ui-sref="app.inbound.SupplierInvoice">
            <span>Supplier Invoices</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.inbound.GrnEdit">
            <span>GRN Edit</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'distributor' || (permissions.user_type == 'admin_sub_user' && permissions.priceband_sync)">
          <a ui-sref="app.inbound.AutoBackOrders">
            <span>Auto Back Orders</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /forms -->

    <!-- tables -->
    <li data-ng-class="{open: $state.includes('app.production')}" ng-show="show_tab('PRODUCTION_LABEL') && show_tab('production_switch')">
      <a href="javascript:;">
        <i class="fa fa-simplybuilt"></i>
        <span>Production</span>
      </a>
      <ul class="sub-menu">
        <li ng-show="show_tab('add_jomaterial')" ui-sref-active="active">
          <a ui-sref="app.production.RaiseJO">
            <span>Raise JO</span>
          </a>
        </li>
        <li ng-show="show_tab('add_materialpicklist')" ui-sref-active="active">
          <a ui-sref="app.production.RMPicklist">
            <span>RM Picklist</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.production.ReveiveJO" ng-show="show_tab('add_joborder')">
            <span>Receive JO</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.production.JobOrderPutaway" ng-show="show_tab('add_rmlocation')">
            <span>Job Order Putaway</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /tables -->

    <!-- charts -->
    <li data-ng-class="{open: $state.includes('app.stockLocator')}" ng-show="show_tab('STOCK_LABEL')">
      <a href="javascript:;">
        <i class="fa fa-list"></i>
        <span>Stock Locator</span>
      </a>
      <ul class="sub-menu">
        <li ng-show="show_tab('add_skustock')" ui-sref-active="active">
          <a ui-sref="app.stockLocator.StockSummary">
            <span>Stock Summary</span>
          </a>
        </li>
        <li ng-show="show_tab('add_stockdetail')" ui-sref-active="active">
          <a ui-sref="app.stockLocator.StockDetail">
            <span>Stock Detail</span>
          </a>
        </li>
        <li ng-show="show_tab('add_vendorstock') && show_tab('production_switch')" ui-sref-active="active">
          <a ui-sref="app.stockLocator.VendorStock">
            <span>Vendor Stock</span>
          </a>
        </li>
        <li ng-show="show_tab('add_cyclecount')" ui-sref-active="active">
          <a ui-sref="app.stockLocator.CycleCount">
            <span>Cycle Count</span>
          </a>
        </li>
        <li ng-show="show_tab('change_inventoryadjustment')" ui-sref-active="active">
          <a ui-sref="app.stockLocator.MoveInventory">
            <span>Move Inventory</span>
          </a>
        </li>
        <li ng-show="show_tab('add_inventoryadjustment')" ui-sref-active="active">
          <a ui-sref="app.stockLocator.InventoryAdjustment">
            <span>Inventory Adjustment</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_usergroups')">
          <a ui-sref="app.stockLocator.WarehousesStock">
            <span>Warehouse's Stock</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="user.user_profile['user_type'] == 'marketplace_user'">
          <a ui-sref="app.stockLocator.SellerStock">
            <span>Seller Stock</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="show_tab('add_poimeimapping')">
          <a ui-sref="app.stockLocator.IMEITracker">
            <span>Serial Number Tracker</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /charts -->

    <!-- maps -->
    <li data-ng-class="{open: $state.includes('app.outbound')}" ng-show="show_tab('OUTBOUND_LABEL')">
      <a href="javascript:;">
        <i class="fa fa-truck"></i>
        <span>Outbound</span>
      </a>
      <ul class="sub-menu">
        <li ng-show="show_tab('add_orderdetail')" ui-sref-active="active">
          <a ui-sref="app.outbound.CreateOrders">
            <span>Create Orders</span>
          </a>
        </li>
        <li ng-show="show_tab('add_picklist')" ui-sref-active="active">
          <a ui-sref="app.outbound.ViewOrders">
            <span>View Orders</span>
          </a>
        </li>
        <li ng-show="show_tab('add_picklistlocation')" ui-sref-active="active">
          <a ui-sref="app.outbound.PullConfirmation">
            <span>Pull Confirmation</span>
          </a>
        </li>
        <!--<li ng-show="permissions.user_type == 'distributor'" ui-sref-active="active">-->
        <li ng-show="show_tab('add_enquirymaster') && (permissions.user_type == 'distributor' || permissions.user_type == 'central_admin' || permissions.user_type == 'admin_sub_user' || permissions.user_type == 'sm_market_admin' || permissions.user_type == 'sm_purchase_admin' || permissions.user_type == 'sm_design_admin')" ui-sref-active="active">
          <a ui-sref="app.outbound.EnquiryOrders">
            <span>Marketing Enquiry Orders</span>
          </a>
        </li>
        <li ng-show="show_tab('add_shipmentinfo')" ui-sref-active="active">
          <a ui-sref="app.outbound.ShipmentInfo">
            <span>Shipment Info</span>
          </a>
        </li>
        <li ng-show="show_tab('multi_warehouse') && show_tab('add_stocktransfer')" ui-sref-active="active">
          <a ui-sref="app.outbound.CreateStockTransfer">
            <span>Create Stock Transfer</span>
          </a>
        </li>
        <!--<li ui-sref-active="active">-->
        <li ng-show="show_tab('add_sellerordersummary') && show_tab('customer_dc')" ui-sref-active="active">
          <a ui-sref="app.outbound.CustomerInvoices">
            <span>Customer Invoices</span>
          </a>
        </li>
        <li ng-show="show_tab('add_sellerordersummary') && !show_tab('customer_dc')" ui-sref-active="active">
          <a ui-sref="app.outbound.CustomerInvoicesMain">
            <span>Customer Invoices</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="user.userName == 'sagar_fab'">
          <a ui-sref="app.outbound.CreateCustomOrder">
            <span>Create Custom Order</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-if="permissions.mark_as_delivered">
          <a ui-sref="app.outbound.Ratings">
            <span>Ratings</span>
          </a>
        </li> 
      </ul>
    </li>
    <!-- /maps -->

    <li ui-sref-active="active" ng-show="show_tab('PAYMENT_LABEL') && !show_tab('invoice_based_payment_tracker')">
      <a ui-sref="app.PaymentTracker">
        <i class="fa fa-paypal"></i>
        <span>Payments</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-show="show_tab('PAYMENT_LABEL') && show_tab('invoice_based_payment_tracker')">
      <a ui-sref="app.PaymentTrackerInvBased">
        <i class="fa fa-paypal"></i>
        <span>Payments</span>
      </a>
    </li>

    <li ui-sref-active="active" ng-show="show_tab('show_pull_now')">
      <a ui-sref="app.OrdersSyncIssues">
         <i class="fa fa-refresh"></i>
         <span>Orders Sync Issues</span>
      </a>
    </li>

    <!-- ready pages -->
    <li ui-sref-active="active" ng-show="show_tab('UPLOADS')">
      <a ui-sref="app.uploads">
        <i class="fa fa-cloud-upload"></i>
        <span>Uploads</span>
      </a>
    </li>
    <!-- /ready pages -->

    <!-- uploaded pages -->
    <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || (show_tab('add_orderuploads') && (permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'))">
      <a ui-sref="app.uploadedPOs">
      <i class="fa fa-book" aria-hidden="true"></i>
        <span>Uploaded PO's</span>
      </a>
    </li>
    <!-- /uploaded pages -->

    <!--Targets-->
    <!--<li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin'">
      <a ui-sref="app.targets">
      <i class="fa fa-book" aria-hidden="true"></i>
        <span>Targets</span>
      </a>
    </li>-->
    <!--Targets-->
    <!-- extras -->
    <li data-ng-class="{open: $state.includes('app.reports')}" ng-show="show_tab('REPORTS')">
      <a href="javascript:;">
        <i class="fa fa-file-text"></i>
        <span>Reports</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.reports.SKUList">
            <span>SKU List</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.LocationWiseFilter">
            <span>Location Wise Filter</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.GoodsReceiptNote">
            <span>Goods Receipt Note</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.ReceiptSummary">
            <span>Receipt Summary</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.DispatchSummaryReport">
            <span>Dispatch Summary</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.SKUWiseStock">
            <span>SKU Wise Stock</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.SKUWisePurchaseOrders">
            <span>SKU Wise Purchase Orders</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.SupplierWisePOs">
            <span>Supplier Wise PO's</span>
          </a>
        </li>
        <li ng-show="show_tab('add_orderreturns')" ui-sref-active="active">
          <a ui-sref="app.reports.SalesReturnReport">
            <span>Sales Return</span>
          </a>
        </li>
         <li ui-sref-active="active">
          <a ui-sref="app.reports.InventoryAdjustment">
            <span>Inventory Adjustment</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.InventoryAging">
            <span>Inventory Aging</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.StockSummaryReport">
            <span>Stock Summary</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.DailyProductionReport">
            <span>Daily Production</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.OrderSummaryReport">
            <span>Order Summary</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.OpenJOReport">
            <span>Open JO</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="user.user_profile['user_type'] == 'marketplace_user'">
          <a ui-sref="app.reports.SellerInvoiceDetails">
            <span>Seller Invoice Details</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.RMPicklistReport">
            <span>RM Picklist</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.StockLedgerReport">
            <span>Stock Ledger</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.ShipmentReport">
            <span>Shipment</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.reports.RTVReport">
            <span>RTV</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.DistributorWiseSalesReport">
            <span>Distributor Sales</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.ResellerWiseSalesReport">
            <span>Reseller Sales</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.ZoneTargetSummaryReport">
            <span>Zone Target Summary</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.ZoneTargetDetailedReport">
            <span>Zone Target Detailed</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.DistTargetSummaryReport">
            <span>DBR Target Summary</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.DistTargetDetailedReport">
            <span>DBR Target Detailed</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.ResellerTargetSummaryReport">
            <span>Reseller Target Summary</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.ResellerTargetDetailedReport">
            <span>Reseller Target Detailed</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.CorporateTargetReport">
            <span>Corporate Target</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.CorpResellerMappingReport">
            <span>Corporate Reseller Mapping Report</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-show="permissions.user_type == 'central_admin' || permissions.user_type == 'distributor' || permissions.user_type == 'admin_sub_user'">
          <a ui-sref="app.reports.EnquiryStatusReport">
            <span>Enquiry Status Report</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /extras -->
    <li ng-show="show_tab('pos_switch')" ui-sref-active="active">
      <a href="{{session.pos_host}}#/home?user_id={{user.userId}}&amp;user_name={{user.userName}}" target="_blank">
        <i class="fa fa-dashboard"></i>
        <span>POS</span>
      </a>
    </li>


    <!-- Channels -->
    <li id="channel_component" ng-show="show_tab('order_manage')" ui-sref-active="active">
      <a ui-sref="app.channels">
        <i class="fa fa-tasks"></i>
        <span>Channels</span>
      </a>
    </li>
    <!-- /Channels -->

    <!-- Tally -->
    <li ui-sref-active="active"  ng-show="show_tab('tally_config')">
      <a ui-sref="app.tally">
        <i class="fa fa-tasks"></i>
        <span>Tally</span>
      </a>
    </li> 
    <!-- Tally -->

    <li ui-sref-active="active" ng-show="user.user_profile['user_type'] == 'supplier'">
      <a ui-sref="app.PurchaseOrder">
        <i class="fa fa-tasks"></i>
        <span>Purchase Order</span>
      </a>
    </li>

    <!-- ui kit -->
    <li ui-sref-active="" class="settings" style="position: fixed;bottom: 50px;background: #2d3033;width: 210px !important;" ng-show="show_tab('CONFIGURATIONS')">
      <a ui-sref="app.configurations">
        <i class="fa fa-cogs"></i>
        <span>Configurations</span>
      </a>
    </li>
    <!-- /ui kit -->
  </ul>
  <ul class="nav bottom-nav" style="position: fixed;bottom: 0px;background: #242629;">
    <li data-ng-class="{open: $state.includes('user')}" style="" class="user-section">
      <a href="javascript:;">
        <i class="fa fa-user"></i>
        <span><b style="display: inline-flex;width: 120px;">{{(user.user_profile['first_name'] == "")? user.userName:user.user_profile['first_name'];}}</b></span>
      </a>
      <ul class="sub-menu manage" style="position: absolute;bottom: 50px;width:100%">
        <li ui-sref-active="active" ng-show="show_tab('is_staff')">
          <a ui-sref="app.ManageUsers" style="padding: 0px">
            <i class="fa fa-group fa-fw"></i>
            <span>Manage Users</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.Profile" style="padding: 0px">
            <i class="fa fa-user"></i>
            <span>Profile</span>
          </a>
        </li>
        <li ui-sref-active="active" ng-click="logout()">
          <a style="padding: 0px">
            <i class="fa fa-power-off"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- /main navigation -->
<style>
.button__badge {
    background-color: #165b95;
    border-radius: 2px;
    color: white;
    padding: 1px 4px;
    font-size: 15px;
    position: absolute;
    top: 20%;
    right: 90%;
}
</style>
